[2021-04-16 16:14] mariusvniekerk commented on #1337
I would also recommend mentioning https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops for autoscaling agents that could be cheaper to run that permanently active agents

[2021-04-16 16:20] Aaishpra commented on #1389
Ya, I saw it and it perfectly explained me how a recipe can be created or what it's contents are, but due to the excessive use of the word recipe, i feel there should be some proper definition of this word and this definition should be present at the homepage.

[2021-04-16 16:35] asteppke commented on #867
The pypy guys just [released](https://www.pypy.org/posts/2021/04/pypy-v734-release-of-python-27-and-37.html) an updated 3.7 version that now includes Windows 64-bit support. Is there something that needs help to get this integrated?

[2021-04-16 16:39] mattip commented on #867
@asteppke see conda-forge/pypy3.6-feedstock#39. We need to expand the recipe to download the windows64 pypy2.7 in order to build pypy3.7

[2021-04-16 16:54] leofang commented on #1337
@Aaishpra Looks great overall, thank you for working on this. Could you please send a PR and ping me so that I can make some minor suggestions there? It's easier to suggest changes in a PR.

[2021-04-16 20:42] viniciusdc commented on #1389
sure, I totally understand. I think the best answer to this was given by Matt above, also we could adapt the definition from [conda-recipes](https://docs.conda.io/projects/conda-build/en/latest/concepts/recipe.html) and use this chance to explain what the final structure of the feedstock will be... @beckermr any thoughts on this?

[2021-04-16 21:02] beckermr commented on #1389
Yup. It is anything in the recipe folder in a feedstock. It always has a meta.yaml. It can have a bunch of other things.

[2021-04-16 21:21] samcmill opened #1390 "Add package for the NVIDIA HPC SDK"
The [NVIDIA HPC SDK](https://developer.nvidia.com/hpc-sdk) is a comprehensive suite of compilers, libraries and tools for HPC developers.  The HPC SDK includes C, C++, and Fortran compilers (formerly known as the PGI compilers), as well as CUDA, GPU math libraries, communication libraries such as MPI and NCCL, and Nsight performance profilers.

This issue is to discuss adding a package for the HPC

[2021-04-16 21:36] beckermr commented on #1390
When I read the license, I understood the text to mean that while the compilers are available for download, conda-forge cannot redistribute them. Even if the runtimes are redistributable, this would mean our CI services would have to download the compilers themselves, which might be a big lift. Supporting CUDA in this way has been pretty non-trivial.

Does anyone know the situation regarding ABI c

[2021-04-16 21:37] beckermr commented on #1390
also cc @conda-forge/core @isuruf

[2021-04-16 21:49] jakirkham commented on #1390
Yeah I think we are figuring out how to redistribute these

There are Docker images as well, which may help mitigate the download size

@samcmill do you know?

[2021-04-16 22:12] samcmill commented on #1390
In general there is no Fortran ABI compatibility between different compilers.

[2021-04-16 22:14] beckermr commented on #1390
This is what I figured and is the same with ifort. This means we will have to rebuild the full fortran stack if we want fully ship things. We faced a similar question for intel fortran and ended up punting on the fortran compilers from them.

[2021-04-17 02:59] sfiligoi commented on #1390
I have not tried the fortran builds, but I have heard them claim they maintain GCC ABI compatibility.

I know that it holds for C/C++ builds for sure.
BTW: If anyone is interested, I had posted a recipe for building a mixed gcc/NVIDIA HPC SDK setup some time ago:
https://www.linkedin.com/pulse/conda-h5c-openacc-gpu-compute-nvidia-hpc-sdk-igor-sfiligoi/

[2021-04-17 03:16] Aaishpra commented on #1337
Sure @leofang I have submitted the PR and have also added @mariusvniekerk suggestions into that.

[2021-04-17 11:50] Aaishpra commented on #1389
@beckermr @viniciusdc can I work on this and add this definition you and @viniciusdc provided under a new heading named "What is a Recipe" on the homepage. Although I am still unsure what could be the best place to add it, but [this](https://conda-forge.org/index.html#about) can be a somewhat better place.

[2021-04-17 11:57] beckermr commented on #1389
Please make a glossary entry and link the term to that.

[2021-04-17 13:47] Aaishpra commented on #1371
Thanks for your comment @BastianZim I have solved this issue, basically, the problem was arising because the NUMFocus logo and the youtube video were not responsive.

[2021-04-17 14:01] Aaishpra commented on #1371
@Martins-O-U basically what I did was add a class in `index.html.tmpl` named responsive to both logo and the Youtube video,
and add some custom css in `../css/theme.css`
Here are the code snippet of what I did
* Add responsive class in line 149 of `index.html.tmpl`

`<iframe width="560" class="responsive" height="315" src="https://www.youtube.com/embed/EWh-BtdYE7M" frameborder="0" allow="accelerom

[2021-04-17 14:04] Aaishpra commented on #1371
Adding screenshots for confirming
![image](https://user-images.githubusercontent.com/66299533/115115773-e54e2c00-9fb3-11eb-8732-1bb4b01677b2.png)
![image](https://user-images.githubusercontent.com/66299533/115115782-eda66700-9fb3-11eb-914a-be206d53aa33.png)

[2021-04-17 19:38] beckermr commented on #1390
That would be very good if it is true.

Does anyone have timing comparisons for various libraries that we might build with the compilers or is this more about getting access to some other feature I am not aware of?

[2021-04-17 19:44] sfiligoi commented on #1390
@beckermr
The NVIDIA HPC SDK is the only compiler with great support for OpenACC (for GPU offload).
That's my main reason for wanting it.

[2021-04-17 20:55] Martins-O-U commented on #1371
awesome @Aaishpra, I am on it

[2021-04-18 00:19] Martins-O-U commented on #632
@hmaarrfk @viniciusdc did we reach a consensus to close out this issue?
Or is there some additional work that I can do to highlight these instructions in the docs?

[2021-04-18 00:31] Martins-O-U commented on #1117
@croth1 @viniciusdc a dedicated section for the PR bot sounds interesting. More information here would be great help

[2021-04-18 00:56] Martins-O-U commented on #883
@viniciusdc please assign this to me.
@croth1 from the discussion here, the main points to highlight are:
1. put in the conda docs why defaults exists, platforms it targets, etc.
2. same for conda-forge, in the conda-forge docs
3. put a clear recommendation into the docs for end users on when/why/how to mix channels
4. put in the conda-forge docs how to create an organization like conda-forge that

[2021-04-18 01:04] Martins-O-U commented on #883
I see that some information is registered here under "Tips and Tricks": https://conda-forge.org/docs/user/tipsandtricks.html#using-multiple-channels

However, a dedicated space to fully address the documentation will be easier to access and more user-friendly.

[2021-04-18 01:14] Martins-O-U commented on #179
@viniciusdc I see this has recently been added the Docs label. I know some work was done here in #420. Apparently some more work could be done as per https://github.com/conda-forge/conda-forge.github.io/pull/420#issuecomment-324423199.
Please, assign me to look into this.

[2021-04-18 01:21] Martins-O-U commented on #1371
Fix completed, and a Pull Request has been raised. https://github.com/conda-forge/conda-forge.github.io/pull/1392

[2021-04-18 05:27] PrernaSingh587 commented on #883
Hi, Martins. Actually I had been working on compiling info for this issue for quite some time.

[2021-04-18 11:02] beckermr commented on #179
We no longer rename feedstocks. Instead we archive them and create a new feedstock with a new name.

[2021-04-18 11:03] Martins-O-U commented on #179
Okay @beckermr

[2021-04-18 20:42] viniciusdc commented on #1371
closing this issue as #1392 solved it! :tada:

[2021-04-18 20:42] #1371 closed

[2021-04-18 20:54] viniciusdc commented on #179
@beckermr May I close this one?

[2021-04-18 20:55] beckermr commented on #179
We could document the new procedure if we wanted but otherwise yes, feel free to rename

[2021-04-19 10:47] ForgottenProgramme commented on #1356
@hmaarrfk
Thanks Mark!

I found this on stackoverflow : https://stackoverflow.com/questions/60532678/what-is-the-difference-between-miniconda-and-miniforge

I guess the README file doesn't explain much to the user.

[2021-04-19 10:56] ForgottenProgramme commented on #1356
Also what the README file says and what that note in that brief intro page says is essentially the same:

"This repository holds a minimal installer for Conda specific to conda-forge. It is comparable to Miniconda, but with:
conda-forge set as the default channel" (README)

AND

"Miniforge is a community effort to provide Miniconda-like installers, with the added feature that conda-forge is the de

[2021-04-19 12:18] viniciusdc commented on #179
Great, then for the sake of conclusion of this issue: this section is outdated https://conda-forge.org/docs/orga/guidelines.html#renaming-packages and we should advertise that we no longer rename packages?

[2021-04-19 12:29] beckermr commented on #179
Yeah change the docs and add the new procedure.

[2021-04-19 13:09] #1337 closed

[2021-04-20 14:08] prachi237 opened #1397 "Addition of `Contributing Guidelines`"
Just like we need Code of conduct and Reporting Guidelines, the need of a detailed  *Contributing guidelines* in the Readme.md file   is equally important.
Example: While contributing to this repository, one should  first discuss the change one wish to make via issue with the maintainers of this repository before making a change, and to follow code of conduct, for interactions with the members .

[2021-04-20 14:43] prachi237 commented on #1397
@beckermr  @viniciusdc  please  give a review on this

[2021-04-20 14:51] beckermr commented on #1397
We don't need the stuff on commit message standards or the text about the code of conduct.

[2021-04-20 18:49] BastianZim opened #1399 "Document ignoring conda-verify"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

During the build process, the following error is shown: `Importing conda-verify failed.  Please be sure to test your packages.  conda install conda-verify to make this message go away.`

This can

[2021-04-20 19:04] ForgottenProgramme commented on #1399
Oh thanks for linking the Gitter conversation. It was funny.

[2021-04-20 19:16] ForgottenProgramme commented on #1399
Somewhere here: https://conda-forge.org/docs/maintainer/infrastructure.html#azure-pipelines ?
What do you think?

[2021-04-20 19:27] BastianZim commented on #1399
It also happens under the other CIs and when building locally, so I would suggest somewhere more general, maybe the FAQs?

[2021-04-20 19:43] BastianZim commented on #1399
Just to add, it's run by `conda-build`: https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html#no-verify

[2021-04-20 19:52] ForgottenProgramme commented on #1399
FAQ should be a good place!
Thanks.

[2021-04-20 20:30] ForgottenProgramme commented on #1399
I'm taking this up. :)

[2021-04-20 20:34] BastianZim commented on #1399
Awesome, thanks! :)

[2021-04-22 05:44] wolfv opened #1401 "WASM as a supported architecture"
I am opening an issue to track the state of `wasm` as a supported architecture. There have been a few discussions here and there about "what it would mean if conda-forge would support wasm" as a platform.

It would be cool if conda-forge had compiler activation scripts to cross-compile from linux-64 or other common architectures to `wasm-32` (or should it be `linux-wasm32`?). The `clang` compiler

[2021-04-22 06:02] bollwyvl commented on #1401
@jtpio and i have been playing with statically-hostable [jupyterlab-like things](https://github.com/jtpio/jupyterlite/pull/57), and having a solid build chain would be amazing. But that's just more "i want," not "here's how i can help!"

There's still a _lot_ to do on `wasmer` (language bindings, "lite" build, etc), and we might even want to evaluate some of the other runtimes. If something would

[2021-04-22 07:31] rth commented on #1401
Might be worth linking some of the previous discussions to avoid repeating them :)

I guess the question is what is the end goal. If the objective is to run with WASI on architectures that are currently not supported by conda-forge (of for sandboxing), then wasmer is likely the way to go. If it is to run in Node or browser, I wonder how ready it is and if anyone tried to build large packages with

[2021-04-22 07:45] wolfv commented on #1401
Ok, two links I managed to find:

- https://github.com/conda/conda/issues/7619
- https://github.com/pyodide/pyodide/issues/795

Thanks for the pointer about emscripten filesystem. I need to read up a bit on how all of this works. The wasi-libc implementation of the POSIX filesystem doesn't do enough emulation to run in the browser?

I found this article quite interesting: https://depth-first.com/a

[2021-04-22 16:32] viniciusdc commented on #1357
@jakirkham Maybe we could use https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/conda_build_config.yaml to auto update this information in the future, what do you think?

[2021-04-22 16:37] leofang commented on #1290
Closed by #1353. Related: #1381.

[2021-04-22 16:37] #1290 closed

[2021-04-22 17:01] ForgottenProgramme commented on #1357
@viniciusdc ,
I was thinking we could update the list of supported compilers.

[2021-04-23 07:23] PrernaSingh587 opened #1405 "**Using conda-smithy to manage your CI** section is there in USER Docs."
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
https://conda-forge.org/docs/user/ci-skeleton.html#using-conda-smithy-to-manage-your-ci
**Using conda-smithy to manage your CI** section is there in USER Docs. I am a little confused as to why wou

[2021-04-23 11:25] beckermr commented on #1405
This section is not about using the conda package but about something totally different. Let's leave it where it is.

[2021-04-24 15:46] Aaishpra opened #1411 "Add seprate links to glossary definition"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

## Issue:

Currently, there are no separate references/links for the glossary definitions which can be used to reference these different keywords in other places throughout the website. This is related t

[2021-04-24 15:46] Aaishpra commented on #1411
@viniciusdc @beckermr if this issue feels right, I can work here.
Thanks

[2021-04-25 19:58] #1399 closed

[2021-04-26 22:15] jakirkham commented on #1357
Maybe. @CJ-Wright @beckermr @isuruf  do you have thoughts on this?

[2021-04-27 16:42] prachi237 opened #1415 "Add CFEP in Glossary"
`CFEP` : conda-forge enhancement proposals.

Since all the major changes in the projects are submitted as CFEP.  It's a prominent keyword as well. So what I think we can add this keyword in the Glossary section, to help the readers know about it. The keyword is used in docs many a time so to make that clear what CFEP exactly is we can add that in the Glossary.
Reference:  https://github.com/conda-

[2021-04-27 16:43] prachi237 commented on #1415
@isuruf  @viniciusdc  @beckermr

[2021-04-27 17:33] beckermr commented on #1415
go for it!

[2021-04-27 21:34] viniciusdc commented on #1415
Hi @prachi237 feel free to start a PR with that addition! thanks for the work on this too :smile:

[2021-04-27 23:07] #1415 closed

[2021-04-27 23:46] viniciusdc commented on #1397
Hi  @prachi237, we already have some templates for issues and PR wich aim to adress the bugs, new features and so on. So I don't think the addtion of those commit message standars are essencial for the momment. Also, for the code of conduct...

I do know that we have some implicit discussions on the gitter chat before a new issue arises here, but it's not necessarily a follow-to rule, as like to d

[2021-04-27 23:53] viniciusdc commented on #1411
@Aaishpra based on your [comment](https://github.com/conda-forge/conda-forge.github.io/pull/1395#issuecomment-825476320), I don't see any issues in addressing hyperlinks to the terms in the GLossary, now about using then in the docs will depend entirely of who is writing it (so we can’t expect the user to do so)

[2021-04-28 04:45] PrernaSingh587 opened #1419 "Search-bar in the navigation get hidden"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
**The search bar hides sometimes when the navigation menu overflows. This creates a bad user experience. This is shown below**

https://user-images.githubusercontent.com/51945896/116347529-ff84d70

[2021-04-28 04:46] PrernaSingh587 commented on #1419
@viniciusdc @beckermr @leofang @ocefpaf
What are your thoughts on this?

[2021-04-28 14:54] viniciusdc commented on #1419
Hi @PrernaSingh587, we won't be able to change the html directly but I do remember that the search bar has a special treatment somewhere in the doc files... I will need to have a look into that. For this, I would love it if you could put the search bar as you showed.

[2021-04-28 14:56] PrernaSingh587 commented on #1419
Yeah! Sure. I will too look into the docs for this . :)

[2021-04-28 14:58] viniciusdc commented on #1419
Also @PrernaSingh587 this issue seems to be a duplicate of #1358, so if you could post this info as a comment there, to move the discussion forward,  and then close this one....
Thanks for the update on this too.

[2021-04-28 15:03] PrernaSingh587 commented on #1419
Oh yes, I just checked . I will link this issue there and close this .

[2021-04-28 15:03] #1419 closed

[2021-04-28 15:05] PrernaSingh587 commented on #1358
Linking #1419 here. Need to work upon this one!

[2021-04-28 15:15] viniciusdc commented on #1358
I'm not too knowledgeable in this matter, but I think this old PR that implemented changes to the search engine https://github.com/conda-forge/conda-forge.github.io/pull/531/files might be of some help here, at least as a way to find where those configs were...

[2021-04-28 15:59] Aaishpra commented on #1358
Great I think adding a little bit of padding in theme.css will solve this
Will send out a PR for this then

[2021-04-28 19:48] jakirkham opened #1421 "[DOC] Migrating Jupyter 2 recipes to Jupyter 3"
Not entirely sure what this entails personally. So am simply filing this issue to acknowledge this is something we need help with from the Jupyter community and that we then need to communicate this in the docs so maintainers can help us make these changes. Cc-ing a few people that may help provide guidance here (though feel free to include others 🙂)

cc @SylvainCorlay @jasongrout @bollwyvl

[2021-04-28 19:58] bollwyvl commented on #1421
Thanks for getting this up!

Not only 2 `->` 3, but 2 **`+`** 3 (in the same package) is a thing. Luckily I don't know of anybody _also_ trying to support 1 :scream:  !

Also, it might well get _real_ nasty soon, if `data_files` is finally [shown the door](https://discourse.jupyter.org/t/how-could-data-files-be-improved/8972/2).

I'll do some more concerted thinkifying about it this evening.

:bel

[2021-04-28 20:35] jakirkham commented on #1421
Does it make sense to build a single Conda package that supports both 2 + 3? Or is this sort of thing where we would need different Conda packages for each major version?

[2021-04-28 21:24] bollwyvl commented on #1421
it works fine, with the wrinkle: 2 "support" means "puts a tarball in a
place, and probably needs nodejs" while 3 means "put a folder in another
place"

[2021-04-28 23:11] jakirkham commented on #1421
Are there `run` dependency differences between the two builds (outside of `nodejs`)?

[2021-04-29 15:01] ForgottenProgramme opened #1423 "Add 'How to use vs2019' to the docs."
Add 'How to use vs2019' to the docs.

[2021-04-29 15:02] ForgottenProgramme commented on #1423
I'm working on it.

[2021-04-29 20:07] jakirkham opened #1424 "[DOC] How to use `upload_packages` for testing"
A neat feature that feedstocks have is the ability to upload packages to the CI provider for testing. Though it's a little unintuitive on how to download them. Would be good to spell this out in the docs to make it easier for users.

In particular users should look for a link in the relevant log of the package they want to download

<img width="1792" alt="Screen Shot 2021-04-29 at 1 03 24 PM" src=

[2021-04-29 20:07] jakirkham commented on #1424
cc @rlratzel (in case there are any other important steps I've missed above that should be included here)

[2021-04-29 20:11] ForgottenProgramme commented on #1424
This looks like something that would require some reading/learning first.
Better understanding would lead to better documenting.

[2021-04-29 20:13] jakirkham commented on #1424
Ah ok. What questions do you have? Are there things that could be added above, which would help make this clearer/easier to follow?

[2021-04-29 20:14] ForgottenProgramme commented on #1424
For starters, where in the docs should this go?

[2021-04-29 20:25] ForgottenProgramme commented on #1424
How to download the packages that have been automatically uploaded?

[2021-04-29 20:29] ForgottenProgramme commented on #1424
The first screenshot you have added is the 'relevant' log file and line 7 is the link the 'user should look for' ?
The link leads to the artifacts published.

[2021-04-29 20:35] ForgottenProgramme commented on #1424
I suppose, I get it now.

Taking this up!

[2021-04-29 20:38] jakirkham commented on #1424
These are good questions 🙂 Tried to answer them below, but maybe you have figured this out already while I was writing it up 😄

There's a [testing changes locally]( https://conda-forge.org/docs/maintainer/updating_pkgs.html#testing-changes-locally ) section describing how to build locally. It may be natural to extend that and note that users can download prebuilt packages. If it feels to cluttered

[2021-04-29 20:39] jakirkham commented on #1424
Thanks Mahe! 🙏 😄 Happy to answer more questions if any come up 🙂

[2021-04-29 20:43] ForgottenProgramme commented on #1424
Thanks, @jakirkham.
And Namaste to you too! ( 🙏 )
:)

[2021-04-29 23:57] PrernaSingh587 commented on #179
@viniciusdc , Can I take this issue?

[2021-04-30 05:53] Aaishpra commented on #1424
@ForgottenProgramme @viniciusdc this feels an interesting issue to work on, if @ForgottenProgramme wants can we collaborate on this? so this can be documented quickly.

[2021-04-30 11:49] #1423 closed

[2021-04-30 18:17] jakirkham commented on #571
I think this has been mostly addressed by adding bot actions like [this one] ( https://conda-forge.org/docs/maintainer/infrastructure.html#conda-forge-admin-please-restart-ci ). Let's go ahead and close

[2021-04-30 18:17] #571 closed

[2021-04-30 18:37] prachi237 opened #1426 "Rectification in the FAQ of maintainer section"
![Screenshot (43)_LI](https://user-images.githubusercontent.com/72700861/116738036-8d7ddf00-aa0f-11eb-8246-47882d2063e7.jpg)
https://conda-forge.org/docs/maintainer/maintainer_faq.html
May I know how the error message (the one that I had underlined above) during the build will look like. Accordingly, I can redraft the error message for this particular question.  coz I think the error message is no

[2021-04-30 18:44] ForgottenProgramme commented on #1426
I don't think that's needed.
Just break that error message into multiple lines.

[2021-04-30 18:48] prachi237 commented on #1426
umm ofc , I would have done that but ain't it would more conveyable if it is just like the one that I attached below:
![Screenshot (45)_LI](https://user-images.githubusercontent.com/72700861/116740446-ab007800-aa12-11eb-9dfe-57743f5efa8e.jpg)

[2021-04-30 19:07] ForgottenProgramme commented on #1426
Right.
Look here:
https://gitter.im/conda-forge/conda-forge.github.io?at=6079b451c60826673baa5913

Maybe you'll get some ideas.

If not, maybe someone who has seen this error (eg. Sekou from this chat) can help you.

[2021-05-01 06:56] hitblunders opened #1428 "Basic terminologies for beginners"
When a beginner goes through the documentation, it may be quite overwhelming for him/her and he/she may feel lost. Is it a good idea to add definition for some basic terminologies like recipe(@Aaishpra already worked on it), feedstock etc. somewhere(may be in the glossary)?

[2021-05-01 11:26] BastianZim commented on #1426
The error message looks exactly like this, it's just one line.

[2021-05-01 13:46] prachi237 commented on #1426
Thanks @BastianZim  for the info:)

[2021-05-01 16:07] hitblunders commented on #1357
@ForgottenProgramme are you working on this?

[2021-05-01 16:19] BastianZim opened #1429 "[DOC] Specify that conda-forge maintainers do not need to be upstream maintainers."
I'm actually not even sure if it's already in the docs somewhere, but I've seen some cases where new contributors thought that they could only submit packages that they maintain.

Would be good to mention somewhere (FAQs maybe) that this is not the case and that everybody can submit a package to conda-forge, even if it's not theirs.

[2021-05-01 16:23] BastianZim opened #1430 "[DOC] Explain the etiquette of merging version updates."
When the bot creates a pull request to a feedstock to update the version, some maintainers aren't sure if they should approve the pull request and wait with merging until everybody else that is a code owner has approved the PR.

It might be good to mention somewhere that there is no need to approve the PR and that every maintainer can merge the bot PR (After verifying everything of course) without

[2021-05-01 16:25] prachi237 commented on #1429
Tbh even I used to think the same, that only  the package they maintain they can submit that. Well I will go through the docs again if it is no where mentioned I would like to document that.
Yeah and we can add this doubt in FAQ

[2021-05-01 16:25] BastianZim commented on #1429
Awesome, thanks @prachi237!

[2021-05-01 16:27] hitblunders commented on #1429
Will you take this up @prachi237?

[2021-05-01 16:29] prachi237 commented on #1429
yep

[2021-05-01 16:30] hitblunders commented on #1430
@BastianZim may I work on this?

[2021-05-01 16:33] BastianZim commented on #1430
@hitblunders Sure but @viniciusdc would have the final say on it.

[2021-05-01 16:35] hitblunders commented on #1430
@BastianZim Sure! I will wait for his response.

[2021-05-01 16:52] BastianZim opened #1431 "[DOC] Explain how to take over an abandoned feedstock"
I'm actually not sure if this is already documented but I at least cannot find it anywhere.

It would be good to have the process of taking over an abandoned feedstock documented somewhere.

The workflow for this is generally:

1. Create a PR and add your GitHub username to the `meta.yaml` (The current maintainer should not be removed, only if they later request so)
2. Rerender with smithy
3. Ask

[2021-05-01 16:54] hitblunders commented on #1431
If this issue is valid, I would like to take this up!

[2021-05-01 16:55] BastianZim commented on #1431
I would again defer that @viniciusdc 😄

[2021-05-01 17:21] PrernaSingh587 commented on #1431
I could work on this too.
@viniciusdc

[2021-05-03 18:43] jakirkham opened #1432 "CentOS 8"
A few use cases for CentOS 8 have come up recently. Namely CUDA support for ARM and PPC64LE. Potentially more use cases will show up in the future. Am opening this issue so that we can discuss how best to handle this need

cc @jaimergp @kkraus14 @isuruf @beckermr @conda-forge/core

[2021-05-03 18:46] beckermr commented on #1432
CentOS 8 EOL is December 31 of *this* year. I don't think implementing support for it is well-motivated. Vendors will have to move on from it anyways.

[2021-05-03 18:50] jakirkham commented on #1432
Right so maybe we need to use an alternative. Rocky Linux has come up before.

Also here's a longer post on alternatives: https://haydenjames.io/what-centos-alternative-distro-should-you-choose/

[2021-05-03 18:52] jakirkham commented on #1432
However it's worth noting we are using upstream Docker images for these architectures & CUDA versions. So the OS is already fixed

[2021-05-03 18:53] beckermr commented on #1432
@chenghlee What is anaconda moving to? Mirroring that is likely a good idea.

[2021-05-04 14:18] bollwyvl commented on #1421
Not really! For example, widget packages will often be independent of the lab version altogether, and are just using `pip` as a distribution mechanism for built JS assets.

I think the biggest thing is to avoid `jupyterlab` and `nodejs` in `host`/`build` altogether, as all well-behaved extensions will already contain the built assets, and you never _really_ know what you're going to get with webpa

[2021-05-05 01:43] jakirkham commented on #1432
A suggestion brought up on the NVIDIA CUDA image repo upstream would be to look at [RedHat's Universal Base images]( https://www.redhat.com/en/blog/introducing-red-hat-universal-base-image ), which are also being supplied. Have not looked at these closely yet, but that might be something else to consider

[2021-05-05 14:45] chenghlee commented on #1432
Anaconda's current plan is to stay on CentOS/RHEL 7 (glibc 2.17) as much as possible for the packages on repo.anaconda.com (defaults); if we need a newer glibc for some reason, we'll likely look at Debian 9 or 10.

[2021-05-05 16:31] kkraus14 commented on #1432
Debian 9 is not supported by CUDA: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements

The only OS supported by CUDA across x86_64, PPC64, and ARM SBSA is RHEL 8 (since CentOS 8 isn't really a thing anymore).

[2021-05-05 17:07] mbargull commented on #1432
Debian 9 is also EOL in about a year and 10 uses the same base glibc version as CentOS 8, so I'd advice to go for 10 when really needed.

[2021-05-05 21:33] jakirkham commented on #1390
@sfiligoi, are you simply wanting to install the compiler or are there particular packages that you are wanting to rebuild with it?

[2021-05-05 22:06] sfiligoi commented on #1390
Our problem is dependencies;
in particular hdf5.
Our main GPU-using package, unifrac, is currently being hosted on bioconda, but it depends on conda-forge packages.

[2021-05-06 17:14] ForgottenProgramme commented on #1424
@jakirkham

1.

How is that done? By clicking on 'details' in the 'checks' section of the PR? (I think you have highlighted 'details' to indicate that.)

2.

What's 'relevant' log?

[2021-05-06 18:13] jakirkham commented on #1424
@ForgottenProgramme hopefully the explanations below help 🙂

Exactly

There's admittedly one more page users need to navigate through before getting to Azure. Though am hoping users are familiar with this step and am hoping we keep down the verbosity of the docs, but it may make sense to add

<img width="1792" alt="Screen Shot 2021-05-06 at 11 09 55 AM" src="https://user-images.githubusercontent.c

[2021-05-07 04:36] Aaishpra commented on #1424
Hi @ForgottenProgramme i see you didn't answer my comment above, it was alright if you didn't wanted to collaborate and wanted to keep the issue to yourself, you could have told me so,but balatantly ignoring people's comment if they ask you for collaboration is not the right thing to do.
Thanks and all the best on solving this.

[2021-05-07 05:51] ForgottenProgramme commented on #1424
oh, hey @Aaishpra ! I am very sorry, I actually missed your previous comment.
And now that I think of it, this issue is not big enough to require two people working on it.
But thanks so much for volunteering! :)

[2021-05-07 13:59] prachi237 commented on #1429
@PrernaSingh587  I  was working on this, was about to send PR,😅but ok u did it, Thanks 👍

[2021-05-07 14:07] PrernaSingh587 commented on #1429
Oh sorry. Thought it's open. 😌.
You can help me improve it 😀.

[2021-05-07 15:54] h-vetinari commented on #1261
Ping @isuruf re: using GCC/Clang feature levels for x86.

It depends on how granular we're aiming for the configuration to be, but - aside from keeping the build matrix explosion under control - having just v2/v3 from the above list would already help in the case of https://github.com/conda-forge/faiss-split-feedstock/issues/23

[2021-05-07 16:18] jakirkham opened #1436 "Dropping CentOS 6 & Moving to CentOS 7"
Raising this issue to track and discuss when we want to drop CentOS 6 and move to CentOS 7 as the new default. This also came up in the core meeting this week

cc @conda-forge/core

[2021-05-08 02:43] PrernaSingh587 commented on #1431
Actually this was stagnant since 6 days with no activity. So thought to raise a PR. :)

[2021-05-08 04:39] hitblunders commented on #1431
Yeah yeah that's fine! I was talking about future 😺

[2021-05-13 19:56] tomweber-sas opened #1441 "Need new maintainer for https://github.com/conda-forge/saspy-feedstock"
Trying to fix the conda forge process for building [saspy](https://github.com/conda-forge/saspy-feedstock)
This was being done by @danielfrg, but apparently not anymore. And, now it's broke and hasn't built a release for a while.
I'm not familiar with this whole process, but I'm trying to get this issue fixed. Seems it need a maintainer. I can be that if necessary. Is it Anaconda employee's that m

[2021-05-13 19:59] beckermr commented on #1441
Anyone who offers can do it. We work with anaconda inc but are a separate entity. Please make a PR to add yourself to the feedstock and a member of core can merge it. Recipe maintainers are listed in the extra section of the meta.yaml in the recipe directory of the feedstock repo.

[2021-05-13 20:11] tomweber-sas commented on #1441
Hey, cool, thanks! I'll go do that now. I'll close this after it get's fixed. I had added a number of @conda-forge-admin comments and in issues too, but nothing's ever been responded to. Should I add someone to that request so they see it @ core or something?
Thanks!
Tom

[2021-05-13 20:14] beckermr commented on #1441
the admin is a bot, you want core.

[2021-05-13 20:33] #1441 closed

[2021-05-13 20:38] tomweber-sas commented on #1441
Thanks guys! Am I now the 'maintainer'? Also, I have 3 versions that never built. How do I get those rebuilt? Just do that bot-rerun thing now?

[2021-05-13 20:40] tomweber-sas commented on #1441
ah, email

[2021-05-13 20:41] beckermr commented on #1441
yep. accept the invite. Then merge the latest version PR if you don't need the previous ones.

[2021-05-13 21:24] jakirkham commented on #1441
xref: https://github.com/conda-forge/saspy-feedstock/commit/0fa0500b61762ea5b255e8c56ad0a351c1079507#comments

[2021-05-13 21:26] tomweber-sas commented on #1441
Thanks, did that. Now I'll work through each in order, so each version is available. I was able to merge the two previous versions, and they now show up at https://anaconda.org/conda-forge/saspy/files, but the current version 3.7.1 PR (https://github.com/conda-forge/saspy-feedstock/pull/57) was closed and I can't re-open it to get it to merge. How do I re-trigger the process that creates these, wh

[2021-05-13 21:29] jakirkham commented on #1441
The bot will add a new PR ( https://github.com/conda-forge/saspy-feedstock/pull/57#issuecomment-840810004 ). Though the bot runs on a cron job. So it may be a little bit before the PR comes. Could either wait for that bot PR or make one manually

[2021-05-13 21:34] tomweber-sas commented on #1441
ok, I'm shutting down for the day. I'll wait for it to re-trigger and check on it later.
Thanks again! hopefully me last question for a while!
Appreciate all your patience with me.
Thanks,
Tom

[2021-05-13 21:41] jakirkham commented on #1441
Thanks for helping out Tom 🙂

[2021-05-14 03:27] tomweber-sas commented on #1441
Just to follow up, the bot rocks :) It picked up that 3.7.1 was still out there and hadn't been integrated, so it did a fresh PR and I just merged it. Nice!  Out of curiosity, what's it keying off of? Releases that are published on my repo (https://github.com/sassoftware/saspy/releases), or what exactly? Can't be the release.py file in the main branch (hope not). I used to think it was PyPI, but a

[2021-05-14 03:38] jakirkham commented on #1441
It's based off of [the source URL in the recipe]( https://github.com/conda-forge/saspy-feedstock/blob/2660c1c44c0be25d16b1d77703758a01c7dc575e/recipe/meta.yaml#L11 ). In this case it appears to be PyPI, but it could use GitHub or other URLs

[2021-05-14 04:01] tomweber-sas commented on #1441
plain as day :)  ... thanks!

[2021-05-14 17:05] #1430 closed

[2021-05-14 17:11] viniciusdc commented on #1428
Hi @hitblunders I am almost sure that we already have those definitions inside our docs (we might need to search though). But I agreed that a more outstanding place should clarify some beginner's thoughts about those terms... If you can't find then look in the CFEP's their definitions should be there. About the glossary idea, IDK, cause if you follow the submit a package guide to conda-forge you w

[2021-05-15 04:45] hitblunders commented on #1428
Thank you for responding @viniciusdc. Yes, I saw that definitions of most of the terms are there in the website somewhere. All I was saying is can we keep them in a separate place so that its easy for an absolute beginner to get complete clarity of thought?

[2021-05-20 17:42] ForgottenProgramme opened #1443 "What is the 'Hide Page Sections' checkbox supposed to do?"
![check1](https://user-images.githubusercontent.com/65779580/119024190-72740e80-b9c0-11eb-8a61-efb7dc34f334.png)

**When I check that checkbox, the text turns 'non-bold' but nothing else changes.**

![check2](https://user-images.githubusercontent.com/65779580/119024352-99324500-b9c0-11eb-83dd-69d8a18c0428.png)

[2021-05-20 19:32] BastianZim commented on #1443
The difference is at the _Miscellaneous_ and _Contracting Information_ sections where the subsections of each are removed.

[2021-05-20 19:46] ForgottenProgramme commented on #1443
Oh, yes!
Thanks Bastian.
That's it though? I wonder what that achieves.

[2021-05-20 19:55] BastianZim commented on #1443
No worries. This is a wild guess but I think it's about hiding subsections for easier reading and the reason why it doesn't work everywhere is a difference in formatting between the subsections. But just a guess though.

[2021-05-24 07:25] ForgottenProgramme commented on #691
I will be working on integrating Netlify this week.

I found this article on how we're supposed link our conda-forge.github.io repository to Netlify : https://www.netlify.com/blog/2016/10/27/a-step-by-step-guide-deploying-a-static-site-or-single-page-app/

Once that's done, we're supposed to activate 'Deploy Preview'

[2021-05-24 07:56] ForgottenProgramme commented on #1277
Maybe we can restart this discussion. :)

[2021-05-24 19:20] ocefpaf commented on #691
That will require a core meeting :-/

Maybe let's start with something that won't need a core meeting :smile:

[2021-05-25 07:21] ForgottenProgramme commented on #691
Okay. :)
Putting this on hold.

[2021-05-25 19:39] abalter opened #1447 "Major problems with R 4.1 packages"
If I create an environment based on R 4.1, installation of many r-essentials packages have conflicts. Tested in Windows 10 and Ubuntu Linux.

[code]

[2021-05-25 20:18] isuruf commented on #1447
R 4.1 packages are still being built. You can follow the github repo https://github.com/conda-forge/r-essentials-feedstock for updates

[2021-05-25 20:18] #1447 closed

[2021-05-25 21:01] abalter commented on #1447
What about 4.0?

[2021-05-26 18:28] #1426 closed

[2021-06-01 08:04] h-vetinari commented on #1261
That issue was closed without further action - what now?

[2021-06-01 15:39] wolfv commented on #1261
Recently my colleagues (ping @serge-sans-paille @johanmabille) have implemented a SIMD instruction set detector in xsimd: https://github.com/xtensor-stack/xsimd/blob/master/include/xsimd/config/xsimd_arch.hpp

It also comes with some sort of ordering in the "best_version".

It has some interesting properties:

- doesn't rely on the CPU lists / json files to be updated
- we can easily wrap it for P

[2021-06-02 09:51] PokhodenkoSA opened #1449 "Guides for creating Intel DPPY packages for conda-forge"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

We want to start pushing out our packages `dpctl`, `numba-dppy`, `dpnp` to conda-forge to get make them widely available, and want some tips.

a) All of our packages will need the DPC++ compiler.

[2021-06-02 10:40] beckermr commented on #1449
Thanks for making this issue! Let's confer with @conda-forge/core

[2021-06-02 11:18] beckermr commented on #1449
No, we do not have access to such a system. We have been working through various means to enable this but we'll need outside sponsorship/support to make it happen.

Not a problem at all.

[2021-06-02 11:21] beckermr commented on #1449
Does `numba-dppy` mean that there will be two versions of numba on conda-forge? We should discuss this to ensure existing environments still work and that things are appropriately marked as conflicting to the solver, etc.

We have been coordinating with another group at intel on the compilers. I sent this issue to them but cannot seem to find their github handles right now. We should get their opi

[2021-06-02 13:44] diptorupd commented on #1449
One option is to use [Intel DevCloud](https://software.intel.com/content/www/us/en/develop/tools/devcloud.html).  Intel DevCloud has Intel GPU nodes and is free for use via SSH. We can potentially (at least for Github CI) connect to DevCloud and use a GPU node there. I have yet to try it out, so not sure of latency and node availability. I will try it and post an update.

[2021-06-02 13:47] diptorupd commented on #1449
No, `numba-dppy` is a standalone extension/plug-in to Numba. `Numba-dppy` is only needed to get access to the code-generator for SYCL devices.

[2021-06-02 13:50] diptorupd commented on #1449
+ Nikolay Petrov (@napetrov)

[2021-06-02 18:12] AndresGuzman-Ballen commented on #1449
We will be publishing the DPC++ compiler conda packages for 2021.3 release in a few weeks. There are 2021.2 versions that are in a test channel, but in any case it should work just fine by adding the following to the meta.yaml:
`requirements:
   build:
      - {{  compiler('dpcpp')  }}
`

[2021-06-04 10:52] Ethyling commented on #1432
Hey, I would like to raise again this issue. Do we know which OS should we use? Should we use `ubi8`? Maybe we can start with `centos8` now and take some time before the end of the year to decide?

[2021-06-04 17:29] jakirkham commented on #1432
When we had discussed supporting other architectures that needed CentOS 8 for deployment previously, we came to the conclusion that we may be able to actually build things on CentOS 7. We just wouldn't be able to load any libraries (via a Python `import` or otherwise). However as we already don't do these things with GPU builds, this may not actually present much of a problem. This was the thinkin

[2021-06-04 18:00] leofang commented on #1432
I am under the impression that we can just install a CUDA runfile distribution in a vanilla cos7 image. I think this would work for x86-64, but I am less certain about aarch64 or ppc64le.

[2021-06-04 18:20] jakirkham commented on #1432
The current Docker images are covered under the NVIDIA licensing agreement. Am not sure that would be true of some custom made image. This is something we would need to figure out

[2021-06-08 13:25] Ethyling commented on #1432
Building the packages on a CentOS 7 should work, but the issue I'm facing right now is that some packages (i.e. `cuda-toolkit`) are trying to run some tests at the end of the build that may require to load the libraries and so it's failing if we don't have the right version of the GLIBC. Should we consider not running these tests on other arch than x86_64?
Example of failing CI: https://dev.azure.

[2021-06-08 18:05] jakirkham commented on #1432
Yeah I think not running the tests or running parts of the tests that don't require library loading would be preferable.

One other thing we might consider is checking for GLIBC version or try loading the libraries (and not error if that fails). This can be useful as we can still opt to run these tests on systems with a new enough GLIBC

For example [CuPy has checks similar to this]( https://githu

[2021-06-09 11:52] h-vetinari commented on #1436
This came up in a numpy [issue](https://github.com/numpy/numpy/issues/19192) uncovered by testing the rc's of 1.21.0 for [conda-forge](https://github.com/conda-forge/numpy-feedstock/pull/235) - in particular, a test fails due to a bug in glibc 2.12 (not present anymore in 2.17).

There would be a patch to work around the bug, but @rgommers asked:

I brought this comment into the feedstock PR, wher

[2021-06-09 11:54] h-vetinari commented on #1436
Also xref #1432

[2021-06-09 12:10] h-vetinari commented on #1432
The massively reduced support for CentOS 8 is really a pity for this next step. Assuming AlmaLinux and/or RockyLinux can uphold their promises of 1:1 compatibility with the pre-stream CentOS, I still think it would be interesting to try them out?

So far, both only support x86 & aarch64, haven't found anything about ppc yet. RockyLinux just [released](https://forums.rockylinux.org/t/rocky-linux-8-

[2021-06-11 11:43] ForgottenProgramme opened #1454 "Restructuring the user documentation"
I am proposing certain changes in the ordering and structuring of the sections within the 'user documentation' to give it a better 'flow of information' and continuity.

Please see [this](https://docs.google.com/document/d/16fmgzT8iFgFq6KtL9Rzr6X3htXdfCQ2l1wfwDP8mUFw/edit?usp=sharing) google doc.

Suggestions are very much invited. Please provide your suggestions here.

PS: Somebody please tag the

[2021-06-11 17:13] viniciusdc commented on #1454
@conda-forge/core

[2021-06-14 16:04] Trend20 commented on #1428
Hi @hitblunders, thank you for coming up with this question. It is true that sometimes as a beginner you may get lost in the docs and become overwhelmed with the terms hence giving up on learning. I think finding a better way of structuring the terms before proceeding to the actual content is very necessary.

[2021-06-16 14:38] viniciusdc commented on #1454
@ForgottenProgramme I think we should create a checklist with some of the additions we want to do (as well addressing the respective PR's to it once created). That way we can explain a little bit more about the goals for those changes.

[2021-06-16 14:39] ForgottenProgramme commented on #1454
Noted. Will do.

[2021-06-17 02:00] CJ-Wright opened #1457 "Outreachy Spending of Funds"
@conda-forge/core
This vote falls under the Spending of funds policy, please vote and/or comment on this issue.
This vote needs 50% of core to vote yea to pass.
To vote please leave +1 (yea) or -1 (nay) responses on this comment.
If you would like changes to the current language please leave a comment.
This vote will end on June 24th at noon Eastern.

The invoice is for $6500 USD.

The description

[2021-06-18 15:02] BastianZim opened #1458 "Automatically comment if edits were made to the docs folder"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

Hi everybody,

this came up a couple of times during the outreach application process but I only had the time now.
In short, there were some cases where edits were made to the docs folder and not

[2021-06-18 15:03] BastianZim commented on #1458
CC @viniciusdc

[2021-06-18 15:04] BastianZim commented on #1458
CC @ForgottenProgramme For the wording.

[2021-06-18 15:07] BastianZim commented on #1458
(Could probably also be used to check if the _examples_ folder is changed at _staged-recipes_)

[2021-06-18 15:12] BastianZim commented on #1458
CC @conda-forge/core

[2021-06-18 17:56] ForgottenProgramme commented on #1458
Hey, @BastianZim !
Thankyou for opening this.
It is there on my Outreachy timeline. I think I'll come to it in July. (But ofcourse, that's not very rigid)

[2021-06-18 18:08] ForgottenProgramme commented on #1458
Vini and I had thought of writing a linter test.
But I suppose yours is a good idea too.

[2021-06-18 18:11] BastianZim commented on #1458
Yeah linter is probably better, this was just a quick fix.

[2021-06-21 10:00] ForgottenProgramme opened #1460 "Integrating the autotick bot docs with the conda-forge main docs"
Autotick bot docs: https://regro.github.io/cf-scripts/#

[2021-06-22 14:55] viniciusdc commented on #1457
Hello everyone, thanks @CJ-Wright for opening this issue. Just a brief context, Conda-forge community is currently participating in the Outreachy program under the project [Documenting the conda-forge ecossytem](https://www.outreachy.org/outreachy-may-2021-internship-round/communities/conda-forge/documenting-the-conda-forge-ecosystem/cfp/).

We already have an intern working on submitting reviews

[2021-06-23 09:31] ForgottenProgramme commented on #1208
@viniciusdc
What do you think about this now?

[2021-06-23 12:05] viniciusdc commented on #1208
Definitely I think that if we have a preview of how those changes might be, it would be wonderful.. and I think @bollwyvl has already addressed some of the most outstanding features/steps necessary for such a change.

But, even if we can achieve a new layout (maybe changing the color schema later on) we still need to check if it's practical to implement or not...

- As commented above, the RSS fee

[2021-06-23 12:10] viniciusdc commented on #1208
Funny consequence, we could then merge the Blog under some special section of the new Docs. With the same theme and maybe using only one source of things...

[2021-06-23 12:16] viniciusdc commented on #1460
I think we could summarize some of the most important features and a general workflow for the Bot environment inside the INfrastructure section of the docs, as @beckermr suggested.

But, before that we should carefully inspect some of the information presented on those sections (blog), there are some outdated information that we need to update as well (like the [actions infrascture](https://regro.

[2021-06-27 08:04] ForgottenProgramme opened #1467 "Update the 'Updating the maintainer list' section"
The new AWS command ``@conda-forge-admin, please add <@user>`` is now the preferred way to update the maintainer list.

[This ](https://conda-forge.org/docs/maintainer/updating_pkgs.html#updating-the-maintainer-list)section in the docs hence needs to be accordingly updated.

See [this](https://gitter.im/conda-forge/conda-forge.github.io?at=60ce1089bcb3e8060ed2c731) Gitter conversation for more.

[2021-06-28 19:35] ForgottenProgramme opened #1469 "[DOCS] Condensing the sections within the docs"
It might make the docs appear a lot neater if the sections were less expanded.

Current:
![expanded](https://user-images.githubusercontent.com/65779580/123693558-d3bbb700-d875-11eb-9d21-497995002b24.png)

Proposed:
![condensed](https://user-images.githubusercontent.com/65779580/123693680-fc43b100-d875-11eb-8056-9ce4c13f9956.png)

[2021-06-28 19:39] jakirkham commented on #1469
cc @croth1 @beckermr

[2021-06-28 19:47] ForgottenProgramme commented on #1469
Present:
![image](https://user-images.githubusercontent.com/65779580/123695034-b2f46100-d877-11eb-92d0-47a5ae7b2555.png)

Proposed:
![image](https://user-images.githubusercontent.com/65779580/123695083-c0a9e680-d877-11eb-8e49-e0087f7fbc26.png)

[2021-06-28 19:50] ForgottenProgramme commented on #1469
Present:
![expanded1](https://user-images.githubusercontent.com/65779580/123695401-21392380-d878-11eb-8b82-e062a429d0b3.png)

Proposed:
![condensed1](https://user-images.githubusercontent.com/65779580/123695427-27c79b00-d878-11eb-9e35-fa5b034f533e.png)

[2021-06-28 21:38] beckermr commented on #1469
I don't like this change and don't think it adds much. I do think we could do better at making the section titles more clear. Maintainer vs user documentation is confusing since a lot of people consider using conda-forge being a maintainer.

[2021-06-28 21:50] jakirkham commented on #1469
What sticks out to me about the current organization is there is a lot to grok in the TOC. I think making it less busy does help that

Though maybe different section titles (as you suggest) would also improve discoverability

[2021-06-28 21:52] ForgottenProgramme commented on #1469
Why don't you like it @beckermr ?

[2021-06-29 16:46] viniciusdc commented on #1469
Definitely, I do think we need to condense the meeting notes as a whole though... for the Maintainer vs user docs we are currently working into making that more clear and with a better reading flow... Mahe's intention here was to ease the huge amount of information that a new user might encounter when first visiting our docs...

TBH I think we should not expose those index pages as it doesn't seem

[2021-06-30 18:49] jakirkham commented on #1272
cc @aktech (as it looks like you have been doing work in this area as well)

[2021-06-30 21:44] viniciusdc commented on #1458
I think that's awesome!

[2021-07-01 17:27] fatihkurtoglu opened #1480 "Fix documentation for 'add user' command"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

Documentation for adding a new user via the bot is currently misleading.

I've been referring to the [document](https://conda-forge.org/docs/maintainer/infrastructure.html#conda-forge-admin-pleas

[2021-07-03 10:36] h-vetinari commented on #1436
Was this issue discussed further at recent core meetings (I've occasionally seen public hackmd notes, but no idea where to find the a collection of them)?

Any statistics or arguments that go against doing this?

Assuming it should be done, this probably needs a migrator (for adding `sysroot_linux-64 2.17` everywhere?). I'd be willing to help, but would need some more pointers.

[2021-07-03 12:39] h-vetinari commented on #1432
Rocky Linux & Alma Linux 8.4 have been released a few days ago (both for x86 & aarch64). No update about PPC support, but I've asked on their respective discourse servers.

Regarding compatibility, here are relevant quote from their websites (emphasis mine):

Alma Linux:

Since both promise 1:1 compat so prominently, could this not be an option?

[2021-07-03 19:32] jakirkham commented on #1436
It was. Nothing conclusive yet. We collect the [meeting notes here]( https://github.com/conda-forge/conda-forge.github.io/tree/master/src/orga/minutes )

Informally we know there are still some CentOS 6 users (the long tail of support). That said, we do lack statistics either way. So this is something we discussed. Namely how best to collect them

Yeah I think we need to decide this is something w

[2021-07-04 09:09] h-vetinari commented on #1436
I understand that some people are stuck on EOL'd OSes, but IMO the case to hold back based on that is really tenuous. If you're on an EOL OS, you eventually get no software updates anymore - why should conda-forge go out of its way to still service those users?

I have to agree with @rgommers statement (I quoted) above - stuff like https://github.com/numpy/numpy/issues/19192 has a real cost. It pr

[2021-07-04 22:32] h-vetinari commented on #1432
Update: Rocky Linux is [planning](https://forums.rockylinux.org/t/rocky-linux-8-4-available-now/3015/33) a PPC release soon.

[2021-07-08 18:30] viniciusdc commented on #1272
@beckermr have we decided upon Azure as the software to provision the CI for the GPU tasks?

[2021-07-09 01:07] CJ-Wright commented on #1457
The vote passes.

[2021-07-09 01:07] #1457 closed

[2021-07-13 19:47] #1467 closed

[2021-07-14 05:11] ForgottenProgramme opened #1477 "Write a linter test for PRs related to docs"
Write a linter test for PRs that try to make changes in the /docs subdirectory instead of /src.

[2021-07-15 08:36] ForgottenProgramme opened #1478 "Add a better description for 'contributing packages' section"
**Issue:**

The [contributing packages](https://conda-forge.org/docs/maintainer/adding_pkgs.html#contributing-packages) section of maintainer docs, doesn't give a proper introduction to contributing packages, recipes etc.
It instead talks about 'maintainer and maintainer roles'. Although that information does belong in this section, it should come a little later.

**Suggested Solution:**

A better

[2021-07-15 21:28] dharhas commented on #1272
Hey Folks,

Looks like this is finally happening. We expect hardware to arrive in 2-4 weeks. There are still a lot of questions that are unanswered about the software stack we should run on it and getting this setup and managed etc. So I wanted to restart the discussion.

Also adding @jaimergp to the conversation.

[2021-07-15 21:33] jakirkham commented on #1272
Would it make sense to have a meeting?

[2021-07-15 21:35] dharhas commented on #1272
I think a coordination meeting makes sense. We probably need some higher bandwidth time to get broad strokes of what this will loof like sorted out.

[2021-07-15 21:50] jakirkham commented on #1272
Ok. Went ahead and created [a poll]( https://whenisgood.net/ehwbe8j ) for us to figure out when is best time to meet in the next 2 weeks. Also please make sure to configure timezone before filling out the poll. Will share the results here and we can go from there

[2021-07-15 21:53] leofang commented on #1272
May I invite myself? 😛

[2021-07-15 22:01] jakirkham commented on #1272
Appreciate the general enthusiasm around this work! 😄

Anyone is welcome. Though my guess is this will be focused on technical issues around integration into conda-forge. So doubt this will be of interest outside those planning to do that work. That said, we can take notes, raise new issues, and summarize here for broader community awareness.

[2021-07-16 08:56] h-vetinari commented on #1272
Awesome news! Would love to participate, but on holidays for the next two weeks 😅

[2021-07-17 11:06] ericpre commented on #1253
If we are happy with the approach in https://github.com/conda-forge/miniforge_console_shortcut-feedstock/pull/1, we shall document it and update the recipes having start menu shortcut on windows.

@conda-forge/core, does it sound like a good plan?

[2021-07-19 09:27] h-vetinari opened #1479 "Encoding python runtime variant in build string"
Currently, the default `CONDA_PY` in the build string resolves to `py37` for both cpython & pypy. It would help IMO to see immediately from the artefact name for which python variant a package has been built.

Example for a current numpy [build](https://anaconda.org/conda-forge/numpy/files) (using `pypy37` instead of `py37` for the pypy variant)
* `linux-64/numpy-1.21.1-py37h038b26d_0.tar.bz2`
* `

[2021-07-19 11:08] BastianZim commented on #1477
Closes #1458

[2021-07-20 17:42] beckermr commented on #1460
Ahh I will leave notes here!

[2021-07-20 17:50] beckermr commented on #1272
hey @jakirkham! I totally missed this poll. If there is a time for the next meeting already, that is fine. Otherwise, I have filled out the poll.

[2021-07-20 19:24] beckermr commented on #1460
OK notes on items to include before I forget.

maintainer documentation:

1. possible keys for the conda-forge.yaml (https://conda-forge.org/docs/maintainer/conda_forge_yml.html#bot)
2. bot rerun labels
3. conda-forge admin commands for adding bot-rerun label (https://conda-forge.org/docs/maintainer/infrastructure.html#conda-forge-admin-please-rerun-bot)
4. command for adding automerge (https://co

[2021-07-20 19:27] jakirkham commented on #1272
Ok every time has some conflicts for someone. That said, the least conflicting time is on 27 July at 9a US Pacific / 11a US Central / 12p US Eastern / 5p UK / 6p European. We can take notes and summarize here for those that miss. Will send out an invite and we can go from there.

[2021-07-20 19:31] beckermr commented on #1460
The stuff for the migration yaml docs is a lot less complete.

migration yaml docs:

1. some of the relevant keys are in the example here: https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/migrations/example.exyaml - however this is not all of them
2. there are extra keys we should add - the pyp37 migration has most of them: https://github.com/conda-forge/conda-forge-

[2021-07-21 01:31] jakirkham commented on #1272
Alright have sent that out 📬

Think I got everyone who responded to the poll. Though feel free to forward to others that I may have been missed.

Also set it up with Microsoft Teams since that's what I have easy access to. Though if people prefer to use something different, feel free to propose (and be ready to set it up 😉). Otherwise we will stick with Teams.

Thanks all! 😄

[2021-07-21 11:42] isuruf commented on #1479
Please open this in conda/conda-build

[2021-07-21 11:42] #1479 closed

[2021-07-21 18:20] ForgottenProgramme commented on #1480
@fatihkurtoglu , thankyou for pointing this out!

[2021-07-21 18:33] #1480 closed

[2021-07-27 17:02] viniciusdc commented on #1272
I'm not totally sure about the feasibility of this, but Drone seems to have and [admin](https://docs.drone.io/server/user/admin/) management for queues

[2021-07-28 09:43] tdegeus opened #1483 "Add link to 'well-done' packages"
I think that it would be a good idea to add some links in the knowledge-base to 'well-done' feedstocks for a certain application. In particular (list to be extended)
* [ ] multi-output
* [ ] Python API compilation with pybind11

This would allow debugging by 'stealing' others' solutions.

[2021-07-28 09:46] xhochy commented on #1483
- Multi-output and cross-compiled with meson (and calling itself during the build): https://github.com/conda-forge/glib-feedstock
- Cross-compiled with CMake (and calling itself during the build) https://github.com/conda-forge/gobject-introspection-feedstock

[2021-07-28 11:47] #1478 closed

[2021-07-28 18:00] dharhas commented on #1272
Just noticed that drone's open source version is fairly hobbled vs their paid version.

https://www.drone.io/enterprise/opensource/#features

Not sure if we need any of the features that are not present in the OSS version but I thought I'd raise.

[2021-07-28 18:09] ocefpaf commented on #1483
We should get rid of the example in staged-recipes and add that list to the docs and readme. Covering also:

- [ ] noarch
- [ ] compiled extenstion
- [ ] python and r (most common langs)
- [ ] modern glibc and other special configs that needs to go into the conda-forge.yml file

[2021-07-28 18:44] beckermr commented on #1272
Thanks for this. We'll have to find out by doing I imagine.

[2021-07-28 19:03] leofang commented on #1272
btw What's the GPU model that the CI would use? I was under the wrong impression yesterday that MIG would work out of box for any existing models, but it looks like only certain Ampere GPUs support this feature.

[2021-08-01 11:53] h-vetinari opened #1485 "PEP 665: new lockfile proposal for python"
Coming out of many many previous discussions on the topic is a new iteration on a lock file format by python itself: [PEP 665](https://www.python.org/dev/peps/pep-0665/). I already tagged a few people in the discuss.python.org [thread](https://discuss.python.org/t/pep-665-specifying-installation-requirements-for-python-projects/9911), but thought it would be good for this to be mentioned here as w

[2021-08-03 18:02] Jose-Matsuda commented on #716
Apologies for commenting on an older issue but is https://conda.anaconda.org/conda-forge/ still accurate for this? I've been able to use the original url https://repo.anaconda.com/pkgs/main fine and install packages but cannot say the same for https://conda.anaconda.org/conda-forge/ .

[2021-08-03 21:00] bollwyvl opened #1486 "Improving the conda-forge software supply chain with jake and OSSIndex"
We will (soon :crossed_fingers:) have [`jake`](https://github.com/sonatype-nexus-community/jake) [available from `conda-forge`](https://github.com/conda-forge/jake-feedstock), which, despite its serpentine branding, _appears_ to also know how to cross-correlate packages in `anaconda.com` (only) to non-python "ecosystems" in their parlance, e.g. [postgresql](https://ossindex.sonatype.org/component/

[2021-08-03 21:44] ForgottenProgramme commented on #1486
I first thought jake was some guy.

[2021-08-04 06:53] xhochy commented on #1486
The mapping from conda package is done as part of the REST API of Sonatype or is there any logic for that in `jake` itself. From the README it looks like this is only mapping things back to PyPI (and that would be contrary to your `postgres` example above.

For me it is unclear whether we (as conda-forge) can do anything here or whether we need Sonatype to index conda-forge by themselves.

[2021-08-04 12:27] tdegeus opened #1487 "Bug rerender multi-output feedstock"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

I have a multi-output feedstock. For ARM OSX migration I'm seeking to build on of the outputs only for Python >= 3.9 (the reason is not relevant for this issue), the other output does not use Pyt

[2021-08-04 12:30] tdegeus commented on #1487
Moved to https://github.com/regro/cf-scripts/issues/1423

[2021-08-04 12:30] #1487 closed

[2021-08-04 14:45] bollwyvl commented on #1486
it is indeed named after the eminent [herpetologists](https://en.wikipedia.org/wiki/Jake_the_Snake)...

[2021-08-06 05:37] #1126 closed

[2021-08-08 10:45] h-vetinari commented on #870
Not sure if this worth its own issue, but w.r.t. drone, it would be very nice to:
* be able to restart failed stages separately - it feels very wasteful to restart 4 long-running builds (e.g. scipy) in an already backlogged queue when only one build failed
* create a sub-queue for the larger of the two drone machines, where feedstocks that hit the timeout on the smaller machine can explicitly opt

[2021-08-08 14:46] hmaarrfk commented on #870
I think crosscompiling is becoming more and more attractive.

If instructions aren't clear on how to do that, we should improve them on the documentation website.

[2021-08-08 17:05] h-vetinari commented on #870
The instructions are not the issue (to me at least). Cross-compilation works by and large, but where it doesn't, the set up on drone is more wasteful than strictly necessary for an already constrained queue (currently several hours of waiting time until a job starts), through the three points I mentioned.

For cross-compilation, builds still time out due to running through emulation, despite the ~

[2021-08-08 20:56] hmaarrfk commented on #870
Cross compiling is different than using qemu.

The last attempt I know of that tried to cross compile was
https://github.com/conda-forge/scipy-feedstock/pull/135

Issues regarding numpy distutils may have been solved recently

https://labs.quansight.org/blog/2021/07/moving-scipy-to-meson/

[2021-08-08 23:16] h-vetinari commented on #870
Yeah, fair point, I was too loose in the usage of the term (I do understand the difference). What I don't like with cross-compilation is that the artefacts aren't actually tested in regular CI (unless we can link e.g. the azure-output with running the test suite on drone/travis...? that sounds unlikely though).

[2021-08-09 01:32] hmaarrfk commented on #870
I guess i can understand the expanded use of the term.

[2021-08-09 03:16] isuruf commented on #870
They are tested if `test_on_native_only: true` is removed. See https://github.com/conda-forge/conda-smithy/issues/1455

[2021-08-10 18:56] leofang commented on #1355
See this discussion: https://gitter.im/conda-forge/conda-forge.github.io?at=6112c8d3025d436054c26eb3

[2021-08-10 19:23] leofang opened #1489 "Document `build/rpaths_patcher`"
As part of investigation for https://github.com/conda-forge/patchelf-feedstock/issues/21, https://github.com/conda-forge/cutensor-feedstock/issues/16 and https://github.com/conda-forge/cudnn-feedstock/issues/31, it turns out that this could be a useful workaround when there is any ELF-related issue, see https://github.com/conda-forge/cudatoolkit-feedstock/pull/4#issuecomment-709546027.

[2021-08-11 18:13] leofang opened #1490 "Document that `test/commands` and `run_test.{sh,bat}` cannot coexist"
As title. If `meta.yaml` has the `test/commands` session
[code]
but `run_test.{sh,bat}` is also provided, the commands in `test/commands` will not be run. Workarounds include
- Move all commands to `run_test.{sh,bat}` (or vice versa)
- Rename `run_test.{sh,bat}` to something else and run it explicitly

[2021-08-11 19:15] ocefpaf commented on #1162
We are in Aug 11th and so far GH hasn't come up with a nice solution that would cover our needs. To be fair, conda-forge's needs are special and there are a lot of moving parts.

We had a quick chat about this during today's meeting and I'd like to get the ball rolling again.

@mariusvniekerk, you are usually the well of knowledge on "new stuff," did you hear of any GH change that we can use?

[2021-08-12 11:57] #539 closed

[2021-08-14 02:30] leofang opened #1495 "`channels/sources` in `conda-forge.yml` not respected?"
Not sure if this is just a documentation problem or a Conda-smithy problem: [Here](https://conda-forge.org/docs/maintainer/conda_forge_yml.html#channels) it documents that `conda-forge.yml` allows setting the channel sources:
[code]
However, after making changes and rerendering this doesn't seem to make any difference. Instead, `channel_sources` should be set in `recipe/conda_build_config.yaml`.

[2021-08-14 03:55] leofang commented on #1489
Not sure if this needs to be kept track in a separate issue: LIEF does not support ppc64le (see https://github.com/lief-project/LIEF/issues/304#issuecomment-898638610).

[2021-08-14 04:14] isuruf commented on #1489
Can you open this in conda/conda-build?

[2021-08-14 04:15] isuruf commented on #1495
Duplicate of https://github.com/conda-forge/conda-smithy/issues/897

[2021-08-14 04:15] #1495 closed

[2021-08-14 04:23] leofang commented on #1495
Thanks, @isuruf!

[2021-08-14 09:38] GERMANOCARELLA opened #1496 "Setting include path on cling on windows to avoid visual studio headers"
- [*] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

<br/>
Environment (<code>conda list</code>):
<details>
I installed cling on windows with conda-forge channel. The installation succeeded.
[code]
</details>

<br/>
Details about  <code>conda</code

[2021-08-16 15:19] leofang opened #1497 "`build_with_mamba` is not a valid key in `conda-forge.yml`"
See here: https://conda-forge.org/docs/maintainer/conda_forge_yml.html#build-with-mamba. It should be `build_with_mambabuild`.

[2021-08-16 15:58] #1497 closed

[2021-08-18 19:26] xhochy opened #1499 "Start Python 3.10 migration with the release candidate"
Given the discussion in https://discuss.python.org/t/encouraging-3-10-wheels-on-pypi/10207 and especially in https://github.com/numpy/numpy/issues/19630 I would argue that we should also start the Python 3.10 migration before the final 3.10 release is done. This would also enable us to have as many as possible packages ready on the day of the release. It would also help a lot of downstream project

[2021-08-19 15:02] viniciusdc commented on #1469
Summarizing the end user problem here: this might lead to some time consumption of the new contributors when attempting to find specific information under the hood of a section. And, probably, might as well restrain the user's attention to certain parts of the docs information.

I am closing this issue now.

[2021-08-19 15:02] #1469 closed

[2021-08-20 00:08] ocefpaf commented on #1499
Great idea. We need to build 3.10 first though :-|

I know that @isuruf is working on it but he'll probably need help.

[2021-08-26 18:38] Gition opened #1504 "Instalation with miniconda failed on win10"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

**Issue:**

The file current_repodata.json doesn't exists into https://conda.anaconda.org/conda-forge/win-64/
when I try to install osmnx with:

conda config --prepend channels conda-forge
conda create -

[2021-08-27 11:29] eguiraud opened #1505 "Compilation of C++ programs in conda-forge environments is broken on some platforms"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

On Ubuntu 20.04, creating a simple conda-forge environment with the `compilers` package yields a broken C++ compilation toolchain.

This used to also be the case on arch linux a few days ago but

[2021-08-27 13:38] #1505 closed, assigned to nobody

[2021-09-01 14:46] kuepe-sl opened #1506 "Package build with GCC 9.3.0 and CMake (not pinned) not results in dependency error."
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
When trying to build a package that include

- gcc 9.3.0, e.g. via `{{ compiler("c") }}` + build variant file
- cmake (no version pinned)

the `conda build` command will results in a dependency er

[2021-09-01 17:10] kuepe-sl commented on #1506
I fixed the attachment.
The condarc file had the "s" missing from the `defaults` channel.

[2021-09-04 14:49] h-vetinari opened #1507 "Best practices on adding new maintainers"
There's several topics about improving documentation for incoming maintainers: #1331 #1267 #1117

However, I was wondering if there are best practices that could be formulated for how existing maintainers should gauge the trust resp. level of competence of someone wanting to become a maintainer.

I understand (quite well...) how challenging and thankless packaging is, and so we really want to be a

[2021-09-04 20:44] beckermr commented on #1162
I've started in on doing this. A lot of our admin repos and whatnot can be moved by hand.

[2021-09-07 15:41] h-vetinari commented on #1507
Given that there was no response, I'm planning to unblock https://github.com/conda-forge/gym-feedstock/pull/13, including the addition of the rookie-maintainer-under-mentorship.

CC @conda-forge/core

[2021-09-07 16:08] beckermr commented on #1507
The core team leaves these issues up to the feedstock maintainers except for violations of the code of conduct and especially egregious/contentious cases (which to my knowledge has not happened). We expect people to be kind, respectful, and reasonable.

That being said my general attitude is always the more the merrier since there is always a ton to do.

You were right to flag the removal of an ex

[2021-09-07 16:11] oblute commented on #1507
Thanks @beckermr - I feel the same way. Appreciate the response.

[2021-09-07 18:50] jakirkham commented on #1162
conda-smithy seems like low hanging fruit

[2021-09-07 19:14] beckermr commented on #1162
Yep. I wanted to wait to chat with core first, but this one would be very easy indeed.

[2021-09-08 19:02] beckermr opened #1509 "conda-smithy"

[2021-09-08 19:02] #1509 closed

[2021-09-14 13:27] slonik-az opened #1511 "jupyter console broken on latest conda-forge. Regression from jupyter_client-7.0.2"
Regression against `jupyter_console-6.4.0` and ` jupyter_client-7.0.2 ` first reported in https://github.com/jupyter/jupyter_console/issues/251

[2021-09-14 16:19] ocefpaf commented on #1511
Pinging @conda-forge/jupyter_console and @conda-forge/jupyter_client teams.

[2021-09-14 16:25] davidbrochart commented on #1511
@slonik-az but it has nothing to do with conda-forge, does it?

[2021-09-14 16:28] ocefpaf commented on #1511
Even it it doesn't we need to know if we should move the packages to broken or not.

[2021-09-14 16:35] davidbrochart commented on #1511
I don't think so, I even opened [a PR in Jupyter Console](https://github.com/jupyter/jupyter_console/pull/244) ahead of jupyter_client's 7.0 release, but it was not merged.

[2021-09-14 16:43] slonik-az commented on #1511
The reason I cross-posted it here is that downgrading to `jupyter_client` 6.1.12 seems to resolve the issue with jupyter console. It is up to conda-forge to decide whether to roll back broken version or to label the package broken. In any case conda-force needs to be aware of what is going on.

[2021-09-14 16:46] davidbrochart commented on #1511
But which package/version do you consider broken?

[2021-09-14 17:09] shaoran opened #1512 "conda hangs loading channel when -c conda-forge is used"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

Throughout the day, whenever I run any conda command (like search or install),
it get's stuck `Loading channel` and shows a spinner for 10 minutes or longer.
Without `-c conda-forge`, a search se

[2021-09-14 17:16] slonik-az commented on #1511
IMHO, `jupyter console` is broken. Your patch has been available for review and merging since early July.
But who knows how long it will take to fix the jupyter console. In meanwhile, to preserve my workflow I downgraded `jupyter_client` to 6.1.12. Hope it won't break anything else. :-)

[2021-09-14 18:50] ocefpaf commented on #1512
Looking at your `conda info` we can see you have the defaults channel there. Please read https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge on how to use conda-forge packages.

[2021-09-14 18:53] davidbrochart commented on #1511
Maybe Jupyter Console is just unmaintained, but I don't think we can mark it as broken. It's probably just a matter of pinning `jupyter_client <7.0` in its feedstock, until https://github.com/jupyter/jupyter_console/pull/244 is merged and released.

[2021-09-14 19:05] shaoran commented on #1512
@ocefpaf OK, my bad, I did not set `conda-forge` as default channel, now I've done that

[code]

as described in the link above

Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

and now I have the same behaviour, it's stuck at `Loading channels` for the last 10 minutes. So, would you please reconsider re-opening this issue?

Like I said, I don

[2021-09-14 20:07] slonik-az commented on #1511
I doubt that. `jupyter_console` is a dependency of`jupyter`. Also it is a very convenient way to connect  a terminal to a running kernel for debugging and what not.

[2021-09-14 20:14] ocefpaf commented on #1512
Not sure what is going on but I cannot reproduce it. With strict channel install times should be faster but you seems to be hitting another problem there.

[2021-09-14 21:00] shaoran commented on #1512
I don't know if it's only me. On an online meeting with the dev team of my company, we were discussing whether we should upgrade nodejs which for many reasons we get from conda-forge. So I said to one of my co-worker, just execute `conda search nodejs -c conda-forge`. I could see via the screen sharing that the command was running for almost 10 minutes and still the only thing we saw was `Loading

[2021-09-15 06:13] jakirkham commented on #1512
Have you tried with [mamba]( https://github.com/mamba-org/mamba )? Might provide another data point

[2021-09-15 07:56] shaoran commented on #1512
No, I haven't heard  of mamba, looks interesting. I'll take a look.

[2021-09-15 15:20] bollwyvl commented on #1511
As a bit of history: the `jupyter` package is a historical artifact which preserves everything that was IPython prior to The Big Split, and as such brings in a _lot_ of stuff (e.g. qt), and without pins for much of anything, nor does it include a number of new, first-party jupyter components (e.g. `jupyterlab`).

[2021-09-15 18:42] slonik-az commented on #1511
Without `jupyter console` how else could I connect a terminal to a running kernel? IPython does not except `--existing` option any longer.

[2021-09-19 14:07] sstadick commented on #1052
Hello! I've been working on a tool to hopefully mitigate this issue / make it less painful to publish rust tools on conda-forge. It can be found [here](https://github.com/sstadick/cargo-bundle-licenses).

In short, it crawls the package dependencies and searches out the license files that correspond to what is in the `Cargo.toml`. If a license isn't found or looks suspicious it will write a warnin

[2021-09-20 15:10] bollwyvl commented on #1052
Looks good! Really _anything_ that moves things forward sounds great to me... I'm wagering if:

- the proposed tool (and/or `cargo-licenses`, if not superseded) is packaged (dogfooding itself) through `staged-recipes`
  - so that we can just add it to  `requirements/build`
  - and/or `test/requires`, and call it, simply, in `build.sh|bld.bat`
- its use is demonstrated on a PR to a "tent pole" pack

[2021-09-20 15:30] sstadick commented on #1052
@bollwyvl, thanks for the feedback!

Here is a [PR](https://github.com/conda-forge/staged-recipes/pull/16214) for adding `cargo-bundle-licenses` to `staged-recipes`. To be clear, this would supersede `cargo-license`. The soul purpose of this tool is to satisfy the requirements of `conda-forge` packaging and make it less onerous to publish rust packages here.

I have two PR's dogfooding it right no

[2021-09-20 15:36] bollwyvl commented on #1052
That's great progress! Good luck! Once again, I'd prioritize the initial `staged-recipes` PR for the tool itself, and then ensure it meets the needs of at least one known-important, but presently hand-curated, package, as they are the most likely to have been reviewed. Ensuing _new_ packages will then be an easier pitch, as we'll be more confident.

By the by: I can't merge anything, don't really

[2021-09-20 15:52] sstadick commented on #1052
@bollwyvl I appreciate the guidance on this!

[2021-09-20 19:58] pkgw commented on #1052
Thanks @sstadick! I merged the tool recipe.

[2021-09-21 12:12] sstadick commented on #1052
Both https://github.com/conda-forge/staged-recipes/pull/16110 and https://github.com/conda-forge/staged-recipes/pull/16111 are now using the `conda-forge` `cargo-bundle-licenses` package to check that all thirdparty licenses are present.

[2021-09-22 16:06] sstadick commented on #1052
PR Adding `cargo-bundle-licenses` to `ripgrep-feedstock` https://github.com/conda-forge/ripgrep-feedstock/pull/17

[2021-09-22 18:03] isuruf commented on #1052
Looks good to me. What happens when cargo-bundle-licenses can't find a license/copyright for a package?

[2021-09-22 18:11] sstadick commented on #1052
If run without `--check-previous` it will just write a warning say it couldn't find the license, and then in the `THIRDPARTY.yml` file it will put `NOT FOUND` for the license text, the idea being that a user would then go find it and manually add it so that the next time you run it with `--previous` it will pull the manually found license forward for you if it still can't find it.

If running with

[2021-09-22 21:04] sstadick commented on #1052
If this is good to go I'd love to get these two PR's merged: conda-forge/staged-recipes#16110 and conda-forge/staged-recipes#16111.

I'm sure there will be rough edges with `cargo-bundle-licenses`, I'm more than happy to resolve issues as they come up / help Rust packages get into conda.

[2021-09-23 17:51] kellpossible commented on #1052
@sstadick thanks for the great tool! I've also used it in https://github.com/conda-forge/staged-recipes/pull/16252 I can see it being useful in other projects too.

[2021-09-24 17:18] jakirkham commented on #1052
Thanks @sstadick! 😄

It would be great to integrate this strategy into [`grayskull`]( https://github.com/conda-incubator/grayskull ), which use to create/update recipes

[2021-09-27 12:44] sstadick commented on #1052
@jakirkham I agree! I think it's worth waiting a bit to see where the rough edges are in the `cargo bundle-licenses` workflow first. But it would be nice to have rust-project template.

[2021-10-01 01:40] h-vetinari commented on #1436
Another datapoint: I now have a staged-recipes PR that cannot build because the GPU-build only has glibc 2.12 (pytorch >=1.8 needs 2.17), and the CentOS7 build doesn't start: https://github.com/conda-forge/staged-recipes/pull/16306

[2021-10-01 01:53] isuruf commented on #1436
That's not a datapoint. We've documented this in our docs on how to use CentOS7.

[2021-10-01 02:15] h-vetinari commented on #1436
I know how to do it per-feedstock, but the above packaged cannot currently make it through staged recipes, or at least I'll need help to pull it off. Someone could also merge it and I fix things once the feedstock is created. But it's um... suboptimal... and definitely related to CentOS6, so I'd still call it a datapoint.

[2021-10-01 04:17] isuruf commented on #1436
Have you tried doing the same in staged-recipes? It should work.

[2021-10-01 04:59] chrisburr commented on #1436
It does work on staged-recipes, [see here for an example](https://github.com/conda-forge/staged-recipes/pull/16211/checks) (CentOS 6 fails as expected but the CentOS 7 based job passes and the feedstock is generated correctly thanks to the `conda-forge.yml` in the recipe directory.)

That said, I am noticing more and more places where CentOS 6 issues are appearing and moving a feedstock to CentOS

[2021-10-02 06:09] jam-one opened #1514 "Can't download the mkl package"
- [ ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue: Cannot download the mkl package from the conda-forge channel. It randomly crashes at different percetages.
Downloading and Extracting Packages
mkl-2021.3.0         | 179.7 MB  | ##################

[2021-10-02 16:36] isuruf commented on #1514
Looks like you are not using conda-forge at all. Please re-open if you are.

[2021-10-02 16:36] #1514 closed

[2021-10-06 17:01] beckermr commented on #1449
We recently removed defaults from our default channels list for builds. It should be possible to add it back, but I am sure how to do that on staged recipes.

[2021-10-06 17:08] PokhodenkoSA commented on #1449
Thank you for your feedback.

[2021-10-06 20:13] ltalirz commented on #746
Just in case someone else runs into this problem as well :

If you name your build script `build.sh` (following the standard approach for single-output packages), this means

Thanks to @chrisburr  for pointing this out!

I.e. if you don't want a top-level build script (only specific ones for the individual outputs), just pick a non-standard script name and pass it to the corresponding output via t

[2021-10-12 20:12] isuruf commented on #1449
We should first package the compilers and runtimes in conda-forge before creating downstream packages.

[2021-10-12 23:32] h-vetinari opened #1521 "Travis is dying"
Aside from the previous instabilities and random timeouts, it now seems to fail even trivial (& fundamental) tasks like downloading binaries consistently (4x in a row over the course of 24h in https://github.com/conda-forge/openblas-feedstock/pull/122, each time across all 4 jobs in the build)
[code]

I don't know when this will resolve itself, but just thought I'd open an issue to discuss the sit

[2021-10-12 23:35] jakirkham commented on #1521
There was at least one recent change for Travis ( https://github.com/conda-forge/conda-forge-ci-setup-feedstock/pull/167 ). Maybe more are needed? Honestly would bring this up on [the gitter channel]( https://gitter.im/conda-forge-ppc64le/Lobby )

[2021-10-13 00:23] h-vetinari commented on #1521
To be honest, after a year of flakiness, I have very limited patience left for debugging Travis... For the feedstocks I maintain more or less by myself, I'll see if emulation through azure works, otherwise I'll start dropping PPC.

[2021-10-14 21:13] h-vetinari opened #1526 "Selectors `# [py3x]` for x>6 not working"
I just [learned](https://github.com/conda/conda/issues/10975) that conda-build (more or less intentionally) does not support `# [py37]` and higher (see https://github.com/conda/conda-build/issues/4297), in favour of `# [py==37]` etc.

Looking at a code-search in conda-forge, these tags are definitely in use (albeit with less frequency that I had thought), not least because they are a very natural

[2021-10-14 21:15] isuruf commented on #1526
https://conda-forge.org/docs/maintainer/maintainer_faq.html?highlight=py37#mfaq-py37-selector

[2021-10-14 21:15] #1526 closed

[2021-10-15 02:14] h-vetinari commented on #1521
I'm wondering if github is blocking travis from downloading sources. I can't believe that this is so consistently failing (all jobs I've seen recently, and every run therein) just due to flaky networks.

[2021-10-15 16:39] jakirkham commented on #1521
Yeah this is what I'm wondering as well

[2021-10-16 06:32] fneum opened #1527 "maintainer, but no write-access?"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

I am one of the maintainers of the https://github.com/conda-forge/pypsa-feedstock. However, I do not seem to have write access to the repository.

I tried `@conda-forge-admin, please update team`

[2021-10-16 12:23] rgommers commented on #1499
I see that Python 3.10 is now available on all architectures except `win32` (https://anaconda.org/conda-forge/python). But the migration / special channel idea didn't happen, right? Will there be automated PRs opened for the migration, or is a manual step needed here? Would be happy to have NumPy/SciPy 3.10 packages soon, especially given that the 3.10 wheels for non-Linux platforms are taking une

[2021-10-16 13:23] xhochy opened #1528 "Solving errors related to OpenSSL 3.0"
We are currently seeing many related solving errors that seem to be related to OpenSSL 3.0 being released and packaged on conda-forge. The initial assumption was that these errors would come from the fact that `openssl` is part of the default list in `aggressive_update_packages` and thus we have removed this globally in https://github.com/conda-forge/conda-forge-ci-setup-feedstock/pull/168. Still,

[2021-10-16 13:34] #1499 closed

[2021-10-16 15:12] phil-blain opened #1529 "document `BUILD_WITH_CONDA_DEBUG` for build-locally.py"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue: `BUILD_WITH_CONDA_DEBUG` is not mentioned in the conda-forge documentation. It would be nice to mention it when `build-locally.py` is mentioned (https://conda-forge.org/docs/maintainer/updating_pk

[2021-10-16 22:25] isuruf commented on #1528
Unrelated question. Why is `openssl` and `abseil-cpp` not in `host` of arrow-cpp? `libgandiva.so.400.1.0` links to `libcrypto.so` and `libarrow_flight.so.400.1.0` links to `libabsl_synchronization.so`, right?

[2021-10-16 23:46] nehaljwani commented on #1521
Is this related? https://github.com/conda-forge/conda-forge-ci-setup-feedstock/pull/168

[2021-10-17 02:51] isuruf commented on #1528
This is a conda-build issue. conda-build would render each output separately, but when rendering `pyarrow`, it sees `pin_subpackage('arrow-cpp')`, but ignore this completely. After that `pyarrow`'s rendering gives an environment with `openssl=3`, because it didn't look at `arrow-cpp`. When `pyarrow` environment is being built, it tries to install the rendered environment with `openssl=3` and also

[2021-10-17 05:30] xhochy commented on #1528
Just a packaging oversight. In former times, it didn't link directly. I'll fix that!

[2021-10-17 09:04] rgommers commented on #1499
Thanks for the context @xhochy!

[2021-10-20 18:34] jakirkham opened #1530 "[DOC] Mention `build_artifacts` in local build instructions"
Currently we don't mention `build_artifacts` is where packages are stored when building on Linux locally. Would be good to document this so users know where to look.

[2021-10-21 02:29] jakirkham commented on #1458
Agree this would be great Bastian! 😄

cc @conda-forge/core

[2021-10-21 07:05] jakirkham opened #1532 "[DOC] Update documentation about tokens"
Previously feedstocks stored encrypted tokens, which were used to upload packages. However we have since moved away from that. Though the documentation still refers to [tokens in `conda-forge.yml`]( https://github.com/conda-forge/conda-forge.github.io/blob/09bc2d08f0e3ebe583621054a8bda52cf878e75b/src/maintainer/conda_forge_yml.rst#appveyor ). Also it doesn't cover how users should update tokens. I

[2021-10-22 11:12] peterjc opened #1534 "Introduction suggests no Apple ARM packages"
- [X] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

As an Apple user I am interested in the status of conda and conda-forge on the new Apple silicon ARM machines like the M1 CPU.

Quoting https://conda-forge.org/docs/user/introduction.html

This suggests

[2021-10-25 15:15] zklaus opened #1536 "Add Perl package hints to documentation"
Recently, @mbargull has updated some Perl parts of conda-forge and in the process simplified the way Perl packages can be built. This was already exploited with good effect by @tdegeus to migrate some Perl packages from bioconda.

Adding the simple packaging instructions to the knowledge base will help new maintainers to add Perl packages in a consistent manner.

[2021-10-25 23:02] h-vetinari opened #1537 "Support for Apple GPU builds"
So far, apple has not been mentioned at all in #63, so I thought this deserves a new issue.

I'm also aware that the CI situation for apple is not great (especially for osx-arm), and that apple+GPU is even worse, but I'm thinking that in an ideal world, it should still be possible eventually.

Apple has some builds in a conda [channel](https://developer.apple.com/metal/tensorflow-plugin/), and her

[2021-10-27 21:19] jakirkham opened #1538 "Azure deprecating windows-2016 environment"
Seeing this warning on [CI]( https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=398661&view=logs&jobId=a70f640f-cc53-5cd3-6cdc-236a1aa90802&j=a70f640f-cc53-5cd3-6cdc-236a1aa90802 ):

[code]

https://github.com/actions/virtual-environments/issues/4312

[2021-10-28 16:39] traversaro opened #1539 "Guidelines for packages that write files to $HOME directory?"
In https://github.com/conda-forge/libignition-gazebo-feedstock/issues/31 we are experiencing the problem of some packages that read and write configuration files in the `$HOME` directory, resulting in cross-talking problems between different conda environments and installation of the same software via other package managers such as `apt` . To solve the problem, we were thinking to modify this soft

[2021-10-30 01:59] mariusvniekerk commented on #1538
Do we know of any particular reason why we can't move to `windows-latest`?

[2021-10-30 05:44] isuruf commented on #1538
We'll need to see if vc141 toolchain works there.

[2021-10-30 18:42] BastianZim opened #1542 "Update mamba section"
The mamba part of the FAQ (https://conda-forge.org/docs/maintainer/maintainer_faq.html#mfaq-mamba-local) is outdated with mamba now being the default.

Before I create a PR, should it be removed completely or updated to something else?

[2021-11-03 03:35] leofang commented on #1537
@isuruf This is very interesting! Mind to say a few more words here for my own education? 🙂 Suppose a maintainer adds `{{ compiler('c') }}` in an osx recipe, and also wants to use the Metal compiler, what are the steps? Does it need a `xcodeproj` file, or can it be done through cmdline (ex `build.sh`)?

[2021-11-03 04:30] isuruf commented on #1537
Either is fine I guess, but prefer doing through cmdline.

[2021-11-03 04:33] isuruf commented on #1537
`xcodeproj` might override some env variables that we set, so it's better to do `build.sh`.

[2021-11-05 09:51] h-vetinari commented on #1538
From a quick google search, this [looks](https://github.com/Microsoft/calculator/issues/463#issuecomment-484405436) like it should be possible.

Out of curiosity, would it not be possible to migrate all feedstocks to vs2019 - not sure where the dependence on the 2017 toolchain comes in? Or is that to keep support for running on older windows versions?

[2021-11-05 16:51] isuruf commented on #1538
This came up with vs2015 -> vs2017 migration too. To link packages built with vc141 and vc142, you need vc142. So we'll be asking all of our users (for eg: people building their own python extensions) to migrate to vc142 which is not desirable.

[2021-11-05 17:13] BastianZim commented on #1534
Summarising my comment here from https://github.com/conda-forge/miniforge/issues/223#issuecomment-962063995

MacStadium seems to be a partner of conda forge: https://conda-forge.org/#partners and https://www.macstadium.com/opensource/members

Using https://github.com/conda-forge/conda-smithy/pull/1526, might it be possible to test (and maybe build) Apple ARM packages on native hardware and maybe e

[2021-11-05 17:31] peterjc commented on #1534
How about replacing:

with:

[2021-11-05 20:09] jakirkham commented on #1534
^ @conda-forge/core ?

[2021-11-05 20:12] wolfv commented on #1534
we could also add linux-aarch64 and linux-ppc64le?

[2021-11-05 21:14] peterjc commented on #1534
If they are built by default (I don't know), then that would be good.

[2021-11-05 21:15] wolfv commented on #1534
Nope, it's the same story as for Apple M1 (built by request, basically)

[2021-11-06 15:03] mariusvniekerk commented on #1538
From the specs here https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md it looks like that image has VC.141 bits installed so we might be able to keep using it.  It does not include VS2017

[2021-11-06 18:00] isuruf commented on #1538
Sure. We don't particularly need VS2017. Just the vc141 toolchain. Just need someone to try that compiling stuff works and that the vc141 toolchain is used.

[2021-11-07 00:58] h-vetinari commented on #1485
This PEP has seen another update recently, see [here](https://www.python.org/dev/peps/pep-0665/) for the rendered text, and [here](https://discuss.python.org/t/pep-665-take-2-a-file-format-to-list-python-dependencies-for-reproducibility-of-an-application/11736/1) for the unfolding discussion.

[2021-11-07 05:46] ngam commented on #1537
@h-vetinari fwiw: https://github.com/pytorch/pytorch/issues/47702#issuecomment-953074900 suggests a metal plugin is coming to pytorch soon

💯 agree with you on this issue

[2021-11-09 15:45] #1431 closed

[2021-11-09 22:40] h-vetinari commented on #1538
I remember that part, and it's (by now?) also nicely [documented](https://docs.microsoft.com/en-us/cpp/porting/binary-compat-2015-2017?view=msvc-170).

Just so I understand correctly, this is talking about people having (e.g.) a conda environment to work on a given python project (say, pandas), and not forcing them to upgrade their toolchain, right? Because other than that, I'm not aware of other

[2021-11-09 22:46] isuruf commented on #1538
Yes.

[2021-11-09 23:24] h-vetinari commented on #1538
Just playing devil's advocate here, but would moving to vc142 really be so disruptive? Said otherwise, Microsoft itself (whether through Azure or Github) is making vs2017 a non-viable option, and if a given project is being tested (much less developed) on windows, they'll have to move on just as well?

In yet other words - how many people:
- are working on a project that needs windows support
- ar

[2021-11-10 00:50] isuruf commented on #1538
How is that relevant here? Previous comments have explained that we can use vc141 toolchain with VS2019. We can even use vc140 toolchain (VS2015's default toolchain) with VS2019.

[2021-11-10 01:09] h-vetinari commented on #1538
Microsoft is pushing people away from vs2017 (default: vc141) to vs2019 (default: vc142) and later. If it's easy to keep running the old toolchain on vs2019, great! I'm just trying to understand (and make transparent) the trade-offs, because if the effort to keep using vc141 turns out to be high, then it becomes relevant.

[2021-11-10 01:12] isuruf commented on #1538
There's no trade-off. We just need to make sure that the conda compiler activation script works. The effort needed is probably less than the time we have spent on writing on this issue.

[2021-11-10 17:14] BastianZim commented on #1542
Gentle ping here @conda-forge/core

[2021-11-11 18:30] #1362 closed

[2021-11-12 01:59] h-vetinari commented on #1269
Just stumbled over this thread. Perhaps relevant (because through openblas, openmp would basically show up everywhere), there's a PR to add openmp-support on windows to openblas: https://github.com/conda-forge/openblas-feedstock/pull/115

It's been blocked for a while on https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/1359

[2021-11-12 02:18] h-vetinari opened #1551 "Concerns about static vs dynamic TLS in libgomp"
I just ran into some very strange errors in https://github.com/conda-forge/staged-recipes/pull/16888
[code]

After some googling, it seems that this is a problem plaguing many users (especially with pytorch/tensorflow). I'm admittedly out of my depths with this, but the [following](https://github.com/pytorch/pytorch/issues/2575#issuecomment-523657178) explanation seemed pretty good:

This has some

[2021-11-14 08:22] its-ogawa opened #1552 "Different versions of packages can be installed on linux and windows"
Issue:
Different versions of packages can be installed on linux and windows

I am using anaconda on linux and windows.
I'm using version 4.10.3 of anaconda on both.

I installed geckodriver on both, but the latest versions are different.
I installed geckodriver on both, but the latest versions are different: version 0.26.0 for linux and version 0.29.0 for windows.

Why is the latest version I can

[2021-11-14 18:06] BastianZim commented on #1552
Hi @its-ogawa I would suggest moving the issue to https://github.com/conda-forge/geckodriver-feedstock as that is where the package is distributed from.

[2021-11-15 00:58] its-ogawa commented on #1552
@BastianZim
Thanks for the advice.
I've moved my question to the forum you referred me to.
https://github.com/conda-forge/geckodriver-feedstock/issues/19
I'll wait for a new answer here.

[2021-11-15 01:57] #1552 closed

[2021-11-20 07:31] h-vetinari opened #1558 "Dealing with proliferation of package variants"
Crossposting from https://github.com/conda/conda/issues/11053 because it affects conda-forge in many ways.

I opened that issue on conda to find out if there might be a better solution than tacking on more and more things onto buildstrings. 😅

[2021-11-20 10:07] jakirkham commented on #1558
Yes virtual packages. Particular custom ones for extensibility ( https://github.com/conda/conda/issues/10131 ). They can detect system features, which either allow or disallow particular variants.

[2021-11-20 10:39] h-vetinari commented on #1558
Virtual packages are not the answer to everything though... A virtual package IMO makes sense for something (effectively) immutable like OSX, CPU Arch, GPU _version_, but not for things like MPI, OpenMP, etc... And even with virtual packages, I might want to override them and install the CPU version despite having a GPU, or install the SSE version despite being AVX2-capable.

[2021-11-20 10:43] h-vetinari commented on #1558
Though looking closer at https://github.com/conda/conda/issues/10131, maybe I'm overlooking how the plugin-approach might overcome these issues/limitations? If so, could you elaborate?

[2021-11-22 12:07] mbargull commented on #1521
Due to the [cloud.drone.io breakage](https://discourse.drone.io/t/builds-marked-as-error-and-new-builds-no-longer-starting/10011/3) Travis is now also used for `linux-aarch64` if one uses `native` build platform in `conda-forge.yml`. (That is just until we have a working usable alternative service running for ARM builds again.)

Now, apparently for that platform there is some issue (misconfigurati

[2021-11-24 03:59] h-vetinari opened #1559 "Proliferation of (outdated) nvidia management packages"
After I found out about scalene, and that conda-forge [isn't](https://github.com/conda-forge/staged-recipes/issues/17059) packaging it yet, I did my usual packager thing of checking the [requirements](https://github.com/plasma-umass/scalene/blob/v1.3.16/setup.py#L136-L142), and whether they're packaged for conda-forge already.

Looking for `nvidia-ml-py` in various variants lead me to a bunch of f

[2021-11-24 11:07] toyoh3232 opened #1560 "Cannot create environment for python 2.7 and 3.4"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
After a fresh installation on Windows, it went wrong as follows if I try to create an virtual environment for Python 2.7 and Python 3.4.
FYI, Environments starting from version 3.5 could be instal

[2021-11-24 11:28] jaimergp commented on #1560
Those are old packages and there's a chance you need to add `defaults` back to the channels for this (or even [`free`](https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/free-channel.html#adding-the-free-channel-to-defaults)).

Can you try with this?

[code]

[2021-11-24 16:47] ocefpaf commented on #1560
It is important to mention that conda-forge no longer supports py<36.

[2021-11-25 14:02] toyoh3232 commented on #1560
This works, thanks.
But why these old packages are listed in the result of 'conda search python'?

[2021-11-25 14:16] jaimergp commented on #1560
Possibly because of the `channel_priority` settings, which might not apply to `conda search`.

[2021-11-25 19:59] croth1 opened #1563 "Potentially broken links"
Here is a list of potentially broken external links in the docs (excluding the minutes). Some of the forbidden ones seem ok, but the 404 definitely need fixing.

List is generated by `make linkcheck` in the src folder.

- [x] (maintainer/maintainer_faq: line   70) broken    https://anaconda.org - 403 Client Error: Forbidden for url: https://anaconda.org/
- [x] (user/introduction: line   16) broken

[2021-11-26 05:37] h-vetinari commented on #1436
In the last couple weeks, I've probably spent upwards of 15h chasing down bugs that ended up being resolved by moving to CentOS 7. This is a real cost. Same for less experienced contributors running into cryptic resolution errors for trying to package something that (now) needs a `sysroot 2.17`.

Can we quantify this? CentOS 6 is EOL for a year now. Why are we so beholden to that long tail? Are th

[2021-11-26 07:57] chrisburr commented on #1436
@conda-forge/core Does anyone have an objections to changing the default sysroot to CentOS 7? If not I'll make PRs to change it early next week.

[2021-11-26 08:48] toyoh3232 commented on #1560
Thank you.

[2021-11-26 08:48] #1560 closed

[2021-11-26 12:56] beckermr commented on #1436
I know of users this will impact.

What exactly is the problem with our current setup?

[2021-11-26 13:35] chrisburr commented on #1436
I also know users who this will effect, including myself. I also know people using CentOS 5-like systems with conda, who will continue to do so for at least the next decade so we can't wait until nobody is using CentOS 6 anymore.

* The biggest thing is that downstream packages of CentOS 7-only ones have to modify their feedstock to use the newer docker container and the errors that happen in the

[2021-11-26 13:56] beckermr commented on #1436
Global labels don't get repo data patching which at this point will render the channel likely wrong.

[2021-11-26 13:59] h-vetinari commented on #1436
100% agree with what @chrisburr wrote. There are also some pretty gnarly bugs in the trigonometry functions of glibc < 2.17 that have bitten me at least 3 times already.

And they can keep using old packages, or use paid support for their ancient platforms. I empathise that there are some people between a rock and a hard place, but again:

Those 100s of hours Chris is mentioning might be "free" bu

[2021-11-26 14:08] beckermr commented on #1436
Many folks stuck on an older centos are not there by choice. They are constrained by the lack of upgrades on big systems run by government labs, etc. The idea that they can simply pay for support is a non-starter to anyone who works in or understands how those organizations work.

I am bringing this up because the remedies for using cos6 that folks keep bringing up here are not really available to

[2021-11-26 14:22] leofang commented on #1436
If you are referring to DOE labs, last time I heard the BES office demanded a through upgrade from its facilities due to cybersecurity concerns (cc: @mrakitin) and I assume the similar mandates should also be posted by other offices.

[2021-11-26 14:22] alippai commented on #1436
@beckermr the legacy software on the legacy systems will keep running even if conda forge starts building on CentOS7. CentOS 6 was released literally 17 years ago. Government labs running inefficient HW and SW stack is not something anyone should encourage or promote. That hurts the economy, research and the environment. Those systems cost everyone time and money (along with conda forge people and

[2021-11-26 14:42] beckermr commented on #1436
Thanks for the responses everyone!

I don't see anyone addressing directly the points I raised. The cost here is the time for folks who need cos7 and don't know it when they are building a package. They see an odd error and it costs them time to track down. I 100% agree that this cost is real.

Moving the default to cos7 is one way to reduce this cost. However it is not the only way. My premise is

[2021-11-26 15:56] chrisburr commented on #1436
Good point, I forgot about this. Hopefully the `__glibc` contraint can be good enough to allow people to keep using the channel. 🤞

This is might an option but I'm not sure it's easy to do the "right" thing and it might not even be possible. How do you see this working? I have two ideas and I think I would lean towards option 1 for simplicity.

# Option 1

The bot automatically migrates downstream

[2021-11-26 15:59] isuruf commented on #1436
# Option 3

Change the default docker image to be cos7 for all feedstocks, but keep the sysroot to be cos6. This would remove the solver errors.

[2021-11-26 16:03] beckermr commented on #1436
Option 1 is not really correct. If python itself was cos7 only, we wouldn't need cos7 constraints/builds of noarch python packages.

Option 2 I am not following.

The core issue here as I understand it is that people are having trouble recognizing errors as being due to not having cos7 and when they do, they are having trouble enabling the cos7 build.

[2021-11-26 16:05] beckermr commented on #1436
I think we could add an admin command that would convert a recipe to cos7 automatically in a pr. This should work all the time except for gnarly cases around cuda. It would more or less solve the issues around provisioning cos7 on feedstocks.

For recognizing errors as being due to cos7, that is a much tougher problem.

[2021-11-26 16:13] chrisburr commented on #1436
I like option 3 provided we trust the majority of packages to be using the correct sysroot? (i.e. from `$BUILD_PREFIX` and not `/`)

[2021-11-26 16:18] beckermr commented on #1436
Good point @chrisburr. We might get another class of errors if the docker image doesn't match and the builds are wrong. Otoh those builds are actually wrong and so likely should be fixed anyways.

[2021-11-26 16:23] isuruf commented on #1436
@chrisburr, there's no sysroot in `/` in our docker images (unless there's a `yum_requirements.txt` file)

[2021-11-26 18:43] mbargull commented on #1436
Option 3 has been working well for us at Bioconda since March/April or so.
(I.e., using `quay.io/condaforge/linux-anvil-cos7-x86_64` as the base but not requiring `sysroot_linux-64=2.17` by default.)

----
One minor thing to keep in mind is then we don't automatically test our packages on CentOS 6 user space anymore -- which isn't necessarily a bad thing because we then test on CentOS 7's which we

[2021-11-26 21:37] h-vetinari commented on #1436
I understand how these organisations work, but the point is why does it fall to conda-forge to bridge that gap, and more importantly, who decides that supporting these users is worth all the lost time and opportunity cost for everyone else.

Personally, I find it preposterous for a small band of volunteers to try to provide free maintenance longer than a behemoth enterprise like RedHat.

I have tr

[2021-11-26 21:43] isuruf commented on #1436
That's because core maintainers like @beckermr cares about older sysroot for their dayjob and I care about ppc64le for my dayjob.
Unless you would like to lose core maintainers, let's not call it preposterous.

[2021-11-26 21:54] h-vetinari commented on #1436
That's a very different kind of argument than appeared so far.

Certainly not! (though how one implies the other is really not obvious either). In any case, I've replaced that word - which was aimed at the sheer ambition, not anyone individually. Apologies if that was ambiguous.

[2021-11-26 22:04] beckermr commented on #1436
Thanks for the comments @h-vetinari!

I want to reiterate that I fully acknowledge the frustrations you and others are having. When I said, "They see an odd error and it costs them time to track down," I meant more than solver errors, but also missing symbols/defines, and any other errors (like the one above).

Nobody, including me, is asking you or anyone else to go around and maintain cos6 compa

[2021-11-26 23:48] dopplershift commented on #1436
I've already had to explain to users of a base Anaconda install why only some of their environments work on cos6 (the fully conda-forge ones) and others (the ones pulling from Anaconda) complain about `GLIBC`. So whatever we do, we shouldn't cause breakage to those users, they should just slowly stop seeing updates.

[2021-11-27 00:27] h-vetinari commented on #1436
Thanks for the response @beckermr!

Absolutely, I would never stand in the way of that. In fact, I go out of my way to keep base packages like numpy/scipy on cos6, because having those on cos7 would spread "virally" to a lot of the ecosystem.

My first reflex would be to suggest to default to cos7, but allow feedstocks to opt-in to cos6. However, I realise that this is probably not feasible for th

[2021-11-27 00:47] isuruf commented on #1436
What are your thoughts on option 3 above. With that no more solver issues. Runtime bugs like the numpy issue will not be there. Only compile errors.

[2021-11-27 01:01] h-vetinari commented on #1436
I guess I had not fully appreciated the beauty of this option. If indeed that means we compile with cos6 but test with cos7 in the same CI job, then I'm all for it.

Regarding resolver errors, I'm not sure I understand though - however we "keep the sysroot at cos6" - if a lower bound of a dependency moves up such that only cos7 builds are available anymore, isn't that going to lead to the same cry

[2021-11-27 01:02] beckermr commented on #1542
Sorry for missing this. Let's leave the bit on using mamba locally via `conda mambabuild` but we can remove the rest.

[2021-11-27 23:56] isuruf commented on #1436
Nope.

[2021-11-28 00:08] beckermr commented on #1436
I went to make sure I understand the answer to this question. Cos6 built code is Abi compatible with cos7 but not the other way around. So if a host dependency need for linking is cos7 only, then as long as we are using a cos7 container, we can make the host environment. At compile time, we get the cos6 Abi in the package we build. Then at run/test time, we are again in a cos7 container and so eve

[2021-11-28 00:14] isuruf commented on #1436
Looks correct. Only issue is when we are doing static builds and you'll need a cos7 sysroot for all downstream projects if we are using static libraries.

[2021-11-28 00:21] beckermr commented on #1436
Is there a mutex-like package we should be attaching to static libraries to ensure this happens or at least throws an error? Or given cfeps we have on static libs are we going to declare this to be outside our realm of support?

[2021-11-28 00:23] isuruf commented on #1436
For static libraries, you can add `sysroot_linux-64 2.17` as a `run_constrained`, but this is a very rare case that we don't have to bother with.

[2021-11-28 00:25] beckermr commented on #1436
Ahhhhh yes. Use the sysroot as the mutex itself. We should at least document this as a way to do things even if we don't go around making it happen or actively supporting it.

[2021-11-28 14:18] BastianZim commented on #1542
No worries, PR is in https://github.com/conda-forge/conda-forge.github.io/pull/1566

[2021-11-28 14:32] #1542 closed

[2021-11-29 11:49] chrisburr commented on #1436
There seems to be a consensus so I've (hopefully) implemented "Option 3" in https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/2241/files

[2021-11-29 15:57] BastianZim opened #1567 "DTN image is missing"
The logo of DTN is missing, resulting in an empty spot under the DEVELOPER SUPPORT section at https://conda-forge.org.

The current logo URL does not point to anything: https://github.com/conda-forge/conda-forge.github.io/blob/811ab06a8b11157549e4ac0c0d19fbed3dd8659e/src/inst_partners.yaml#L29

Not sure what image is preferred here which is why I just opened an issue instead of a PR.

[2021-11-30 03:22] jakirkham commented on #1567
Probably the answer is just to drop that line. Eric changed jobs

cc @ericdill (in case you have other thoughts here)

[2021-11-30 03:36] jakirkham commented on #1559
PyNVML is maintained by folks at NVIDIA. Would raise any issues related to it on that repo.

AIUI the other libraries tried to fill gaps that PyNVML wasn't filling at the time. Please see issue ( https://github.com/gpuopenanalytics/pynvml/issues/2 ) for some discussion on this.

Ideally more libraries would move to PyNVML, but that is an issue outside the scope of conda-forge.

[2021-11-30 03:48] jakirkham commented on #1558
Mainly thinking about auto-detection and constraint of OS and hardware features. With the existing virtual packages there are already ways to override these. Presumably that could be done for new ones

The other things (BLAS, MPI, etc.) are up to the user to decide. What alternative would you propose?

[2021-11-30 22:56] h-vetinari commented on #1559
Thanks for the response @jakirkham. Would you know what's the relation of `PyNVML` with `nvidia-ml-py`? The latter is still seeing [regular](https://pypi.org/project/nvidia-ml-py/) updates on PyPI, and it's not clear to me if they are `import`-compatible between each other? That would be a gap in conda-forge.

I don't think we're completely out of options on this, but first I'd like to know whethe

[2021-11-30 22:59] h-vetinari commented on #1558
My point was exactly about exposing these variants to the user, and ideally in a more user-friendly way than pattern-matching build strings. I have nothing against package variants, I think they're a great asset of conda-forge. I just wish we'd have a better UI for it.

[2021-12-01 17:37] jakirkham commented on #928
cc @jaimergp (for reference)

[2021-12-01 17:46] beckermr opened #1568 "ruby `track_feature`"
So we've been incorrectly removing the ruby "rb2X" `track_feature` entries in our repodata patches. These are used to ensure conda does not update ruby since gems depend on the major.minor version.

We have a few options to fix this.

1. Fix the repodata patching.
   - This will fix things for conda, but mamba likely won't interpret the fixed repodata correctly.

2. Move the ruby package to self-p

[2021-12-02 15:09] jose-solorzano opened #1570 "Julia conda-forge package gives segmentation fault"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue: After installing Julia in a conda environment under Ubuntu with conda-forge and trying to add a Julia package, you get a segmentation fault. If you install Julia (same version) in the standard way

[2021-12-02 16:23] croth1 commented on #1570
probably related: https://github.com/conda-forge/julia-feedstock/issues/132

[2021-12-02 18:10] jose-solorzano commented on #1570
Yes, I've seen that too. And the suggested solution seems to work:

[code]

[2021-12-03 06:11] jakirkham commented on #1570
Going to move this to the `julia` feedstock so maintainers there can see this (though it may very well be a dup of another issue as folks have noted above)

[2021-12-03 18:30] #1563 closed

[2021-12-08 13:37] baszalmstra opened #1572 "./Xvfb: error while loading shared libraries: libcrypto.so.10"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue: ./Xvfb: error while loading shared libraries: libcrypto.so.10: cannot open shared object file: No such file or directory

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

[2021-12-10 04:58] h-vetinari commented on #1538
I think this issue has been dealt with by https://github.com/conda-forge/conda-smithy/pull/1552, which is part of the newest conda-smithy 3.15.1

[2021-12-10 05:00] isuruf commented on #1538
Still need to fix staged-recipes.

[2021-12-10 12:51] BastianZim commented on #1538
Fixed

https://github.com/conda-forge/staged-recipes/pull/17236

[2021-12-10 16:25] jakirkham commented on #1538
Thanks all! 😄 Any other items outstanding here?

[2021-12-12 23:53] #1538 closed

[2021-12-15 17:24] carterbox commented on #816
I'm here because some of the meeting links are still broken/incorrect. In my observation:

- Link to Zoom on meeting minutes page of rendered conda-forge is correct.
- Link to Zoom inside meeting minutes on hackmd is not correct.
- Link to Google Calendar in conda-forge.github.io/README is incorrect; the repeat expired in 2019, so it no longer adds future meetings. Also, I think the Zoom meeting i

[2021-12-15 17:58] jakirkham commented on #816
First off apologies that this didn't get communicated well.

We actually canceled this week (and the remainder of the meetings this year). Next meeting will be on the 12th of January.

FWIW the time would have been right had we met. So should be correct for the next scheduled meeting.

[2021-12-16 02:40] jrbourbeau opened #1574 "`Reason: image not found` for macOS packages"
Recently we've seen tests begin to fail on macOS for a few independent project in the Dask ecosystem, all of which are failing with `Reason: image not found`. For example, over in https://github.com/dask/dask/pull/8472 we're getting (see [this CI build](https://github.com/dask/dask/runs/4540096557?check_suite_focus=true)):

[code]

in https://github.com/coiled/dask-bigquery/pull/31 (see [this CI b

[2021-12-16 03:49] jakirkham commented on #1574
Hmm...not really sure. The last `openssl` build was from early November (so ~1.5months ago). The other packages mentioned like `pyarrow` and `tiledb` haven't really seen any relevant changes recently.

Is it possible things are just really out-of-date in the installer or environment used? Have you tried running `conda update --all` to start?

[2021-12-16 23:36] jrbourbeau commented on #1574
I gave `conda update --all` a try and, while it did update some packages, it didn't resolve the `Reason: image not found` error.

Looking at `dask-bigquery` (which has a relatively simple CI setup), I noticed that using [this environment file](https://github.com/coiled/dask-bigquery/blob/c3726943e4b8154744d8fa1c1ef36008a36cefbf/ci/environment-3.9.yaml) which specifies only the `conda-forge` channe

[2021-12-16 23:40] jakirkham commented on #1574
Hmm...missed this bit. Is Distributed not using [strict channel priority]( https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge )? If so, that should be changed (as not using it tends to result in this mismatch of incompatible packages)

[2021-12-16 23:47] jrbourbeau commented on #1574
Distributed is using [this condarc file](https://github.com/dask/distributed/blob/1bbb7f7474e27a434e97427c518f7fdd8e255dd5/continuous_integration/condarc) with strict channel priority, and conda-forge at a higher priority than defaults

[2021-12-17 00:00] jakirkham commented on #1574
Does this reproduce with Conda?

[2021-12-17 00:08] jakirkham commented on #1574
Also is there a reason [this]( https://github.com/dask/distributed/blob/1bbb7f7474e27a434e97427c518f7fdd8e255dd5/continuous_integration/condarc#L4 ) says `true` instead of `strict`?

[2021-12-17 01:58] jrbourbeau commented on #1574
Hmm good catch, I suspect that's an oversight and should be changed to `strict`. That said, `dask-bigquery` is using `strict` already and experiencing the same issue of a few packages being installed from `main`. FWIW it looks like the `conda-incubator/setup-miniconda` action may be where the `defaults` channel is added (xref https://github.com/conda-incubator/setup-miniconda/issues/207)

[2021-12-20 21:15] jsignell commented on #1574
Just to say that dask is encountering similar issues even though channel-priority is strict and tiledb is coming from conda-forge.

[2021-12-20 21:16] jsignell commented on #1574
I thought adding `nodefaults` to the env might help https://github.com/dask/dask/pull/8505

[2021-12-21 14:54] jsignell opened #1575 "Setuptools version ceilings?"
After the release of setuptools 60.0.3 yesterday, all the Python 3.7 and 3.8 tests started failing on Dask. This is because the versions of pandas and numpy in those envs hadn't yet moved to using `packaging.version`. This is the error:

[code]

It feels like this could be fixed on the conda-forge side, but I think the correct fix would be to update all the old recipes for all packages and explici

[2021-12-21 15:13] isuruf commented on #1575
You can hotfix the package dependencies. See for eg: https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/blob/master/recipe/gen_patch_json.py#L990-L996

PRs welcome.

[2021-12-21 15:19] jsignell commented on #1575
Whoa! So that affects all packages?

[2021-12-22 15:31] msarahan commented on #1537
For reference, I added a recipe that had this issue: https://github.com/conda-forge/staged-recipes/pull/17315

I just omitted the compiler for MacOS, based on @isuruf's advice above. It seems to have worked fine.

[2021-12-22 17:43] ngam commented on #1537
@h-vetinari are you (or are you aware of anyone who's) working on the `tensorflow-metal` for conda-forge? I was enthusiastically in support earlier, but having seen the the difficulty with building tensorflow and pytorch (and their random offshoots) in their respective feedstocks, I think we might want to wait for more support to surface (e.g. the pytorch one) before doing spending much time on th

[2021-12-27 08:38] haorenfsa opened #1577 "Pytorch package in conda-forge channel support win-64"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

I find that the conda-forge provides pytorch package, which is copied from `cf-staging / pytorch`, but not supports win-64. And The official channel `pytorch / pytorch ` already supports. Can you

[2021-12-27 08:48] traversaro commented on #1539
Another related PR that changes the package to avoid using `$HOME`: https://github.com/conda-forge/julia-feedstock/pull/157#issuecomment-1001229497

[2021-12-27 08:53] isuruf commented on #1577
Duplicate of https://github.com/conda-forge/pytorch-cpu-feedstock/issues/32

[2021-12-27 08:53] #1577 closed

[2021-12-31 01:08] h-vetinari commented on #1551
Now cvxpy on aarch is failing [broadly](https://github.com/conda-forge/cvxpy-feedstock/pull/67#issuecomment-1003230358) due to this. I'm disabling the aarch tests there. Comments or inputs welcome.

[2022-01-01 08:46] h-vetinari commented on #1551
Actually, I had already raised an [issue](https://github.com/conda-forge/cvxpy-feedstock/issues/62) for this at the time... There's also a bit of discussion in https://github.com/conda-forge/cvxopt-feedstock/issues/55.

[2022-01-04 21:10] jakirkham commented on #1575
Have issues been raised with those projects (NumPy, Pandas, etc.) to make the needed fixes?

[2022-01-05 00:28] jakirkham commented on #1575
cc @rgommers @jreback (for awareness)

[2022-01-05 08:03] jakirkham commented on #1538
JFYI saw this message pop up on Azure recently

[2022-01-05 09:35] BastianZim commented on #1538
Do you remember where? Through smithy and staged-recipes at least everything touching recipes should be updated.

[2022-01-05 09:42] jakirkham commented on #1538
A feedstock still needing a re-render 😂

Not seeing it after the re-render. So should be limited to feedstocks still needing a re-render. Still good to keep in mind in case others show up with an issue during that window (as a re-render should fix the issue) 🙂

[2022-01-05 09:50] BastianZim commented on #1538
That would make sense. 😂

Maybe we can add pinned issue here until this is over? Just so that it’s easier to find.

[2022-01-05 19:32] rgommers commented on #1575
We know, our CI started failing so it's fixed in `main`. However, it is a deprecation warning from another project, so not really a reason to go do a new bug fix release. `setuptools` 60.0 broke a _ton_ of things. And will continue to do so. I think it'd be wise to pin to `setuptools<60.0` in conda-forge globally.

[2022-01-05 19:58] jakirkham commented on #1575
AIUI the Dask failure mentioned above is because Dask's CI turns all warnings into error. Sounds like NumPy was in a similar situation (please feel free to correct me if I'm missing something). Idk if Pandas has seen this yet (though turning warnings to errors would like to demonstrate the issue).

That said, it is not entirely clear to me based on this particular issue that conda-forge should be

[2022-01-05 21:11] rgommers commented on #1575
They re-enabled their vendored copy of `distutils` in 60.0, with a significant amount of backwards incompatible changes. NumPy and SciPy CI broke in multiple places, and we've pinned to <60.0 versions everywhere. We're unlikely to ever upgrade to >=60.0. Scikit-learn has pinned to <60.0 as well in its `pyproject.toml` now. I'm sure many other projects have.

It's easy to miss in `environment.yml`

[2022-01-05 21:51] jakirkham commented on #1575
Thought @conda-forge/core ?

[2022-01-05 22:20] beckermr commented on #1575
I am against a global pin right now.

We have ~14k feedstocks and I see a mention of maybe ~5-10 on this thread. I am well aware of how significant these projects are in our community though. I also understand how disruptive the setuptools API changes are, especially for tolling this low in the stack.

However, a global pin is using the equivalent of a wrecking ball when a hammer will suffice. As

[2022-01-05 22:23] beckermr commented on #1575
Given the pin <60, we may need to add an ABI migrations branch to the setuptools feedstock that has the latest version below 60. This will ensure our bot continues to update this version as it puts out pinning changes.

[2022-01-05 22:24] beckermr commented on #1575
If they ever split off and/or break pkg_resources, then we'll need to really do some work. Right now many projects depend on setuptools at run-time so they can use the pkg_resources module.

[2022-01-06 00:25] jakirkham commented on #1575
Generally agree Matt.

Yeah understand that. Also there may be some packages that require a new version of `setuptools` as they need new features, bug fixes, etc. So we probably need to remain flexible at a global scale.

That seems reasonable. Though I think that will just be for new Python versions (or variants). Setuptools doesn't link to anything and has few dependencies itself.

IIUC the goal

[2022-01-06 09:38] jaimergp commented on #1575
`pkg_resources` failed to find some entry points in a colab installation while `importlib_metadata` succeeded, for example. `setuptools` docs recommend moving away from it so I'm +1 here, more warnings and errors can be expected in the future...

[2022-01-06 11:15] beckermr commented on #1575
We should add a hint to smithy about this.

[2022-01-06 16:11] jakirkham commented on #1575
What hint do you have in mind?

[2022-01-06 16:14] beckermr commented on #1575
Ack I wrote that comment too fast. We can't hint on upstream sources.

[2022-01-06 16:24] jakirkham commented on #1575
True. Suppose we could hint for `setuptools` in `run`. Though agree this ultimately comes down to upstream making changes.

[2022-01-06 16:28] jaimergp commented on #1575
Have we ever thought about linting/hinting on the test results? We could check the contents of the solved test environment, in that case. I think `conda-build` would need to output both the normal stdout _and_ the JSON object, which right now is not possible iirc.

[2022-01-06 16:28] jaimergp commented on #1575
(conda plugins would be sooo useful here)

[2022-01-06 16:30] beckermr commented on #1575
The linter runs in our heroku server. Conda build is run in azure etc. So we'd need a secure way to report statuses back to github without putting keys into public forks etc. I think this is just too hard right now.

[2022-01-07 18:39] jakirkham opened #1581 "[DOC] Explain how to handle a ABI/API breakage of a package"
Currently when a package breaks, there are a few steps people need to go through. Roughly they are:

* Rebuild the package with corrected `run_exports` (build number bump)
* Hot-fix repodata of previous package to apply the right `run_exports`
* Hot-fix the repodata of dependencies to include corrected pinnings for the package

There may be other things here I'm forgetting (feel free to just edit

[2022-01-09 16:39] ihnorton commented on #861
In case anyone else finds this issue while trying to do a [pre-release](https://conda-forge.org/docs/maintainer/knowledge_base.html?highlight=channel_targets#creating-a-pre-release-build), here are a few misc issues I encountered; passing along in case it helps someone else.

- if doing a local build of some package with an RC dependency already built on a feedstock, make sure there are NO LOCAL B

[2022-01-12 20:40] xhochy opened #1582 "Packaging haskell libraries"
- https://github.com/conda-forge/ghc-feedstock/pull/24

With the above PR, we can now build GHC in such a way that we can compile Haskell programs for all conda-forge platforms except Windows. This would allow us to ship any haskell based binary in conda-forge instead of repackaging a third-party build. There still needs to be some discussion/work on:

- [ ] Write a grayskull(-like) plugin that ca

[2022-01-12 20:41] xhochy commented on #1582
My personal preferences are:

- Use dynamic linkage. This doesn't seem to cause performance issue and even Arch Linux can live with that.
- Prefix libraries with `libghc-*`
- Create a new `@conda-forge/haskell` team for the package maintenance.

[2022-01-15 02:54] #1575 closed

[2022-01-19 18:07] tdegeus opened #1584 "Cross-compile `perl` modules"
I have a `perl` module that is compiled, and thus platform specific :

https://github.com/conda-forge/perl-unicode-linebreak-feedstock

How can I compile it on macOS ARM ?

[2022-01-20 07:09] jakirkham commented on #1584
cc @conda-forge/core (in case anyone has thoughts here 🙂)

[2022-01-20 07:10] jakirkham commented on #1582
How do other packaging ecosystems handle Haskell packages?

[2022-01-20 09:24] wolfv commented on #1584
I wonder if this could help? https://arsv.github.io/perl-cross/index.html

Although I have to admit that I don't have the slightest clue about Perl.

[2022-01-20 09:41] tdegeus commented on #1584
A challenge is the most perl packages use [`ExtUtils::MakeMaker`](https://perldoc.perl.org/5.12.2/ExtUtils::MakeMaker) to generate makefiles.

[2022-01-20 14:59] beckermr opened #1586 "build and process `.conda` artifacts"
This issue is to track to-do items for building and handling `.conda` artifacts.

to dos:
 - [x] adjust repodata patching (https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/issues/215)
 - [x] adjust instances where `.tar.bz2` is assumed to be at the tail end of packages
   - [x] artifact validation (https://github.com/conda-forge/artifact-validation/pull/790)
   - [x] webservic

[2022-01-22 18:47] awvwgk opened #1589 "[DOC] Document blas-devel and associated pkg-config files"
Document `blas-devel` for getting access to `blas.pc` and `lapack.pc` pkg-config files.

See https://github.com/conda-forge/blas-feedstock/issues/84

[2022-01-26 22:15] ngam opened #1591 "policy on copying conda-forge's "products""
There is this [copy mechanism](https://docs.anaconda.com/anaconda-repository/user-guide/tasks/pkgs/copy-pkg/) where one could copy a selection of conda-forge's packages into another channel for whatever reason.

Someone may do this to conduct additional testing to ensure said packages work together in a certain fashion they so desire. Someone else may do this as part of a product of some sort, e.g

[2022-01-27 17:59] ngam commented on #1591
Some links to related discussions and comments:

[2022-01-31 15:15] BastianZim commented on #1591
Re 1: My understanding is that the package is under its license and the feedstock under `BSD-3-Clause` as outlined in the readme (Example: https://github.com/conda-forge/aiofile-feedstock#about-aiofile)

Re 2: Because of the [global pinning](https://conda-forge.org/docs/maintainer/pinning_deps.html), there should be no conflicts (In theory). Of course, this doesn't always apply in the real world.

[2022-01-31 15:21] ngam commented on #1591
Thanks! This makes perfect sense; but if so, shouldn't this license be packaged as part of the artifact (tar.bz2) as well? When you copy the artifact using the copying mechanism, it's not going to be straightforward to retrieve/know the license (or maybe it is, idk)

[2022-01-31 15:33] ngam commented on #1591
You mean the **artifact is under the license of the package** itself (upstream) while the feedstock is under BSD-3-Clause, right? This makes sense, but maybe it needs further clarification vis-a-vis copying.

[2022-01-31 16:09] BastianZim commented on #1591
Yes. Copying stuff should be under the license of whatever it is copied from (Anaconda.org here) but tbh, this is just my first take – might be that more is involved.

[2022-02-01 03:21] phil-blain commented on #1529
See also https://github.com/conda-forge/conda-smithy/issues/1569 though

[2022-02-01 04:30] phil-blain commented on #1529
Note that the `--debug` flag of build-locally.py sets the `BUILD_WITH_CONDA_DEBUG` variable itself, so this here issue seems to be moot. Or rather, it would be nice to mention `--debug` rather than the variable in the doc for `build-locally.py` linked above.

[2022-02-01 15:11] BastianZim commented on #1567
Anything specific this should be replaced with?

CC @ericdill

[2022-02-01 20:16] jakirkham commented on #1567
IIUC Voltron Data. Idk if there is a specific image we should use here.

cc @kkraus14 (in case you have thoughts 🙂)

[2022-02-01 20:33] kkraus14 commented on #1567
I asked internally and will report back. Thanks @jakirkham

[2022-02-02 05:31] metab0t opened #1597 "File conflict between openmp 5.0 and intel-openmp"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

I recently find the file conflict of `openmp 5.0.0` and `intel-openmp`
[code]
They both contain `libiomp5md.dll` and this file will be overwritten by the latest installed package without warning.
It causes DLL load error on

[2022-02-02 13:45] zklaus commented on #1597
openmp-5.0.0 is almost 4 years old; the current version is 8.0.1. On the face of it, it doesn't seem surprising that two different implementations of the same api are colliding.

What is the actual problem that you are encountering? In other words, what circumstances lead to these two packages being installed in the same environment?

[2022-02-02 14:09] metab0t commented on #1597
The following package depends on `libflang` 5.0.0
- scip-8.0.0-h6aab56e_0
- ipopt-3.14.4-hf6be2e5_0
- casadi-3.5.5-py39h654df56_7

`libflang` 5.0.0 depends on `openmp` 5.0.0.

`pytorch` depends on `intel-openmp`.

If I install `ipopt` and `pytorch` in the same environment, `libiomp5md.dll` will conflict.

[2022-02-02 19:52] zklaus commented on #1597
Hm. The two packages `scip` and `casadi` depend on `flang` only via `ipopt`, as far as I can see, so let's focus on that and see where we can get.

Looking around a bit further, I think you just accidentally stepped into a right royal mess. This is, by and large, because the fortran compiler flang used to be outside of llvm, but now there is a new (different) flang inside of llvm, but that one isn

[2022-02-03 04:18] metab0t commented on #1597
Can conda forge packages compiled by Intel fortran or gfortran on Windows? Flang 5.0.0 is quite old.

[2022-02-03 17:26] metab0t commented on #1597
I find that `libiomp5md.dll` from `llvm-openmp` 12.0.1 is still incompatible with the one provided by `intel-openmp`, so upgrading flang will not solve this problem.
Two URLs:
- https://conda.anaconda.org/conda-forge/win-64/intel-openmp-2022.0.0-h57928b3_3663.tar.bz2
- https://conda.anaconda.org/conda-forge/win-64/llvm-openmp-12.0.1-h2d74725_1.tar.bz2

I think it is a serious problem because `mkl`

[2022-02-03 21:14] #1567 closed

[2022-02-04 10:20] h-vetinari commented on #1597
Haven't read through the discussion in all detail, but the following is probably relevant: https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/1359

[2022-02-04 10:23] h-vetinari commented on #1528
This is still relevant I believe; I [commented](https://github.com/conda-forge/cryptography-feedstock/pull/80) on the cryptography feedstock a while ago:

[2022-02-04 12:45] h-vetinari commented on #1597
Sorry I overlooked that you had already mentioned this.

[2022-02-04 12:53] h-vetinari commented on #1597
@conda-forge/openmp @conda-forge/intel_repack
The split between llvm-openmp & intel-openmp on windows is getting more and more painful. For example, it's currently leading to pytorch (depending on intel-openmp) being broken by pillow adding a new dependency (libimagequant, which depends on llvm-openmp)

[2022-02-04 12:57] isuruf commented on #1597
PRs are always welcome to add windows builds to pytorch.

[2022-02-04 13:06] h-vetinari commented on #1597
Of course**. But isn't the underlying issue here that conda-forge's `mkl` [depends](https://github.com/conda-forge/intel_repack-feedstock/blob/master/recipe/meta.yaml#L91-L106) on intel-openmp?

** took this as an opportunity to pick up the discussion about the special ops queue again.

[2022-02-04 13:54] isuruf commented on #1597
That's because of pytorch. If we have a pytorch windows build, then we can make mkl depend on llvm-openmp.
pytorch upstream seems to be linking to the vcomp interface in libiomp5md.dll which is not present in llvm-openmp, but we can avoid that if we have a build on windows.

[2022-02-05 16:05] paugier commented on #147
For those interested, here are the doc on pre-release builds: https://conda-forge.org/docs/maintainer/knowledge_base.html#pre-release-builds

[2022-02-08 05:44] ngam opened #1603 ""getting started" documentation"
### Where should the content be added?

https://conda-forge.org/docs/user/introduction.html

### What should be added?

More thorough details about getting started, including .yaml file format, conda-lock stuff, general introductory remarks about the philosophy of conda-forge, differences between `conda activate env_x; conda update --all` and `conda env update -f env_x.yaml`, the interaction betwe

[2022-02-09 00:03] h-vetinari opened #1604 "Azure pipelines failing with "no hosted parallelism purchased or granted""
Something's up with azure pipelines at the moment. All jobs are failing instantly with
[code]

Examples: [scipy](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=456025&view=logs&jobId=5be07ae1-d8ba-5406-47b6-8e3a3a12f825), [sentencepiece](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=456024&view=logs&j=516f237f-98f1-50a4-0946-c43fe5437b81)

CC

[2022-02-09 01:34] fatihkurtoglu commented on #1604
Having the same issue over here: https://github.com/conda-forge/scaleapi-feedstock/pull/10

[2022-02-09 01:35] beckermr commented on #1604
Thanks. I've updated the status page. Let's centralize the details there.

[2022-02-09 03:16] h-vetinari commented on #1604
Absolutely, I just didn't want to be the one who writes the official status message. 🙃

[2022-02-09 11:20] hodgestar commented on #1604
Seeing the same issue at https://github.com/conda-forge/qutip-feedstock/pull/74.

[2022-02-09 19:05] juarezr commented on #1604
Same at: conda-forge/petl-feedstock/#29

[2022-02-09 19:48] moorepants commented on #1174
I just noticed this PR that should address this: https://github.com/conda-forge/conda-forge.github.io/pull/1540

[2022-02-09 20:10] carterbox commented on #928
I updated @xhochy's recipe to use the VS build tools installer. This installer allows you to provide a config file, so you know exactly what tools are being installed.

[code]

.vsconfig-2017
[code]

This one is 7GB larger for a total of 15GB! It includes additional things such as Windows CMake tools and the Windows 10 SDK, but I believe these things are necessary for CMake to function correctly.

[2022-02-10 00:05] bashtage commented on #1604
Same at conda-forge/statsmodels-feedstock#51

[2022-02-10 00:11] h-vetinari commented on #1604
Maybe asking differently: are there _any_ known conda-forge feedstocks where azure is still running? My impression is that it's all down currently...

[2022-02-10 07:21] adam-urbanczyk commented on #1604
Similar issue in an unrelated project using conda build. Did MS abuse detection mechanisms start to classify conda build as abusive all of the sudden? Does anyone here have better communication channels with MS than the form they link to in the error?

NB: according to this post this should not happen to existing projects https://devblogs.microsoft.com/devops/change-in-azure-pipelines-grant-for-pr

[2022-02-10 12:18] h-vetinari commented on #1604
First successful job restarts happening for me. 💪

Hope it lasts 🤞

If so, thanks to everyone involved in fixing this!

[2022-02-10 22:46] beckermr commented on #1604
Closing this as it seems resolved. Please reopen or comment if you notice any issues!

[2022-02-10 22:46] #1604 closed

[2022-02-11 06:36] #1591 closed

[2022-02-12 23:07] jakirkham opened #1608 "Providing user's license choice"
### Your question:

We have discussed in a few places over the years how to handle user's preferences on licenses in their installed environment. Though we often lacked the tooling and sophistication as an ecosystem to handle this. However I think this has changed recently and would like to present a proposal for discussion about how we might do this.

Now that we make heavy usage of SPDX, one way

[2022-02-12 23:20] hmaarrfk commented on #1608
One challenge i see is with applications like git (GPL) that might need to be installed at the same time as a package that users don't want GPL in their own library, but want to call it from a shell.

It would be good to specify that a certain application tree can be "gpl" but an other application tree should be not-gpl within a same environment.

However, I totally understrand how complicated tha

[2022-02-12 23:31] jakirkham commented on #1608
Conda does allow [environment stacking]( https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#nested-activation ). Maybe this is one way to go about this?

[2022-02-12 23:50] h-vetinari commented on #1608
The general approach seems surprisingly straightforward (didn't know about `disallowed_packages`), 👍

Still, I'd advocate for minimum viable complexity here.

Where do the `license_families` come in in your proposal? A distinction like `_license_GPL-2.0-or-later` would already be more granular than the license family. On the other hand, there are many custom licenses that fall under the BSD-family

[2022-02-12 23:53] h-vetinari commented on #209
John wrote up a proposal that would be able to deal with this: https://github.com/conda-forge/conda-forge.github.io/issues/1608

[2022-02-13 00:10] jakirkham commented on #1608
Sorry `license_family` is a bit of a distraction. Was just trying to point out we already do hot-fixing with `license` as input to that process (the output being setting the `license_family` field). This would just be a different output in that hot-fixing process. Anyways agree just using `license` should be sufficient

Yeah we do have a few cases of custom licenses like this in conda-forge. Would

[2022-02-13 01:49] jakirkham commented on #1608
So I tried a little experiment. It seems `disallowed_packages` is not quite as built-out as we might hope. Should add both Conda and Mamba behave the same.

Anyways made the following change to `~/.condarc`

[code]

Then tried to install `ipython` (note `readline` is a dependency of `python`):

<details>

[code]

</details>

In short the message is clear, but `disallowed_packages` is not considere

[2022-02-13 04:31] jakirkham commented on #1574
Is this issue still active?

[2022-02-13 04:45] hmaarrfk commented on #1608
An other important package for the ecosystem is `ffmpeg` many python programs do call it from the command line. Do you suggest they used stacked environments too?

[2022-02-13 04:45] hmaarrfk commented on #1608
I'm just trying to get a handle on a full workflow.

[2022-02-13 05:00] jakirkham commented on #1608
Maybe? Really just thinking through options here.

If the usage model is a user has a collection of things that are CLI only, maybe putting them in another environment that gets stacked on top of is reasonable.

One advantage of this is one can easily separate out the CLI only bits when building new stuff to avoid accidental linking of libraries from there.

[2022-02-13 20:06] isuruf commented on #1162
Is there an example feedstock where this is done so that we can have a look before starting this?

[2022-02-13 20:22] isuruf commented on #1162
What's the difference between tooling branch and default branch? Don't see any docs on https://conda-forge.org/docs/maintainer/conda_forge_yml.html#github

[2022-02-13 20:39] beckermr commented on #1162
Yes sorry. I did not add docs yet.

tooling branch is the branch used for github actions and references to the ci-setup feedstock.

the default branch is the one used for setting up github when smithy is run initially etc.

[2022-02-13 21:23] beckermr commented on #1162
text for later

[code]

[2022-02-13 21:26] beckermr commented on #1162
I migrated the test feedstock here: https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock/pull/390

[2022-02-13 21:26] beckermr commented on #1162
To get the readme full updated, we'd have to rerender. However, the master links should forward.

[2022-02-14 14:33] beckermr commented on #1162
@isuruf any more comments here or shall we go ahead with one of the options above?

[2022-02-14 15:42] jsignell commented on #1574
Well it seems to have stopped. I did add `nodefaults` and that seemed to make things better, so I guess we can close and just reopen if it comes up again.

[2022-02-15 00:03] guzman-raphael commented on #1604
@beckermr Could be mistaken but I believe this is still an issue for us. Would you mind taking a look to see if there is anything we are missing? I checked on Azure Pipelines logs and the error reads:

[code]

[2022-02-15 00:49] jakirkham commented on #1604
@guzman-raphael, the build there is from 5 days ago (around the time the issue was present). Restarting CI should fix it (though please let us know if not). Asked for CI to restart here ( https://github.com/conda-forge/datajoint-feedstock/pull/23#issuecomment-1039728594 )

[2022-02-15 01:53] #1603 closed

[2022-02-15 02:00] jakirkham commented on #1603
Sorry @ngam was there some reason this was closed?

[2022-02-15 02:05] jakirkham opened #1611 "Better anchoring of announcements"
### Where should the content be added?

Announcements

### What should be added?

Currently when clicking on a specific year to get an anchor, the link given is  `id1` or similar. However these anchors will become outdated as each year passes and the links will then point to the wrong year.

Specific announcement themselves don't include anchors, so one is currently unable to link to a specific an

[2022-02-15 02:24] jakirkham commented on #1574
Sounds good. Thanks Julia! 😄

[2022-02-15 02:24] #1574 closed

[2022-02-15 03:05] ngam commented on #1603
Nothing in particular --- things change/evolve and this may be untimely

[2022-02-15 11:54] wolfv commented on #1100
closed as we have RoboStack these days: https://github.com/robostack/

[2022-02-15 11:54] #1100 closed

[2022-02-15 12:09] wolfv opened #1612 "Support `boa` recipe format"
### Your question:

I would like to start a discussion to see if we can support the new recipe format of `boa` and use it directly for builds. We've been using `boa` in the RoboStack project quite successfully for a while now and I think it would be nice to (optionally!) support the new recipe format in conda-forge as well.

I am listing a couple of points that we'll need to fix & improve in the b

[2022-02-15 13:51] hmaarrfk commented on #1612
Can you remind us of the key advantage of boa recipe formats?

[2022-02-15 18:28] beckermr commented on #1612
A few thoughts:

1. contemplating the needed bot changes makes my head hurt a bit.
2. I'd rather handle 1 once we have a spec recognized by the community as a whole.

Maybe the next step here is to get agreement on the new spec on the conda community calls (maybe a CEP) and then move on from there?

[2022-02-15 18:34] jezdez commented on #1612
This sounds exciting generally speaking, the docs linked by Jaime above are really worth reading and make a ton of sense to me. Especially since you've already gained experience with the format in robostack, it seems as if cross-community adoption would be achievable via the CEP format. +1 on submitting this there.

[2022-02-15 18:39] wolfv commented on #1612
Well the way this started out was with an attempt to make a spec with lots of community input: https://hackmd.io/axI1tQdwQB2pTJKt5XdY5w

Unfortunately besides myself not many people have invested more time into this :) I would hope that changes once we make some additional inroads in conda-forge (and once you try it I don't think you want to go back, except for complicated recipes).

We have a spe

[2022-02-16 04:42] jakirkham commented on #1612
It might be worth picking a few recipes in conda-forge and opening draft PRs showing what kind of changes would occur. Maybe with recipes of increasing complexity or based on key recipe traits? This would hopefully help people wrap their heads around what is involved

Does `boa` have something similar to `conda render` (at least in terms of API)? This would be needed for conda-smithy to re-render

[2022-02-16 05:44] wolfv commented on #1612
@jakirkham excellent idea! I just started with my all time favorite recipe of `xtensor` which is pretty simple: https://github.com/conda-forge/xtensor-feedstock/pull/152/files

As you can see the changes are fairly minimal. After that, the file is instantly parseable with a YAML parser which makes a lot of things simpler -- for example, if we ever switch to a new recipe spec, we can just translate

[2022-02-16 07:05] wolfv commented on #1612
@beckermr

I've started looking a bit into the required interfaces in `conda-smithy` and I think it might not be too bad -- we're anyways "duck-typing" the same `conda_build.Metadata` object to pass it into `conda-build` at certain stages so that it can take care of the postprocessing, and we use conda_build to load the `conda_build_config.yaml` file.

[2022-02-16 12:49] wolfv commented on #1612
Actually, it turned out to be not that many changes necessary to get an initial version of conda-smithy to work & recognize `boa` recipes since we already duck-type the `Metadata` class: https://github.com/conda-forge/conda-smithy/pull/1583

The xtensor feedstock just started building with `boa` (obv. a bit hacky) and one interesting thing we need to fix in boa is to consider even variables used i

[2022-02-16 15:05] beckermr commented on #1612
I suspect the bot will need more extensive changes due to how it handles the recipes in fairly adhoc ways.

[2022-02-16 19:18] wolfv commented on #1612
On the bright side all that should be much simpler since we don't need to wrestle so much jinja :) I'll take a stab at it at some point soon.

[2022-02-16 19:52] marcelotrevisani commented on #1612
the only thing I would recommend is to have like a key value pair to explicit mention that is a "new version"
maybe something like
``recipe_version: 2`` or ``mamba_recipe: 1``
that would help when we need to pragmatically read and manipulate the recipe, and also to track new features and things that might be added to the new recipe, something similar we can find in docker files and such

[2022-02-16 19:59] wolfv commented on #1612
Yes, I agree about the versioning. Could be very useful to have. Right now, the obvious differentiator is the file name which makes it easy to spot but in order to future proof it would be good to version (although we could again do it via filename, like `recipe.v2.yaml` etc.). Not sure what people will find less annoying. Maybe just a regular yaml key will be fine.

Support in `souschef` would be

[2022-02-16 20:46] jakirkham commented on #1612
Yeah a top-level key with the version seems useful from a parsing standpoint.

[2022-02-16 20:59] beckermr commented on #1612
Right. When this gets submitted as a CEP I suspect we'll version it there. Having a standard will make it easier to code interoperable tools like souschef, the bot, etc.

[2022-02-17 09:18] wolfv commented on #1612
I think we should have _at least_ a toplevel key with the recipe version for the rendered recipe in the final package (for reproducibility), maybe even throw the `boa` & `conda-build` version in there :)

I am starting by writing additional documentation for the current recipe spec. I'll try to figure out wrt to CEP / CFEP on how to proceed. Not sure if CEP is the right place (since this is not ex

[2022-02-17 09:18] wolfv commented on #1612
PS: if people have / find issues with the current implementation or spec, you can always file issues on the boa repo. I'd love it if people give it a try!

[2022-02-17 09:31] jaimergp commented on #1612
Is there a "reverse" translator? `recipe.yaml` to `meta.yaml`? So `conda-build` can ingest this new format even without modifications; sort of a "legacy" mode.

[2022-02-17 09:35] wolfv commented on #1612
That would be simple to write! Just need to shuffle a couple of keys around and translate

[code]

to `{% set version = "1.2.3" %}` etc

[2022-02-17 09:38] wolfv commented on #1612
Ah, and translate dictionaries with `sel(win): ...` to `...  # [win]` etc.

[2022-02-17 10:24] dhirschfeld commented on #1612
As a user who's just starting out with `boa` I'm excited to see this as I've found it to be very quick for building my packages! If it can be opt-in alongside the current `meta.yaml` that would make for a smooth transition.

I find the way multiple outputs are handled to be more intuitive and being machine-parsable is a big plus for some of our workflows (I'm only learning about `souschef` now! 🤦)

[2022-02-17 10:49] BastianZim commented on #1612
Just my two cents as a maintainer in the ecosystem as well:

I would love to have the new recipe as it would make a couple of things much simpler when creating packages:

1. I like the way it handles _Preprocessing selectors_ as that makes generating them easier and updating them too. Especially interesting with https://github.com/conda/ceps/pull/9
2. The _Build time features_ would be **awesome**

[2022-02-17 12:06] wolfv commented on #1612
Thanks for all the input! I think we might want to take a two-tiered approach here :)

1. Get support for a conservative new-style recipe in conda-forge. This would basically be only parts that directly translate to and from `meta.yaml` and no "additional" features. Once we introduce optional dependencies we might have to adjust the bot in more difficult ways etc. The same goes for build-time feat

[2022-02-17 12:20] BastianZim commented on #1608
Two cents from someone in a corporate environment and maintainer.

Big +1 from my side as this approach doesn't seem to require any involvement from a maintainer or user side if you don't use it which means that this can be rolled out silently and with full backward compatibility.

Regarding the solver error etc: Since using this will require active participation from the corporations using this (

[2022-02-17 12:42] beckermr commented on #1612
I think a CEP is the right place. The conda community org covers both conda and conda build. Even if conda build doesn't implement the standard right away, having an accepted standard ensures that the community as a whole is on solid footing. It also allows others to build their own tools against the standard should they want to.

[2022-02-17 19:19] jakirkham commented on #1608
Thanks Bastian! 😄 It's helpful to have that perspective from companies looking for this feature.

Glad to hear this is still useful even with some unfinished edges. Admittedly those could be finished with a bit of effort as it is deemed important.

Good point on providing `license` and `license_family` as options. Maybe the latter can be named `_license_family_*`?

Yeah there is probably a way to

[2022-02-17 19:19] jakirkham commented on #1608
cc @conda-forge/core (in case others have thoughts on this 🙂)

[2022-02-17 19:26] BastianZim commented on #1608
+1 Would probably make the most sense.

Also linking this gitter discussion from today as it seems like there is a real use case for a package that can provide licenses: https://gitter.im/conda-forge/conda-forge.github.io?at=620e828a6e4c1e1c846ccd54 Should also be easy to implement, the only thing to check is the license of the license-shorthands but that seems to be [CC0-1.0](https://github.com/s

[2022-02-17 23:37] hmaarrfk commented on #1608
I don't think of this as much as an assurance, but more of giving people a tool to follow their interpretation of the different copyright stuff.

Things labeled as BSD but have non commercial clauses should not be labelled BSD....

TBH It gives people with full time jobs more justification to maintain packages beyond those strictly necessary on conda forge.

[2022-02-18 00:26] beckermr commented on #1608
Of course they shouldn't be. That's not the issue. The issue is that we have 15k feedstocks with even more outputs and we cannot promise that things are correct.

[2022-02-18 00:56] dopplershift commented on #1608
I agree with @ocefpaf that there is utility in having the functionality, even if it's not perfect--but important to have the disclaimer that we make no guarantees to the accuracy for legal purposes.

Another fun corner case would be ones with dual licensing of both the AND and OR variety.

[2022-02-18 01:09] jakirkham commented on #1608
I want to make sure this point doesn't get lost in the (justifiable) skepticism of us pulling this off. The goal here is to make it easier for other participants to get involved in the ecosystem. This ability to constrain licensing seems to be one of the obstacles and it has come up in discussions with others before ( for example https://github.com/conda-forge/conda-forge.github.io/issues/209 ).

[2022-02-18 09:53] BastianZim commented on #1608
One other thing from my side about the validity.

I don't think (or hope) that anyone would take the license information supplied by CF as legal advice so I don't see a risk there. But a prominent disclaimer would probably be beneficial just in case someone decides to blame CF (IANAL though).

What this would make easier though is the "preselection" of packages.

For example: If I want to install

[2022-02-18 10:10] ocefpaf commented on #1608
Indeed. It is a first filter that will help users.

That is the main issue IMO. We cannot hope, we need to be sure that won't happen and protect ourselves. A disclaimer is probably enough though, but I'm also no a lawyer.

[2022-02-20 19:25] swails commented on #1608
The packages that I've spot-checked seem pretty accurate in their reported licenses (not many, admittedly, and at that focus primarily on popular, common projects).  I suspect that the majority of downloads correspond to accurate metadata wrt licenses (if only because the majority of downloads target a correspondingly small number of packages that are well-known, widely used, and therefore more ca

[2022-02-23 18:18] hmaarrfk opened #1616 "Drop Python 3.7 support"
### Your question:

In accordance to the suggestions made in nep29, some packages have started dropping support for python 3.7.

https://numpy.org/neps/nep-0029-deprecation_policy.html#drop-schedule

Given that Python 3.10 is rolling out, it seems like it would make sense to stop generating packages for python 3.7 by default to limit the size of the build matrix and to encourage the open source co

[2022-02-23 18:39] dopplershift commented on #1616
I'm actually fine with doing it and have no stake since my projects have dropped 3.7. Having said that

I'm not a fan of this line of reasoning and IMO it's not conda-forge's place to be pushing people along the upgrade path.

[2022-02-23 19:51] beckermr commented on #1306
closing so we can move on to 2022

[2022-02-23 19:51] #1306 closed

[2022-02-23 19:53] jakirkham commented on #1616
Typically we have only dropped Python versions when adding a new one. Usually this has happened when the older version was nearing or reaching EOL.

While the Scientific Python/PyData ecosystem is an important use case for conda-forge and its users, they are not the only users. So am somewhat reluctant to adopt a policy from some users and applying them to all users.

[2022-02-23 20:22] hmaarrfk commented on #1616
Understood. I can simply drop support on the packages that start to drop them.

[2022-02-23 20:26] jakirkham commented on #1616
Yeah that we can always do :)

[2022-02-23 21:03] hmaarrfk commented on #1616
Followup question.

For upstream packages that are dropping python 3.7, what should we do about pypy? pypy is "3.7" with more bells and whistles.

[2022-02-23 22:42] jakirkham commented on #1616
Short term: If Python 3.7 is dropped, then that would mean all Python builds that are 3.7 based would be dropped. Not sure there is much we can do about that if Python 3.7 is no longer supported in a release. If we want to maintain some kind of support, we could add a branch for the last release that still supports Python 3.7 and maintain that (though this can be done as needed).

Medium term: The

[2022-02-23 23:29] #1616 closed

[2022-02-23 23:29] hmaarrfk commented on #1616
thank you

[2022-02-24 20:25] kathatherine commented on #889
@beckermr This able to be closed? I don't have permissions myself.

[2022-02-24 20:36] beckermr commented on #889
thank you!

[2022-02-24 20:36] #889 closed

[2022-03-03 10:28] chicken-biryani opened #1618 "About dev meeting."
### Your question:

Hello,

The dev meetings given in the README seemed like a good way to get involved with the community.

However, the [link](https://calendar.google.com/calendar/u/0/r/eventedit/copy/Z2lraDk2a205cGUxdDkxYmNybXQxMGIxMGtfMjAxOTA3MjRUMTcwMDAwWiBzY29wYXR6QG0/c2hsb2thcHJpbmNlc3MxMDFAZ21haWwuY29t?scp=ALL&sf=true) given in the [README](https://github.com/conda-forge/conda-forge.github

[2022-03-04 13:21] beckermr opened #1619 "support compiler pin migrations for runtime constraints?"
We have several feedstocks that depend on the compiler version pins at runtime. When we bump the compiler versions globally without a migration, these runtime constraints cause broken environments and need manual maintenance. The feedstocks I know of that have this issue are

 - compilers
 - rubinenv
 - mpich
 - openmpi?
 - camb?

It'd be nice to provide a migration via the bot for these runtime p

[2022-03-07 01:00] h-vetinari commented on #1162
Saw the first feedstocks being migrated automatically - congrats for pulling into the final stretch on this!

[2022-03-07 01:28] beckermr commented on #1162
Thanks! A bit premature though. :(

When GitHub renames the branch azure sees it as a new branch and rebuilds the feedstock.

I stopped the migration until I can put in a fix.

[2022-03-07 14:03] #157 closed

[2022-03-07 14:03] #151 closed

[2022-03-07 23:57] kathatherine commented on #26
@jakirkham @pelson Doesn't seem like this ever went anywhere. I'm happy to create an issue in conda-build for this, if I can just get some help narrowing down what is needed. We can also put a note somewhere in the conda-forge docs. Is this knowledge for package creators or packages users? Or both?

[2022-03-08 15:44] kathatherine commented on #138
Note, the Guidelines page can now be found here: https://conda-forge.org/docs/orga/guidelines.html

@beckermr Would this be a good Outreachy candidate? I'm not sure where the files are to edit the conda-forge.org website or if we want them doing that.

[2022-03-08 15:58] beckermr commented on #138
Editing the website is tricky business but if people want to do that, It'd be fine. they are right in the main directory.

[2022-03-09 16:33] kathatherine commented on #651
@beckermr You think this can be closed?

[2022-03-09 16:38] beckermr commented on #651
Yes I think so.

[2022-03-09 16:38] #651 closed

[2022-03-09 16:45] kathatherine commented on #691
@beckermr This should probably not include the "Outreachy" tag to avoid confusion, unless we want to have a Core meeting about it soon.

[2022-03-09 17:46] beckermr commented on #691
done and agreed!

[2022-03-09 20:23] ngam opened #1623 "fix typos and corrections in previous PR"
note to self to fix typos and formatting in previous PRs: #1601

[2022-03-09 20:26] ngam commented on #1623
and update #1590 with new info regarding macos

[2022-03-11 18:02] ngam commented on #1537
If someone wants to help with cross-compiling what @msarahan did, please join me here:

https://github.com/conda-forge/libtvm-feedstock/issues/14

@isuruf on top of your head, do you know the flags to pass to have native clang cross-compile?

[2022-03-11 18:07] isuruf commented on #1537
On second thought, try using the compiler from conda-forge.

[2022-03-11 18:10] ngam commented on #1537
Okay, I will try that soon. If I remember correctly, I got an error when I enabled metal support, but that might just need a path or something.

[2022-03-11 20:15] ngam commented on #1537
Ah, maybe that's part of our problem: Metal headers only exists from 10.11 upwards it seems:

https://github.com/phracker/MacOSX-SDKs/search?q=%3CMetal%2FMTLBlitCommandEncoder.h%3E

[2022-03-12 00:07] jakirkham commented on #1162
FWIW using [the `feedstocks` repo]( https://github.com/conda-forge/feedstocks ) and the [GitHub CLI]( https://cli.github.com ) (packaged [in conda-forge]( https://github.com/conda-forge/gh-feedstock )) wrote the following command using `bash` to update my feedstock forks to have & use the new `main` branch as default.

Note: This skips over any that haven't been migrated yet.

[code]

One could al

[2022-03-12 00:12] beckermr commented on #1162
Cool! This is running again. Should be done in a few days.

[2022-03-12 16:13] ngam commented on #1537
@isuruf could you please review my [updates above](https://github.com/conda-forge/conda-forge.github.io/issues/1537#issuecomment-1065477440) to ensure that this is a sane procedure in case people come here to find out how to compile for metal? Two main issues are overriding sdk version/target and testing afterwards.

[2022-03-15 23:14] beckermr commented on #1162
OK. Everything here is done. If there are no objections, I am going to close and unpin this issue!

[2022-03-15 23:56] h-vetinari commented on #1162
Congrats on pulling this off! 🥳

[2022-03-16 02:47] #1162 closed

[2022-03-16 18:15] kathatherine commented on #1171
@beckermr If this isn't a doc issue, can you please remove the doc tag?

[2022-03-17 19:52] peastman opened #1625 "Missing header auxv.h"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

My code compiles without problem when using system compilers, but if I use the CondaForge `compilers` package, it fails on x86 Linux with the error

[code]

`sys/auxv.h` is part of glibc.  It's standard on all Linux distrib

[2022-03-17 19:56] isuruf commented on #1625
See our docs on using a newer glibc

[2022-03-17 19:56] #1625 closed

[2022-03-17 19:56] isuruf commented on #1625
https://conda-forge.org/docs/maintainer/knowledge_base.html#using-centos-7

[2022-03-17 20:43] peastman commented on #1625
Thanks!

[2022-03-18 03:46] yihming opened #1626 "cannot synchronize hnswlib on conda-forge channel"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

I'm a maintainer of [hnswlib-feedstock](https://github.com/conda-forge/hnswlib-feedstock) on `conda-forge` channel.

However, after updating [meta.yml](https://github.com/conda-forge/hnswlib-feedstock/blob/main/recipe/meta.

[2022-03-21 17:52] ngam opened #1628 "include "update branch" feature?"
### Your question:

https://github.blog/changelog/2022-02-03-more-ways-to-keep-your-pull-request-branch-up-to-date/

This can be a handy feature to incorporate, however, I see one potential problem of adopting it wholesale. Updating the branch means rerunning the CI and that effectively means wasted resources in many cases. Just putting this out there as outdated branches (even if they have no con

[2022-03-21 17:54] beckermr commented on #1628
Yeah we should let folks do this as needed.

[2022-03-21 17:55] BastianZim commented on #1052
This came up again recently for `go` and I was wondering if we shouldn't recommend the same approach here as for `cargo-bundle-licenses`.

As mentioned above, `go-licenses` is the [recommended](https://github.com/google/go-licenses#complying-with-license-terms) tool to collect these licenses so how about adding this to the build step and then adding the output to the license_file list?

Something

[2022-03-22 00:01] pkgw commented on #1052
If there's a recommended tool, it definitely seems like we should try to integrate it into our best-practices workflows, yeah!

[2022-03-22 02:38] ngam commented on #1628
I looked around and I couldn't find a toggle for it in a private org where I am an admin. Do you know if there is a way to even enable this generally for conda-forge feedstocks? For regular members in feedstocks, there is not a "settings" tab and it ends at "insights". It is available under settings in regular repos

[2022-03-22 02:40] ngam commented on #1628
One way I guess would be to ask core members to enable it on a per feedstock basis, but that'd be too much trouble and not worth it imo

[2022-03-22 02:41] ngam commented on #1628
For reference: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-suggestions-to-update-pull-request-branches

[2022-03-22 04:42] h-vetinari opened #1629 "Start Python 3.11 migration with the release candidate"
This is a direct continuation of what @xhochy posted in #1499 (only replacing 3.10->3.11):

__________

Given the discussion in https://discuss.python.org/t/encouraging-3-10-wheels-on-pypi/10207 and especially in [numpy/numpy#19630](https://github.com/numpy/numpy/issues/19630) I would argue that we should also start the Python 3.11 migration before the final 3.11 release is done. This would also e

[2022-03-22 11:41] beckermr commented on #1628
Let me check the global settings when I get a chance.

[2022-03-22 12:03] hmaarrfk commented on #1629
The python 3.10 migration still has a ways to go. Could we focus our attention on that?

[2022-03-22 12:52] h-vetinari commented on #1629
I view these things as basically completely independent from the 3.10 migration (well, except adding `wait_for_migrators`). Working through 3.10 is now the slog through the long tail, and will "just" need time (though e.g. I started tackling one of the bigger remaining blockers a few days ago) - different feedstocks operate at different speeds/urgency, and that's OK IMO.

So I don't really see how

[2022-03-22 15:07] beckermr commented on #1628
We'll have to do this per feedstock for now.

[2022-03-22 16:27] jaimergp commented on #1619
I've seen comments about this in the past (some devs who set up build envs for their workflow with conda), and while I am not super familiar with the migration stack, I am happy to learn more and help out here. You have my +1!

[2022-03-22 16:27] viniciusdc commented on #1272
@beckermr about the current status of the CI-run integration, do you think we can have a feedstock to run some tests and  heck how the permissioning will be held?

[2022-03-22 17:02] beckermr commented on #1272
I do not.

[2022-03-22 19:11] viniciusdc commented on #1272
Should we add a test suit somewhere in the bots tests to eval the GPU builds before enabling it? I am open to any suggestions to test this integration.

[2022-03-22 19:23] beckermr commented on #1272
We need to hear back from the ci run folks.

[2022-03-22 19:45] BastianZim commented on #1052
Do we have a `go` feedstock that is controlled by a member of core somewhere? I'd like to test this against a real feedstock before adding it to the docs but I don't have any `go` ones.

[2022-03-23 05:00] ngam commented on #1628
Yeah... then it is not worth it! A lot of effort for the core team for no real benefit.

I will keep track of this and if Github changes the way this is enabled, I will bring it to your attention again. Closing, but feel free to reopen :)

[2022-03-23 05:00] #1628 closed

[2022-03-23 09:57] jaimergp commented on #1272
Will do!

[2022-03-23 15:41] xhochy commented on #1052
Feel free to use https://github.com/conda-forge/go-sops-feedstock for this

[2022-03-23 18:01] ericdill opened #1630 "document "so you're thinking about taking a conda-forge contract""
### Your question:

From the [dev meeting notes](https://hackmd.io/CqkOlf0XQMOh23Wnmt9qTQ) today -->

TODO: Articulate suggested mechanism for "so you're thinking about taking a contract to work on conda-forge". tl;dr is you should work on a design doc with the impacted parties (or working groups, or interested folks) on the conda-forge side. Once you have agreement on the scope, delivery timeline

[2022-03-23 18:06] isuruf opened #1631 "Feedstock tokens per CI"
Currently the feedstock token is the same for each CI and is only stored on existing CI.
This is problematic when adding a new CI as we have to reset all the tokens for all CI
as we don't have the token in plain text to add to the new CI.

This requires a change to conda-smithy. To make this easier we can keep using the
global token if there's no CI specific token.

cc @beckermr, @jaimergp

[2022-03-23 18:08] beckermr commented on #1631
Thanks for making this one!

One comment here that I did not store any tokens in plain text on the conda-forge side on purpose to increase security. The tokens are salted+hashed and then stored in a private place.

[2022-03-23 18:11] beckermr commented on #1631
We'll also need corresponding changes in the ci-setup scripts repo and possibly the webserver.

[2022-03-23 18:11] isuruf commented on #1631
They are all handled by conda-smithy right?

[2022-03-23 18:16] isuruf opened #1632 "Announce PyPy3.8/3.9 and dropping 3.7"
cc @mattip, @beckermr

[2022-03-23 18:17] beckermr commented on #1631
Validation depends on how the tokens are stored: https://github.com/conda-forge/conda-forge-webservices/blob/main/conda_forge_webservices/feedstock_outputs.py#L35

We could/should clean this up so we don't have these coordination issues.

[2022-03-23 18:21] beckermr commented on #1631
I wrote that since verifying via an https request is faster. We should upstream it back to smithy.

[2022-03-24 18:52] ngam opened #1635 "improve docs re osx sdks"
### Where should the content be added?

how and what to do about recent sdks

### What should be added?

- needing newer SDKs because of metal support

- how to specify the macos-11 image from azure

### Additional information

I can make a PR soon for review

[2022-03-25 10:26] ssurbhi560 commented on #138
Hi @jakirkham, I would like to work on this issue.
I am thinking of adding a line such as `Please follow these guidelines.` in the third point [here](https://conda-forge.org/#add_recipe). Could you please let me know if that's how we would want it to be @beckermr @kathatherine ?

[2022-03-25 11:40] beckermr commented on #138
Looks ok to me. We should fix the grammar in that bullet while we are there.

[2022-03-25 14:23] ssurbhi560 commented on #138
Cool then, I will open a PR with these changes.

[2022-03-25 18:00] chicken-biryani commented on #1346
Hello, @kathatherine and @beckermr hope this text finds you well!
I am an aspiring Outreachy applicant and saw this issue under the 'Initial submission' section.
Can I take this up?

To clarify,
Code of conduct adheres to [NumFOCUS Code of Conduct](https://www.numfocus.org/code-of-conduct).
Needs to be added to this repository's Readme.md?

Since the Reporting Guidelines is covered under the code

[2022-03-25 18:07] prachi237 commented on #1346
Hi there!  my name is Prachi Nandi and I am an aspiring Outreachy intern, I am so excited and gripped to contribute to Conda forge.

To begin with, it will be my pleasure to work on the issue opened by me last year which I wanted to work on.  I would like to enquire, exactly at present are we supposed to prepare a draft of the Code of Conduct for Readme.md by taking reference from [NumFOCUS Code o

[2022-03-25 18:18] beckermr commented on #1346
Yes the readme in this repo.

[2022-03-25 18:39] chicken-biryani commented on #1454
Hi, can I work on this?

[2022-03-26 02:25] ssurbhi560 commented on #1611
I am taking this up @jakirkham! :)

[2022-03-26 02:37] ssurbhi560 commented on #1581
Hi @jakirkham, I have started working on this. I was wondering where should we add this in the documentation? I would propose putting it in Tips and Tricks section or add it as a question `What to do if your package breaks?` in FAQs in user documentation. Please let me know what are your thoughts on this.

[2022-03-26 06:05] prachi237 commented on #1536
@zklaus  @mbargull   I would like to take this issue.  From where can I get info on the simple packaging instructions?

[2022-03-26 13:22] zklaus commented on #1536
@prachi237, that's great! Thanks a lot. @mbargull and @tdegeus are the experts, but let me try to get you started. Then you can figure out where exactly to place the information, start a PR on it and let us know.

Perl has three standard install locations: core, vendor, and site. For some time, conda-forge was a bit unsure how to do the exact layout of directories, but with conda-forge/perl-feedst

[2022-03-26 14:12] leofang commented on #1346
@beckermr is this some kind of contest? Why do we have 3 PRs addressing the same thing? #1640 #1641 #1644

[2022-03-26 14:14] beckermr commented on #1346
Outreachy applications have started again. As usual, folks tend to not notice the other PRs and make their own. Please don't worry about it.

[2022-03-26 17:12] prachi237 commented on #1536
Sure thing sir! I will start working on it, in case I face any difficulty in between will let u know.
Thanks !!

[2022-03-26 18:34] leilayesufu commented on #1346
Good day, my name is Leila Yesufu and i'm an aspiring outreachy intern.
I have worked on this, please review @beckermr @kathatherine #1180

[2022-03-26 19:15] AnishaSingh0118 commented on #1282
@ForgottenProgramme @viniciusdc I am an Outreachy applicant, looking forward to start my first contribution with this good first issue, as this issue is currently open and has not been assigned to anyone.I would love to work on this issue so please kindly assign me this issue.

[2022-03-26 19:36] #1618 closed

[2022-03-26 20:25] chicken-biryani opened #1645 "Improve "What is conda forge" section in introduction."
### Where should the content be added?

A brief introduction / What is conda-forge? / [Becoming involved.](https://conda-forge.org/docs/user/introduction.html)

### What should be added?

The line

`Cannot find a package or only outdated versions of a package? - Everybody is welcome to contribute to our package stack! Please refer to [Becoming involved](https://conda-forge.org/docs/user/contributi

[2022-03-26 20:28] chicken-biryani commented on #1645
@beckermr and @kathatherine can I work on this?

[2022-03-26 20:41] beckermr commented on #1645
Feel free!

[2022-03-26 21:41] leofang commented on #1346
You sure...? There is one more: #1646.

[2022-03-26 22:49] ngam commented on #1346
@beckermr is it okay to provide them feedback? I wasn't aware these were part of applications and I offered feedback to two PRs. Happy to avoid that, just let me know if there are restrictions or procedures you'd like the community to follow. Thanks!

@leofang, I think it is fine; in fact, it is a good thing :)

[2022-03-27 00:15] Abraham-Deng commented on #1346
Hello everyone, my name is Abraham Deng, am an aspiring Outreachy applicant. am really glad to be here.
Is it okay to take up the same prompt #1644, as some of them seem to have been added to the main Readme.md already OR I need another different one?
Please clarify for me @beckermr
Thanks!

[2022-03-27 00:28] beckermr commented on #1346
Feel free to find another issue.

[2022-03-27 01:28] beckermr commented on #1346
@ngam helpful comments are appreciated. Remember that outreachy applicants are typically new to our community. Please be patient as they get aquatinted with our tools and processes.

[2022-03-27 03:19] leofang commented on #1346
I meant to say it'd be nice if someone can help coordinate. Even applicants' time is valuable and we shouldn't duplicate their effort.

[2022-03-27 06:53] preeti-14-7 opened #1647 "Improve readme file to set up the project locally"
### Where should the content be changed?

_No response_

### What should be changed?

While **setting up the project** in my system I m facing issues it seems like the instructions are not well defined and clearly written for a new user who wants to contribute in this project.

I want to work on this and would add the instructions specifically so a new user can easily able to run the project in th

[2022-03-27 11:13] Austin-tawe commented on #1346
Hello Mentor,

I am called Fad from Cameroon. I am an Outreachy Applicant for the March 2022 cohort. I am very much interested in the project.
Please, how do I get started?
Thanks

[2022-03-27 13:45] beckermr commented on #1346
We're doing our best @leofang. Feel free to join us.

[2022-03-27 19:29] Abraham-Deng commented on #1346
Okay, Thanks! @beckermr

[2022-03-27 21:39] Austin-tawe commented on #1346
Hello Mentor,

I am called Austin Tawe from Cameroon. I am an Outreachy Applicant for the March 2022 cohort. I am very much interested in the project.
Please, how do I get started?
Thanks

[2022-03-27 22:06] chicken-biryani opened #1649 "Improve About Dev Meetings under Readme"
### Where should the content be added?

Readme

### What should be added?

The current content about the dev meetings such as the template, hack md, meeting notes, etc can be made a little more compact and crisp in nature.

### Additional information

--

[2022-03-27 22:06] chicken-biryani commented on #1649
@beckermr @kathatherine I'd like to take this up.

[2022-03-27 23:29] beckermr commented on #1346
Please see our interns gitter channel for some instructions.

[2022-03-28 08:38] ssurbhi560 opened #1651 "Add more steps in Improve the documentation section."
### Where should the content be added?

Becoming Involved -> Improve the documentation

### What should be added?

More steps should be added in this section some of them are:
1. How to create and activate conda environment.
2. How can folks see the changes they did locally before pushing them.

### Additional information

As the title of this section which is, **Improve the documentation**, this

[2022-03-28 08:39] ssurbhi560 commented on #1651
@beckermr @kathatherine , please share your thoughts on this. If doing this sounds reasonable to all you folks, I will go ahead and create a PR for this.

[2022-03-28 09:36] Rufaida98 commented on #1346
Hi I am Rufaida Ali an outreachy applicant is it possible to contribute to this project?. please guide me

[2022-03-28 13:46] beckermr commented on #1651
Seems ok to try out!

[2022-03-28 13:47] beckermr commented on #1346
Hi! Please see our intern gitter channel for some introduction.

[2022-03-28 15:09] prachinandi opened #1653 "Improve the To Do list Section in Conda-forge Docs"
### Where should the content be added?

To- Do section in Docs

### What should be added?

As a new user, I might get confused with the address/location of the original entry, instead, we can directly link the address or make it more intelligible.
It seems the address is incorrect :(

### Additional information

![Screenshot (389)](https://user-images.githubusercontent.com/72700861/160429385-76873

[2022-03-28 15:40] xhochy opened #1654 "R: Move to UCRT on Windows"
CRAN is moving to use URCT as the C library next month. This will potentially lead to interoperability issues between R packages from conda-forge and ones from CRAN. This leads to the following questions/potential issues:

1. Can we update our mingw-toolchain to support UCRT based builds?
2. Do we need to introduce a mutex to not mix old and new builds?
3. Will this have an impact on the interoper

[2022-03-28 16:38] ssurbhi560 opened #1655 "Add more information about Grayskull in the documentation itself."
### Where should the content be added?

Maintainer Documentation -> Contributing Packages -> The staging process -> Getting started

### What should be added?

More information answering questions such as :
1. What is grayskull?
2. How should one use grayskull to generate a recipe?

We can add a note below the ``Getting Started`` section explaining more about grayskull.

### Additional information

[2022-03-28 16:38] ssurbhi560 commented on #1655
@beckermr @kathatherine please share what do you folks think about this? If this sounds like a useful addition, I will start working on this!

[2022-03-28 18:53] beckermr commented on #1655
Go for it.

[2022-03-28 18:55] beckermr commented on #1653
You can try to fix this for sure, but be aware that the links are generated automatically and so it may not be easy to change that.

[2022-03-28 19:26] #1632 closed

[2022-03-28 20:17] jakirkham commented on #1654
cc @conda-forge/r

[2022-03-28 20:36] Shivani-Parihar99 commented on #1346
Hello everyone! I am Shivani Parihar, an outreachy applicant. I am from India.
I'm excited to learn and contribute to this community. Should I work on this issue or find a different one as I saw many PRs related o this issue.

[2022-03-28 20:40] beckermr commented on #1346
Feel free to find another issue.

[2022-03-28 20:41] Shivani-Parihar99 commented on #1346
Okay, Thankyou.

[2022-03-28 21:47] AghaSaad04 commented on #1346
Hi This is Saad, I am an Outreachy aspirant. Looking forward to contribute :)

[2022-03-29 05:30] isuruf commented on #1654
Yes, but will need a lot of work.

Yes, there is already an epoch which is used by all `m2w64-*` packages and we can update the epoch. Downstream packages have the epoch in run, but we should add it to downstream packages. It's important to not mix.

No, it will make the interoperability better. (CRT objects can be allocated and deallocated across DLL boundaries with MSVC and MinGW ucrt build)

[2022-03-29 08:56] traversaro commented on #1597
Cross-reference to an old but related issue for people that my find that issue on search engines: https://github.com/conda-forge/conda-forge.github.io/issues/727 .

[2022-03-29 11:10] rgommers commented on #1017
I just found this issue when wanting to write docs on how to use a debug build for Python. It's not too hard to build Python from source, but a conda-forge package would be way nicer of course. So +1 from me.

I assume this would be for the Python package only, and not propagate to debug builds of other packages? If so, the scope is fairly limited and probably worth it.

[2022-03-29 17:33] Ginohmk commented on #1358
Are there still issues on this repo ?, I will like to work on it.

[2022-03-29 17:55] jakirkham commented on #1017
Historically this issue has been more complicated.

In other words the debug libraries of Python were not ABI compatible with the release builds. So one needed to rebuild Python and all dependencies (so it effectively became another Python version/implementation). Python 3.8 changed [the debug build to be ABI compatible with the release build]( https://docs.python.org/3/whatsnew/3.8.html#debug-bui

[2022-03-29 19:19] Ginohmk commented on #588
I will link to work on updating the logos of the bots

[2022-03-29 21:01] kathatherine commented on #1649
@chicken-biryani The additions look good. However, I know the core group was hesitant to open up our meetings to everyone currently. Where did you find that calendar information?

[2022-03-29 21:02] chicken-biryani commented on #1649
Hi @kathatherine it's in the Readme.

[2022-03-29 21:06] chicken-biryani commented on #1649
I could comment the line that involves the link and remove the last line. In that manner we won't loose the link? Or remove the line all together?

[2022-03-29 21:07] beckermr commented on #1649
We've had the link there for a while, we just keep pretty quiet about it.

[2022-03-29 21:24] kathatherine commented on #1649
I think we should bring it up in the meeting before we merge this in and make sure that it's something we want to make more visible. @chicken-biryani, I have a few comments for your PR, in case we do decide to merge it in. Since our next conda-forge meeting isn't until April 6th, feel free to find another issue to work on. Thank you!

[2022-03-29 23:37] Hil-dred opened #1660 "Anaconda and Miniconda Installation Documentations"
### Where should the content be added?

A brief introduction section under User documentation

### What should be added?

A new user may find it much easier with a section that states the prerequisites for using conda-forge; Miniconda, and Anaconda.

Linking the installation documentation could make it easier to get started.

### Additional information

_No response_

[2022-03-30 02:40] tracycod3r commented on #1346
Hello everyone, I am Tracy an Outreachy applicant from Uganda. I have seen PRs related to this issue, should I work on this issue or continue to another one?

[2022-03-30 02:50] beckermr commented on #1346
Either way is fine!

[2022-03-30 08:18] jakirkham opened #1663 "Sporadic false positive with `linkcheck` Polys"
We've seen the `linkcheck` error a few times on the Polys link even though it works. Not sure if it is slow for `linkcheck` or something else. In any event it would be nice to address this somehow to make sure we are not holding up PRs & doc updates. Idk if we can make `linkcheck` more reliable here. Alternatively maybe we can tell `linkcheck` to skip this line. Or maybe run `linkcheck` in another

[2022-03-30 08:18] jakirkham commented on #1663
cc @croth1 (in case you have thoughts here)

[2022-03-30 14:01] chicken-biryani opened #1665 "Add 'concepts' section in the documentation."
### Where should the content be added?

Not sure where. Maybe after the introduction.

### What should be added?

A newbie-- like me-- may not be aware of the terms 'recipe', 'feedstock', etc.

A section, namely 'concepts', that talks about these terms in a simple way without jargon may help newcomers understand things in a better way.

### Additional information

I am not aware of the target audi

[2022-03-30 14:32] beckermr commented on #1665
Go for it!

[2022-03-30 14:32] BastianZim commented on #1665
It definitely will but then again we can be sure that everything's included that a beginner might need to know.

If you have any questions, just ping me.

[2022-03-30 15:48] kathatherine commented on #1581
@ssurbhi560 Let's pick one place so we don't have redundant documentation. My opinion is that the FAQ is a great spot for it. If it turns out that it's a lot of information, we can create an entire section somewhere and then link to it from the FAQ, but let's start with the FAQ.

[2022-03-30 16:43] jaimergp commented on #1665
Maybe this [glossary](https://jaimergp.github.io/scientific-packaging-glossary/) I started last summer can be useful!

[2022-03-30 16:59] chicken-biryani commented on #1665
Thank you @jaimergp.

Although, are there any sources that can help me get started with the basics. I.e well.. recipes.

(I know this may feel like spoon feeding, but I'll not need the spoon feeding soon- hopefully.)

[2022-03-30 17:01] BastianZim commented on #1665
I would start by writing out all concepts that you don't know and then we can add info there.

Otherwise [this](https://docs.conda.io/projects/conda-build/en/latest/) may be a start but not everything applies to conda-forge.

[2022-03-30 17:14] jaimergp commented on #1665
Some links:

* Each feedstock's README contains this [blurb of text](https://github.com/conda-forge/plantuml-feedstock#about-conda-forge).
* Pangeo Forge is like conda-forge but for data. The [parallels](https://github.com/pangeo-forge/roadmap#vision) might be useful as a different way of looking at conda-forge.
* The Bioconda [FAQ](https://bioconda.github.io/contributor/faqs.html) is, again, not