[2020-07-28 21:47] mingwandroid commented on #900
`CONDA_BUILD_SYSROOT` is macOS only. I'm not opposed to setting it on Linux, but as @isuruf says its not needed. The compilers hard-code the relative path (kind-of) to the sysroot, and the sysroots are searched. If you pass e.g. -I/usr/include or -L/usr/lib then you are doing it wrong, those are not needed and prevent cross-compilation from working correctly.

[2020-07-28 21:54] jakirkham commented on #900
Great, thanks! 😄

I'm not passing those flags, but the build's configure scripts search in `/usr` by default and needs to be overridden. So we are trying to wrangle it into doing the right thing. Agree it would be nice if we didn't have to (would make my life easier 😅)

[2020-07-28 21:57] mingwandroid commented on #900
Build configure scripts should not add system paths, the compilers already know those. Good luck fixing this!

[2020-07-29 09:50] ifmar commented on #932
Ok, good to know. Thank you!

[2020-07-30 00:32] CJ-Wright opened #1120 "CZI Proposal Spending of Funds"
@conda-forge/core
This vote falls under the Spending of funds policy, please vote and/or comment on this issue.
This vote needs 50% of core to vote yea to pass.
To vote please leave :+1: (yea) or :-1: (nay) responses on this comment.
If you would like changes to the current language please leave a comment.
This vote will end on August 4th 2020 at noon Eastern.

@ocefpaf has put together a proposal

[2020-07-30 00:40] CJ-Wright commented on #1120
On a related but somewhat separate note, this is this first time this kind of vote has come up. We do not have procedures for voting on grant submissions/proposals. I would like to get some sense as to if this approach is appropriate and to help build a precedent to cover these cases (or if a precedent can not be built, spur the modification of the governance document). I would appreciate it if me

[2020-07-30 02:26] CJ-Wright commented on #1120
Just for clarification, the budget vote is the first comment, the precedent vote is on the second comment.

[2020-07-30 07:40] wolfv commented on #1120
@CJ-Wright I think you missed a link to the proposal in question:

https://docs.google.com/document/d/1dEXQsrXM5kBW6ARLpsVGRQltVxQVbVkjmXbBh8LnHac/edit

This proposal has been up for criticism & change proposals since a month and we had only a few remarks. Before people vote >NO< here I'd be happy if they take the time and criticize the proposal as well :)

[2020-07-30 07:52] wolfv commented on #1120
Also, the deadline of the vote coincides with the proposal submission deadline. If I could motivate all of @conda-forge/core to vote as soon as possible that would be awesome so we can take the appropriate actions.

@beckermr you have voted on the meta-question, but not on the question itself?
@CJ-Wright you have opened the initial question but not voted yourself, could you do that please?

[2020-07-30 07:53] marcelotrevisani commented on #1120
I believe that this voting part which @CJ-Wright  is proposing is a bit late for this CZI at least.
Since the document is public and it was mentioned several times in other ``conda-forge`` meetings and it was/is open for criticism and if anybody was against it could just spoke up about it. I don't see this current voting as beneficial as the proposal was published for about a month or so (as menti

[2020-07-30 07:57] marcelotrevisani commented on #1120
and also voting as :+1: in two comments, I personally do not see that as straight forward solution for a voting system.

[2020-07-30 11:57] CJ-Wright commented on #1120
I thought this would inject some unneeded bias to vote first, but I have vote now if that is helpful.

I don't think this is strictly necessary. Some people may disagree with the proposal on existential grounds, where no level of critique may address their issues.

I thought the deadline was the 5th so I attempted to schedule it to end before hand.

That's a fair criticism, I wasn't certain if thi

[2020-07-30 12:22] CJ-Wright commented on #1120
For me it seems to be a bit confusing grimacing

I happy to move this to a better voting platform if one such exists and doesn't require too much setup.

[2020-07-30 13:38] pkgw commented on #1120
I guess I'm unclear on the policies for when we use Helios for voting and when we use something else like GitHub reactions (anonymous vs. not?) but that's what I get for not being very plugged in to the governance activities. (I have a standing weekly meeting that conflicts with the core meetings, unfortunately.)

I voted "no" on the second "precedent" question just because I think it would be goo

[2020-07-30 14:06] sodre commented on #1120
I voted no as I agree with @msarahan. Is there any chance of scoping down the proposal to only include Quetz?

[2020-07-30 14:20] SylvainCorlay commented on #1120
Developers of mamba & quetz are conda *fans* who have been pushing for conda publicly and behind closed doors at companies. The "serve as a drop-in replacement" is meant to emphasize our intent to be compatible with the existing tools, even for the command-line interface, and it was certainly not meant in a disrespectful way.

In the early days of the mamba projects, we reached out to Anaconda abo

[2020-07-30 14:27] ocefpaf commented on #1120
While I agree with Mike too it is important to note that mamba is part of our stack and many communities are already using it. So it is important to foster it's development. Bare in mind that this is not deliberate! There was multiple attempts to work with conda and conda-build before. Also the time does not does allow for huge scope changes like that.

[2020-07-30 15:30] msarahan commented on #1120
I edited the doc to change the language around the conda/conda-build relationship. If the changes are accepted, I think I can vote for the proposal.

[2020-07-30 15:54] SylvainCorlay commented on #1120
This is awesome. I accepted all your suggestions (and I saw that you approved my minor edits).

[2020-07-30 17:14] ocefpaf commented on #1120
@sodre do you still have any comments that needs to be addressed?

[2020-07-30 17:56] sodre commented on #1120
I changed my vote to yes.

With that being said, I would like to point out that [Sonatype Nexus]( https://help.sonatype.com/repomanager3/formats/conda-repositories) is open source and supports proxying conda packages. There is an open PR sonatype/nexus-public#50 to support hosting packages as well. I suggest we include that in the proposal.

[2020-07-30 18:08] ocefpaf commented on #1120
:+1:

Wow! I had no idea! I'm not sure we can add it this late but we definitely should contact them and work out some sort of collaboration!

[2020-07-30 18:17] ocefpaf commented on #1120
@sodre I'm reading the Sonatype stuff and I would like to contact them. Do you know someone in there or you just found out about it online? If the former can you put me in touch with them?

PS: you are counting as voting twice (+1 and -1)! You need to remove the previous vote (-1) by clicking on it again.

[2020-07-30 18:27] sodre commented on #1120
@ocefpaf, I fixed the downvote issue.

Unfortunately, I don't have any contacts at Sonatype. However, I have been using their repo for about 5months together with a very simplistic conda server I wrote for myself.

[2020-07-30 18:33] ocefpaf commented on #1120
We should talk then ;-p
This should be in our sights seems it is something that works already. I'll do more research on this. Thanks!

[2020-07-31 15:25] beckermr commented on #900
OK. cos7 is done and fully shipped. I know of no more PRs that need to be made. A few need to be merged, but they are not essential. Closing!

[2020-07-31 15:25] #900 closed

[2020-08-01 15:49] scopatz commented on #1120
Hey all! Reading through the proposal, it seems like this is something that QuantStack or SnakePit should put in. What am I missing? Why is this a conda-forge propsal?

Also - in the past conda-forge has been discouraged from putting in CZI proposals because of a couple of points from the impact:

So not to rain on anyone's parade, but if conda/conda-forge has had a hard time justifying ourselves

[2020-08-01 17:21] ocefpaf commented on #1120
It is a conda-forge proposal b/c it is a community effort to improve the tools conda-forge is using and wants to adopt in the long run. We are already using it on the bot and `quetz` may be crucial in the future if we want to host packages. That is in the proposal BTW.

That is not true. I met with CZI folks who encourage us to submit. I also read past proposal and our impact is as strong as many

[2020-08-01 17:58] scopatz commented on #1120
Thanks @ocefpaf

[2020-08-01 18:00] scopatz commented on #1120
My main point is that `may be crucial in the future` does not seem to align with `Demonstrated scientific impact of the software project`.  Mamba is the only one of these that I think is even close to demonstrating impact to conda-forge, and it is isn't really production ready in terms of the number of eyes & installs relative to conda itself.

I'll comment on the document

[2020-08-01 18:02] scopatz commented on #1120
Don't get me wrong, I want conda-forge to have more funds and see more development.  But I am still having a hard time seeing how this affects the things that we do in terms of packaging, since this is wholly based on improving tools. So in my mind it would be best if a tools org took this and put it in.

[2020-08-01 18:03] scopatz commented on #1120
Actually, I can't even comment on the document

[2020-08-01 18:08] ocefpaf commented on #1120
You have to request access. We did sent an invite on the core meetings for everybody. Sorry that you missed.

[2020-08-01 18:19] wolfv commented on #1120
In the first cycle, `pip` got funding and fundamentally that doesn't sound like a project that's far away from what we're proposing here (although obviously it has many more users). https://chanzuckerberg.com/eoss/proposals/improving-user-experience-and-debuggability-of-pip-for-all-python-users/

Also we got extremely encouraging feedback especially from the bioconda community. Mamba is advertised

[2020-08-01 19:00] scopatz commented on #1120
Yeah, I mean fundementally it is up to CZI to decide. I mean, I am asking these questions to make it the best proposal possible. Again I would love to see these efforts have more funding.

It does would be stronger outside of conda-forge. It sounds like even bioconda has a stronger support case here. Conda-forge (against my personal wishes) can't even ship an miniforge installer with mamba yet. An

[2020-08-01 19:18] wolfv commented on #1120
The entire idea of this proposal is that we get money to develop these tools, and conda-forge would have the oversight over the money so that the PM of the project & the conda-forge community could weigh in on what get's developed. I think there is also room to diverge from the proposal language to the actual implementation of features, and we'd concentrate to develop those features that'll make s

[2020-08-01 19:19] ocefpaf commented on #1120
That would expand the goal extensively and we should keep our goals feasible. I'm not saying no but we should be aware of the deliverables. Also, most of that seems to be work for after we have a better working stack of tools, not before. Let's improve mamba first, make it a first class citizen in the community, then we can write more grants to work on those integrations.

[2020-08-01 19:22] wolfv commented on #1120
What I am saying is that we could have hooks in quetz to extract further metadata from packages and store it in a database for bot consumption, as an example.

[2020-08-01 19:53] scopatz commented on #1120
I think that is all fine well and good. There is no problem with that. I am all for making these tools first class citizens in general. It is just hard for me to see this as a conda-forge proposal then, without the conda-forge components. Maybe once these tools are first class citizens it would be better to revist an integration proposal. What is the reason for putting it in in conda-forge rather

[2020-08-01 19:58] ocefpaf commented on #1120
We disagree and that is why we wrote it to foster the 3 main bases that we need before the "verticalization." It is stronger this way in the opinion of all those who reviewed and contribute to it in the past month.

[2020-08-01 21:22] scopatz commented on #1120
OK - yeah, I think we disagree.  All I need to be able to vote for this is some change (anything really) that directly touches conda-forge

[2020-08-03 05:41] vibhaKulka opened #1123 "Building packages on s390x architecture"
Continuing from issue https://github.com/conda-forge/conda-smithy/issues/1359

Opening an issue to start building packages on s390x .

We have were various internal  discussions on having a channel with s390x build packages .

I am tagging my team members who will work on all the requirements that is needed to enable package builds on s390x.

Please let us know , what are the next steps .

Thanks,

[2020-08-03 05:46] vibhaKulka commented on #1123
@chandrureddy @@pradghos @ravigumm

[2020-08-03 14:39] scopatz commented on #1120
Thanks @SylvainCorlay for adding the conda-forge parts to the proposal. I have voted for this now.

[2020-08-03 14:39] wolfv commented on #1120
cool!

[2020-08-03 15:46] isuruf commented on #932
@ifmar, `gcc_linux-aarch64` should be available on `linux-64` now.

[2020-08-04 05:59] vibhaKulka commented on #1123
@isuruf @jjhelmus

[2020-08-04 06:08] isuruf commented on #1123
First steps in order would be,
1. Ask for volunteers for supporting s390x to create a team in conda-forge. (At least two people who'll respond to github issues quickly)
2. Ask Anaconda, Inc to support uploading s390x packages to anaconda.org.
3. Send a PR to repackage the centos sysroot for s390x in https://github.com/conda-forge/linux-sysroot-feedstock/
4. Build binutils for s390x in https://gith

[2020-08-04 09:56] ifmar commented on #932
Wow that was fast, thank you! We will test the cross compiler.

[2020-08-04 12:52] mbargull commented on #1120
I've finally re-read the current version of the proposal.
Have to say, I'm very glad the wording has been changed in ways of

which nicely reflects the "Conda community" effort that has been started in the meantime.

I am also glad that this will be submitted under "conda-forge". Conda-forge has stronger/directer tie-ins with Anaconda and QuantStack than, say, Bioconda, which I am sure will facili

[2020-08-04 16:11] CJ-Wright commented on #1120
As of 12:04 Eastern there are 15 yeas and 2 nays. This vote has passed and should the grant be funded the finance subteam is instructed to disperse funds accordingly.

[2020-08-04 16:13] CJ-Wright commented on #1120
As of 12:11 Eastern there are 6 yeas and 2 nays for forming a precedent around this approach for submitting grants. While there are no formal requirements for this vote as it is non-binding it does seems that a majority of those voting are in favor.

[2020-08-04 16:13] CJ-Wright commented on #1120
Thank you all who voted, commented and otherwise provided input to this process.

[2020-08-04 16:13] #1120 closed

[2020-08-04 17:02] CJ-Wright commented on #1123
1. After you get together a group of people for 1, please tell core so we can make the appropriate help team
2. Once you are ready to do a full scale build out contact the bot team (`@conda-forge/bot`) and we can work with you to setup the architecture migration.

[2020-08-05 06:09] vibhaKulka commented on #1123
@isuruf @CJ-Wright Thank you for your response . We will take a look at the all the items and get back to you .

[2020-08-05 15:25] isuruf opened #1126 "Apple Silicon"
- [x] Ask for support for uploading to anaconda.org
- [x] Build LLVM 11.0.0.rc1  and the stack on osx-64 and upload to `conda-forge/label/llvm_rc` - https://github.com/conda-forge/clang-compiler-activation-feedstock/pull/29
    - [x] https://github.com/conda-forge/llvmdev-feedstock/pull/96
    - [x] https://github.com/conda-forge/clangdev-feedstock/pull/106
    - [x] https://github.com/conda-forge

[2020-08-05 15:47] beckermr commented on #1126
We had another issue open for this @isuruf. Can you please close it or combine it here?

It was called arm fretting or some such thing.

[2020-08-05 15:47] beckermr commented on #1090
Bump here @isuruf

[2020-08-05 17:05] beckermr commented on #1126
Which one is task 2? The new LLVM release?

[2020-08-05 17:05] isuruf commented on #1126
Yes

[2020-08-05 17:07] beckermr commented on #1090
We good to close this @isuruf?

[2020-08-05 17:08] isuruf commented on #1090
Sure

[2020-08-05 17:08] isuruf commented on #1090
Closing in favour of https://github.com/conda-forge/conda-forge.github.io/issues/1126

[2020-08-05 17:08] #1090 closed

[2020-08-06 21:34] jjhelmus commented on #1126
I was able to upload and download `osx-arm64` packages to anaconda.org without problem although I have not gotten to the point where I can do from directly from an Apple Silicon machine yet.  An example: https://anaconda.org/jjhelmus/zlib/files?channel=osx-arm64

[2020-08-06 21:51] jakirkham commented on #1126
One question I've been wondering about, do we want to treat this as a new architecture or do we want to build packages that support both architectures (`x86` and `arm64`)? It sounded like the latter is also possible. So wanted to check.

[2020-08-06 22:52] jjhelmus commented on #1126
A quick note on anaconda.org support.  Channels backed by a CDN (e.g. conda-forge) will NOT have osx-arm64 packages in the CDN served repository.  That will require a small change in the logic that syncs the packages with the CDN.

[2020-08-06 23:26] isuruf commented on #1126
Yes definitely as a new architecture.

Not without hacking build systems to use `lipo`.

[2020-08-07 17:22] #993 closed

[2020-08-09 21:41] isuruf commented on #1126
As to the linker issue, I tried several options and none of them work except using the system linker from xcode 12.
1. lld's old Mach-O backend is not maintained anymore.
2. lld's new Mach-O backend has less features than we need.
3. LLVM's TextAPI library and Apple's TAPI library have incompatible interfaces.

[2020-08-09 21:42] beckermr commented on #1126
good work!

[2020-08-10 06:42] chandrureddy commented on #1123
@isuruf and @CJ-Wright thank you very much for your support !

We are looking on the different details that are outlined in the comment https://github.com/conda-forge/conda-forge.github.io/issues/1123#issuecomment-668399522

Since there is no official support in CentOS for s390x platform at this point in time we are relying on clefos which has all equivalent CentOS binaries/packages.

https://www.

[2020-08-10 15:15] Joan-Millington opened #1132 "anaconda3 conda-forge numpy-1.18.5 installs download numpy-1.18.5-py38h6530119_0 with missing Lib and Scripts folders (plus numpy-1.18.5-py38h72c728b_0 = good)"
Issue:
anaconda3 conda-forge numpy-1.18.5 install downloads numpy-1.18.5-py38h6530119_0 with missing Lib and Scripts folders (plus numpy-1.18.5-py38h72c728b_0 = good)

numpy-1.18.5-py38h6530119_0 only has folder: info

(This may not be the cause of my numpy issues, but I don't think this duff 1.18.5 should be downloaded at all, it may cause problems).

(numpy-1.18.5-py38h72c728b_0 and numpy-1.19.1

[2020-08-10 17:04] isuruf commented on #1126
First C package PR: https://github.com/conda-forge/zlib-feedstock/pull/38
First C++ package PR: https://github.com/conda-forge/libcxx-feedstock/pull/67

@jjhelmus, can you check that the `zlib` package works fine?
@conda-forge/bot, can we start a migration with `python` and its dependencies as a start?

[2020-08-10 17:07] CJ-Wright commented on #1126
Sure, what does the migration need to encompass? Is this similar to the arch rebuild or more like the pypy rebuild?

[2020-08-10 17:09] isuruf commented on #1126
It's exactly like the `arch` rebuild, but with a couple of small changes.
1. add the following in `conda-forge.yml`
[code]

2. Use a different set of packages from `osx_arm64.txt` (Not `arch_rebuild.txt`)

[2020-08-10 17:10] CJ-Wright commented on #1126
Let me see what I can do.

[2020-08-10 17:12] jakirkham commented on #1126
Would that build both the `x86_64` packages and `arm64` packages?

[2020-08-10 17:20] CJ-Wright commented on #1126
@isuruf is there a help team to contact?

[2020-08-10 17:22] isuruf commented on #1126
I can create one with me. `conda-forge/help-osx-arm64`. If anybody else would like to join, please let me know. (Or add yourself if you are in core)

[2020-08-10 17:22] beckermr commented on #1126
@isuruf i'd be best to add it as a subteam of staged-recipes

[2020-08-10 17:24] isuruf commented on #1126
I'm not sure how to do that. I already created one https://github.com/orgs/conda-forge/teams/help-osx-arm64. Can you fix it or delete it and recreate it?

[2020-08-10 17:27] beckermr commented on #1126
done!

[2020-08-10 17:28] CJ-Wright commented on #1126
Is there a list of packages to avoid?

[2020-08-10 17:30] CJ-Wright commented on #1126
@isuruf in zlib why was `linux_armv71` removed from the `conda-forge.yml`?

[2020-08-10 17:31] beckermr commented on #1126
We can't build anything that needs fortran for starters.

[2020-08-10 17:32] isuruf commented on #1126
`build` and `run` requirements should be avoided. Only `host`. `build` is from `osx-64` platform and we don't run tests.

Because we've removed the docker image for `linux_armv7l` and the new `conda-forge-ci-setup` files are not updated for that platform.

[2020-08-10 17:34] CJ-Wright commented on #1126
@beckermr can you give me some context around why [this](https://github.com/regro/cf-scripts/blob/master/conda_forge_tick/make_graph.py#L159) clause is needed?

[2020-08-10 17:35] isuruf commented on #1126
Yes. I don't know how the migrator would handle that node, but if it doesn't stop when it can't build gfortran, an explicit condition needs to be added.

[2020-08-10 17:36] CJ-Wright commented on #1126
I'm interested in if I need to duplicate [this](https://github.com/regro/cf-scripts/blob/master/conda_forge_tick/migrators/arch.py#L27)

[2020-08-10 17:38] isuruf commented on #1126
@CJ-Wright, those are all `build` dependencies and `build` dependencies should not be looked at for `osx-arm64` migration.

[2020-08-10 17:40] beckermr commented on #1126
Except if you need a fortran compiler in build. Then the package cannot be migrated.

That is a from a change in smithy. We moved the names of the ci support files on linux from `linux_*` to `linux_64_*`. So for some repos that have not been rerendered, we only infer the 64 if it is not given.

[2020-08-11 19:09] scopatz commented on #1059
I also prefer cuda to gpu

[2020-08-12 01:36] isuruf commented on #1126
Thanks @jjhelmus for letting us know. Saw this issue in https://github.com/conda-forge/tk-feedstock/pull/43

[2020-08-14 08:17] pradghos commented on #1123
@isuruf Regarding `ctng-compilers-feedstock`, It seems `crosstool-NG` samples (i.e `powerpc64le-unknown-linux-gnu` ) along with `ctng_vendor` are taking care of the builds of `cross compiler` and `cross-native compiler` depending upon which build arch is being used.

Just for example One of scenario would be -

[code]

Probably we may need to have similar approach for s390x in `crosstool-NG` itsel

[2020-08-14 08:24] pradghos commented on #1123
I see same version of all `rpm`s used in `linux-sysroot-feedstock` are available in `http://download.sinenomine.net/clefos/7/os/s390x` .. expect the `tzdata-2019c-1.el7.noarch.rpm` which is coming from `http://download.sinenomine.net/clefos/7/os/noarch`.

[2020-08-14 13:12] marcbernot opened #1134 "discrepancy between conda-forge linux64 repodata.json and the metadata of the packages"
I noticed a discrepancy between the dependencies data coming from `conda search --info` and the one present in the recipes of the packages.

For example:
`conda search --info libtiff` gives the dependency zstd >=1.4.4,<1.5.0.0a0 while libtiff-4.1.0-hc7e4089_6.tar.bz2/info/recipe/meta.yaml has the dependency zstd >=1.4.4,<1.4.5.0a0

This results in making possible the creation of a seemingly incohe

[2020-08-14 20:48] isuruf commented on #1126
Currently blocked by https://github.com/conda/conda-build/issues/3155 at libssh2.

[2020-08-15 03:52] isuruf commented on #1123
Using clefos is fine. You can already build `cross` compilers with the current `ctng-compilers-feedstock`. This is enough to cross compile other packages and to bootstrap a `conda` installer. `cross-native` are currently not supported in `ctng-compilers-feedstock`, but it shouldn't be too much work to do it.

[2020-08-15 12:38] beckermr commented on #1134
We patch the repodata of the packages in order to maintain the ecosystem. This is normal and expected. The only true source is the repodata.json. Everything else is out of date or wrong. In the example above, the pin on zstd was too tight given its ABI compatibility. We loosened the pin to ensure that more environments are solvable and to ease the amount of maintenance.

I am going to close this i

[2020-08-15 12:38] #1134 closed

[2020-08-15 12:39] beckermr commented on #1132
Please open this issue on the numpy-feedstock. Moving it.

[2020-08-15 12:44] beckermr commented on #933
fixed. closing

[2020-08-15 12:44] #933 closed

[2020-08-15 12:48] beckermr commented on #851
yeah this can be closed given all of the cos7 stuff we did

[2020-08-15 12:48] #851 closed

[2020-08-15 12:56] beckermr commented on #783
I think time has answered all of the questions / issues here.

1. conda-forge now builds all of its CDTs outside of feedstocks.
2. We have included licenses for all of them.
3. We have checksums for the binaries and are not packaging source RPMs.
4. The testing issues have been resolved.
5. The docs have been updated.
6. We now use strict channel priority when building and so only use our CDTs and

[2020-08-15 12:56] #783 closed

[2020-08-15 20:42] #991 closed

[2020-08-15 21:23] beckermr commented on #1068
closing due to cfep18

[2020-08-15 21:23] #1068 closed

[2020-08-15 21:24] beckermr commented on #1062
cc @scopatz

[2020-08-17 17:34] bellet commented on #1092
Hi, is there any update on this?

[2020-08-21 04:09] BrenBarn commented on #28
Has there been any movement on this?  It's still a bit of a pain to deal with installing packages that exist on PyPI but don't have a corresponding conda package.

The problem with something like `wheel2conda` is that I have to download a wheel.  I don't want to download a wheel, just like I don't want to download a wheel with pip or conda.  I just want to say the name of the package and get it in

[2020-08-22 13:19] parkershamblin opened #1141 "Temporary Documentation Suggestion for Setting Up Conda Forge through Anaconda Navigator"
## Problem:
I noticed that after I completed the conda-forge setup instructions [here](https://conda-forge.org/) that I still could not preview any packages offered by conda-forge in the Anaconda Navigator.

## Solution:
I used the steps below to add conda-forge as one of my Anaconda Navigator channels and view / download all the available conda-forge packages directly through through the Anaconda

[2020-08-23 20:12] pradghos commented on #1123
@isuruf : Looks like I cant create a personal fork for `conda-forge/crosstool-ng` because same name repository is already exists.
Once it will merge , I will create PR https://github.com/conda-forge/crosstool-ng . For time being, I have created PR for https://github.com/conda-forge/crosstool-ng-feedstock/pull/15 and added it as patch for now . I will clean it up from here later. Please let me know

[2020-08-24 15:41] #1141 closed

[2020-08-25 16:48] pradghos commented on #1123
@jakirkham yes, I was able to create the PR and its merged  :-)  .. Thanks to @isuruf for guiding me there ...

[2020-08-27 05:16] pradghos commented on #1123
@isuruf  created PR for cdt similar to the way ppc64le,aarch64 treating today - https://github.com/conda/conda-build/pull/4030,
considering the clefos7 is equivalent to CentOS7

[2020-08-27 16:40] mingwandroid commented on #928
No @jakirkham, Windows File IO does not do file locking well. That is the problem here.

[2020-08-28 13:57] ericdill opened #1146 "Add links to all our various chat rooms"
it's rather painful to keep track of all of the ways in which the conda-forge community stays in touch. It'd be nice to enumerate them somewhere in our docs. The ones that I know of:

* conda-forge-core google group
* gitter.im for:
  * [core](https://gitter.im/conda-forge/core)
  * [public](https://gitter.im/conda-forge/conda-forge.github.io)
  * [power pc](https://gitter.im/conda-forge-ppc64le/L

[2020-08-28 14:12] croth1 commented on #1146
It might be also worth thinking about adding an additional chat item to the navigation bar at conda-forge.org. I think chat is a very low-barrier medium for people to reach out to the community and it may not serve us well if users need to dig into the documentation to find that information.

[2020-08-30 17:43] #1146 closed

[2020-09-01 16:05] wolfv opened #1150 "Spending proposal: donate Windows build machine to Isuru"
This is a spending proposal to allocate $1500 for a Windows build machine to donate to Isuru to help conda-forge for long running builds on Windows. My proposal is for conda-forge to buy the hardware from our available funds, and donate it to Isuru, in full trust that the hardware will be put to good use.
There are no requirements for this machine to be available for other conda-forge members, but

[2020-09-01 17:38] ericdill commented on #1150
Not really related to this proposal, but does it make sense to keep a record of these things somewhere? Maybe in our conda-forge google drive somewhere?

This falls under the "Spending of funds", requiring a 50% majority to pass. Given we have 22 members of core (according to core.csv) this means we need 12 votes to pass.

[2020-09-01 18:10] scopatz commented on #1150
When does the vote end? In a week?

[2020-09-01 18:28] wolfv commented on #1150
sorry for missing the formalities, thanks both!

Yes 1 week from now sounds good, voting  will end on 8th of September 6 PM GMT+2

As @ericdill said, 50% majority required.

[2020-09-01 23:56] CJ-Wright commented on #1150
@conda-forge/core

[2020-09-02 03:02] msarahan commented on #1150
I have a machine that I can donate. Conda forge would need to pay for
shipping and a windows license. Maybe a bigger, newer SSD to speed things
up.

The box I have:
HP z820
2x xeon e5-2687w v2 (16 total cores, 32 threads)
256 GB ddr3
GTX 1070
2 TB spinning disk
2x 250 GB 2015-era SSDs

This said, $1500 would buy a much faster machine these days, though with
less RAM. It does require windows 10 pro

[2020-09-02 13:09] msarahan commented on #1150
I'm not sure why we have the notion of "writing off" here - that's a concept that applies for tax purposes. We don't deal with taxes. Is it to say that after 3 years, conda-forge will no longer "own" the machine, and whoever has it at that time is free to repurpose it?

While I trust that Isuru would absolutely use this computer in meaningful ways, I think that language around this being a dedicat

[2020-09-02 13:11] beckermr commented on #1150
I agree @msarahan.

[2020-09-02 13:26] wolfv commented on #1150
@msaharan yes, your interpretation is what I wanted to say.
I think as a community we have no means to enforce what happens to that hardware anyways, and I think 3 years is a good timeframe for a computer. If it's "returned" (where to, actually?) after that it's just going to rot away in someone else's basement.

Also regarding remote access I think it wouldn't be a great idea to have any expectat

[2020-09-02 17:12] mariusvniekerk commented on #1150
Windows 10 pro licenses are pretty cheap

[2020-09-02 18:33] ericdill opened #1153 "Update governance doc to reflect new, simpler voting proposal"
There was a discussion in the conda-tools slack about making voting simpler by adopting an apache-esque voting system where you only need half of the original vote requirements as long as no one votes "no". I'll submit a PR to our governance docs with those changes (at some point)

[2020-09-03 14:12] JamesSample opened #1154 "Package conflicts within conda-forge?"
Hi!

**Issue**

I'm trying to extend the[ jupyter/datascience-notebook](https://github.com/jupyter/docker-stacks/tree/master/datascience-notebook) Docker file. I would like to install a lot of additional packages - maybe more than is sensible within a single environment - but since they're all available on conda-forge I thought it was worth a try. I've been careful to make sure that my starting en

[2020-09-07 07:14] wolfv commented on #1150
today is the last day to vote! Would be great if whoever hasn't voted could give their thumbs-up or thumbs-down 👍 👎

@beckermr @msarahan if you are not happy with the language, do you want to copy-paste this proposal and make a new vote with your points added? I am happy to vote in favour of yours if that has more potential to reach a majority.

I just wanted to propose something with minimal over

[2020-09-07 12:55] beckermr commented on #1150
Thank you for the note @wolfv. This vote has reached quorum (11/22, kkrause14 is not eligible to vote iiuic) and has thus passed. Therefore I do not want to make a new vote. Nor would I change the language on this one since voting is timeconsuming anyways. While I do think the language should be improved, I also think we are all in general agreement on the intent of the proposal. I hope we can tak

[2020-09-07 13:01] wolfv commented on #1150
If @ericdill is correct, then it should only pass with 12 votes. Just in case.

[2020-09-07 13:04] beckermr commented on #1150
Ack right. Good catch. I expect it will pass anyway, so I will hold off. If it does not pass, I am happy to make a new one with improved language.

[2020-09-07 13:23] beckermr commented on #1150
Just for the record, I have voted no for the reasons stated above.

[2020-09-07 13:47] ericdill commented on #1150
Shall we clarify intent / language at the core meeting on wednesday? Things that I'd specifically like to clarify:

1. expectations around usage of machine
2. expectations around making machine available to other members of conda-forge
3. expectations around returning the machine

I agree with @wolfv's comment above

In my opinion, the expectations should be the following:

1. We are buying a mach

[2020-09-08 10:40] wolfv commented on #1150
great, it looks like this proposal was accepted 14 YES and 1 NO.

[2020-09-08 10:40] #1150 closed

[2020-09-08 15:32] mbargull commented on #1150
Yes, please. To me it is not clear what terms, expectations, prerequisites are intended.
(But I'd also like Isuru to have a Windows machine as soon as possible and largely agree with what Eric wrote.)

[2020-09-08 18:06] scopatz commented on #1154
Thanks for opening this, @JamesSample. This is really more of a conda question than a conda-forge question. But yes, the purpose of conda-forge is to produce binary-compatible environments. So the error message you are seeing is say that this is not possible for the packages listed.  In this situation, you have a couple of options:

* Try mamba to get a faster solve, potentially different from wha

[2020-09-09 08:18] JamesSample commented on #1154
Thanks for the reply, @scopatz!

When you say "loosening the pins", do you mean the pinned package versions in my `requirements.txt`, or is there some other setting in conda I'm not aware of? At present, I have no version pinning _at all_ in `requirements.txt` in order to give the solver maximum flexibility in finding a solution (I did have the versions pinned initially, but have progressively rem

[2020-09-09 18:37] scopatz commented on #1154
Ahh yeah, then maybe you should try adding version pins in the requirement.txt to restrict the search space.

I wish I did! I often have problems reading them myself, and sometimes they report incorrect conflicts (that are a result of higher-level problems). This is an NP-hard problem, so it has been tricky for the conda team to figure out how to report meaningful info here.  What I do in these si

[2020-09-09 19:40] jjhelmus commented on #1126
I pushed a few of the right buttons and the CDN now includes `osx-arm64` packages.  To verify:
[code]

I believe that when the repodata patch package include instructions for patching this subdir (empty instructions are fine) then current_repodata.json will be availabled.

[2020-09-09 19:42] beckermr commented on #1126
thank you @jjhelmus!

[2020-09-09 19:44] jjhelmus commented on #1126
conda-forge/conda-forge-repodata-patches-feedstock/pull/86

[2020-09-09 20:57] JamesSample commented on #1154
Thanks @scopatz ! The workflow you've described is basically my current approach, so I'll keep iterating to see if I can find a workable solution. Good to know it's not just me, anyway!

I've also just had a go using mamba, and although it still isn't working it is _much_ faster, and so far the error messages seem more helpful. Thanks for the tip :-)

[2020-09-09 21:04] scopatz commented on #1154
Great! Glad I could help!

[2020-09-11 23:49] finagle29 commented on #881
This is happening to me too on conda-forge/linetools-feedstock#2
![image](https://user-images.githubusercontent.com/5816532/92981442-ad479f00-f44e-11ea-9a1b-46ea1f44dd86.png)
![image](https://user-images.githubusercontent.com/5816532/92981447-b33d8000-f44e-11ea-9ec3-e1a3cdf3cce9.png)

[2020-09-12 00:01] jakirkham commented on #881
Please raise a new issue.

[2020-09-15 10:07] Lucurus opened #1155 "Links in doc are incorrectly formatted"
The contracting page doesn't show hyperlinks correctly. See: https://github.com/conda-forge/conda-forge.github.io/blob/master/src/contracting/00_intro.rst#contracting-information

I don't know enough about rst formatting myself unfortunately to fix it, so just wanted to bring it to your attention.

Thanks!

[2020-09-15 12:05] #1155 closed

[2020-09-23 18:40] beckermr opened #1160 "gcc 9.3.0 migration"
to do

 - [x] do put libgfortran SONAME in the package name for linux
    - [x] impl: https://github.com/conda-forge/ctng-compilers-feedstock/pull/45
    - [x] activation: https://github.com/conda-forge/ctng-compiler-activation-feedstock/pull/38
 - [x] add target platform to build hashes
   - [x] can do globally: https://github.com/conda/conda-build/pull/4065
   - [x] waiting on conda build releas

[2020-09-23 18:59] jakirkham commented on #1160
cc @raydouglass @kkraus14 @mike-wendt (for vis)

[2020-09-23 19:30] kkraus14 commented on #1160
Thanks @jakirkham. We may need to handle pinning the compiler in the nvcc feedstock to prevent gcc-9 from being pulled when nvcc 10.2 or lower is used.

[2020-09-26 10:08] mattip commented on #867
Thanks again to the conda forge team for the buildout of PyPy packages.

PyPy has released 7.3.2 which is binary-compatible with 7.3.1.
Can/should we move forward with
- updating the base package with 7.3.2
- windows 32 bit PyPy builds. PyPy does not yet offer 64-bit windows. Should this wait for 64 bit windows?
- PyPy now offers python 3.7: could we roll out a 3.7 offering in parallel to the 3.6?

[2020-09-26 19:15] jakirkham commented on #867
That makes sense. Yeah we dropped Windows 32-bit support a long time ago. So I think we would need to wait for 64-bit support for Windows. Adding Python 3.7 PyPy would be great!

Updating the existing Python 3.6 PyPy, should just be a matter of adding a PR to [this feedstock]( https://github.com/conda-forge/pypy3.6-feedstock ). Adding Python 3.7 would be done through a new recipe to [staged-recipe

[2020-09-26 20:40] CJ-Wright commented on #867
What is the support plan for pypy3.6? Should we build it with pypy3.7?

[2020-09-26 22:52] jakirkham commented on #867
For the time being that sounds like a good idea. It's the only PyPy version that we have a decent number of packages built for.

[2020-09-30 05:01] Mahbuba-Tasmin opened #1161 "[WSGI:ERROR] ModuleNotFoundError: No module named 'regex._regex' on Miniconda Environment"
Issue: ### When calling nltk package installed at miniconda3 environment from flask on apache server, Centos 7 platform, the module regex not found error raises. The python script runs perfect when running standalone, but serving from server creating the issue. Apache server also works fine without specific call to nltk package. I have checked the regex installation, it does not have any script na

[2020-09-30 05:20] isuruf commented on #1161
Since you are using `defaults` and not `conda-forge`, this is not the correct place to create this issue.

[2020-09-30 05:20] #1161 closed

[2020-10-02 01:24] CJ-Wright opened #2110 "Sort/partition PRs into mergeable and not mergable"
This way we can easily go through and merge things.

[2020-10-02 13:59] beckermr opened #1162 "moving from master to main mega-issue"
to do:
 - [x] set current org-wide default to `master` for the time being so we don't break anything
 - move over non-feedstock repos/tools
   - [x] conda-smithy (https://github.com/conda-forge/conda-smithy/pull/1500)
   - [x] web services (https://github.com/conda-forge/conda-forge-webservices/pull/462,  changed heroku too)
   - [x] admin migrations (https://github.com/conda-forge/admin-migration

[2020-10-02 14:01] #1099 closed

[2020-10-03 14:22] mariusvniekerk commented on #1162
Given that they (gh) plan for automated tooling to do this and we have a lot of repos, I'm inclined to wait

[2020-10-03 15:00] beckermr commented on #1162
100% agreed - what they can't do for us is change our tooling so it looks for main branches instead of master

[2020-10-03 21:35] mattip commented on #1011
@isuruf how do we update the meta package for 1.14.2 which is needed for pypy3.6-v7.3.2?

[2020-10-03 21:43] isuruf commented on #1011
You already did in https://github.com/conda-forge/pypy-meta-feedstock/commit/95f9f0f66547ebd3604cc1ec85b0470c28c0598c
There was an upload issue because of a new security feature we implemented. Will fix in a moment.

[2020-10-03 21:53] mattip commented on #1011
thanks

[2020-10-03 22:46] isuruf commented on #1011
Should be fixed now

[2020-10-06 09:08] moorepants commented on #761
Just throwing in my 2 cents as I've been struggling with how I'm supposed to get plotly graphs to show up in Jupyterlab via conda install commands. From a user's perspective, I expect "conda install plotly" to give me a fully working plotly install, including the display of figures in Jupyter notebooks classic and JupyterLab (note that the plotly feedstock is actually a plotly.py installation). Bu

[2020-10-06 14:45] scopatz commented on #761
FWIW, there are now these instructions for packaging JLab ext: https://conda-forge.org/docs/maintainer/knowledge_base.html#jupyterlab-extensions

[2020-10-06 14:50] moorepants commented on #761
Nice! That's super helpful and good to have a best practice recommendation.

[2020-10-07 12:36] moorepants commented on #761
I followed the instructions in the documentation and seem to be successfully dropping the node package tarball in the right location, but when I open Jupyterlab or run `jupyter lab build` the extension is not recognized and nothing is built. Is there something I'm missing. The open PR is here: https://github.com/conda-forge/plotly-feedstock/pull/85

[2020-10-07 14:19] scopatz commented on #761
CC @saulshanabrook

[2020-10-07 18:09] ocefpaf opened #1163 "Consult with NumFOCUS if we are OK to ship cudatoolkit"
From our meeting notes:

    * nvbug/3052604: Internal NVIDIA tracking system and ticket number that gives explicit permission to conda-forge
      for a cudatoolkit conda package for the redistributable pieces per the EULA.
    * Subject to matching the Description, License text + URL, and post-link messaging in this package:
      https://anaconda.org/nvidia/cudatoolkit
    * This is related to

[2020-10-07 19:36] moorepants commented on #761
It looks like JupyterLab 3.0 has a new way to distribute extensions as Python distributions (pip or conda):

https://jupyterlab.readthedocs.io/en/latest/getting_started/changelog.html#extensions-can-be-installed-without-building-jupyterlab-with-nodejs

[2020-10-07 19:39] kkraus14 commented on #1163
The NVBug was purely a tracking issue for approval of a CUDA Toolkit conda package in conda-forge. In the issue there was sign off of the relevant folks from the NVIDIA side.

[2020-10-07 19:41] jasongrout commented on #761
Here's an example jlab extension package just approved yesterday: https://github.com/conda-forge/jupyterlab_widgets-feedstock/blob/master/recipe/meta.yaml

[2020-10-07 19:42] jasongrout commented on #761
FYI, JLab 3.0 is not released yet, but the plan is to release the week after [JupyterCon](https://jupytercon.com), which is this week and next (so release in two weeks).

[2020-10-07 19:43] moorepants commented on #761
So what is the recommendation for conda forge? That the extension is a separate package? For example, should a user expect "conda install jupyterlab plotly" to provide working plotly figures in Jupyter Lab or should it be "conda install jupyterlab plotly plotly-jupyterlab-extension"?

[2020-10-07 19:48] jasongrout commented on #761
I can see good arguments both ways. Making a separate package allows you to decouple version bumps of jlab and plotly, but it is a bit more complicated for the end-user.

For right now, for the ipywidgets core package, we have the jlab package as a separate package to decouple version bumps, as well as make it cleaner to install the python kernel side separate from the frontend jlab extension side

[2020-10-07 19:51] jasongrout commented on #761
Note that you can provide a `plotly-jupyterlab-extension` package and just have `plotly` depend on it, to get both version decoupling and an easy user experience. If you do that, then the question is whether `plotly-jupyterlab-extension` should depend on jlab or not. If it does, then `plotly` depends on jlab, which is perhaps kind of heavy? If it doesn't, then just installing the `plotly-jupyterla

[2020-10-07 19:53] jasongrout commented on #761
(Also, if it doesn't, you probably want to at least make a run constraint of the appropriate jlab version, but then there's no way to do that well in python pip until they ship their new solver and enable an equivalent feature)

[2020-10-07 19:54] jasongrout commented on #761
To be clear, IIRC the JLab 2.0 way of installing and distributing extensions still works as well. The new extension distribution mechanism in 3.0 is in addition to the 2.0 way.

[2020-10-07 20:43] mariusvniekerk commented on #1162
i mean they could just have some magic in the background that treats those two refs as the same for everything :D

[2020-10-07 21:04] jakirkham commented on #1162
I guess the first step is to figure out where we use `master` explicitly as opposed to relying on the default branch (whatever that might be named).

[2020-10-07 21:10] beckermr commented on #1162
I agree. I'd rather us be proactive and make sure our tooling works. Even if github shims master to main, they could remove this later.

[2020-10-07 21:50] certik opened #1164 "conda-build does not seem to execute tests on Windows"
As reported in https://github.com/conda-forge/lfortran-feedstock/issues/17#issuecomment-705209887, we have a test in `meta.yaml` to run the built executable in `bin/`:

https://github.com/conda-forge/lfortran-feedstock/blob/10fbedd5ca9e8a2be50a41d8a06e1b66d3f68d91/recipe/meta.yaml#L34

But that line does not seem to actually be executed on Windows:

https://dev.azure.com/conda-forge/feedstock-buil

[2020-10-07 21:54] isuruf commented on #1164
This is not the correct issue tracker. As to the problem at hand, don't do `exit 0` which stops the other commands from running.

[2020-10-07 21:54] #1164 closed

[2020-10-07 21:55] certik commented on #1164
Thanks, I think that must be it, I am trying it in https://github.com/conda-forge/lfortran-feedstock/pull/18.

What is the correct issue tracker for this?

[2020-10-07 21:56] isuruf commented on #1164
https://github.com/conda/conda-build

[2020-10-07 22:11] certik commented on #1164
Thanks. I wasn't sure it was a bug in `conda-build`, so I posted here first per the conda-forge's official [instructions](https://conda-forge.org/docs/orga/getting-in-touch.html) ("You’ll use this repo as a catch-all for issues where you’re not sure where else to put them").

It turns out it was a bug in my recipe after all.

[2020-10-08 06:27] moorepants commented on #761
Yes, that should be avoided.

[2020-10-09 18:21] jakirkham commented on #1160
So I saw PR ( https://github.com/conda-forge/openmpi-feedstock/pull/67 ) recently, which is moving to GCC 9 for a package that also builds CUDA components. Admittedly OpenMPI's usage of CUDA is pretty minimal, but AIUI we probably shouldn't be doing that. Can you please confirm Keith?

If not, maybe we should discuss how we can exclude these packages from the GCC 9 migration to avoid creating pack

[2020-10-09 18:28] beckermr commented on #1160
We are building both gcc7 and gcc9 on linux-64. So we can mark the gcc9 ones broken and put in proper skips in the recipe. We could also zip the cuda keys with the other compiler keys, but this will be more complicated.

[2020-10-09 18:29] kkraus14 commented on #1160
The CUDA compiler, `nvcc`, depends on the host compiler, gcc / g++ in our case. CUDA 11.0 is the first version of CUDA that supports gcc <=9.x. CUDA 10.0 supports gcc <=7.x, CUDA 10.1 and 10.2 support gcc <=8.x (https://gist.github.com/ax3l/9489132).

Note that if a package is only using the CUDA host APIs but not actually compiling any CUDA code then using gcc 9.x should be safe regardless.

[2020-10-09 18:31] beckermr commented on #1160
Thanks @kkraus14! I think given this we should put the constraint directly in openmpi if it is needed. Our cuda universe is not so big right now that we can't handle this more selectively.

[2020-10-09 18:32] beckermr commented on #1160
I made an issue here: https://github.com/conda-forge/openmpi-feedstock/issues/68 - We can discuss more there.

[2020-10-09 18:34] kkraus14 commented on #1160
I think this is an argument for us to split the `nvcc_linux-64` package into multiple packages. Right now it's a package that handles the symlinking for both the compiler as well as the headers. If we had a separate package for just the headers that the `nvcc_linux-64` package could depend on then libraries like `arrow-cpp` that use CUDA host APIs but don't actually have any CUDA code (.cu files)

[2020-10-09 18:51] jakirkham commented on #1160
Maybe this could be handled as part of a `cudatoolkit` package? 😉

[2020-10-09 18:53] kkraus14 commented on #1160
The headers, compiler, and *driver* library are not allowed to be redistributed per the CUDA EULA. Right now we actually don't symlink the headers in any way, we just symlink the compiler and the CUDA driver library and the compiler handles finding the necessary headers. For libraries like `arrow-cpp`, they've likely already special cased finding the necessary CUDA headers on the system and don't

[2020-10-09 19:12] jakirkham commented on #1160
Right not saying we package the headers. Just saying we set the appropriate environment variables as we do currently. Maybe with an activation script?

[2020-10-09 21:44] jakirkham commented on #1160
So when an incompatible GCC and CUDA Version are used, would there be compiler errors or is it possible for it to silently succeed (even if what it produced is problematic)?

[2020-10-09 22:10] pseudotensor commented on #209
Agree, same as nomkl.  Need nogpl etc. in order to avoid leaks of bad packages that cannot be commercially used.

Example is simple matplotlib package, which installs qt pyqt pyqt5-sip etc. that are GPL, but are actually not needed for matplotlib to function without doing qt things.

Another example is python-plugify.  This installs *both* text-unidecode and unidecode, but the package only needs o

[2020-10-09 22:38] marcelotrevisani commented on #209
We do have matplotlib-base which does not rely on qt

You can create a PR there to build this package in a separated branch without those dependencies, or maybe just add that as run_constrained

We are open to improvements and PR. However, I would not develop this for the simple fact that is a private company concern than a community concern.

[2020-10-09 23:15] pseudotensor commented on #209
This affects the usefulness and lifetime adoption of conda in general.  E.g. NVIDIA rapids is lately conda only, and building from source is highly non-trivial for all architectures.  So if NVIDIA wishes to see adoption of conda and rapids, they would benefit from conda in general being able to be used more generally.

If they knew no company could easily adopt rapids because of conda mixing in GP

[2020-10-10 03:10] datametrician commented on #209
Despite the fact that this is simply not true. Numerous companies have adopted RAPIDS and many startups depend on RAPIDS. Most companies have SW audit process to make sure they are using GPL code in a non-compliant way. I wouldn’t speak on behalf of all companies, because companies with VERY strict legal SW Audit processes depend on RAPIDS AND conda.

[2020-10-10 03:25] pseudotensor commented on #209
@datametrician What is not true exactly?

You are only strengthening my argument, not going against it.  Given strict compliance requirements, there is no easy way in conda-forge to specify one does not want GPL.  Instead, one ends up wasting time hacking conda or building things separately, which undoes the usefulness of conda package management.

The more one uses conda, the more likely GPL pack

[2020-10-10 03:35] isuruf commented on #209
As @marcelotrevisani said, we are open to improvements. If you can't work on it, have a look at https://conda-forge.org/docs/contracting/00_intro.html

[2020-10-10 03:36] datametrician commented on #209
What's not true is "no company" I think that's a stretch.
On the other side, RAPIDS is not just a single library, it's a bridge of many libraries. For instance, many use our subword tokenizer with PyTorch for NLP. RAPIDS has to always work with dozens of different libraries, and there's no way to guarantee that with pip. We can at least test the interaction of RAPIDS with 100s of libraries with co

[2020-10-10 03:38] pseudotensor commented on #209
@datametrician I'm not sure what you are arguing for, I would think you'd want things to be easier, not harder, to use rapids.  Easier would be the issue at end, allowing to avoid non-GPL packages.  I am not sure why this is not obviously true.

[2020-10-10 03:42] datametrician commented on #209
I'm arguing that our adoption of conda alleviates many other issues, we wouldn't want to move from conda, and companies are adopting RAPIDS.
Having a way to isolate GPL libraries would be nice, but I'm arguing against blanket statements.
Also, RAPIDS is GPL free, so your argument doesn't apply to RAPIDS, but other conda libraries. Tossing us in seems like a red herring.

[2020-10-10 03:50] pseudotensor commented on #209
@datametrician This is a question of conda-forge as a package management system (see the issue at hand), not a question of what nvidia should be doing.

There is no "red herring".  NVIDIA rapids is just one random example of something a company would want to use.  If one only uses rapids, then sure there is no issue.  But that is a fairly academic case.  As one continues to use conda more extensiv

[2020-10-10 03:55] datametrician commented on #209
My *only* point is you can't say this, nor should you use NVIDIA to make your argument, because you don't know what we knew when making the decision or why we made it. Again, we made the decision for interoperability reasons.

I agree with you conda could do more to improve this. But that should be the basis of your argument. Don't pull us in :)

[2020-10-10 03:58] pseudotensor commented on #209
"easy" is a opinion term.  I'm confident it is less easy on average for most due to the issue at hand.

I can pull you in because it is entirely relevant, as I stated.  You don't have to focus only on an opinion statement that you disagree with.

[2020-10-10 04:02] datametrician commented on #209
We will just have to agree to disagree. The facts of your argument are strong enough to stand on their own. Stating an opinion that NVIDIA naively made a decision of this gravity is... well... an odd thing for a partner to do.

[2020-10-10 04:09] pseudotensor commented on #209
Now I see extra words put in my mouth I didn't say, which is odd as well.  It is clearly in nvidia's benefit for conda to be easier for companies to use.

[2020-10-10 04:19] datametrician commented on #209
I strongly agree conda being easier would be beneficial. This is why NVIDIA funds conda-forge and has people contributing to it. It would be great if others did the same.

[2020-10-10 04:20] pseudotensor commented on #209
Great, you could have stated this as your first and only statement and we would have been done already :)

[2020-10-13 19:24] jakirkham commented on #1160
FWIW here's a use case where we do need to match GNU compilers to CUDA compilers ( https://github.com/conda-forge/tomopy-feedstock/pull/39 ). Tried proposing a way to combine them correctly ( https://github.com/conda-forge/tomopy-feedstock/pull/39#issuecomment-707956405 ), but would not at all be surprised if that is wrong and needs changes. Though hopefully that gets us started thinking about how

[2020-10-18 05:52] znmeb commented on #63
I've got an NVIDIA Jetson AGX Xavier (8-core Tegra `aarch64` CPU plus a 512-core Volta GPU) that I can test on. I just discovered Miniforge a couple of days ago - it appears to be working out of the box on the Tegra CPU.

I also have a laptop with a GTX 1050 Ti GPU / x86_64 CPU but there's plenty of other ways to get at the GPU there.

[2020-10-20 04:07] jakirkham opened #1170 "Document conda-forge-pinning `broken` handling"
As discussed in PR ( https://github.com/conda-forge/admin-requests/pull/148 ), `conda-forge-pinning` shouldn't go through the typical `broken` process. Instead packages should just be moved to `broken` for this package.

[2020-10-20 11:13] ericpre opened #1171 "Pinning blas implementation not working?"
The documention on pining the blas implementation in https://conda-forge.org/docs/maintainer/knowledge_base.html#switching-blas-implementation doesn't seem to work:

1. run `conda install "liblapack=*=*mkl"`
2. Add `blas=*=mkl` to pinned
3. run `conda update --all` and the blas implementation switch back to netlib:

[code]

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

[2020-10-23 15:44] moorepants opened #1174 "Need for a knowledgebase explanation on how to handle pyproject.toml, PEP 517, and PEP 158"
Issue:

pip now uses the pyproject.toml file by default as per PEP 517 and PEP 518. But that file seems to be a bit redundant with the conda meta.yaml file. I've had to delete this file from the downloaded tarballs to get builds working and it seems many other feedstocks do the same:

https://github.com/search?q=org%3Aconda-forge+pyproject.toml&type=code

Is the best practice to delete the file? p

[2020-10-30 18:45] hyperknot opened #1176 "Clean conda install broken"
Issue: An install command broke which I have been using for a long time without faults.

<br/>
Environment (<code>conda list</code>)
Details about  <code>conda</code> and system ( <code>conda info</code> )

I cannot run it as install doesn't complete. It's an Ubuntu based 16.04 Docker image on x64, the install is always clean as its a Docker image.

Here is the command I've always been using:
[cod

[2020-10-30 19:23] hyperknot commented on #1176
The problem is with `conda update conda`. If I skip that command (which means conda 4.8.3) or specify conda 4.8.5 it works.
However once updated to conda 4.9 it breaks install.

[2020-10-30 19:25] hyperknot commented on #1176
+ information: I've changed the whole script to miniforge and it works out-of-the box, with and without update. (Although update seems to have no effect on miniforge).

I'll be changing my Dockerfiles to miniforge and leave this here because as of today, conda 4.9.x + conda-forge is broken.

[2020-10-31 22:26] isuruf commented on #1126
Could use some help in fixing some issues
1. https://github.com/regro/cf-scripts/issues/1222
2. https://github.com/regro/cf-scripts/issues/1220
3. https://github.com/regro/cf-scripts/issues/1221

cc @erykoff

[2020-11-06 19:26] dharhas opened #1183 "Permission for @ocefpaf to add conda-forge recipe for qhub."
Issue:

@ocefpaf has created a conda-forge recipe for our new open source project [QHub](https://github.com/Quansight/qhub). Creating this issue to confirm that he has permission to add the recipe to conda forge.

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>
N/A
[code]
</details>

[2020-11-06 19:56] isuruf commented on #1183
We don't actually require permission from upstream to add a recipe to conda-forge, but good to know.

[2020-11-06 21:38] ocefpaf commented on #1183
@isuruf this was a special case and I requested this just to be documented here to avoid annoyances in the future.

[2020-11-06 22:15] beckermr commented on #1183
I am going to lock this issue so it is preserved.

[2020-11-06 22:38] #1183 closed

[2020-11-18 17:46] CJ-Wright opened #1189 "What to do about site-packages clobbering"
What should we do when packages ship packages beyond themselves in site-packages. For instance if I have a package that ships itself and `requests` in site-packages that means that conda may no longer control what `requests` is installed, which could be problematic.

@conda-forge/core

[2020-11-18 18:17] Benfeitas opened #1190 "r-magrittr issues when installed from conda-forge (but not from R)"
I am trying to get an environment that depends on `r-magrittr` to work but cannot get it to work from conda. Loading with `library(magrittr)` throughs an error: `Error: package or namespace load failed for ‘magrittr’ in library.dynam(lib, package, package.lib):
 shared object ‘magrittr.dylib’ not found`.  Note that the conda environment finds it:

[code]

However, if I `conda remove r-magrittr` an

[2020-11-18 18:45] beckermr commented on #1189
Here are two ideas for this.

### Only Critical packages

1. Determine a list of packages that considered critical infrastructure for security or other reasons.
2. build up the mapping from files in the prefix to feedstocks
3. add checks of this mapping to CI jobs by having the CI job send the mapping to the heroku bot which then does this validation as well

### All Packages

1. Use libcfgraph to

[2020-11-18 18:49] beckermr commented on #1189
On the technical side for the second thing, we store the mappings in a github repo and then make http requests to github to pull down json blobs with the data.

For the security-based one, we can use similar mechanisms but we need to do all of the unpacking and checking ourselves. The heroku server cannot support this load, but we can use cf-staging as a place to store validated packages before so

[2020-11-18 20:16] mattwthompson commented on #746
In case anybody else comes across this - I found this to be instructive and useful as an example while figuring out how to do multiple outputs for a simple recipe (compared to, i.e. `matplotlib`, which needs several scripts): https://github.com/conda-forge/typing_extensions-feedstock/blob/master/recipe/meta.yaml

[2020-11-18 20:33] wolfv commented on #1189
We could also make it easier for people in the test section of the recipe. Currently we often test for files using the commands test section which is really cumbersome and hard to get right. I am thinking about adding some macros to boa to check for the existence of a shared library (cross-platform), a python module in site packages, a cmake file etc.

If we design these macros nicely enough we co

[2020-11-18 20:36] isuruf commented on #1189
warning is not enough. it's a security issue as well.

Also, adding stuff to boa is not going to be enough unless you would contribute those to conda-build.

[2020-11-18 20:48] wolfv commented on #1189
Sure, these could be good things to upstream. I hope to add package testing to boa next week

[2020-11-18 20:53] beckermr commented on #1189
We actually need this check in quetz to reject uploads of things that clobber. Anyone could simply remove a check in boa when building on a CI service.

[2020-11-18 20:57] CJ-Wright commented on #1189
I think that removal depends on how it is implemented, if it is a check in the recipe then yes that is removable. If it is a check applied via the boa/conda-build source code that would be more difficult to skirt.

[2020-11-18 20:59] isuruf commented on #1189
How will `conda-build` know that a package is clobbering another?

[2020-11-18 21:00] CJ-Wright commented on #1189
We can provide it with an API which returns if a file clobbers something already on conda-forge. I presume it has all the files in the prefix handy

[2020-11-18 21:01] beckermr commented on #1189
more difficult is not good enough here if we are calling this a security issue.

[2020-11-18 21:03] CJ-Wright commented on #1189
You would have to edit the source code of conda-build/boa itself. I'm not certain if there are schemes to do that in a recipe but we could (and most likely should) have the build system hash itself when performing sensitive tasks. That way we can check if the build system was modified in some way during the build.

[2020-11-18 21:03] wolfv commented on #1189
Ok there are two aspects to this: one is securing against malicious packages and the other is to make it easier for packagers to not unintentionally clobber. But yeah, I would be happy to help with development wrt to quetz as well! We're working really hard on it right now and with the plugin system in place we could totally think about rejecting uploads like this, and indexing all files in a data

[2020-11-18 21:05] beckermr commented on #1189
Yup. This coupled with package signing and a way for us to administer the outputs clobbering checks we already do would help us centralize our infrastructure and possibly replace cf-staging with something less hacky and more secure.

[2020-11-18 21:33] SylvainCorlay commented on #1189
Something that may look like clobbering but is not really is when a package get split into two. For example `foobar-static` may appear to clobber files from an earlier version of `foobar` (from before splitting static libraries).

[2020-11-18 21:37] CJ-Wright commented on #1189
Yes, we observe that with `matplotlib` vs. `matplotlib-base` so we'll need to handle exceptions to our "no clobbering" policy. We'll also need to handle cases where clobbering is expected, in the case of direct API/ABI replacement.

[2020-11-18 21:44] SylvainCorlay commented on #1189
One way to address this would be to

 - Build a mapping of files to packages.
 - Use this information to display the clobbering in the quetz front-end when inspecting a package.

The maintainers of e.g. the `Python` package would probably be worried to see some random package clobber python files, while matpltolitb feedstock maintainers would not.

[2020-11-18 21:47] beckermr commented on #1189
We will have to special-case these things like we do for outputs. Again if we are going to approach this as a security issue then simply displaying things in a front-end is not sufficient.

[2020-11-19 17:59] corneliusroemer opened #1191 "[Feature Request] Publishing conda packages on free, non-Anaconda servers"
Currently, conda-forge publishes its binaries only on Anaconda servers. That was perfectly fine, until Anaconda changed the repo server's TOS to longer make usage universally free of charge. Currently, restrictions are limited to "large" companies (>200 employees) but it's not clear whether further restrictions will follow.

Has it been considered to publish conda-forge-produced binaries to an add

[2020-11-20 11:34] vnlitvinov opened #1192 "Clarify contributing older versions of existing packages"
Issue: it is slightly unclear how to contribute an older version of already existing package.
The only information I was able to find is [this](https://conda-forge.org/docs/maintainer/adding_pkgs.html#post-staging-process):

I would suggest to add a separate paragraph there stating the process of contributing an older version.

Current process (based on gitter discussion) is: making an issue or (b

[2020-11-20 14:03] wolfv commented on #1189
I have written down my ideas for easier file-existence tests here: https://github.com/mamba-org/boa/issues/93

I'd be happy about input. I think adding this to conda-build wouldn't be too hard (I just finished the port of the test-running capabilities to boa, so I think that should be OK).

[2020-11-20 14:21] virgesmith opened #1194 "OSX linker errors trying to update 2 different python/C++ feedstocks"
Issue: see https://github.com/conda-forge/humanleague-feedstock/pull/7
and https://github.com/conda-forge/neworder-feedstock/pull/7

The errors seem identical in both, e.g. from the humanleague PR

I'm trying to update the version of this package and 2 of the builds (both OSX) are failing with:

[code]

I could silence this by adding -Wno-unused-command-line-argument (if I knew where to put it, wh

[2020-11-20 14:46] beckermr commented on #1194
cc @isuruf - do we need to edit the clang activation scripts or is this a problem in a recipe?

[2020-11-20 15:07] isuruf commented on #1194
You can ignore the `-fPIE` warning. It's needed for executables and there's no way to specify it for just executables.
To fix the error add `-Wno-unused-command-line-argument` to `CFLAGS` env variable

[2020-11-20 16:50] virgesmith commented on #1194
@isuruf can you clarify if you mean I do this on my side, or does it belong in the clang activation scripts that @beckermr referred to?

[2020-11-20 16:51] isuruf commented on #1194
On your side

[2020-11-20 16:59] virgesmith commented on #1194
Ok, but the -fPIE addition must be a recent change on your side, it's not in my build configuration (which hasnt changed) and the neworder 0.0.8 build was fine less than a month ago. I can fix the problem for my two packages, but isn't this issue likely to come up over and over again in other projects? If you fixed it in your build scripts it would fix the issue for everyone? (Just sayin')

[2020-11-20 18:08] isuruf commented on #1194
No, it's not. It's been there for at least a couple of years. If you look at the neworder 0.0.8 build in https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/223271/logs/78 it has the warning there.

Is it so bad to have a harmless warning?

How do you propose that we fix this given my above comment "It's needed for executables and there's no way to specify it

[2020-11-20 18:38] virgesmith commented on #1194
If "It's needed for executables and there's no way to specify it for just executables." then you just have `-fPIE -Wno-unused-command-line-argument` in your CFLAGS and everyone is happy? ...Thats what I meant

But fair enough, if neworder 0.0.8 had the *warning* but not the 2 failures, then I wonder if its a red herring that the failures are due to the same warning being promoted to an error? It c

[2020-11-20 18:44] isuruf commented on #1194
That'd make `autoconf` scripts go crazy.

The only error is the `-Wl,-export_dynamic` being unused. `-fPIE` is a harmless warning. You should remove https://github.com/virgesmith/neworder/blob/master/setup.py#L36 as compiler warnings increase in every new compiler version and then you'll have to have workarounds. You should only add them in your CI scripts.

[2020-11-20 19:43] ocefpaf commented on #1191
@corneliusroemer this is a response from the @conda-forge/core members. First of all, we understand your concerns. We would like to explain a bit how conda-forge works and how the TOS affects us and the users, and what are our plans as a community for the future.

What makes it non-surprising is that, at the moment, any third party channel like conda-forge is free. **The TOS does not apply to cond

[2020-11-21 16:00] virgesmith commented on #1194
all done now, thanks @isuruf

[2020-11-21 16:00] #1194 closed

[2020-11-22 05:48] tyler274 commented on #63
Why isn't OpenCL included in OpenCV already. CI support and license issues aren't an issue so why is it blocked on Cuda?

[2020-11-22 09:10] changhe3 opened #1195 "The instruction `conda config --set channel_priority strict` breaks anaconda on fresh install"
After a fresh installation of Anaconda, I followed the instruction and run commands:
[code]
Trying to execute `conda update conda` after that will get causes the command stuck in `Solving Environment` for 10 minutes and after that it prints out a huge list of conflicting packages.

[code]
fixes said problem.

[2020-11-22 21:53] wolfv commented on #1195
Try miniforge or miniconda instead of anaconda

[2020-11-23 08:43] #1195 closed

[2020-11-23 12:50] ocefpaf commented on #1195
@changhe3 the Anaconda Distribution has a lot of pre-installed packages. Most of them are not compatible with third party channels or, if compatible, required a lot of churn to find the versions that work nicely with the third party channel. Like @wolfv said, starting from a lighter installer, like minconda or miniforge, may help. Ideally, regardless of the installer, you should always be creating

[2020-11-23 12:56] changhe3 commented on #1195
Thanks. I will give a try if there're any more troubles.

[2020-11-27 09:07] kmilos commented on #1171
I'm seeing the same issue on Windows:

[code]

and I have:

[code]

<details>
  <summary>Details</summary>

[code]
</details>

Strangely enough, it does work on my second Windows machine with

[code]

<details>
  <summary>Details</summary>

[code]
</details>

The differences being that the `dev` environment is installed in the user directory instead of a system-wide one, and the `base` environment

[2020-12-01 14:33] beckermr commented on #1160
This one is done!

[2020-12-01 14:33] #1160 closed

[2020-12-01 14:36] beckermr commented on #857
This is done!

[2020-12-01 14:36] #857 closed

[2020-12-01 14:40] beckermr commented on #831
Closing!

[2020-12-01 14:40] #831 closed

[2020-12-01 14:41] beckermr commented on #711
We have the conda-forge/feedstock-outputs repo now that stores this master mapping for all of conda-forge. I am closing this issue.

[2020-12-01 14:41] #711 closed

[2020-12-01 14:44] beckermr commented on #428
bump @wolfv

[2020-12-01 14:51] beckermr commented on #897
bump @wolfv

[2020-12-01 14:55] beckermr commented on #1082
I think this is a transient bug and appears to have gone away. Closing for now!

[2020-12-01 14:55] #1082 closed

[2020-12-01 15:42] wolfv commented on #897
Using `mamba repoquery whoneeds` we can pretty quickly figure out what packages depend on A (if A was just rebuilt and released).

So we could check every hour or two what packages were rebuilt, run `mamba repoquery whoneeds X` and then run the tests of the packages.

[2020-12-01 15:42] wolfv commented on #897
obviously this wouldn't work for a Python release or other packages with lots of dependendees...

[2020-12-01 15:43] beckermr commented on #897
Right. It is hard to know what we need to test.

[2020-12-01 17:35] jakirkham commented on #711
We'd discussed having a link to the recipe added to Anaconda.org at one point as well. Maybe this is something else we should consider?

cc @chenghlee

[2020-12-01 17:37] beckermr commented on #711
Let's make a new issue somewhere to track this.

[2020-12-01 17:47] jakirkham commented on #711
We do already just have to find it 😄

[2020-12-01 17:47] jakirkham commented on #711
https://github.com/conda/conda-build/issues/2462

[2020-12-02 07:32] jakirkham commented on #1126
If people are looking to try things out and provide feedback, have we reached where they could get started. If so, do we have some instructions for them to follow? How should they share feedback?

[2020-12-05 16:50] bollwyvl opened #1208 "[docs] try out pydata-sphinx-theme?"
hey folks! I end up coming to the docs a fair amount (though often not soon enough, usually). It would be lovely if the docs were a little bit nicer on the eyes... recently, I've been trending towards (and contributing to) [pydata-sphinx-theme](https://github.com/pandas-dev/pydata-sphinx-theme).

There are lots of knobs to turn, but with a little bit of hackery, it could be something like this:

-

[2020-12-05 17:16] SylvainCorlay commented on #1208
The classic rtd theme helps funding rtd with the ads that are displayed.

[2020-12-05 20:37] xhochy commented on #1208
@bollwyvl Thanks for looking into this. I personally also prefer the pydata-sphinx-theme over the current one but not so strongly that I would invest like you do.

Splitting of the meeting minutes into a separate sounds like a good idea. Maybe we can just make them a second Sphinx site?

We neither use the rtd theme nor RTD for hosting.

[2020-12-05 22:47] ocefpaf commented on #1208
+1 to that. This has been raise a few times. The current setup makes it really hard to search the docs b/c the returns are mostly the meeting minutes.

[2020-12-06 17:32] bollwyvl commented on #1208
Welp, I'll raise the stuff about minutes in a separate issue... didn't know I would strike a chord there!

[2020-12-06 17:36] bollwyvl opened #1210 "[docs] Meeting minutes pollute search results"
from #1208:

This seems like sufficient evidence for doing... something. I'll do a little looking, but off the top of my head:
- as suggested, splitting out the meeting minutes as a separate sphinx site
- configuring the search to ignore the minutes, or offer a second search page
- figure out some kind of faceted search that allows for defaulting to opting out of the minutes in the search

[2020-12-06 23:17] bollwyvl commented on #1210
This monkeypatch in `conf.py` would allow for keeping them in the site and table of contents (and keeping stable URLs), but hide them in the HTML search. The search engines would continue to pick them up, which is probably fine...

[code]

[2020-12-07 06:42] jakirkham commented on #1210
Maybe instead of dropping them entirely we could group the search results by topic somehow?

[2020-12-07 13:10] bollwyvl commented on #1210
I looked into it... The generated js is kind of a mess for compactness
reasons, and has a bunch of things based on array indices, and I wouldn't
feel comfortable hacking that in post.

The indexing is remarkably inflexible, and hard to research because of the
_other_ sphinx search which supports facets and fancy query syntax.

The only plugin I did find didn't really do much for us:

https://githu

[2020-12-07 13:42] bollwyvl commented on #1210
Yeah, something like this _basically_ works...

[code]

[code]

[code]

The size difference is marked, which is nice for making the search feel snappy:
[code]

[2020-12-13 19:28] beckermr commented on #1210
I'd support a PR with this change as long as everything is automated.

[2020-12-14 11:31] jamesmyatt opened #1215 "Feedstock repo tags on publish"
It would be great if the feedstock repos could be tagged with the full version number every time a recipe is published to conda-forge.

In particular, this would allow people to use the "Watch Releases" functionality in GitHub to be notified when a package is updated in conda-forge, and it would help with tracing between Anaconda.org, conda environments and the feedstocks.

What do you think? I as

[2020-12-14 13:12] beckermr commented on #1210
We should be able to specify a custom search scorer.

https://github.com/conda-forge/conda-forge.github.io/blob/master/docs/_static/searchtools.js#L21

html_search_scorer
The name of a JavaScript file (relative to the configuration directory) that implements a search results scorer. If empty, the default will be used.

I cannot find an example of how to do this though.

[2020-12-14 13:16] beckermr commented on #1210
here is the PR: https://github.com/sphinx-doc/sphinx/commit/1832284e89435572f778dd3abbd53ef67494cfb5

It looks like you implement the entire score var. We can use the function there to down weight the meeting minutes I think.

[2020-12-14 13:25] bollwyvl commented on #1210
Looks like a less hacky hack! Will take a look when next i get a chance.

[2020-12-14 14:35] jaimergp commented on #901
I might tackle this over the Christmas break, together with other GPU stuff like https://github.com/conda-forge/cudatoolkit-feedstock/issues/38. How should we coordinate @jakirkham ?

[2020-12-14 20:39] #1210 closed

[2020-12-14 20:57] bollwyvl commented on #1210
Can't keep up with all your efforts! Thanks!

[2020-12-15 14:57] beckermr commented on #974
This is done.

[2020-12-15 14:57] #974 closed

[2020-12-15 14:59] beckermr commented on #686
This is happening in artifact-validation and has been rolled into issue #https://github.com/conda-forge/conda-forge.github.io/issues/1189.

I am going to close this issue to clean things up.

[2020-12-15 14:59] #686 closed

[2020-12-16 02:31] CJ-Wright opened #1219 "How to keep (and rotate secrets)"
Managing our numerous secrets can be quite a chore, requiring manual key rotation and updating. This may get more complex in the future, especially if we move to each feedstock having independent keys scoped to only it's packages. It would be good to figure out a way to manage this, since it will reduce key person risk (since the task will be easier and more welcoming to less knowledgeable users)

[2020-12-16 02:35] CJ-Wright opened #1220 "Infrastructure configuration storage and automated provisioning"
It might be nice to have a single place where we can store information on configurations for our various pieces of infrastructure and automatically provision new infrastructure from there. For instance, we could use this to keep track of the webservices config and reprovision the service in case of crash or other catastrophic error. This could be extended to our other bot infrastructure, and poten

[2020-12-16 02:51] beckermr commented on #578
I'm adding an RSS feed from the news page: https://github.com/conda-forge/conda-forge.github.io/pull/1221

[2020-12-16 19:57] jakirkham commented on #578
Thank you for doing that! 😄

Should we do this for the blog as well?

[2020-12-16 20:03] beckermr commented on #578
The blog has one already. I added a link to it in the documentation.

[2020-12-16 20:06] beckermr commented on #578
https://conda-forge.org/blog/atom.xml

[2020-12-16 20:08] beckermr commented on #578
I think maybe this issue can be closed?

[2020-12-16 20:29] jakirkham commented on #578
Interesting one uses Atom and the other RSS. Maybe we should use RSS for both (or Atom)?

[2020-12-16 20:30] jakirkham commented on #578
Yeah let's close. We can follow up on other things in new issues.

[2020-12-16 20:30] #578 closed

[2020-12-18 10:57] jaimergp opened #1225 "Missing packages on Conda Forge vs defaults on Windows"
Conda forge does not rely on `defaults` on Unix, but there are some ties on Windows. On this notebook I try to quantify those differences. After the `msys2` rebuild these are way less! I can rerun this as needed or maybe it's better if the notebook is part of some official repo here. Please let me know which repo that'd be if you're interested:

https://colab.research.google.com/drive/1uladCMIOXgT

[2020-12-18 12:22] ocefpaf commented on #1225
At a first glance I would say that the missing R packages are probably the only ones that could be problematic. There are some Anaconda specific packages, or rarely used ones, in `defaults` and `msys2` list. @isuruf probably will have a keen eye to identify which ones I missed and we should work on adding.

[2020-12-24 14:24] beckermr commented on #950
Nothing bubbled up for over a year here. I am going to close this for now as it seems this is not needed.

[2020-12-24 14:24] #950 closed

[2020-12-24 14:24] #995 closed

[2020-12-24 14:26] beckermr commented on #859
Fixed in #1231

[2020-12-24 14:26] #859 closed

[2020-12-24 14:29] beckermr commented on #1192
This was added in #1231

[2020-12-24 14:29] #1192 closed

[2020-12-24 14:33] beckermr commented on #644
This is fixed AFAIK. We have a few webhooks lying around from when we moved from .org to .com, but these can be deleted by hand as needed. Closing!

[2020-12-24 14:33] #644 closed

[2020-12-24 14:42] beckermr commented on #850
I am closing this issue as most of the main ideas made it into CFEPs or are implemented now.

[2020-12-24 14:42] #850 closed

[2020-12-24 14:43] #577 closed

[2020-12-24 14:44] beckermr commented on #1162
Looks like they will be rolling out better automated support in January of 2021.

[2020-12-29 18:02] h-vetinari commented on #1062
I wanted to bring up something along the lines of [this](https://github.com/conda-forge/pytorch-cpu-feedstock/issues/7#issuecomment-688525329) again:

## The birds

Given the effort expended for packaging GPU packages, the role of conda(-forge) in the scientific/ML stack (including "network effect") & the capabilities of existing conda(-forge) infrastructure, it would kill a lot of metaphorical bi

[2020-12-29 18:17] beckermr commented on #1062
We should all chat offline. We have other things going on around this as well and hope to make progress in the new year.

[2020-12-29 19:50] hmaarrfk commented on #1062
An other idea would be to use a self hosted runner.

https://docs.github.com/en/free-pro-team@latest/actions/hosting-your-own-runners/about-self-hosted-runners

For windows it is trickier, but for linux we should be ok to pool a few resources maybe.

[2020-12-29 20:24] beckermr commented on #1062
There are a bunch of practical and legal issues around this. The technical bits of setting it up are straight forward.

[2020-12-29 20:59] kkraus14 commented on #1062
cc @datametrician @jakirkham from the NVIDIA side for visibility as well

[2020-12-30 14:54] vtbassmatt commented on #1062
Happy New Year! 🎉

In terms of the tech, you can probably use [scale set agents](https://docs.microsoft.com/azure/devops/pipelines/agents/scale-set-agents) with an appropriate choice of VM and image to achieve this.

From a funding/sponsorship perspective, Microsoft's contribution model is free hosted agents and parallelism.

[2020-12-30 15:53] beckermr commented on #1062
@vtbassmatt are you saying the permissions on the conda-forge account already allow us to use agents w/ GPUs attached?

[2020-12-30 15:57] vtbassmatt commented on #1062
Yes, you (whoever is the organization admin) should be able to create a scale set pool pointing to an Azure subscription. The subscription will need a scale set running on the type of VM you prefer, in this case with GPU support. Then any pipelines authorized to use that pool will have access to that GPU-enabled virtual hardware.

If this isn't clear, my apologies and I can help out more next week

[2020-12-30 15:59] leofang commented on #1062
Sounds like a Christmas gift for free!

[2020-12-30 16:06] beckermr commented on #1062
That seems perfectly clear! Thank you!

@mariusvniekerk is one of our most knowledgeable azure folks.

We will give this a shot and see what we find!

[2021-01-04 15:05] padix-key opened #1234 "Recipes for builds of software not maintained by the contributor"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

I would like to contribute a recipe for a software project not maintained by myself. Specifically I would like to add a recipe for https://github.com/schrodinger/pymol-open-source, a project I do

[2021-01-04 15:07] synapticarbors commented on #1234
Hi @padix-key -- most recipes are contributed by individuals who are not the maintainer of the actual package. It's generally nice to let the author know that you're doing so and ask if they'd like to be a co-maintainer of the recipe, but it is by no means required.

[2021-01-04 15:37] padix-key commented on #1234
OK, thank you.

[2021-01-04 15:37] #1234 closed

[2021-01-04 15:40] pauldmccarthy commented on #616
Apologies for raising this old thread, but it seems to be the best/most canonical source of information regarding C++ ABI compatibility on `conda-forge`-provided packages.

Is it still the case that C++ packages on `conda-forge` are/should be compiled against the old ABI (i.e. with `-D_GLIBCXX_USE_CXX11_ABI=0`)?

I ask, because I am continually running into problems where it appears that this is n

[2021-01-04 22:21] jjhelmus commented on #616
conda-forge completed the migration to the "new" compilers in January of 2019.  These compilers use the newer C++11 ABI. Packages should no longer be compiled with the `-D_GLIBCXX_USE_CXX11_ABI=0` flag.

I'm closing this issue since the migration to the new compiler removes the compatibility concerns discussed in this issue.

[2021-01-04 22:21] #616 closed

[2021-01-07 00:23] isuruf opened #1237 "Feedstocks still using macOS builds on Travis-CI"
This is from November 20 to January 6.

- [ ] conda-forge / gdb-feedstock
- [x] conda-forge / lastools-feedstock
- [x] conda-forge / pulsewaves-feedstock
- [x] conda-forge / cxxopts-feedstock
- [ ] conda-forge / gmsh-feedstock
- [x] conda-forge / ocaml-feedstock
- [x] conda-forge / udunits2-feedstock
- [x] conda-forge / sfepy-feedstock
- [x] conda-forge / nspr-feedstock

we should move away from t

[2021-01-07 00:29] phil-blain commented on #1237
regarding GDB, we need macOS 10.13 unfortunately, because GDB hangs about half the time on 10.14+ (see https://github.com/conda-forge/gdb-feedstock/tree/master/recipe). So I'm not sure what can be done.. apart from just removing the test on macOS.

[2021-01-07 01:15] jakirkham commented on #1237
AFAICT `nspr` is only using Travis CI for `ppc64le` builds, but please let me know if I'm missing something

[2021-01-07 13:40] peterjc commented on #1237
This happened last month for ocaml during https://github.com/conda-forge/ocaml-feedstock/pull/22, we have ``.azure-pipelines/azure-pipelines-osx.yml`` replacing ``.travis.yml``

[2021-01-08 16:21] beckermr opened #1238 "put docs on RC versions in main docs"
We have docs here in the CFEP (https://github.com/conda-forge/cfep/blob/master/cfep-05.md) but they are hard to find. We should move them to the main documentation.

[2021-01-08 19:35] #901 closed

[2021-01-09 12:27] h-vetinari commented on #1062
Ping @mariusvniekerk :)

[2021-01-09 13:02] beckermr commented on #1062
Marius and I chatted. I think I misunderstood what was being said here. We'll need a hosted pool of VMs with gpus to do this.

[2021-01-09 14:25] h-vetinari commented on #1062
That was my understanding when I [tried](https://github.com/conda-forge/conda-forge.github.io/issues/1062#issuecomment-752185867) to make the case for bringing together interested/affected parties to come up with (the funding for) such a hosted pool.

[2021-01-09 15:16] h-vetinari commented on #1059
Since https://github.com/conda-forge/pytorch-cpu-feedstock/pull/22, that feedstock has the following build strings:
[code]

I had [asked](https://github.com/conda-forge/pytorch-cpu-feedstock/pull/22#issuecomment-752116876) in that PR:

Copying this here because I'd like to have an idea of what should be used before I go forward with the adaptation in https://github.com/conda-forge/faiss-split-feed

[2021-01-09 20:03] brianmingus2 commented on #867
This is the ultimate proof of readiness for PyPy and it's time that we could simply use it they have put so much work into it over the last 15 years can you guys automate kicking off builds of everything for PyPy?

[2021-01-09 20:22] mattip commented on #867
@brianmingus2 My reply may be inappropriate, please clarify your intention if I missed.

This issue describes the extensive work conda forge completed to make [PyPy3.6 available](https://conda-forge.org/blog/2020/03/10/pypy/). On Sept 26 I used the closed issue to bring up the new release of PyPy3.7, I probably should have opened a new issue instead. In the mean time, the [migration for PyPy3.7](h

[2021-01-09 20:26] brianmingus2 commented on #867
Thank you for the reply, what is the hangup, lack of integration tests requiring manual review?

[2021-01-09 20:31] beckermr commented on #867
See the conda forge status page:

conda-forge.org/status

It lists the packages that are done, in pr etc. help fixing failed builds is appreciated!

[2021-01-09 21:10] mattip commented on #867
The PyPy3.7 migration only began 4 days ago. It takes a while for the bot to churn through all the packages.

[2021-01-11 05:50] leofang commented on #1059
For cpu-gpu mutex: In this recipe I showed that it's possible to do a per-recipe mutex:
https://github.com/nsls-ii-forge/qulacs-feedstock/blob/b8afd0011e9412703800b1c69f8b85eff00cffd5/recipe/meta.yaml#L56-L63
It's similar to the `mpi` mutex, except that it's done on a per-recipe level via multiple outputs so that the recipe maintainers can have full control. Once this is done, the naming scheme is

[2021-01-11 10:29] blackbox-tech opened #1239 "awscli issues with conda-forge on OSX-64"
I'm having issues with several conda-forge packages in osx-64 which install without problems on linux.  Specifically one package that I can't get to install on osx-64 is the **awscli** (the Amazon Web Services cmd-line interface).

I've had to attach the steps to reproduce this issue [in a separate gist](https://gist.github.com/blackbox-tech/965061ebb6b7c776a1dab48eba028e04) because I can't post t

[2021-01-11 16:31] zklaus commented on #1237
I think conda-forge / udunits2-feedstock was fixed in the mean-time as
part of a version upgrade.

On 06/01/2021 18:24, Isuru Fernando wrote:

[2021-01-11 21:20] #1238 closed

[2021-01-12 20:59] beenje opened #1241 "Add index of CFEPs"
I think it would be nice to have an index of CFEPs in the main documentation.

Even when the main content of a CFEP has been included in the docs, CFEPs provide useful information. They are not very easy to find today. An index would ease that.
It would be good if this was automated but I don't really see how it would fit with the sphinx documentation. On the other side, there aren't that many CFE

[2021-01-12 21:53] beckermr commented on #1241
Please do!

[2021-01-13 13:29] kmuehlbauer commented on #124
I think my original request is resolved somehow.

[2021-01-13 13:29] #124 closed

[2021-01-14 17:59] jakirkham commented on #1237
sfepy was fixed in PR ( https://github.com/conda-forge/sfepy-feedstock/pull/32 )

[2021-01-14 18:57] jakirkham commented on #1237
`gmsh` seems to [need a specific macOS SDK]( https://github.com/conda-forge/gmsh-feedstock/blob/3fdf61a5519d3db20062094815c07c48f61c9182/recipe/conda_build_config.yaml#L1-L2 ). Not entirely sure the history there. Maybe this can be moved to Azure with a little work? Started this with PR ( https://github.com/conda-forge/gmsh-feedstock/pull/38 ), but may need help from others to complete this.

[2021-01-14 19:07] isuruf commented on #1237
gmsh and gdb are legitimate uses of travis. Thanks everyone for the help in fixing this issue.

[2021-01-14 19:07] #1237 closed

[2021-01-14 21:38] #1241 closed

[2021-01-21 11:57] croth1 opened #1247 "Document c-compiler and cxx-compiler meta packages"
This serves as a reminder that I promised to add docs about c-compiler and cxx-compiler meta packages :-)

[2021-01-22 00:51] #1247 closed

[2021-02-02 17:44] ericpre opened #1253 "Start menu shortcuts on windows"
Short version
------------------
What to do with the menu name where the start menu shortcut are added (windows only)?

Long version
------------------

Fortunately, start menu can be added easily to recipe [using menuinst](https://github.com/ContinuumIO/menuinst/wiki) and conda will create/remove the shortcut automatically. However, there is one issue with the name of the folder where these short

[2021-02-03 20:24] jakirkham commented on #49
As the Conda compilers do a pretty good job optimizing for a high end and low end CPU, we have mostly addressed this issue in a broad way. For more specific optimizations, Conda does have an `archspec` metapackage ( https://github.com/conda/conda/pull/9930 ), which allows selecting a package based on a specific CPU (if there are different builds of a package). If we have more specific needs for CP

[2021-02-03 20:24] #49 closed

[2021-02-07 23:07] ilanschnell opened #1256 "add bootstrapping variable to conda_build_config.yaml"
During the process of bootstrapping packages to a new architecture, it is sometimes necessary to build packages in bootstrapping mode. For example, when the full functionality of the package isn't available yet, but the package is necessary to build other packages will make the full functionality available later (in a regular non-bootstrapping) build.

In order to decide whether or not a build is

[2021-02-08 01:38] jakirkham commented on #1256
cc @conda-forge/core

[2021-02-08 02:01] beckermr commented on #1256
We have a GitHub discussion going on this. Maybe close this in favor of that?

[2021-02-08 02:25] jakirkham commented on #1256
Issues are a bit easier to see on mobile. Is there a reason a discussion was preferred over an issue?

[2021-02-08 15:05] bollwyvl commented on #1126
Thanks for hustling so hard on all this, folks! We're now down to where most folk seem pretty happy. Had a couple folks asking on gitter/elsewhere on _when will package X_ be available. Seems like something on `knowledge_base.rst` would give them someplace to land (and hopefully follow-up with testing on a native box). PR incoming!

[2021-02-08 19:22] ocefpaf commented on #1256
Can we post the link to it here? I tend to agree with the mobile friendly argument, specially lately since I work at least half-day on mobile only.

[2021-02-08 19:37] jakirkham commented on #1256
I think this is it ( https://github.com/conda-forge/conda-forge.github.io/discussions/1255 )

[2021-02-09 03:53] ilanschnell commented on #1256
Closing in favor of: https://github.com/conda-forge/conda-forge.github.io/discussions/1255

[2021-02-09 03:53] #1256 closed

[2021-02-10 20:14] parthe opened #1258 "conda-forge matplotlib install error"
Installed matplotlib using

```conda install -c conda-forge matplotlib```

This matplotlib worked when I opened ipython in the terminal

However when using with the ipython inside **_Spyder_**, this gave the following error

```**ImportError**: DLL load failed while importing ft2font: The specified module could not be found.```

```conda install matplotlib=3.3``` resolved this issue.

[2021-02-10 20:15] beckermr commented on #1258
Please make this issue on the matplotlib feedstock.

[2021-02-11 11:45] johnlees opened #1259 "regro-cf-autotick-bot breaks skip line"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

I am having an issue with one of the conda forge bots, apologies if this is the wrong place for such an issue.

Each time the regro-cf-autotick-bot autobumps a package version, it mangles the `sk

[2021-02-11 11:54] CJ-Wright commented on #1259
@conda-forge/bot

[2021-02-11 12:20] beckermr commented on #1259
This one is on me. It is very odd.

[2021-02-11 12:27] beckermr commented on #1259
I suspect it is the line length of the skip line. This one can be broken into more than one line.

[2021-02-11 18:20] johnlees commented on #1259
Is the fix just for me to break that line then? Is that by making it something like:
[code]

[2021-02-11 18:54] beckermr commented on #1259
I think that will fix it, but I need to write a unittest to be sure.

[2021-02-11 18:56] isuruf commented on #1259
You could also do `skip: true  # [py2k or win or cuda_compiler_version in ("9.2", "10.0", "10.1", "10.2")]`

[2021-02-14 13:05] h-vetinari commented on #49
@jakirkham
Not sure this is fully ready yet? I'm trying to find out how I could indicate a dependence on a given CPU feature or generation, but conda/conda#9930 doesn't provide much info, and there's nothing I can find in the [knowledge base](https://conda-forge.org/docs/search.html?q=archspec) or the [archspec-feedstock](https://github.com/conda-forge/archspec-feedstock/blob/master/recipe/meta.ya

[2021-02-14 13:08] beckermr commented on #49
I thought we had one but idk where it is. It is not ready.

[2021-02-14 19:35] jakirkham commented on #49
If there are additional features needed from Conda or Conda-Build, would raise issues on those repos

[2021-02-16 09:58] jaimergp opened #1261 "archspec-enabled packages"
- [X] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Comes from [[1]](https://gitter.im/conda-forge/conda-forge.github.io?at=602b89c78031c8234be469a9), [[2]](https://github.com/conda-forge/conda-forge.github.io/issues/49), [[3]](https://github.com/conda/co

[2021-02-16 14:05] beckermr commented on #1261
I've heard there is an upstream pr for conda to expose the exact set of CPU features. I don't know the status of this pr.

@chenghlee ?

[2021-02-16 14:28] jaimergp commented on #1261
Maybe this one? https://github.com/conda/conda/pull/9461

[2021-02-16 14:39] beckermr commented on #1261
Good find!

[2021-02-16 14:41] beckermr commented on #1261
I think idea 2 is closer to what we want. I don't care about Haswell or w/e. I do care about avx or avx512

[2021-02-16 14:59] chrisburr commented on #1261
How about using the new ["feature levels" of GCC 11 and Clang 12](https://www.phoronix.com/scan.php?page=news_item&px=GCC-11-x86-64-Feature-Levels) to define the meta-package's build strings? (I don't mean we have to wait for the compilers to be updated, just imitate the same compatibility levels.)

[2021-02-16 15:05] jaimergp commented on #1261
Is that only for `x86-64`?

[2021-02-16 15:05] beckermr commented on #1261
Yes it appears to be only x86_64. We'd need to translate those levels to specific things in archspec IIUIC. We should discuss this at the next core meeting.

[2021-02-16 15:49] beckermr commented on #1261
@chenghlee @wolfv It appears that archspec implements comparison operators for CPUs based on feature sets. This means you can do things like figure out if a build will run on the CPU you have and specify compatibility as things like `>=haswell` etc. Is there a way to feed this info into the conda solver that is scalable?

[2021-02-16 15:52] isuruf commented on #1261
See https://github.com/archspec/archspec/issues/24

[2021-02-16 15:55] beckermr commented on #1261
Ohhhh nice. Thanks @isuruf!

[2021-02-24 06:49] leofang opened #1265 "Autogenerate a new release PR by merging the dev/rc branch if it exists?"
Currently,
- The bot is good at discovering new releases and generating a PR for it
- According to [CFEP-05](https://github.com/conda-forge/cfep/blob/master/cfep-05.md) there can be a dev or rc branch publishing pre-releases (although the bot is currently not discovering new pre-release versions for us)

I am not suggesting to fix item 2, but am simply wondering if it is possible for the bot to ta

[2021-02-24 17:01] CJ-Wright commented on #1265
Are you interested in putting up a PR into the bot for this? This use case seems a bit niche to me, since I think number of pkgs shipping rc branches is small. That being said, if you need that niche filled, I'd be happy to review this. Note that this will need to handle the correct rc -> branch mapping and updates to things beyond the meta.yaml (eg build.sh)

[2021-02-24 18:19] leofang commented on #1265
Thanks, CJ. I don't even know where the bot code is 😂 If you could give me a few pointers I can take a quick look and evaluate the dev time needed, thanks.

[2021-02-24 18:20] beckermr commented on #1265
regro/cf-scripts

[2021-02-24 18:36] leofang commented on #1265
So is this the main file that I should look at?
https://github.com/regro/cf-scripts/blob/master/conda_forge_tick/update_upstream_versions.py

[2021-02-24 19:09] beckermr commented on #1265
That file is used for getting upstream versions. For the code that makes the PR, you want the class in the migrators submodule. We should move this convo to the cf-scripts repo.

[2021-02-28 14:17] shay314 opened #1266 "pynamodb: ModuleNotFoundError: No module named 'typing_extensions'"
Issue:

<br/>
Environment (<code>conda list</code>):
<details>
When I try to import pynamodb I get:
ModuleNotFoundError: No module named 'typing_extensions'

Full traceback:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/conda/envs/jobim/lib/python3.7/site-packages/pynamodb/models.py", line 29, in <module>
    from typing_extensions import Protocol
Mod

[2021-02-28 14:22] beckermr commented on #1266
Thank you for the note! Please make these issues on the feedstock.

[2021-03-01 12:39] bollwyvl commented on #1052
As this has come up again for @conda-forge/cryptography:

I wonder if we start curating a community package, e.g. `conda-forge-rust-licenses` and `conda-forge-go-licenses` (or just lump them together under `conda-forge-license-library`) which has some automation to at least allow centralizing the list of known/used `<thing>/<version>/(UN)LICEN(S|CE(-.*)(.(txt|md))?` (oh and don't forget `COPYRIGHT

[2021-03-02 03:20] bollwyvl commented on #1052
So would a `conda-incubator/*` be the right path? I'm imagining a small (potentially single file) python package with a simple in-build CLI like `cargo-licenses | dmv -o $SRC_DIR/third-party-licenses`. The JSON/CSV file with, at the very least, the couple hundred licenses URLs/SHAs, would then live in the feedstock... but could contain the actual licenses texts themselves.

[2021-03-02 04:15] jakirkham opened #1267 "Improving documentation for new maintainers"
Genevieve recently got involved at conda-forge and was confused about how to find things relevant to particular processes (like adding a new maintainer). She has written up some feedback for us here that may be worth reflecting on and incorporating into the documentation.

https://github.com/conda-forge/dask-image-feedstock/pull/8#issuecomment-788541834

[2021-03-04 20:31] jakirkham opened #1269 "OpenMP on Windows"
On Linux and macOS packages are built to allow OpenMP to be selected at runtime (see [docs]( https://conda-forge.org/docs/maintainer/knowledge_base.html#openmp )). Though it doesn't appear we have considered Windows. Admittedly am not a Windows expert, but my guess is this is due to Windows including its own (albeit somewhat dated) OpenMP implementation. As some folks are now investigating using L

[2021-03-04 20:33] jakirkham commented on #1269
cc @beckermr @ax3l (who may have thoughts here 🙂)

[2021-03-04 20:41] beckermr commented on #1269
I have no thoughts on windows. Everything is hard and weird to me.

[2021-03-05 00:10] ax3l commented on #1269
Thanks to @isuruf's help, I am driving really well with `clang-cl` in https://github.com/conda-forge/warpx-feedstock

The trick lies in using the MSVC interface of clang, so we don't have issues with flag-forwarding from dependencies, and for CMake building with Ninja and the according linker from LLVM:
[code]

[2021-03-05 00:46] jakirkham commented on #1269
I thought both of those OpenMP implementations used the same API, which should let us just build against the LLVM one and let users select between the 2. Though could be wrong about that

[2021-03-05 08:13] ax3l commented on #1269
My CMake `find_package(OpenMP)` error was pretty concrete on CXX though, could be possible that we were just missing to build or configure a component or so for `intel-openmp`:
[code]

[2021-03-08 13:26] BastianZim opened #1270 "Add section to docs about empty packages for specific python versions"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

There are some packages in python that include features added to later python versions like dataclasses and typing_extensions.

Originally, they could only be installed under specific python vers

[2021-03-08 13:27] beckermr commented on #1270
PRs welcome!

[2021-03-08 13:29] BastianZim commented on #1270
Will do! Is there a database somewhere? If not, might make sense since that could also be read by Grayskull when creating recipes.

[2021-03-08 13:30] BastianZim commented on #1270
And I assume this should be under https://conda-forge.org/docs/maintainer/knowledge_base.html correct?

[2021-03-08 20:44] beenje commented on #590
Hello! I'm looking into packaging some java applications with conda. I was wondering if some best practices have emerged since this issue was opened?

The app has a few jar files as dependencies. I'm planning to make one recipe per jar.
Is it ok to download directly an existing jar file or should we try to compile it in the recipe?

[2021-03-12 13:51] astronauti opened #1271 "Tensorflow-probability conda forge package broken"
When installing the Tensorflow-probability package from conda-forge it installs tensorflow-base with tf version 2.3. TF-probability however needs at least TF 2.4 to run. So when importing tf it imports tf 2.3 and tf agents can't be imported properly.

https://anaconda.org/conda-forge/tensorflow-probability

[2021-03-12 14:43] beckermr commented on #1271
Please make this issue on the appropriate feedstock.

[2021-03-12 15:55] ogrisel commented on #389
Reviving this discussion: what are the good practices to use ccache in conda-forge conda envs with the `compilers` package? I would be interested both a user on my laptop (I now set CC / CXX manually) and to avoid wasting compute time on CI environments, both on the CF infrastructure and for the upstream project CI.

@jakirkham proposed to archive the ccache-toolchain feedstock: https://github.com

[2021-03-12 16:17] jakirkham commented on #389
Would just try installing `ccache` and see if that works.

Yeah that feedstock precedes our current compiler setup. So not sure how it would behave.

[2021-03-12 17:18] ogrisel commented on #389
It works but you have to set the `CC` / `CXX` env variables manually whenever you `conda activate` an env with the `compilers` package, no?

[2021-03-12 17:31] jakirkham commented on #389
If that's true, then would suggest we raise an issue on the `compilers` feedstock about adding an additional package output (perhaps `ccache-compiler`?). That way it does the right additional activation step on top of what `c-compiler` and `cxx-compiler` do.

https://github.com/conda-forge/compilers-feedstock/issues

[2021-03-12 22:14] beckermr opened #1272 "tasks and discussion for new GPU CI queue"
This issue is to document tasks and todos for the new GPU CI queue.

To-Do Items:
 - [x] decide on software to provision the CI (decided on drone)
   - best candidates from internal discussions are drone or azure
 - [ ] develop a process to permission feedstocks on the CI
   - [ ] we will want an allow list of feedstocks that are allowed to use the queue
   - [ ] we will want to add a job to conda

[2021-03-12 22:16] beckermr commented on #1062
We have action here on multiple fronts. I am going to close this issue in favor of https://github.com/conda-forge/conda-forge.github.io/issues/1272.

[2021-03-12 22:16] #1062 closed

[2021-03-12 22:24] beckermr opened #1273 "tasks and discussion for long build azure queue"
documenting some of our discussion here:

- [ ] we are going to try work with Axel O. (missing github hangle) and @wolfv to get this setup
- [ ] we need a way to provision feedstocks for this queue and not allow others
  - [ ] there should be a job in the admin rquests repo that can turn this on for feedstocks.

[2021-03-12 22:25] jakirkham commented on #1272
cc @ocefpaf @mike-wendt @raydouglass @teoliphant

[2021-03-12 22:26] jakirkham commented on #1272
cc @h-vetinari (Axel)

[2021-03-12 22:30] jakirkham commented on #1272
Should add I also don't know Kent's or others' GH handles. So please cc others as needed. Thanks! 😄

[2021-03-12 22:30] beckermr commented on #1272
Ahhhh thanks! I could not find Axel's github handle. See this one too for the other azure stuff: https://github.com/conda-forge/conda-forge.github.io/issues/1273

[2021-03-12 22:30] beckermr commented on #1273
cc @h-vetinari

[2021-03-12 22:31] jakirkham commented on #1273
Beat me to it 😂

[2021-03-13 00:22] dharhas commented on #1272
cc @Kllewelyn @rtiwariops from openteams.

[2021-03-13 05:03] leofang commented on #1272
Very exciting!

[2021-03-13 12:51] #1153 closed

[2021-03-13 15:24] h-vetinari commented on #1062
So, for some context for everyone subscribed to this issue (not least all those people I tagged).

In the meantime, I tried to procure some initial funding for the idea of a jointly sponsored build queue from my employer (a small-ish data consulting company based in Switzerland; only a small fraction of our work is related to conda, but we're interested in the health of the ecosystem, particularly

[2021-03-13 15:33] h-vetinari commented on #1272
Thanks for opening this @beckermr!

Linking my [closing comment](https://github.com/conda-forge/conda-forge.github.io/issues/1062#issuecomment-798506357) from #1062 for reference. TL;DR:

[2021-03-16 16:54] SylvainCorlay opened #1275 "FreeBSD"
What would it take to bootstrap a new mini[forge/conda] for FreeBSD as they are no packages whatsoever.

I would be willing to help, although it would not be funded / dayjob work for me. I have this FreeBSD server hanging arround and it has been itching me to do some data science on it for some time.

[2021-03-17 18:39] ForgottenProgramme opened #1277 "A proper definition of 'conda-forge'."
I was going through this page in the conda-forge documentation.

https://conda-forge.org/docs/user/introduction.html

The opening goes like this:

Now, although conda-forge _is_ a community effort, that alone cannot be its definition. It's just a quality.

"What is conda-forge?" should not be followed by "it's a community effort".
But instead a proper, concise, consistent definition that we use ac

[2021-03-17 18:41] beckermr commented on #1277
cc @conda-forge/core

[2021-03-17 18:48] viniciusdc commented on #1277
As @ForgottenProgramme commented, I totally agree we should pursue a better definition of what conda-forge is right now, besides the arguments pointed out I also found some kind of outdated information so far… Then, creating/discussing our definition would help to determine a more clear image of conda-forge for new members in the future.

And also, I'd like to point out an idea to have some open d

[2021-03-18 17:26] ryanvolz commented on #1253
I would love something like this, as I just realized the need for it for a distribution that I have put together.

I like the approach in https://github.com/ContinuumIO/menuinst/pull/77, but we may not see movement on that for a while. Until then, how about a generic "conda_console_shortcut" package? You could set the menu name to something generic like "Conda" or "conda-forge", and name the short

[2021-03-18 18:14] ForgottenProgramme opened #1282 "[Docs] Introduction should be crisp."
The introduction page in the docs:

https://conda-forge.org/docs/user/introduction.html#what-is-conda-forge

The opening section is titled, 'What is conda-forge?'.

It is followed by:
1. an incomplete definition of conda-forge (#1277).
2. Then this line:

For me, as a new user, this line was not immediately very clear.

Am I missing a package that I would love to install with 'conda'? What does it

[2021-03-18 18:26] viniciusdc commented on #1282
@beckermr @CJ-Wright @ocefpaf I agree we could enhance our introduction, any comments ?

[2021-03-18 18:32] viniciusdc commented on #1208
@xhochy what's the actual status of this issue in your opinion, haven't we solved it?

[2021-03-18 18:35] ForgottenProgramme opened #1283 "Configuration steps should be in a list format"
In the 'How can I install packages from conda-forge' section ( https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge ) , it would be a good idea to put the initial configuration steps in a list format.
It will:
1. Make the section look neater and easy to understand (presently it's just one long sentence with lots of comas).
2. Maintain consistency (as ever

[2021-03-18 18:36] viniciusdc commented on #1064
@beckermr I think we may close this right?

[2021-03-18 18:36] beckermr commented on #1282
Go for it. Let's make prs and people will review them. :)

[2021-03-18 18:36] xhochy commented on #1208
No, we still not using the `pydata-sphinx-theme` and it would be nice to try it out. So this is definitely no solved yet.

[2021-03-18 18:37] beckermr commented on #1064
Nope. We should keep it open.

[2021-03-18 18:45] viniciusdc commented on #1064
The deploy key route commented didn't work ?

[2021-03-18 18:49] viniciusdc commented on #1282
Actually I think that it would be a good idea to rebuild that intro from scratch. Maybe a good project to think of... we could also establish a link with #1208

[2021-03-18 18:52] beckermr commented on #1064
Not done and would spam all of core with emails.

[2021-03-18 19:02] viniciusdc commented on #2
@isuruf may we close this one?

[2021-03-18 19:06] #2 closed

[2021-03-18 19:11] jakirkham commented on #2
Logos can be found here ( https://github.com/conda-forge/marketing/tree/master/logo )

[2021-03-19 01:45] bollwyvl commented on #1208
Should have the branch around someplace... will get it back into shape and PR for the lookin... also somewhere along the way got maintainer rights over there :grimacing: so if we need anything...

[2021-03-19 02:16] bollwyvl commented on #1208
ugh, some stuff got broken weird...

[code]

probably need to start over :pouting_cat:

[2021-03-19 02:26] bollwyvl commented on #1208
Oy, just changing to `theme = "pydata_sphinx_theme"` yields:
[code]

[2021-03-19 14:00] BastianZim commented on #1270
@beckermr Just gently bumping this again.

[2021-03-19 14:09] beckermr commented on #1270
Sorry I missed these messages! Yes, those sections above are fine. We do not have a database.

[2021-03-19 14:11] BastianZim commented on #1270
Ok no worries, then I'll just add something to the docs.

[2021-03-19 18:20] #1270 closed

[2021-03-20 15:53] BastianZim opened #1285 "Some packages are not shown in the website search"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

Some packages are not listed at https://conda-forge.org/feedstock-outputs/ despite them being available.

I have not yet been able to find a pattern but the following is missing:

- python-wget –

[2021-03-20 15:59] beckermr commented on #1285
Any package that has not been built in the past ~1.5 years would likely not have registered its outputs and so won't appear.

[2021-03-20 16:00] BastianZim commented on #1285
Ahh ok, thanks for the info!

[2021-03-20 16:00] #1285 closed

[2021-03-22 01:20] TinoMako commented on #1208
Hello, this issue sparked my interest. I have been looking for ways to change the theme to no avail, is there anything l can do to help or maybe suggest some resources l can use to change the theme. l tried (conda install -c conda-forge pydata-sphinx-theme) on my computer then followed a couple of tutorials then l got lost in the woods.
 -Total Newbie

[2021-03-22 02:08] TinoMako opened #1287 "Supported languages"
Conda supports other languages other than Python. I believe the languages should be listed in the documentation so that people get aware of this.
Languages supported
Perl
Fortran
Go
C++
R
C
Python
Polyglot
Rust
Ocaml
Lisp
Ruby

And more?

[2021-03-22 11:29] bollwyvl commented on #1208
@tinomako Sorry, for context:

Do you mean on _this_ repo, or in general? If the latter, check the [upstream docs example](https://github.com/pydata/pydata-sphinx-theme/tree/master/docs) for a starting point. If the former... this one has accrued rather a lot of "specialness," (as most sphinx builds eventually do) and it will take some doing to untangle to make a big change like a theme....

[2021-03-22 12:47] TinoMako commented on #1208
Ohh l understand now, l meant the former. Thank you for the response.

[2021-03-22 12:55] bollwyvl commented on #1208
Yeah... so if I was trying to update this build and add some modern components, I'd probably:
- port the entire `rst` codebase over to `md` and use `myst`
- get rid of a number of seemingly-unsupported extensions, try to replace them with better-supported ones
  - though there doesn't seem to _be_ a well-supportd RSS one :crying_cat_face:
- clean up the stuff hidden inside the CI scripts so that i

[2021-03-22 14:01] TinoMako commented on #1208
I am a total noob but this really got me interested, l am not acquainted with some(maybe most of the stuff) but this is something l would love to take on for a challenge and also familiarize myself with the codebase. Some of the stuff is way over my head, do you have any articles, tutorials, or anything that could help me to do this? Thank you again for the response.

[2021-03-22 16:10] danielbarter opened #1288 "Issues getting rnmc-native compiling correctly"
Hi there,

Recently I uploaded my reaction network simulator RNMC_native to conda-forge: https://github.com/conda-forge/rnmc-native-feedstock. It depends on GSL, but the compiler isn't finding GSL during the build phase. The way I would usually fix this is by adding the library header folder to the $CPATH environment variable, but I have no idea where the headers would be located on the machine wh

[2021-03-22 16:37] dharhas commented on #1272
Adding @leej3 from Quansight.

[2021-03-22 16:55] ocefpaf commented on #1277
We started with "being a community" as out main drive. The origins of conda-forge go way back when we had several third party channels efforts and unifying the most important ones in a community was paramount. So we don't see it as a quality per se but as a mission.

With that said... We do need to update the definition to something that explains it better for those who are not part of the conda p

[2021-03-22 17:16] ocefpaf commented on #1282
This is the right approach to this problem. Thanks @ForgottenProgramme.

The question you are raising are surprisingly not that easy to answer though! We have our heads buried in conda-forge for a few years and it is hard for us to see those problems clearly and writing something better. With that said... Let's track those questions here and, if you can, link them to "bite-size" PRs. You don't nee

[2021-03-22 17:21] ocefpaf commented on #1267
Ping @ForgottenProgramme

[2021-03-22 19:05] ForgottenProgramme commented on #1282
@ocefpaf, hey! :)

Right. Smaller PRs for each 'part' of this issue should be a good idea.
And no. The contribution period for Outreachy hasn't started yet. It starts from 29th this month.

[2021-03-22 19:26] ForgottenProgramme commented on #1267
@ocefpaf

Noted. Thanks. :)

@viniciusdc and I will be discussing this.

[2021-03-22 20:35] jakirkham commented on #1277
Yeah there was also an issue around where the source of truth for recipes of packages was and how best to translate updates of recipes into rebuilds of package, but it's been a long time since we had that issue (since conda-forge's recipes + CI to build packages solve that issue)

[2021-03-22 21:58] bollwyvl commented on #1208
Unfortunately, _large documentation site management with sphinx_ is a thing people get working, and then try to avoid thinking about. This is definitely one of those cases where you find something that someone else got working, and go with it. A place to start is the [~200 repos](https://github.com/search?q=pydata_sphinx_theme+path%3Adocs+filename%3Aconf.py&type=Code) that currently have `pydata_s

[2021-03-22 22:45] jim22k opened #1289 "Azure can't find docker image"
In [this PR](https://github.com/conda-forge/grblas-feedstock/pull/10), Mac and Windows are building, but Linux fails with this message in Azure:

[code]

[2021-03-22 23:16] jakirkham commented on #1289
Yep this is a known issue affecting all of Quay.io ( https://status.quay.io/incidents/vfs19hmq660h ), which conda-forge uses. This also noted on the conda-forge status page ( https://conda-forge.org/status/#cloud_services ). Basically we need to just wait until it clears

[2021-03-22 23:34] jim22k commented on #1289
Thanks for the update.

[2021-03-22 23:34] #1289 closed

[2021-03-23 18:27] viniciusdc commented on #1277
@jakirkham is this one you were talking about https://github.com/conda-forge/conda-forge.github.io/issues/22 ?

[2021-03-23 18:42] jakirkham commented on #1277
That was more a consequence of grappling with that issue and interoperability more broadly

Historically there was [a `conda-recipes` repo]( https://github.com/conda/conda-recipes ) that contained some recipes that `defaults` used (to some extent) to build their packages. However they didn't build all packages in that repo, when they got built was based on when there was a need/someone had time, a

[2021-03-23 18:48] viniciusdc commented on #1277
@jakirkham oww I got it, thanks for the context and background. I know that it could differ a little about the main goal of this issue but, If you could to link some issues that you remember of that time in this, it you be a great source for the purpose of this discussion @CJ-Wright

[2021-03-23 23:31] jakirkham commented on #1277
Yeah I don’t think we need to write all that up. Just trying to give context

[2021-03-24 06:03] leofang opened #1290 "Document how to use `mambabuild`"
https://gitter.im/conda-forge/conda-forge.github.io?at=602417279fa6765ef80e6bf4

I think we need to add
1. How to enable it in CI: IIUC we need `build_with_mambabuild: True` in `conda-forge.yaml`
2. How to use it locally for debugging: `conda mambabuild ...`

cc: @wolfv

[2021-03-24 06:09] wolfv commented on #1290
hi @leofang, thanks for opening this issue! Yes, it would be great to have some docs around this. Are you willing to write something up?

For conda-forge:

- add build_with_mambabuild: True to conda-forge.yaml, then _rerender_ . also important to note: the builds made with mambabuild won't (and probably shouldn't) be uploaded to conda-forge, this is purely for debugging (for now)
- locally, first:

[2021-03-24 06:31] croth1 commented on #1277
I don't remember where this definition came from, but feel a bit like I hacked this together when I was restructuring the docs, without knowing much of the history nor asking anybody for a consensus.

If I had to redo this page, I wouldn't put emphasis anymore on WHAT conda-forge is. Even if we had a crisp, clear definition of that, I doubt it's of much use to somebody who encounters us for the ve

[2021-03-24 13:56] leofang commented on #1290
Thanks, @wolfv. I posted this mainly to prevent it from being forgotten. If someone is interested in writing it up, that couldn't be better. Otherwise, I could pick it up at some point (definitely not this week) 🙂

[2021-03-24 14:51] ForgottenProgramme commented on #998
@croth1 , hey! :)
Yes. This makes sense.
I liked the suggestion that the list of supported architectures should go on the 'brief introduction' page. That way if we do not (yet) support what the user is looking for, their time is saved.

[2021-03-24 15:02] ForgottenProgramme commented on #998
Maybe we can add a 'Supported Languages' heading below this :
https://conda-forge.org/docs/user/introduction.html#display-conda-forge-packages-in-anaconda-navigator heading.

[2021-03-24 17:54] SehrishHussain opened #1292 "Conda-forge logo link to Homepage"
The conda-forge logo on [**DOCS**](https://conda-forge.org/docs/) and [**BLOG**](https://conda-forge.org/blog/) page should be linked to [**Homepage**.](https://conda-forge.org/)

There is no other option to go back to homepage other than clicking browser's back button.

[2021-03-24 18:17] ocefpaf commented on #1292
Indeed. Those three pages started independently and we never really tied them together as we should. Thanks!!

[2021-03-24 18:22] viniciusdc commented on #1287
cc @conda-forge/core

[2021-03-24 18:25] beckermr commented on #1287
We should probably define what we mean by "support" here? For example, in some cases we provide compilers but not actual packages (e.g., rust) because the language itself has a separate packaging infrastructure.

[2021-03-25 15:27] ForgottenProgramme commented on #998
@croth1

@beckermr thinks it would be a good idea to first discuss what we mean by 'support'.

https://github.com/conda-forge/conda-forge.github.io/issues/1287#issuecomment-806057014

Also, issue #1287 seems to be a duplicate of this issue.

[2021-03-25 15:52] SehrishHussain opened #1293 "Glossary Incomplete"
Need to build [Glossary](https://conda-forge.org/docs/misc/00_intro.html#glossary) terms from scratch. Only very few terms are listed without proper definition or links. This could be a separate task but an important one.

IMHO [Glossary](https://conda-forge.org/docs/misc/00_intro.html#glossary) should be a separate entry in sidebar menu, and not under [Miscellaneous.](https://conda-forge.org/docs

[2021-03-25 16:04] #1283 closed

[2021-03-25 16:04] beckermr commented on #1293
The TODO list is generated from sections in the docs. It won't make sense out of context like this.

[2021-03-25 17:20] croth1 commented on #998
I agree with @beckermr that support needs a qualifier. I think one can liken this to software and plugins. Sometimes we only ship the software (=interpreter/compiler), but not the plugins (=packages).

The section could contain at least following information:
1. What software are we providing and what versions are currently supported.
2. Do we package plugins and if not how can users install 3rd p

[2021-03-25 17:32] ForgottenProgramme commented on #998
@croth1
Yes. Sounds good to me.
Maybe we could make two sections of what is 'supported'.

1. Software with packages
2. Software without packages .

And then a link to 'how to become a maintainer'.

[2021-03-26 04:06] tab1tha opened #1294 "[Missing module errors] Make html command, to build docs, produces errors."
- [x ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

Building docs using instructions in README file after forking and cloning repo produces `ModuleNotFound` errors.

I forked and cloned the conda-forge codebase forty minutes ago and as I proceede

[2021-03-26 12:21] beckermr commented on #1294
Those docs are out of date. See the ci scripts in the repo.

[2021-03-26 12:44] tab1tha commented on #1294
Thank you !. I will proceed to check those

[2021-03-28 12:54] ericpre commented on #1253
Indeed, we should have an alternative.

In the mean time, we could add the [patch](https://github.com/ContinuumIO/menuinst/pull/77) to the [menuinst recipe](https://github.com/conda-forge/menuinst-feedstock). Considering that the patch is to improve the integration with conda-forge, I think that it would be an acceptable approach.

[2021-03-29 10:22] stordopoulos commented on #1282
@ocefpaf, I'm not sure if this is the right place to post this, but Conda Forge is missing `anaconda-clean`. Normally, I wouldn't make a post or open a PR for a new package but this is, IMHO, one of the most fundamental packages that should be available - as it allows people to uninstall conda, cleanly. Should this be one of the aforementioned PRs or is this too big of an issue?

[2021-03-29 15:36] ryanvolz commented on #1253
Yeah, that's an even better idea!

In the meantime, I have resorted to making my own `_console_shortcut` package and putting it on my personal anaconda.org channel so it's not cluttering conda-forge. It's not ideal, but given that nobody outside of my installer would want to use it anyway, it works.

[2021-03-30 02:26] Aaishpra commented on #1292
Can I take this Up?
cc: @ocefpaf

[2021-03-30 08:10] Aaishpra commented on #1290
@wolfv @leofang if you allow I would like to give this issue a try as an outreachy internship applicant.
Since this is my first time with conda-forge I would appreciate it if you can guide me on how to approach this issue. 🙌🏻

[2021-03-30 08:56] jakirkham commented on #1290
@viniciusdc, is the contact point for Outreachy. Cc-ing him here

[2021-03-30 09:42] leofang commented on #1290
@ForgottenProgramme asked me about `mambabuild` offline, I think she's also interested in contributing. I'll let you coordinate..

[2021-03-30 10:39] Aaishpra commented on #1290
Sure👍🏻 I am good with anything.

[2021-03-30 10:44] Uttam-Singhh commented on #1282
Hey, Can I work on it as an Outrechy contribution?

[2021-03-30 14:19] viniciusdc commented on #1292
HI @Aaishpra great, go for it. I will assign this for you then

[2021-03-30 14:22] Aaishpra commented on #1292
Thanks 😄

[2021-03-30 15:49] PrernaSingh587 commented on #1277
Hi, If this is up for Outreachy, may I take this issue ?

[2021-03-30 16:07] prachi237 commented on #1277
@viniciusdc  ma'am if this issue is not assigned to anyone can u assign me

[2021-03-30 17:00] jakirkham commented on #1290
I think people are interested in trying to use `mambabuild`. However there's not really documentation covering this currently. Unfortunately that's about all the context I have here as this is not an issue I've been following too closely

[2021-03-31 04:55] Aaishpra commented on #1292
@viniciusdc just confirming if this is the right [file](https://github1s.com/conda-forge/conda-forge.github.io/blob/master/docs/index.html) to make changes for `docs`.
And, the `contact` and `news` section also doesn't contain links to go back to the homepage. Shall I add links on those pages to including `blog` and `docs`

[2021-03-31 06:00] bashirk commented on #1267
Hi @jakirkham, Is there someone else already working on this issue? If not, I would love to work on this issue.

Regards :)

[2021-03-31 06:09] bashirk commented on #909
Hi @viniciusdc, Is there someone else already working on this issue? If not, I would love to work on this issue.

Cheers :)

[2021-03-31 08:25] prachi237 opened #1300 "Better layout configs."
building the docs repo locally:
<br>-Their is a scope of improving the  Readme docs file, in docs it can be made more eloquent.
![Screenshot (79)](https://user-images.githubusercontent.com/72700861/113113811-4d68e800-9228-11eb-819a-5528cb6ac83b.png)

-If we share the info step by step, then  we can make it more user friendly and comprehensible.
<br>-The idea is to add bullet points, this will enab

[2021-03-31 08:32] prachi237 commented on #1300
@viniciusdc  sir  kindly please review this,  I had already improved the docs if u approve this issue I will send the PR

[2021-03-31 10:08] prachi237 commented on #1282
I am an Outreachy  applicant, can I work on this issue

[2021-03-31 12:46] viniciusdc commented on #1300
Hi @prachi237, this looks good! please feel free to make the PR and I will review it further. Next time, feel free to open the PR directly :smile:

[2021-03-31 13:41] viniciusdc commented on #909
I don't think so. You are free to go! If you need some help, reach me out :smile:

[2021-03-31 13:44] viniciusdc commented on #1267
Hi @bashirk, actually there already some people working with this. But if you have any suggestion you can propose those too (every help is always welcomed)

[2021-03-31 13:47] viniciusdc commented on #1292
Hi @Aaishpra thanks for the comment. Actually the correct docs contents are inside the `src` directory (the one you pointed is build by our internal process). For the proposed ideas, feel free to create a PR with those additions and ping me there!

[2021-03-31 13:49] viniciusdc commented on #1292
Also, before submitting the PR try it locally to check if the changes are correct rendered, see more information [here](https://conda-forge.org/docs/user/contributing.html#improving-the-documentation)

[2021-03-31 14:52] PrernaSingh587 opened #1301 "Glossary Section Modifications"
- [x ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
https://conda-forge.org/docs/misc/00_intro.html
In this, the Glossary Section contains some abbreviations of whose only full forms have been written. I think it would be nice if we also provide b

[2021-03-31 16:08] jenniferokafor commented on #986
Hello, Outreachy contributor here :D I'll like to take this up if no one is on this issue yet. @CJ-Wright, is it okay if I reach out for some pointers if needed? Thanks!

[2021-03-31 16:10] brngylni commented on #1301
I can work on this

[2021-03-31 16:32] PrernaSingh587 commented on #1301
Hi, I am currently working on this.

[2021-03-31 16:40] jakirkham commented on #986
Welcome! @viniciusdc is the contact for Outreachy. Would work with him 🙂

[2021-03-31 16:46] viniciusdc commented on #986
Thanks @jakirkham, I've already talked with @jenniferokafor about this issue, and I asked her to ping CJ for this. But if you could give some insights of the current supported languages it would undoubtedly help too :smile:

[2021-03-31 16:51] viniciusdc commented on #998
Also it should be good update this section as well: https://conda-forge.org/docs/orga/guidelines.html?highlight=languages#language-versions

[2021-03-31 16:54] jakirkham commented on #986
Oops. Sorry to confuse things then 😅

AFAIK we have C, C++, Python, and R with fairly comprehensive support. We also support JavaScript (Node.js), Java, Rust, Go, Perl, Ruby, Julia, and maybe others I'm forgetting with the interpreter/compiler built, but not necessarily comprehensive package coverage

[2021-03-31 16:55] jakirkham commented on #986
Should add I think if we start a doc PR listing those we can more easily ask people to help fill out that list further

[2021-03-31 16:55] viniciusdc commented on #998
Also, as we are talking about the general architecture/package stuff here, it's best to link #986 here too

[2021-03-31 17:58] viniciusdc commented on #1287
@TinoMako would you mind closing this issue and open a PR instead? see this [comments](https://github.com/conda-forge/conda-forge.github.io/issues/986#issuecomment-811249672)

[2021-03-31 20:24] bashirk commented on #909
That sounds interesting. Many thanks 😃

[2021-03-31 21:20] CJ-Wright commented on #986
It would be great if this could be pulled from metadata and then placed in the docs, otherwise we run the risk of the docs becoming inaccurate as we build out other languages.

I am making this comment solely in my personal capacity and am not conveying any rights to any intellectual property of any third parties.

[2021-04-01 00:44] prachi237 commented on #1282
I was speculating the introduction page of Conda-forge,  and what I contemplated was:
The brief introduction  page should have a precise and clear about info, which I think we can take frm (https://conda-forge.org/#about) as someone like me who is new to this org could get to know all about conda-forge, by reading this about info  like, what is the main function of this organization.

As @Forgotte

[2021-04-01 04:40] Aaishpra commented on #1292
@viniciusdc I am a bit confused about how to add links to the logo, for example, I tried adding the links in the HTML files in the src, but it isn't showing in my additions in Git although the link works correctly when I serve the page on localhost. (see line 121)
![image](https://user-images.githubusercontent.com/66299533/113243968-ab053f00-92d1-11eb-918b-5afc950130de.png)
And I see no logo and i

[2021-04-01 05:54] prachi237 commented on #1292
@Aaishpra  actually these are auto generated html files, I too thought that we have to make changes in the html file but all we need to do is to modify the .rst files in src folder wherever needed. Sphinx will automatically convert that into html file in docs.
I too had been thru such confusion yester night 😅

[2021-04-01 06:02] jenniferokafor commented on #986
@jakirkham thank you for the resources!

[2021-04-01 06:34] Aaishpra commented on #1292
Thanks, @prachi237 for helping.
@viniciusdc I couldn't find any way to link the logos to go back to the home page instead I added this at the bottom of every page, by making changes in `.rst` files.
If this feels correct to you shall I go forward with a PR?
![image](https://user-images.githubusercontent.com/66299533/113253057-5c13d580-92e2-11eb-809b-df0dedf5a5b2.png)

[2021-04-01 07:41] #1287 closed

[2021-04-01 13:06] prachi237 opened #1305 "Update the Build Procedure in README.md"
As a first time contributor  to the Conda-forge, the contributor would be reading the ``Build Procedure`` in ``Readme.md file,`` at first. Hence the steps that are to be taken to set the project in the local environment as well as  ``to do lists``  before sending the PR should be mentioned clearly.

![Screenshot (88)](https://user-images.githubusercontent.com/72700861/113296371-ff7edd80-9316-11eb-

[2021-04-01 13:15] prachi237 commented on #1305
@beckermr  and  @viniciusdc  what do u think about this?  shall I add these steps that I mentioned above to make the docs more user-friendly.

[2021-04-01 13:42] beckermr commented on #1305
Yes please!

[2021-04-01 15:21] #1301 closed

[2021-04-01 15:43] viniciusdc opened #1306 "Outreachy 2021 Hall"
Hi everyone thanks for your interest within conda-forge and our project ["Documenting the conda-forge ecosystem"](https://www.outreachy.org/outreachy-may-2021-internship-round/communities/conda-forge/documenting-the-conda-forge-ecosystem/cfp/). As you will definitely notice, our community is really eclectic and in constant growth. That said, here are some directions for the new applicants:

- Firs

[2021-04-01 15:49] viniciusdc commented on #1306
@Martins-O-U @PrernaSingh587  @prachi237   @bashirk  @ForgottenProgramme @jenniferokafor @Uttam-Singhh @SanchiMittal @cmgraser @victory-lydia  @2001asjad @angeloobeta @neha-b2001

[2021-04-01 16:12] prachi237 commented on #1305
@viniciusdc  can u assign me with this issue and add labels.😄

[2021-04-01 17:26] viniciusdc commented on #1306
As conda-forge continuously modifies it's  structure or enhances it further, some discussions, errors and also tools developed by us were badly documented or, in the worst case, weren't  documentation at all. For this purpose, digging our issues,  docs (to check if there is outdated information) and even the Gitter channels is a great direction to go when attempting to modify our documentation. Al

[2021-04-01 17:37] bashirk opened #1307 "Reword the Why conda-forge section"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:

The first paragraph of the `Why conda-forge?` section of the [introduction page](https://conda-forge.org/docs/user/introduction.html#why-conda-forge) should be reworded.

- `Anaconda, Inc` should

[2021-04-01 18:52] jakirkham commented on #1307
Looks like that PR was merged. So going to go ahead and close. Though happy to reopen if there are other issues still pending resolution. Thanks for your help 🙂

[2021-04-01 18:52] #1307 closed

[2021-04-01 22:17] viniciusdc commented on #1292
Great @Aaishpra go for it! Also, if possible could you try add more space between the bottom and the search bar (only if you think that i would be easy)

[2021-04-01 22:22] viniciusdc commented on #1292
Was you able to build these changes locally then? By your comment you changed it inside the `src` file right? Could you please add a PR with these changes then? As commented above, some changes will only be visible in GIthub docs folder (and consequently at the docs page) once our automated service runs and build them

[2021-04-02 01:54] Aaishpra commented on #1292
Since I added those changes in `.html` files I can't commit those files, which means git doesn't show my additions in the file.
Maybe since those files are autogenerated that's why 🤔

[2021-04-02 07:07] Lovelyfin00 commented on #1293
Is this still open? I'm an outreachy applicant and would love to work on this

[2021-04-02 11:58] angeloobeta commented on #1305
@prachi237
I can see that the README.md file hasn't been merged; there are more features I would like to add to the **README.md** file after you have added the changes you mentioned in the comment above.

@viniciusdc
Please just as @prachi237 stated, the ease and flexibility that the **README.md** file communicates the necessary information to the first time contributor is of very paramount import

[2021-04-02 12:05] angeloobeta commented on #1305
@viniciusdc  should I go ahead with it

[2021-04-02 12:31] prachi237 commented on #1305
I too wanted to add installation process of sphinx and necessary set up in fact earlier I had added the tutorial links for that but sir told that was not necessary, he asked me to delete those lines. instead we can link this up (https://www.sphinx-doc.org/en/master/usage/restructuredtext/index.html) to keep th readme.md file brief.

[2021-04-02 12:49] bashirk commented on #1267
Many thanks for the feedback, as always, @viniciusdc!

[2021-04-02 12:51] bashirk commented on #909
Awesome. Many thanks @viniciusdc!

[2021-04-02 13:09] angeloobeta commented on #1305
Wooow, Ok your explanation is very insightful. Using the link is going to make it concise. Thanks for the feedback.

[2021-04-02 14:50] viniciusdc commented on #1305
Hi @angeloobeta thanks for you comments, for the requirements we already have an `environment.yaml` [file](https://github.com/conda-forge/conda-forge.github.io/blob/master/.ci_scripts/environment.yml), I am not sure if it helps you 🤔

[2021-04-02 16:05] angeloobeta commented on #1305
☺️ ☺️
Your explanation was very useful, I didn't look into the direction of the environment.yaml
Thank you for explaining.

[2021-04-03 16:19] viniciusdc commented on #892
@conda-forge/core Is there anything else to do with this issue?

[2021-04-03 16:27] viniciusdc commented on #852
@ocefpaf Any suggestions on what we should address to this besides the #880 ? (If not, we can close this or reformulate as an Outreachy issue)

[2021-04-03 16:29] viniciusdc commented on #837
@jakirkham any new thoughts on this ?

[2021-04-03 16:36] viniciusdc commented on #651
@ericdill any thoughts on this?

[2021-04-03 16:40] viniciusdc commented on #588
@jakirkham Do you know the status of this one?

[2021-04-03 16:42] viniciusdc commented on #559
@CJ-Wright Any news with this ?

[2021-04-03 16:45] peterjc commented on #892
Thank you - should have closed this already

[2021-04-03 16:45] #892 closed

[2021-04-03 20:12] #1300 closed

[2021-04-03 21:51] prachi237 opened #1314 "Invalid link is provided in the to-do list (Miscellaneous section)"
In the Miscellaneous section of Conda-forge documentation https://conda-forge.org/docs/misc/00_intro.html#term-abi
the link is invalid, may be coz of typo error.
![Screenshot (91)_LI](https://user-images.githubusercontent.com/72700861/113492408-bedcbb00-94f4-11eb-8ca6-4fdb9101dbe3.jpg)

[2021-04-03 21:54] prachi237 commented on #1314
@viniciusdc  please assign me with this issue I  wud like to  work on it.

[2021-04-03 22:09] prachi237 opened #1315 "Update the Glossary in the Miscellaneous section of Conda-forge documentation"
![Screenshot (93)](https://user-images.githubusercontent.com/72700861/113492596-1f202c80-94f6-11eb-8994-b9a0c8e58feb.png)
I had a glance over this section and what I observed that only  `ABI` is highlighted (colored yellow) while other keyword that are mentioned in the glossary like `CL` , `PR`, `CDT` are not highlighted.
This is causing a non-uniformity in the section hence causing visual imbalan

[2021-04-03 22:14] prachi237 commented on #1315
@beckermr  and @viniciusdc  shall  I remove the highlight or shall I add in all of them. But before that I would like to know if it is intentionally highlighted or it is by default😅

[2021-04-03 22:24] viniciusdc commented on #1315
Hi @prachi237 this is probably because the link you are using, if you go directly to the miscellaneous page by https://conda-forge.org/docs/misc/00_intro.html you will observer that there is not high-tech text

[2021-04-03 22:25] jakirkham commented on #588
It sounds like there are some bots whose logos should be updated as well

[2021-04-03 22:29] prachi237 commented on #1315
my bad😥😓

[2021-04-03 22:29] #1315 closed

[2021-04-03 22:29] jakirkham commented on #837
I think this may have already been addressed ( https://github.com/conda-forge/conda-forge.github.io/pull/1216 )

[2021-04-03 22:29] #837 closed

[2021-04-03 22:31] viniciusdc commented on #1314
done!

[2021-04-03 22:33] viniciusdc commented on #1315
No problem, I am glad you are reviewing the docs :smile:

[2021-04-03 22:38] viniciusdc commented on #1294
I am closing this issue as #1302 match the specifications for the correct approach to build the docs. Thanks everyone

[2021-04-03 22:38] #1294 closed

[2021-04-03 22:43] viniciusdc commented on #1293
@SehrishHussain Hi, thanks for opening this issue, would you mind sitting some terms there are perhaps missing there?

[2021-04-04 00:43] ForgottenProgramme commented on #1293
Hey, @viniciusdc !
Let's keep adding entries to the glossary as we come across them in the docs./
For example today I came across this:

_That happens because either the correct version of `icu,` or any other package in the error, is not present or the package is missing altogether._

`icu` goes into the glossary.

[2021-04-04 01:05] ForgottenProgramme commented on #691
I'm taking this up, @viniciusdc.   :)

[2021-04-04 01:15] ForgottenProgramme commented on #691
@jakirkham, @ocefpaf

@viniciusdc helped me find this blog on how to integrate Netlify CI into a repository:
https://davidgarcia.dev/posts/previewing-documentation-in-pull-request/

It requires,
1. Creating an account on Netlify. How are we going to do that?
2. After making an account, we need to authorize the github account that contains the docs repository.

Can I please have some pointers on ho

[2021-04-04 02:17] beckermr commented on #691
This will require a member of core.

[2021-04-04 06:04] PrernaSingh587 commented on #497
Hi @jakirkham I was just moving past open issues and saw this. Is this still valid? If yes, I could work upon it to document this. Please guide me through this.

[2021-04-04 06:22] PrernaSingh587 commented on #487
Has this been incorporated? @jakirkham @viniciusdc

[2021-04-04 07:49] PrernaSingh587 commented on #1117
Hi, I am willing to learn and work on this. Could you give me some pointers? @croth1

[2021-04-04 12:28] prachi237 commented on #571
@jakirkham  can I get some more info regarding this, if this is not yet implemented , I would like to add them

[2021-04-04 15:26] ForgottenProgramme commented on #691
@viniciusdc

[2021-04-04 19:19] viniciusdc commented on #1314
@prachi237 Thanks for the PR #1318, but could look into the other files inside `.src` and check if there isn't any other place where that phrase appears? I am seeing a duplicate in  https://conda-forge.org/docs/misc/00_intro.html#term-abi

[2021-04-04 19:44] prachi237 opened #1319 "Proposal for Better documentation for ``becoming involved`` in user documentation section."
The  documentation done in this section could have been more formal in the sense of expressing the contribution guidelines. It should have standard punctuation, and a third-person perspective.
https://conda-forge.org/docs/user/contributing.html .

[2021-04-04 19:48] prachi237 commented on #1319
I have edited the document and the changes that I made are as follows:
![Screenshot (102)](https://user-images.githubusercontent.com/72700861/113519865-9c0ddd80-95ac-11eb-8bdf-8d535d3b640d.png)
![Screenshot (103)](https://user-images.githubusercontent.com/72700861/113519874-a7610900-95ac-11eb-88f3-9d470c009d67.png)

let me know if this sound good,  I will send the PR

[2021-04-04 19:48] viniciusdc commented on #1314
That's caused because Sphinx auto-generates the `todolist` based on the `todo` presented in the docs (see [here](https://www.sphinx-doc.org/en/master/usage/extensions/todo.html) for more information), then to solve this we can work with
- todo_link_only: If this is True, todolist produce output without file path and line, The default is False.
or adding the correct link direcyli to the `todo` [mes

[2021-04-04 19:52] prachi237 commented on #1314
ok sir I'll look into this

[2021-04-04 19:54] viniciusdc commented on #487
Hi @PrernaSingh587 no it still not incorporated, feel free to open a PR if you are interested :smile:, this in especifiq I will not assign to anyone as it is now, but feel free to link your related PR's with this.

[2021-04-04 19:57] PrernaSingh587 commented on #487
@viniciusdc  Sure I will work on it!

[2021-04-04 20:09] viniciusdc commented on #1319
uhm... I liked your changes, but I do prefer the original title "Becoming involved", and kind of prefer a more informal way of talking here (we really are happy to see someone interested in contributing, so we don't want to scare them)

[2021-04-04 20:12] viniciusdc commented on #487
btw, have a good look inside the main parts of the docs, because (maybe) some parts of this issue are already done, but scattered inside the docs

[2021-04-04 20:12] viniciusdc commented on #1314
I think so

[2021-04-04 23:12] viniciusdc commented on #1319
I'm closing this issue as #1320 corresponds to our necessities.

[2021-04-04 23:12] viniciusdc commented on #1319
I'm closing this issue as #1320 corresponds to our necessities.

[2021-04-04 23:12] #1319 closed

[2021-04-05 07:13] benny-coy commented on #1293
#Outreachy applicant 2021.
hi,
I am new here, i can i work on this ? or  can you assign me an issue to work on .
i will really love to make a contribution.
thanks.
Patience Akpan.

[2021-04-05 08:56] benny-coy commented on #1282
Hello,
I am Patience Akpan, an Outreachy applicant 2021. and here is my contribution on **Introduction should be Crisp, needs re- ordering #1282**

First, when i opened the introduction page in the docs: (As my first time here)
https://conda-forge.org/docs/user/introduction.html#what-is-conda-forge

I read the opening section titled, 'What is conda-forge?'.
What is Conda-forge seem like **About Co

[2021-04-05 09:43] prachi237 opened #1323 "Brief Introduction page of conda-forge( Reference: issue #374 )"
I took the reference from the issue  #374  I would like make changes in the brief introduction page of conda-forge documentation.
would like to re-structure the page and give  a precise and brief intro of conda-forge. we can define that as mentioned in https://anaconda.org/conda-forge  i.e "A community-led collection of recipes, build infrastructure, and distributions for the conda package manager

[2021-04-05 09:56] benny-coy commented on #1282
@viniciusdc , Can I work on this? i am an Outreachy applicant. Please assign me!

[2021-04-05 10:21] benny-coy commented on #1323
# Outreachy applicant 2021
Please can i work on this issue?
pls assign me.

[2021-04-05 10:54] prachi237 commented on #1323
I would like to work on it 😄

[2021-04-05 11:10] prachi237 commented on #1323
since, even u r an outreachy applicant I would suggest u to go thru the issues that r labeled with ``docs``.

[2021-04-05 11:10] PrernaSingh587 commented on #1323
I think we should not entirely remove this section from the intro. It forms the basis. FAQ is for more of technical (and profound) questions. Introduction should definitely have this part. Just my perspective. :)
What do you think @viniciusdc ?

[2021-04-05 11:13] PrernaSingh587 commented on #1282
Hi, this issue is currently open for discussion. So it has not been assigned to anyone. But you can post your thoughts and carry forward the discussion which could be beneficial in reforming the intro. :)

[2021-04-05 11:18] prachi237 commented on #1323
What I  think, someone who is new to  the org, won't be installing the packages or contribute  in the first sight. He/she will first flick through the documentation first, and that is the main purpose of having a documentation for an organization. Hence according tto me we shd keep the intro brief  and those questions can be added in the relevent sections, infact we have a complete separate sectio

[2021-04-05 11:25] PrernaSingh587 commented on #1323
But we also have to make it look appealing to them. If there is not a proper introduction, that might be a turn off. When we read something or start to watch something, the intro is what makes the first impression on us. We can't remove the What and Why conda-forge section for sure, that would not be good according to me. And @viniciusdc  could better answer if we require a separate section for an

[2021-04-05 11:26] PrernaSingh587 commented on #1323
I think we can take insights from it and come up with something good to redefine the intro. What do you say?

[2021-04-05 11:27] prachi237 commented on #1323
aee no I am not asking to remove those two sections, I only had suggested to improve "what is conda-forge" definition

[2021-04-05 11:28] prachi237 commented on #1323
That's what I suggested 😅😄

[2021-04-05 11:31] CJ-Wright commented on #559
Not really most of this information has gone into the conda-forge configs rather than in the recipe. I'm going to close accordingly.

I am making this comment solely in my personal capacity and am not conveying any rights to any intellectual property of any third parties.

[2021-04-05 11:31] #559 closed

[2021-04-05 12:27] viniciusdc commented on #1323
great! @prachi237 and @PrernaSingh587 thanks for the discussion there, any new insights on this?

[2021-04-05 12:43] viniciusdc commented on #1293
Hi @benny-coy thanks for your interest with conda-forge, this issue was intended to be open for discussion so I will not assign anyone, but fee free to look into our issues labeled with `Docs` to find something you can work on :smile:, If there is an Outreachy label to, that issue is probably assign to someone else, but you are free to open PR's destined to improve the solution even further

[2021-04-05 12:47] viniciusdc commented on #1323
BTW, isn't this issue a duplicate of #1282 ?

[2021-04-05 12:58] prachi237 commented on #1323
sir I just proposed to look into issue #374  where @ocefpaf had defined conda-forge really well, so if I can add that definition

[2021-04-05 15:48] viniciusdc commented on #1323
yes, go ahead! :smile: every PR is welcomed

[2021-04-05 16:56] PrernaSingh587 commented on #1323
I have raised a PR for this. #1325
You might wanna add to it. Suggestions are welcome.

[2021-04-05 17:23] ocefpaf commented on #852
I'm OK closing this. If @djsutherland feels that #880 is not really what she thought on when opening this issue we can re-open it later.

[2021-04-05 17:23] #852 closed

[2021-04-05 17:24] ocefpaf commented on #691
Maybe we can leave changes like those for once Outreachy starts to avoid requiring a core decision/action at this moment.

[2021-04-05 19:01] ForgottenProgramme commented on #691
@ocefpaf
Yes, I think that would be the right thing to do.

[2021-04-05 19:35] ForgottenProgramme commented on #1277
This discussion has been stagnant for long now.

@croth1

sounds good.
But the answers to the first three questions are already present in the intro page. And that is precisely what makes it so hotchpotch.
Why would I care about "why does conda-forge forge exist?" until I have atleast some idea about WHAT IT IS ?
Perhaps, a better idea would be to indeed have a proper definition for conda-forge th

[2021-04-05 19:59] prachi237 commented on #1277
I too wanted to convey the same, and that's what I had proposed that is to get the better of all the definitions.  The definition have been different in various conda-forge  manifesto. (https://anaconda.org/conda-forge here again u can find a diff definition, but I think this kinda defines conda-forge very well)

[2021-04-05 20:01] beckermr commented on #1277
Given the prominence of this content, @conda-forge/core will need to sort this out themselves I think.

[2021-04-05 20:05] ForgottenProgramme commented on #1277
Sure thing.
But inputs from first time users could act like 'user research' and help the core members come up with a user friendly definition.

Also, I wonder if we'll be under some obligation to use the same definition as given on the anaconda.org website.

[2021-04-05 20:07] prachi237 commented on #1277
This  confusion was raised back in 2017, someone had raised a similar issue #374 , hopefully this time it gets solved 😄

[2021-04-05 20:09] prachi237 commented on #1277
yeah true

[2021-04-05 20:26] viniciusdc commented on #1323
HI @prachi237 @PrernaSingh587 would you mind closing this issue and post a brief comment in the '#1282' and link your PR there too, this will help us to not lose track of things. It can be the exact same content of this issue

[2021-04-05 20:42] #1323 closed

[2021-04-06 12:01] #1292 closed

[2021-04-06 16:44] guptadiksha307 opened #1329 "Improved announcement page for mobile devices"
Initially, on the mobile devices, the 2020 and 2019 section on the announcement page looks like this-

<img width="346" alt="Screenshot 2021-04-06 at 10 11 12 PM" src="https://user-images.githubusercontent.com/53967592/113747455-06e22480-9725-11eb-87d0-7c3fd7caebe1.png">
![image](https://user-images.githubusercontent.com/53967592/113747679-43ae1b80-9725-11eb-8bc7-2f6f09215752.png)

I want to fix t

[2021-04-06 16:47] guptadiksha307 commented on #1329
@viniciusdc if this seems good to you, I would like to work on this issue.

[2021-04-06 17:48] viniciusdc commented on #1329
Hi @guptadiksha307 thanks for opening this issue (I saw some parts of the docs with incorrect size formatting when changing devices too), but could you clarify more about what you expect to change because, specifically in the part of the docs, these announcements are generated automatically using the `newsfeed` package  (look for RSS config). So changin directly to the `.src` might break some thin

[2021-04-06 19:19] viniciusdc commented on #1290
@ForgottenProgramme @Aaishpra any news on this ?

[2021-04-06 19:23] ForgottenProgramme commented on #1290
Yes, @viniciusdc.
I've been reading about mamba-build.
I realized the conda-forge docs do not have any section dedicated to mamba. I think we need one. Therein we put steps to config mamba with conda-forge, and how to enable it in CI and so on.

[2021-04-06 19:41] ForgottenProgramme commented on #1290
Also, @leofang had suggested the 'Knowledge Base' page in the maintainer docs might be a good place for adding 'mamba' section.

https://conda-forge.org/docs/maintainer/knowledge_base.html

[2021-04-06 19:42] viniciusdc commented on #1290
I agree

[2021-04-06 20:30] jakirkham opened #1331 "Explain how to become a maintainer"
Was searching for [`recipe-maintainers` in the docs]( https://conda-forge.org/docs/search.html?q=recipe-maintainers ), but found nothing. This should come up when explaining how to become a recipe maintainer for a feedstock, but it doesn't seem to. Would be good to spell this out more clearly. Some places to add this

* https://conda-forge.org/docs/maintainer/adding_pkgs.html#the-recipe-meta-yaml

[2021-04-06 20:47] jakirkham commented on #1331
cc @viniciusdc

[2021-04-06 21:01] prachi237 commented on #1331
@jakirkham thanks for opening this issue, I would like work on it.

[2021-04-06 21:04] jakirkham commented on #1331
That would be great Prachi! 😄

I'll let Vini chime in on next steps here 🙂

[2021-04-06 21:06] prachi237 commented on #1331
what I inferred , so basically we r supposed to add three more  sections so that while searching for  ``recipe-maintainers`` in the docs we can avail those sections too.

[2021-04-06 21:07] prachi237 commented on #1331
Thanku sir it would be a great help if I can get some more info abt it.

[2021-04-06 21:15] PrernaSingh587 commented on #998
@croth1 @viniciusdc
Hey! I was wondering if I can work on documenting this section. Could you please provide me with some pointers to begin compiling the useful information?

[2021-04-06 21:19] beckermr commented on #998
See the discussion above. We cannot make progress on this until we come up with what we want to say in terms of support.

[2021-04-06 21:27] jakirkham commented on #1331
Probably 2 sections and then a link from the homepage to the becoming a maintainer section

That said, don't want to prescribe this too much in case you have other thoughts on how to improve clarity here

[2021-04-06 21:32] viniciusdc commented on #1331
I do think that is a lot to be done, here for instance we need to annex the comments of staged recipes to it too, as also a better understanding of maintaining already built packages. The first step here would be determining a good starting location: as @jakirkham said https://conda-forge.org/docs/maintainer/updating_pkgs.html  this would be a good place to start, then a PR with some really brief

[2021-04-06 21:34] viniciusdc commented on #1331
once that is done, we can add links to the relative sections and main page (there are some issue opened about maintaining docs too, it should be good have a look into them, maybe it might help)

[2021-04-06 21:51] viniciusdc commented on #998
yeah, actually I would like to follow @croth1 comments here and break this into different issues (because we might need some big discussions here and there about this: software and versions currently provided by us.) The maintainer role is being discussed somewhere else, so what do you think @beckermr? this way we can start moving forward to the true meaning of support here...

[2021-04-06 21:57] beckermr commented on #998
We'll need to chat with all of core. I suggest we add this as an agenda item for tomorrow's meeting

[2021-04-07 02:49] leofang opened #1334 "FAQ link is not working"
This is an easy one:
https://github.com/conda-forge/conda-forge.github.io/blob/bceba6e91eb7b404814d88b6a2c87d631c5699b0/src/user/faq.rst#L76
The hyperlink to "(Q)" is not working, see the rendered page:
https://conda-forge.org/docs/user/faq.html

[2021-04-07 02:58] leofang opened #1335 "`conda-build` is not referenced at all in the docs"
I just realized that on the Conda-Forge documentation we do not refer to [`conda-build`'s documentation](https://docs.conda.io/projects/conda-build/en/latest/) at all, which is very surprising. I am not sure if this is done on purpose, but when I started (and even after becoming an experienced feedstock maintainer) I had to refer to it more than often, because it is one of the pillars of Conda-For

[2021-04-07 03:01] leofang commented on #1335
cc @viniciusdc

[2021-04-07 03:07] guptadiksha307 commented on #1329
@viniciusdc I tried to change the "src/_static/basic.css" file so that the dates are aligned properly. But as you said announcements are generated automatically using the newsfeed package. So, I think making changes directly in the src folder is not a good idea.
Is there any other method to change this error?

[2021-04-07 03:07] leofang opened #1336 "Misleading documentation title"
I am referring to this page in particular: https://conda-forge.org/docs/user/ci-skeleton.html. The title is "Using conda-forge to manage your CI", but it is unclear to me since when is Conda-Forge doing this for us? See #1277 for a discussion on the renewed definition of "Conda-Forge".

I'd suggest to change it to "Using **conda-smithy** to manage your CI", but if someone has a better suggestion p

[2021-04-07 03:07] leofang commented on #1336
cc @viniciusdc

[2021-04-07 03:17] PrernaSingh587 commented on #1334
Can I take this up?

[2021-04-07 03:19] PrernaSingh587 commented on #1335
I would like to take this up!

[2021-04-07 03:20] leofang opened #1337 "Document how to set up self-hosted Azure agents"
Conda-Smithy is a core utility for Conda-Forge, but it can do things beyond CF's purposes, and I think we should get more undocumented Conda-Smithy capabilities documented somewhere. For examples, it allows setting up self-hosted agents for non-CF infrastructures, see https://github.com/conda-forge/conda-smithy/pull/1296.

For a sample config see https://github.com/nsls-ii-forge/cupy-feedstock/blo

[2021-04-07 03:22] leofang commented on #1335
For this particular task, I would suggest to coordinate with @viniciusdc, as the exact work scope needed to be done is unclear to me. It might turn out that most of the information there is already on CF's own doc pages (which would be great) and we just need to cherry-pick, or that there're historical reasons to not mention it (idk).

[2021-04-07 03:23] leofang commented on #1337
cc @viniciusdc

[2021-04-07 03:27] PrernaSingh587 commented on #1335
@leofang Yeah sure. Would coordinate with @viniciusdc  :)

[2021-04-07 03:38] prachi237 commented on #1335
many thanks for opening this issue, was not at all aware of this conda-build documentation. Now can work on improving this too as well

[2021-04-07 06:43] Aaishpra commented on #1336
@leofang can i take this up?

[2021-04-07 06:51] Aaishpra commented on #1336
We can use "Using conda-smithy to manage your CI" or "How to use conda-smithy to manage your CI" as titles.

[2021-04-07 07:06] Aaishpra commented on #1337
hey, @leofang are we going to add this information to [this](https://conda-forge.org/docs/user/ci-skeleton.html#) page.
Also, just a suggestion for a better introduction about conda-smithy "Conda-Smithy is a core utility for Conda-Forge, it contains a lot of tools for building and deploying continuous integration (CI) infrastructure on a variety of different platforms and architectures! It can als

[2021-04-07 07:47] Aaishpra commented on #1337
@leofang i would like to take this up.

[2021-04-07 15:06] viniciusdc commented on #1329
probably the only way here is inspecting the `newsfeed` package to look for approaches to solve that, we already have other issue about this somewhere. I will try to find some time until the end of the week to inspect that, if you want you can have a look into this further

[2021-04-07 15:10] viniciusdc commented on #1336
@Aaishpra would you mind oppening a PR for that change and link to this issue?

[2021-04-07 15:12] Aaishpra commented on #1336
Yup sure will send the PR as soon as i get to work.

[2021-04-07 15:14] leofang commented on #1334
Closed by #1338.

[2021-04-07 15:14] #1334 closed

[2021-04-07 15:14] viniciusdc commented on #1337
This might https://conda-forge.org/docs/maintainer/infrastructure.html?highlight=smith be better

[2021-04-07 15:16] leofang commented on #1337
You also need to add the configs relevant for setting this up to https://conda-forge.org/docs/maintainer/conda_forge_yml.html.

[2021-04-08 07:56] victory-lydia commented on #909
Hi!
@viniciusdc  can I take this issue

[2021-04-08 07:58] victory-lydia commented on #1282
Hi!
can I work on this issue

[2021-04-08 08:00] victory-lydia commented on #1282
Hi!
@viniciusdc can I work on this issue

[2021-04-08 08:08] victory-lydia commented on #1335
Hi!
@leofang I am an outreachy applicant can I work on this issue
Thanks

[2021-04-08 13:03] viniciusdc commented on #909
Hi @victory-lydia thanks for your interest in this issue, but there are already some applicants working on with this

[2021-04-08 13:04] #1336 closed

[2021-04-08 19:31] victory-lydia commented on #909
Thanks
Please which other issue is available

On Thu, Apr 8, 2021, 2:03 PM Vinicius D. Cerutti ***@***.***>
wrote:

[2021-04-08 19:50] viniciusdc commented on #909
Hi @victory-lydia, I gave you some directions in Gitter. Feel free to ping me there for any doubts.

[2021-04-08 19:51] victory-lydia commented on #1335
Thanks

On Thu, Apr 8, 2021, 8:49 PM Vinicius D. Cerutti ***@***.***>
wrote:

[2021-04-08 19:52] victory-lydia commented on #909
Thanks, I will.

On Thu, Apr 8, 2021, 8:51 PM Vinicius D. Cerutti ***@***.***>
wrote:

[2021-04-09 16:38] prachi237 opened #1346 ""Code of Conduct" and "Reporting Guidelines""
I was reading the conda-forge docs, In the Governance section I found the code of conduct, but what I feel is we must link the code of conduct or can write them in brief and add in the readme.md file.  Any contributor who would be visiting the page will be reading the readme.md file first and they shd be well aware of the code of conduct and reporting guidelines, and the consequences incase that i

[2021-04-09 17:35] jakirkham commented on #1346
It's ok to keep this open. It will just take feedback from @conda-forge/core to move forward

[2021-04-09 17:39] beckermr commented on #1346
Yup. I second that this is a very good idea!

[2021-04-09 18:05] viniciusdc commented on #1346
Great idea!

[2021-04-09 18:40] ocefpaf commented on #1346
Yep. We needed that recently and struggled to find it!

BTW, we follow NumFOCUS CoC and we report to them. You'll find [more info on their page](https://numfocus.org/code-of-conduct).

[2021-04-10 10:33] h-vetinari commented on #1261
@isuruf

Shouldn't the "feature levels" that @chrisburr mentioned satisfy the requirement of a total ordering? That way, it would also keep the build matrix explosion to a minimum, because it would be a good start to just build for v1, v2, v3.

* x86-64: CMOV, CMPXCHG8B, FPU, FXSR, MMX, FXSR, SCE, SSE, SSE2
* x86-64-v2: (close to Nehalem) CMPXCHG16B, LAHF-SAHF, POPCNT, SSE3, SSE4.1, SSE4.2, SSSE3

[2021-04-10 10:34] h-vetinari commented on #1261
The other good thing is that these levels agree between GCC & Clang.

[2021-04-10 11:31] kynan commented on #629
Any update on this? Skipping CI for Azure [does not seem to work](https://github.com/conda-forge/staged-recipes/issues/1148#issuecomment-817121438).

[2021-04-10 12:31] ForgottenProgramme opened #1349 "Link within Pinned Dependencies Page invalid"
There is a sentence just above the 'Specifying run_exports' section ( https://conda-forge.org/docs/maintainer/pinning_deps.html#specifying-run-exports ) in the 'Pinned Dependencies' page.

'the conda docs' leads to a page that doesn't exist.

![rtds](https://user-images.githubusercontent.com/65779580/114269851-bfaaab00-9a26-11eb-8a01-80b107f5371a.png)

[2021-04-10 12:31] ForgottenProgramme commented on #1349
I'll take this up.

[2021-04-10 14:16] PrernaSingh587 opened #1351 "Invalid Link for Polys.me"
https://conda-forge.org/docs/orga/governance.html#voting

There's a sentence about Polys.me and its linked to some doc under organization documents. But it shows invalid upon clicking. Do we need a doc about Polys ?

[2021-04-10 14:19] ForgottenProgramme commented on #889
I guess, this has been fixed.
PR Checklist has been created.
Also, the 'improving the documentation' section (https://conda-forge.org/docs/user/contributing.html#improve-the-documentation) mentions the following:

Perhaps, to clarify further, after '..stored in the src/ subdirectory' we can add 'and NOT in the /docs subdirectory'.

@jakirkham
@CJ-Wright

[2021-04-10 14:22] beckermr commented on #1351
Let's not touch the governance pages please.

[2021-04-10 14:22] beckermr commented on #1351
I'm going to close this issue for now.

[2021-04-10 14:22] #1351 closed

[2021-04-10 17:02] ForgottenProgramme commented on #862
@viniciusdc, please let me take this one?

[2021-04-10 17:44] ForgottenProgramme commented on #1349
Fixed by #1352

[2021-04-10 17:44] #1349 closed

[2021-04-11 05:24] leofang opened #1355 "Document migrators"
In "Knowledge Base" and elsewhere, we talk about migrations (grep "migration" or "migrator" in the raw doc files, ex: under CUDA/Apple Silicon sections), but AFAIK we never carefully explain to maintainers
- What is a migrator/migration and what does it do?
- What issues the "Rebuild for ..." PRs? (Ans: the migrator)
- How to write one, and where does it go? (Ans: see [here](https://conda-forge.or

[2021-04-11 06:12] ForgottenProgramme commented on #1355
Hey, @leofang !

Look here: https://github.com/conda-forge/conda-forge.github.io/issues/862

I guess, it's a similar issue.

[2021-04-11 06:26] leofang commented on #1355
Looks like so. CFEP-9 is here:
https://github.com/conda-forge/cfep/blob/master/cfep-09.md

[2021-04-11 06:32] PrernaSingh587 commented on #1337
Is this issue being tackled?

[2021-04-11 06:34] ForgottenProgramme commented on #1355
oh, yes. I see now.
Pinning Proposal System for Automatic Rebuilds
CFEP-9 does use 'migrations' a lot !
We do need to dedicate some section of the docs to 'migrations'.

[2021-04-11 06:47] Aaishpra commented on #1337
Yes, it is, I am working on it.

[2021-04-11 10:07] ForgottenProgramme commented on #1290
For future reference (whenever work on mamba docs begins full fledged):

@wolfv 's  blog that answers 'what to do if conda is too slow/ why mamba?' : https://wolfv.medium.com/making-conda-fast-again-4da4debfb3b7

Information about the mamba organization and how mamba actually works under the hood : https://medium.com/@QuantStack/open-software-packaging-for-science-61cecee7fc23

(Although we might

[2021-04-11 10:29] ForgottenProgramme opened #1356 "Include information about 'miniforge' in the docs"
I came across 'miniforge' while reading Wolf's blog on mamba.

I found the miniforge repository of conda-forge. Here: https://github.com/conda-forge/miniforge

There is a README.md file with some information about miniforge. Mostly installing and downloading steps and commands.
(https://github.com/conda-forge/miniforge#readme)

Maybe we need to add some information about miniforge in the main cond

[2021-04-11 10:33] ForgottenProgramme commented on #1356
@beckermr
@ocefpaf
@leofang
@viniciusdc
What do you think?

@viniciusdc, if this issue seems irrelevant, you may please close it. :/

[2021-04-11 11:03] ForgottenProgramme opened #1357 "Add more relevant information in the 'compilers' section"
https://conda-forge.org/docs/maintainer/knowledge_base.html#compilers

Currently, the 'Compilers' section is incomplete and unhelpful.

Refer: https://github.com/conda-forge/conda-forge.github.io/issues/893#issuecomment-634881487

The link mentioned in the comment by @isuruf doesn't exist as conda-forge doesn't use wiki anymore.
(https://github.com/conda-forge/conda-forge.github.io/issues/893#issu

[2021-04-11 11:04] ForgottenProgramme commented on #1357
Suggestions invited.

@viniciusdc , I'm taking this up.

[2021-04-11 11:24] Aaishpra commented on #1337
Hi @leofang @viniciusdc
I checked [this](https://github.com/conda-forge/conda-smithy/pull/1296) PR about self-hosted Azure agents and found a lot of changes in files, and couldn't understand what configs are required to set up the self-hosted azure agents. Can any one of you help?

[2021-04-11 12:00] Aaishpra opened #1358 "Search bar very closed to footer in the website"
- [ ] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
The search bar is very closed to the footer on the website, some space is needed. to make it look better
![image](https://user-images.githubusercontent.com/66299533/114303333-390bd180-9aeb-11eb-88

[2021-04-11 12:02] Aaishpra commented on #1358
@viniciusdc I am not sure how to add space here although can you help?
Also since I opened this I would like to work on it.

[2021-04-11 12:40] prachi237 commented on #1358
Even I am interested to know how to work on improving the user interface, (though it is auto-generated) but I guess their must  have been repo to improve the sphinx set-up. not sure tho😅.

[2021-04-11 12:44] prachi237 commented on #1331
@viniciusdc  can u help me with this issue, what the first step I shd take to begin with this. like I got it that I am supposed to add two  more sections ,followed by link  but I am a bit confused from where to start with.

[2021-04-11 13:25] Aaishpra commented on #1358
@prachi237 Although some small changes can be made in the theme using [conf.py](https://github.com/conda-forge/conda-forge.github.io/blob/master/src/conf.py) but not all. Let's see what @viniciusdc says about it

[2021-04-11 13:47] ocefpaf commented on #1356
We definitely need to "advertise" it more and add it to our docs. Maybe we should also include the @conda-forge/miniforge team here.

[2021-04-11 13:51] ForgottenProgramme commented on #1356
Thanks Filipe.
Yes, the miniforge team might be able to give better inputs here.

@viniciusdc , once we have had a discussion around this, I'd like to write up the docs.

[2021-04-11 13:57] prachi237 opened #1360 "Add MPI (Message Passing Interface)"
How about adding  ``MPI``  in the glossary section.
Their is a whole separate section about MPI Variants in Conda-forge. By adding info about MPI in glossary section will help the user understand  it well.

Reference:  https://conda-forge.org/docs/maintainer/knowledge_base.html#message-passing-interface-mpi

[2021-04-11 13:58] ForgottenProgramme commented on #1360
Agreed!

[2021-04-11 15:06] viniciusdc commented on #1358
Hi, about the search bar it depends on the monitor you are using for it. But to change it's configuration there was an issue somewhere implementing this

[2021-04-11 15:28] viniciusdc commented on #1356
Great!

[2021-04-11 17:02] isuruf commented on #1360
Not really. MPI is mentioned in only one section and it should be defined there. What's the use of having it being defined in the glossary section?

[2021-04-11 18:02] hmaarrfk commented on #1356
I think the readme contains the views of the miniforge team.

Generally, there were a few packages we were using from the anaconda channel on Windows (scipy was one) but I believe scipy was recently built on Windows.

[2021-04-11 18:09] angeloobeta opened #1362 "Absence of a favicon in the conda-forge documentation"
#

- [ ] I was navigating through [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) only to notice that the absence of a favicon in the documentation.
**What is a Favicon?**
Favicon serves as branding for the documentation website. Its main purpose is to help visitors locate the documentation page easier when they have

[2021-04-11 18:15] angeloobeta commented on #1358
@viniciusdc  I would like to take up on this issue. I think I know where the issue is coming from.

[2021-04-11 18:20] leofang commented on #1337
@Aaishpra Please check my issue description. I did link to a working example (although I commented it out).

[2021-04-11 18:38] prachi237 commented on #1360
Sir,  in glossary section  we can define 'what MPI is' , just like other keywords are defined. As the section talks about MPI in conda-forge specifically not what MPI is 😅

[2021-04-11 18:41] isuruf commented on #1360
Glossary should be about words that are used everywhere in the docs. It doesn't make sense for MPI to be in the glossary, because MPI is talked about only in one section. Why not defined what MPI is in that section?
I don't think any user looks at the glossary, so there's no use for defining it there.

[2021-04-11 18:47] prachi237 commented on #1360
Yeah I agree, instead of adding it in glossary, defining what MPI is in the section itself would be a great idea.

[2021-04-11 20:43] viniciusdc commented on #1358
Great, as @Aaishpra requested this first, she has priority in this. But @angeloobeta  if you don't mind, both can try to solve this (there is also a problem when oppening the docs in the cellphone) and I will consider this contribution to both of you :)

[2021-04-12 06:51] Aaishpra commented on #1358
Ya sure @angeloobeta can work with me.
@angeloobeta do you have any suggestions how to approach this?

[2021-04-12 06:54] Aaishpra commented on #1358
@viniciusdc i just opened the docs in my phone and found what you are talking about shall i open the issue for this.

[2021-04-12 09:47] ForgottenProgramme commented on #1355
Another duplicate: #737

I guess people have felt the need for proper documentation on migrators several times.

[2021-04-12 09:54] ForgottenProgramme commented on #632
Hey, @hmaarrfk !
Yes please could you share that?
That would help us writing up atleast a initial document around 'publishing packages on non-conda forge channels'.

@viniciusdc
@beckermr

[2021-04-12 12:54] hmaarrfk commented on #632
well this was about 2 years ago. I kinda remember but I haven't done it in a while.

[2021-04-12 13:00] prachi237 commented on #1360
sir, today I found that MPI is mentioned even in user  docs https://conda-forge.org/docs/user/tipsandtricks.html

[2021-04-12 13:25] viniciusdc commented on #1358
Hi @Aaishpra, yes I think it could be a good idea, at least for us to have that documented somewhere. About the solution it may lie inside the `sphinx-cloud` theme we use for the docs...

[2021-04-12 13:33] viniciusdc commented on #1358
@Aaishpra Besides that, I do remember an old issue (closed) implementing the search bar, I will try to find that later, but it might help you both.

[2021-04-12 13:35] viniciusdc commented on #1355
Yes! Please we need that!

[2021-04-12 13:36] ForgottenProgramme commented on #1355
I'll take this up, @viniciusdc . :)

[2021-04-12 13:58] viniciusdc commented on #1355
Yes, he is right. For now let's just let this issue open for later reference. (I just commented there because I was really moved by this issue)

[2021-04-12 13:59] ForgottenProgramme commented on #1355
Alrighty!

[2021-04-12 14:23] ForgottenProgramme opened #1370 "conda-forge , Conda-forge or Conda-Forge?"
At most(80%, I'd guess) places in the conda-forge docs, 'conda-forge' is written with all characters in lowercase, even if it comes at the beginning of the sentence.

But at some places this style(rule?) is not maintained.

Infact, I'm seeing PRs changing 'conda-forge' to 'Conda-forge' or 'Conda-Forge'.

This might not seem very important, but a lack of consistency of style would reflect badly on

[2021-04-12 14:23] ForgottenProgramme commented on #1370
@leofang @beckermr @viniciusdc @ocefpaf

[2021-04-12 14:42] beckermr commented on #1370
I'd say always lower-case and in double backticks, but that is me.

[2021-04-12 14:44] ForgottenProgramme commented on #1370
I second that.

[2021-04-12 14:46] beckermr commented on #1370
Other members of @conda-forge/core should comment too.

[2021-04-12 14:51] leofang commented on #1370
I suppose it also depends on if it is referred to as a brand/org/service/group of people or as a (Conda) channel.

[2021-04-12 15:02] ForgottenProgramme commented on #1370
oh, that might be a good point!
When referred to as a channel, all lowercase and within double backticks is the right away. Because that's how we write other channel names too.

Brand, organization, service; these three are not very far from one another, I guess?

[2021-04-12 15:05] ForgottenProgramme commented on #1290
Link to the Gitter chat on this issue. Could be useful later.

https://gitter.im/conda-forge/conda-forge.github.io?at=60742f23ae90f3684077029e

[2021-04-12 16:03] Aaishpra opened #1371 "Homepage not responsive in mobile view"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

Issue:
The homepage is not responsive in smaller screens/mobile view.
Check below screenshots
![image](https://user-images.githubusercontent.com/66299533/114425347-9d578f80-9bd6-11eb-8098-899c5fb04ca9.pn

[2021-04-12 16:07] Aaishpra commented on #1371
@viniciusdc there is a similar problem in the blog section but at the footer instead of navbar.
I was confused about where to open the issue for it here or in conda-forge/blog

[2021-04-12 16:08] beckermr commented on #1371
This works fine on my iphone. are you sure?

[2021-04-12 16:10] Aaishpra commented on #1358
Thanks, I have also opened the issue and will try searchin for the solution in the `sphinx-cloud` docs you once shared.

[2021-04-12 16:11] Aaishpra commented on #1371
Yupp, checked on my phone too

[2021-04-12 16:13] Aaishpra commented on #1371
@viniciusdc also mentioned it [here](https://github.com/conda-forge/conda-forge.github.io/issues/1358#issuecomment-817369808)

[2021-04-12 16:17] beckermr commented on #1371
It is responding fine in my browers as I resize the screen and on my phone. I can reproduce the issue you posted only when using the browser inspection to resize the screen and not resizing the actual window.

[2021-04-12 16:19] Aaishpra commented on #1371
![IMG_20210412_121713](https://user-images.githubusercontent.com/66299533/114427568-d55fd200-9bd8-11eb-9584-53ce3eafd786.jpg)
This is what is see on my phone when i open the homepage

[2021-04-12 16:22] Aaishpra commented on #1371
Try a little bit scrolling to the right when you open it on phone, the navbar menu is present at the rightmost corner.

[2021-04-12 16:42] viniciusdc commented on #1371
Yes, same here too.

[2021-04-12 16:57] viniciusdc commented on #1371
Yes, same behaviour here too.

[2021-04-12 17:39] ForgottenProgramme commented on #632
@hmaarrfk , that's okay. Yes, its quite old. :D

[2021-04-12 20:16] BastianZim commented on #1371
I think this comes from the NUMFOCUS graphic:

![image](https://user-images.githubusercontent.com/10774221/114456014-aba8aa00-9bdc-11eb-8af3-343a7d168fe3.png)

It only is there though if I zoom out on my phone or scroll to the right.

[2021-04-12 21:28] viniciusdc commented on #1371
oh great point, I do agree with you that it might be the culprit. I think that the next step is deciding if we can do a dynamic resize of that logo.

[2021-04-13 01:50] angeloobeta commented on #1358
@Aaishpra, Thank you for  asking for my recommendation on how to address these  issues; for
the two issues you mentioned. I think should first start with the #1371  before heading over to #1358.
I think the problem of #1371 is coming from the way  bootstrap was set to render the content on mobile view,
for issue #1358, we will explorer the spacing in the index_page. what's your take on my suggesti

[2021-04-13 11:58] BastianZim commented on #1371
Maybe something like so:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_responsive2
https://www.w3schools.com/howto/howto_css_image_responsive.asp

[2021-04-13 12:02] viniciusdc commented on #1331
Hi @prachi237, I think the first step would be creating a PR describing how to become a mainteiner in https://conda-forge.org/docs/maintainer/updating_pkgs.html. (Add a new section there). About the content, we can discuss more about it later, I would also like to link that to the [maintainer roles](https://conda-forge.org/docs/maintainer/updating_pkgs.html#important-notes). Also, as there is no p

[2021-04-13 12:17] viniciusdc commented on #1362
for the favicon configuration https://github.com/conda-forge/conda-forge.github.io/blob/2843194b8221fa457cc8230259269550d673ff15/src/conf.py#L159, just test it localy before creating the PR

[2021-04-14 06:14] Aaishpra commented on #1358
@angeloobeta actually we can't directly change anything in the sidebar,(in UI terms mainly) other than this the sidebar is also probably auto-generated as we add more headings in documents or `.rst` files it gets updated, i have been reading `sphinx -documentation` regarding this and haven't yet found something. Let's see what we can do @viniciusdc searching for the some old issue. Do let me know

[2021-04-14 17:30] jakirkham commented on #1357
The wiki was disabled, which is why the link didn't work. Reenabled it so we can pull that information. Though I think we are trying to not use the wiki in the future. So we may want to disable that again after this is done

[2021-04-14 17:34] jakirkham commented on #1357
Windows also reuses Visual Studio with some activation scripts

Also we have a CUDA compiler for GPU code

I believe there are Rust and Go compilers as well. Not sure if there are any other languages I'm missing

[2021-04-14 17:40] ForgottenProgramme commented on #1357
Alright,
so we add information about the CUDA compilers and then check for Rust and Go.

[2021-04-14 18:27] viniciusdc commented on #1357
yup, @jakirkham  I copied the info there and passed it to @ForgottenProgramme as a source for this issue body. I will close the wiki again.

[2021-04-14 18:57] bashirk commented on #1370
Great observation. I would want to believe ``conda-forge`` is the better naming style from the lots, and it has been the most consistent.

[2021-04-14 19:25] ForgottenProgramme commented on #1370
@bashirk , true that!

[2021-04-14 22:19] prachi237 commented on #986
@jakirkham  @CJ-Wright  @viniciusdc @beckermr  In docs where we are supposed to add this feature( adding all the languages supported by conda-forge.  I would like to work on it.

[2021-04-14 22:20] prachi237 commented on #986
@CJ-Wright  had shared the link  https://github.com/conda-forge/by-the-numbers/blob/master/packages_per_lang.ipynb here I can find the list of supported languages, so basically all I need to do is, to add them in docs but my docs, but my doubt is in which section of docs.

[2021-04-15 08:44] PrernaSingh587 commented on #487
@jakirkham
policy issues should be raised on the webpage repo,

or that package requests should show up on staged-recipes,

or what the feedstocks repo issue tracker is used for.

In this issue, @viniciusdc mentioned that some part of it is already done. I gather , by digging the docs, I saw that the 2nd ( https://conda-forge.org/docs/maintainer/infrastructure.html#repositories) and 3rd(https://co

[2021-04-15 11:12] ForgottenProgramme commented on #1357
@viniciusdc , @jakirkham
Where should this list be added though?

[2021-04-15 11:20] ForgottenProgramme commented on #1357
Also, Is this is the feedstock repo for CUDA : https://github.com/conda-forge/cudatoolkit-feedstock ?

[2021-04-15 13:17] Martins-O-U commented on #998
Hello @beckermr and @viniciusdc, Outreachy Applicant here. Please confirm that the "Support" has now been properly defined at your meeting as I'd like to work on documenting this information as a section titled "Supported Languages" on the Brief Introduction page and on the Guidelines section as my contribution.

[2021-04-15 13:51] Martins-O-U commented on #1371
@viniciusdc Outreachy Applicant here. Please I'd like to work on documenting this issue. Kindly assign the task to me and confirm I can go ahead.

[2021-04-15 14:19] ForgottenProgramme commented on #998
Welcome to conda-forge, @Martins-O-U ! :)

[2021-04-15 14:20] Martins-O-U commented on #651
@viniciusdc Outreachy Applicant here. Please share some more information on the environmental variables. I'd like to be assigned to work on documenting this.

[2021-04-15 14:42] Aaishpra commented on #1371
@Martins-O-U i am already working here, although if you want we can collaborate.

[2021-04-15 14:45] Martins-O-U commented on #632
@hmaarrfk if you're able to share, we could still find some useful information therein.
What do you think @ForgottenProgramme?

[2021-04-15 14:57] Martins-O-U commented on #1171
@viniciusdc Outreachy Applicant here. Please is anyone already assigned to work on this?
I'm interested in working on this documentation. Kindly confirm and assign task to me.

[2021-04-15 14:59] beckermr commented on #1171
This issue is not a documentation issue.

[2021-04-15 15:04] PrernaSingh587 commented on #803
This issue seems interesting to me. To explain the structure of the feedstock of git repos. If its okay, I would like to take this up.

[2021-04-15 15:10] Martins-O-U commented on #998
Thank you @ForgottenProgramme
Let's create awesomeness!

[2021-04-15 15:12] Martins-O-U commented on #1371
@Aaishpra yes, that would be great. I'd love to collaborate with you.

[2021-04-15 15:13] Martins-O-U commented on #1171
Okay @beckermr

[2021-04-15 15:14] Aaishpra commented on #1371
Sure, @Martins-O-U
@viniciusdc can you assign both of us here. I have started looking into the issue 😄

[2021-04-15 15:21] ForgottenProgramme commented on #1171
@viniciusdc , I think we should remove the 'docs' label. :)

[2021-04-15 17:38] viniciusdc commented on #651
HI @Martins-O-U  I think this issue was already been completed. As [this](https://conda-forge.org/docs/orga/guidelines.html?highlight=variables#intended-usage) toghether with [this](https://docs.conda.io/projects/conda-build/en/latest/user-guide/environment-variables.html#environment-variables-set-during-the-build-process) already cover the issue

[2021-04-15 17:40] Martins-O-U commented on #1371
Thank you @viniciusdc

[2021-04-15 17:59] hmaarrfk commented on #632
https://github.com/conda-forge/conda-smithy#making-a-new-feedstock

[2021-04-15 18:02] isuruf commented on #1009
There's a `help-pypy` team now and the migrator mentions this

[2021-04-15 18:02] #1009 closed

[2021-04-15 18:10] Martins-O-U commented on #651
Okay thanks @viniciusdc

[2021-04-15 18:11] Martins-O-U commented on #632
Thanks for sharing @hmaarrfk

[2021-04-15 18:13] viniciusdc commented on #632
I think we might close this issue as per https://conda-forge.org/docs/orga/guidelines.html?highlight=variables#intended-usage and your link https://github.com/conda-forge/conda-smithy#making-a-new-feedstock which includes those instructions, if needed we can address more details on this in the docs to highlight those instructions. What do you think @hmaarrfk ?

[2021-04-15 19:25] hmaarrfk commented on #632
I think enabling people to publish packages to their own channels using the conda-forge infrastructure releaves stress on the conda-forge maintainers.

Esteric packages do not need to be included in conda-forge, but users want to use the nice multi-architecture features of conda-forge.

[2021-04-16 15:32] Aaishpra opened #1389 "What is a recipe ?"
- [x] I read [the conda-forge documentation](https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge) and could not find the solution for my problem there.

### Issue:
Throughout the conda-forge documentation, there is a mention of the word recipes, How to add a recipe, how to update a recipe,
But no mention about what is a recipe for packages, in my view th

[2021-04-16 15:33] Aaishpra commented on #1389
@viniciusdc if this issue seems legit and needed I can work here or you can close the issue thanks

[2021-04-16 15:50] Aaishpra commented on #1337
@leofang This is just my initial implementation about configs required for setting up self-hosted azure, I have added this to https://conda-forge.org/docs/maintainer/conda_forge_yml.html
Need your suggestion for improving this
![image](https://user-images.githubusercontent.com/66299533/115050061-ff770400-9ef8-11eb-8e56-f4bf6d38e8cb.png)
Also, shall I remove the org name and project name from the c

[2021-04-16 15:56] beckermr commented on #1389
A recipe is the set of files needed to build the conda package. This includes at minimum the meta.yaml, but might also include license files, patches, build scripts, test scripts etc. If you look in any feedstock, the recipe is all of the stuff in the recipe directory.

[2021-04-16 15:59] Aaishpra commented on #1389
Yes, but can that be included on homepage so someone visiting the website for the first time can directly know what it is.

[2021-04-16 16:02] beckermr commented on #1389
Sure. I'd make a glossary entry and add some links

[2021-04-16 16:04] viniciusdc commented on #1389
Even though we don't have a straighforward directly definition of what a recipe is, it's conteints and uses are well written in the docs. There is still a full exemple of it (see more [here](https://conda-forge.org/docs/maintainer/adding_pkgs.html#the-recipe-meta-yaml)