[2022-03-30 18:22] prachi237 commented on #1532
@jakirkham @beckermr  @kathatherine  I think I can and would like to fix this issue, can you help me provide the necessary details so that I can get started with this?

[2022-03-30 18:32] kathatherine commented on #1653
I don't have historical context for this section. Why is that there at all, @beckermr?

[2022-03-30 18:46] jakirkham commented on #1532
Mostly this is about deleting text that is outdated

Though it might be nice to write up a paragraph on how tokens are handled now. This [SO answer]( https://stackoverflow.com/a/69586535 ) is pretty good. Matt is the expert with token handling so he probably has thoughts on that 😉

[2022-03-30 19:03] prachi237 commented on #1653
same question🤔

[2022-03-30 19:21] beckermr commented on #1653
It is generated automatically from comments and todos in other spots in the docs. I think it could be removed in favor of GitHub issues for each item.

[2022-03-30 19:24] beckermr commented on #1532
That SO answer is really great. Let's avoid saying why we are trustworthy (ie declaring that anaconda trusts us) and instead update our docs with how we handle tokens etc. the description of that process is correct on this answer. Please do not copy any text from that SO answer. We do not have rights to it.

[2022-03-30 23:34] jakirkham commented on #1611
Great thank you! This would be nice to solve 🙂

[2022-03-31 01:28] shreya024 commented on #1277
@ForgottenProgramme @beckermr Hi I am Shreya, an Outreachy applicant .I would like to work on this issue .Kindly assign

[2022-03-31 06:07] leofang opened #1668 "Improve the documentation on `arch_rebuild.txt`"
### Where should the content be added?

_No response_

### What should be added?

See https://github.com/conda-forge/conda-forge-pinning-feedstock/issues/2679#issuecomment-1084100146. We need to add perhaps to the knowledge base that any feedstocks that could benefit from a rebuild targeting different architectures/platforms should add themselves to this `arch_rebuild.txt` list. The current mentio

[2022-03-31 06:28] croth1 commented on #1663
I agree, I would just add it to the other ignores in the conf.py for now. It seems to me that 403 are mostly false positives anyway and it's really the 404 that are relevant (when one mistypes a url or it becomes invalid for some reason).

[2022-03-31 06:58] jakirkham commented on #1663
Sounds good. Submitted PR ( https://github.com/conda-forge/conda-forge.github.io/pull/1669 ) to add it to that list. Please let me know if that looks ok 🙂

[2022-03-31 09:06] delphine-boke commented on #1660
hello @Hil-dred, may i work on this issue? i have a knowledge of Anaconda

[2022-03-31 10:26] prachi237 commented on #1668
@leofang  I would like to take this issue can I?

[2022-03-31 13:05] #1663 closed

[2022-03-31 13:36] jeroen commented on #1654
Hello, upstream maintainer of many R packages and former R toolchain maintainer here :)

The safest and easiest solution would be to start using the toolchain from the rtools42 bundle provided by CRAN:

 - docs: https://cran.r-project.org/bin/windows/Rtools/rtools42/rtools.html
 - tarball: https://cran.r-project.org/bin/windows/Rtools/rtools42/files/rtools42-toolchain-libs-base-5111.tar.zst

This

[2022-03-31 15:47] ssurbhi560 commented on #1581
Hi @jakirkham, can you please share some more info about what could be the reasons for API/ABI breakage and anything, any resource where I can read more about this? I am struggling to understand this, specifically this : "Hot-fix repodata", what does this mean?

[2022-03-31 19:04] chicken-biryani opened #1672 "Proposal: Re-do the structure?"
### Where should the content be added?

Modification in the current docs

### What should be added?

Currently, all the possible sections are intertwined with each other. For example, in staging recipes, I have to jump around a lot to be able to contribute.

Instead of keeping the structure as User documentation, Maintaining, Organization..

We make it section-wise as:

- Getting started
     - In

[2022-03-31 19:12] chicken-biryani commented on #1672
@beckermr @kathatherine @BastianZim @jaimergp

[2022-03-31 22:39] ssurbhi560 opened #1673 "Add "overview of conda-forge" as a separate section."
### Where should the content be added?

At the very beginning of the docs (sort of an opening page for the docs)

### What should be added?

Here we should add all the information about conda-forge. This section should address the questions such as: what is conda-forge, why should we use conda-forge, etc.

### Additional information

We should add a separate section in the docs "overview of conda-

[2022-03-31 22:41] ssurbhi560 commented on #1673
@beckermr @kathatherine @BastianZim, please share what you folks think about this! I can work on this, if this sounds like a good addition.

[2022-04-01 03:09] prachi237 commented on #1673
@ssurbhi560  there is a section named  brief introduction  in user documentation of the docs where the overview section is already added l, and what is conda forge why conda forge all these questions have been answered there😅 thought loved your idea.

[2022-04-01 06:05] dakshitathakkar commented on #496
Hi, @jakirkham. Is this issue open for changes?

[2022-04-01 12:56] ssurbhi560 commented on #1673
@prachi237, I guess I could not properly convey what I wanted to say; I will try to make things more clear now.

The change I proposed was to move the "Brief Introduction" section (which already covers all these questions you mentioned). I think it probably should have its own section rather than being under any other sections ( it is under the user documentation section right now.)

I could share

[2022-04-01 16:42] chicken-biryani commented on #1673
@ssurbhi560
I had a similar thought. Sections like Introduction, About conda forge etc can be kept out of User Documentation.

Also, is 'user documentation' the correct name?

Maybe we can adapt names that are commonly used? What do you think?

[2022-04-01 17:06] ssurbhi560 commented on #1673
@chicken-biryani, I would say that we should do this. Something that I can think of right away and is also used at a lot of other places as well is "User guide".

[2022-04-01 18:32] jakirkham commented on #1581
This is sort of a catch 22. We need docs so people can understand how to do this, but we don't have them so it is hard to understand/explain.

Probably we shouldn't get too hung up on a deep explanation of repodata hot-fixing as individual solutions could be very different. Plus others may be able to fill this out more as time goes on. So instead would focus on a good examples. Here are a few:

*

[2022-04-01 19:11] ssurbhi560 opened #1676 "Change ``master`` to ``main`` in all the git commands."
### Where should the content be added?

At all the places where git commands are present.

### What should be added?

We should change all the git commands we have in our docs.

### Additional information

No response

[2022-04-01 19:12] ssurbhi560 commented on #1676
I will take this up @kathatherine, @beckermr!

[2022-04-01 19:57] chicken-biryani opened #1677 "Change Gitter to Gitter and Element"
### Where should the content be added?

https://conda-forge.org/docs/orga/getting-in-touch.html?highlight=gitter

### What should be added?

Add info about Element as well.

### Additional information

---

[2022-04-01 20:21] chicken-biryani commented on #1677
I'm taking this up.

[2022-04-01 20:41] kathatherine commented on #1676
@ssurbhi560 Go for it!

[2022-04-01 22:43] kathatherine commented on #1673
I think an introductory page is a great idea. Clicking on Docs on conda-forge.org and immediately seeing that table of contents is very intimidating. It's good to know where you need to be looking for information, so I can see why the tables of contents are used, but they're overwhelming. Maybe add some sentences directing people to various parts of the documentation from the introductory page you

[2022-04-01 23:45] hmaarrfk commented on #1677
What is element?

[2022-04-02 01:55] jakirkham commented on #1677
Let's wait until @conda-forge/core has time to respond before making this change

[2022-04-02 03:26] chicken-biryani commented on #1677
@hmaarrfk Element is Gitter but it provides a better UI.

[2022-04-02 06:16] victorabba commented on #1676
I would love to take on this issue. Please which folder contains the git commands?

[2022-04-02 06:37] victorabba commented on #1660
Hi @Hil-dred , I would love to work on this issue.

[2022-04-02 10:14] ssurbhi560 commented on #1676
@victorabba, I already started working on it last night and almost completed half of it. Could you please take another issue, that way our efforts won't be wasted?

[2022-04-02 10:19] ssurbhi560 commented on #1673
@kathatherine I agree with you on this, seeing the table of contents as the first thing can make people a little overwhelmed. I will go ahead and open a PR for this then.

[2022-04-02 12:03] chicken-biryani opened #1678 "Remove the section 'Can I contribute packages to conda-forge?' from User Documentation"
### Where should the content be added?

https://conda-forge.org/docs/user/introduction.html#can-i-contribute-packages-to-conda-forge

### What should be added?

The section seems to be redundant.

The 'Becoming involved' section under ['What is conda-forge'](https://conda-forge.org/docs/user/introduction.html#what-is-conda-forge) already suggests that a person can contribute to packages by either

[2022-04-02 12:04] chicken-biryani commented on #1678
@beckermr @kathatherine @BastianZim
What do you think?

[2022-04-02 13:15] Lukong123 commented on #1346
Hello everyone I am Lukong Anne from Cameroon looking forward to contributing to the community.

[2022-04-02 13:19] Lukong123 commented on #1346
@prachi237 I think it is a good idea to do add the code of conduct to the readme file, as you said adding it in brief.

[2022-04-02 23:18] ssurbhi560 opened #1680 "Add "Writing-Guidelines" section to the docs."
### Where should the content be added?

In [Becoming Involved] (https://conda-forge.org/docs/user/contributing.html) page.

### What should be added?

Writing guidelines to follow while making changes to the documentation.

### Additional information

Some examples to refer: https://docs.conda.io/projects/conda-build/en/latest/resources/style-guide.html

[2022-04-03 00:08] shreya024 commented on #1532
Hey @beckermr I would like to work on this issue.

[2022-04-03 00:10] shreya024 commented on #1170
Hey @jakirkham I would like to work on this issue.Kindly assign

[2022-04-03 00:33] beckermr commented on #1532
Go for it!

[2022-04-03 01:31] chicken-biryani commented on #1665
Hello,

Although I haven't usually seen it in docs. Do you think- as a follow up- it's a good idea to add an overview/detailed flowchart of the whole process, end to end? This may help a person get a clearer picture.

[2022-04-03 01:45] prachi237 commented on #1532
I have been working on it, have not send the PR but have made edits and I'm on the verge of completion .

[2022-04-03 08:12] BastianZim commented on #1665
I think that would be a great idea. Maybe even make it interactive and depending on the language.

For example, if python is selected, recommend Grayskull etc.

[2022-04-03 09:50] beckermr commented on #1170
Feel free!

[2022-04-03 10:00] Simran1604 commented on #1680
Hey! I would like to work on this issue. Can you pls assign it to me?

[2022-04-03 17:30] ssurbhi560 commented on #1680
Hi @Simran1604, please go ahead and open a PR! :)

[2022-04-03 20:16] timsnyder opened #1686 "Add compilers section to user docs"
### Where should the content be added?

_No response_

### What should be added?

Expand on the content in the user faq, create an end-user specific section that describes how to use the compiler toolchains:
* tl;dr; install `compilers` package and go
* explain the different packages `_impl`, vs `activation scripts` vs `symlinks`
* document the new `conda-gcc-specs` package
* refer to the maintain

[2022-04-04 01:28] jakirkham commented on #1686
Also related issue ( https://github.com/conda-forge/conda-forge.github.io/issues/893 ).

[2022-04-04 08:12] prachi237 commented on #1686
@timsnyder  so basically what I inferred is one has to open a FAQ in faq section of docs that answers the question :  How to use the compiler toolchains? Is it so ?
The answer had been already mentioned by you ig?
i.e:
tl;dr; install compilers package and go
explain the different packages _impl, vs activation scripts vs symlinks
document the new conda-gcc-specs package
refer to the maintainer's co

[2022-04-04 08:13] prachi237 commented on #1686
@beckermr  @kathatherine  would like to take this issue can u assign me

[2022-04-04 16:15] kathatherine commented on #1678
@chicken-biryani Yeah, I agree. Removing redundancy will also help with the overall restructuring of the docs.

[2022-04-04 16:27] chicken-biryani commented on #1678
@kathatherine
Definitely! I have made a PR for the same #1679 do let me know if I could improve in any way!

[2022-04-04 17:53] ssurbhi560 commented on #496
Hi @isuruf,  :)
The link you shared above doesn't work now (probably because it's an old issue and docs have changed a lot since then). But from what I have guessed you meant that there is no mention of web services in conda-forge docs under conda-smithy section. While looking through the docs, I found out that actually there is place ([here](https://conda-forge.org/docs/maintainer/infrastructure.

[2022-04-04 18:25] ssurbhi560 commented on #487
@kathatherine @jakirkham, I am thinking of adding the remaining things (issue tracker for ``conda``, ``conda-build`` and [Anaconda Platform's support issue tracker](https://github.com/Anaconda-Platform/support/issues) in the "Getting in touch" section.  Also, I think this could also be a good idea to have a section entirely for this, something like **Raise your issues/concerns** in "Getting in tou

[2022-04-04 18:59] isuruf commented on #496
Yep, it's already there. Thanks @ssurbhi560.

[2022-04-04 18:59] #496 closed

[2022-04-04 19:05] ssurbhi560 commented on #497
Hi @jakirkham, I think I would be able to help with this. I also checked in the docs and there isn't any section which covers this, so this indeed would be a quite useful addition. Can you please share what are some steps one must take to deal with this, that would help me start with this.

[2022-04-04 19:11] kathatherine commented on #1665
I agree! Whatever might help a new user, either someone completely new to python and conda or someone just new to conda-forge to understand what they need to do to accomplish their goals (getting conda-forge packages, contributing to conda-forge, etc.) would be fantasic.

[2022-04-04 19:41] kathatherine commented on #1686
I don't have the permissions to assign you officially. @beckermr, do you mind? Go ahead and get started, @prachi237, if you haven't already!

[2022-04-04 21:51] jakirkham commented on #1686
Done

[2022-04-04 21:52] jakirkham commented on #497
Yeah I think this was related to CI systems we have already dropped. So let's close this as it's no longer relevant. Thanks for checking 🙂

[2022-04-04 21:52] #497 closed

[2022-04-04 21:53] timsnyder commented on #1686
@prachi237 , I think that @beckermr and I were talking about creating a new subsection of the user section of the docs that covers all the areas I created the list for.

[2022-04-05 02:41] prachi237 commented on #1686
Ahaha got it ! I Will try to implement it :)

[2022-04-05 12:54] Uma-95 commented on #1680
Hey @ssurbhi560! I've made a PR
 https://github.com/conda-forge/conda-forge.github.io/pull/1689
Would love to know your opinions and looking forward to feedback.

[2022-04-05 12:59] #1672 closed

[2022-04-05 15:53] chicken-biryani commented on #1665
Can we add analogies while trying to explain a term? Eli5 (Explain like I am 5) analogies?

For example,

For packages... MAYBE how you get a package of a chair from IKEA... With instructions on how to build the chair and the parts of the furniture... Similarly for packages- they come with the source code and instructions.

If people relate to something in the non virtual world they understand thi

[2022-04-05 17:00] jakirkham commented on #1672
Why was this closed?

[2022-04-05 17:19] chicken-biryani commented on #1672
Hi, @jakirkham I think I made the suggestion without having enough knowledge.

After reading the docs a little more, I realised that it's ALMOST in the way I've suggested that is-- talking about infrastructure related topics under infrastructure. About the parts of packages under well packages etc.

Except, the introduction part which will be covered in an issue made by Surbhi right after this one

[2022-04-05 17:24] jakirkham commented on #1672
Gotcha thanks for the info 🙏

[2022-04-05 17:29] chicken-biryani commented on #1672
@jakirkham Do you think it should be reopened? 🤔

[2022-04-05 22:06] jakirkham commented on #26
Hey @kathatherine, the gist of the issue is that on Windows directories containing scripts, executables and libraries are added to the same `PATH` environment variable. Windows uses this environment variable both when searching for a script or an executable to run and when searching for libraries to link to. Unix-y OSes don't do this. So there is an ambiguity around where scripts, executables, and

[2022-04-05 23:13] ChrisBarker-NOAA commented on #26
Windows also looks for dlls "next to" an executable or other library -- so putting them together makes sense.

This leads to DLL Hell, but that comes with the territory.

@jakirkham: what's the difference in this contect between Scripts and Executables? Is a script a Python (opr other interpreted language) script, and therefor not linked directly to any DLLs?

[2022-04-06 04:36] jakirkham commented on #26
Yeah exactly.

[2022-04-06 21:54] h-vetinari commented on #1162
Ran into a small paper cut caused by this, not actionable but thought I'd note it if someone has an idea I've overlooked.

I wanted to open an old PR on a feedstock, but couldn't because it had been pointing against master (a branch that's now deleted), and I couldn't change the branch because the PR was closed -> Catch 22. Of course one could repush a master branch to the main feedstock (and dele

[2022-04-06 22:11] beckermr commented on #1162
Ouch. Thanks for the report. Hopefully we'll hit less of this as time goes on. Sorry for the trouble!

[2022-04-06 22:53] jakirkham commented on #1162
Usually the first step is undelete the branch in GitHub UI. Then it can usually be reopened (though have not tried that with the base branch being deleted).

The other option is open a new PR. It is possible to [fetch the commits from the old PR]( https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/checking-out-pull-requests-locally ), which

[2022-04-07 00:14] h-vetinari commented on #1162
I did that, but the missing base branch was exactly the problem.

Indeed, and I would have done it in other cases, just that it would have been nice to redo the blas-variant [overview](https://github.com/conda-forge/numpy-feedstock/pull/196) in the same place as all the previous ones for that series.

[2022-04-07 00:22] jakirkham commented on #1162
Understood unfortunately this is out of our hands. Would suggest raising [a support issue with GitHub]( https://support.github.com/request ) and seeing what they say

[2022-04-08 10:38] vanshmehra commented on #1454
Hi can I work on this? I am an outreach applicant

[2022-04-08 10:39] vanshmehra commented on #1428
Hey can I work on this? I am an outreach applicant

[2022-04-08 12:52] harshita214 commented on #1277
@ForgottenProgramme @beckermr
I am Harshita, and I am also very interested to work on this as an Outreachy participant. As it will be my initial step towards this organization. Can I be assigned this task

[2022-04-08 12:56] harshita214 commented on #1680
Hello , I am harshita and I am also interested to work on this issue
Can I be assigned this

[2022-04-08 13:01] harshita214 commented on #1346
Hello, I am harshita and I would like to work on this issue
Can I be assigned this as an Outreachy participant

Thanks in advance :)

[2022-04-08 15:00] vanshmehra commented on #1647
Hello can I work on this?

[2022-04-08 15:00] vanshmehra commented on #1647
@beckermr @kathatherine

[2022-04-08 15:03] vanshmehra commented on #1335
hi @leofang I am an outreachy applicant, can I work on this?

[2022-04-08 19:09] Radhika-Saini commented on #1680
Hello, I am an Outreachy Applicant and I would like to work on this issue. Can you pls assign it to me?

[2022-04-08 19:50] Radhika-Saini commented on #1680
I work on this issue, But I need Help.Kindly Review https://github.com/conda-forge/conda-forge.github.io/pull/1697

[2022-04-09 09:04] ssurbhi560 commented on #1680
Hi @harshita214! :)
Since, there are already two people working on it, I would suggest you take any other issue, as we value your time and efforts and would not want you to waste them. Let us know if you need help in picking up an issue to start with.

[2022-04-09 09:08] Ginohmk commented on #1677
Can I take this up ?  I want to work on it

[2022-04-09 09:13] Ginohmk commented on #1647
I think I have worked on this already on a similar issue with this [PR](https://github.com/conda-forge/conda-forge.github.io/pull/1670) @beckermr @kathatherine

[2022-04-09 12:07] Radhika-Saini commented on #1680
@ssurbhi560  Created the new PR as you say https://github.com/conda-forge/conda-forge.github.io/pull/1701/
Kindly review.

[2022-04-09 16:45] Radhika-Saini commented on #1680
I made the changes https://github.com/conda-forge/conda-forge.github.io/pull/1702
Kindly review.

[2022-04-09 17:52] chicken-biryani commented on #1677
Hi @Ginohmk this issue is currently on hold.

I think you could take up another one.

[2022-04-09 19:39] Ginohmk commented on #1677
@chicken-biryani  alright, thanks for your reply . Do you have any other issue in mind for me

[2022-04-09 19:43] chicken-biryani commented on #1677
@Ginohmk well, you can browse through the documentation. And I am sure you'll come across things that can be improved. You could either open a PR for that directly or first create an issue and after discussing you could create a PR.

[2022-04-09 23:03] ssurbhi560 commented on #73
@jakirkham, I see this still hasn't been done. I am taking this up, would appreciate your feedback on the PR!

[2022-04-10 12:14] Uma-95 commented on #1680
https://github.com/conda-forge/conda-forge.github.io/pull/1696
@ssurbhi560 @kathatherine @beckermr
I made further changes. Please take a look and let me know what you think of it. I would love to receive feedback on this.

[2022-04-11 12:46] Uma-95 opened #1705 "Explaination about conda package."
### Where should the content be added?

https://conda-forge.org/docs/user/introduction.html   (A brief introduction)

### What should be added?

The Brief Introduction page is mostly about the what and why of the conda-forge community. A beginner might not really get it when he/she reads the word "Conda packages" for the first time. Explanation in a line or two about what a conda package is would

[2022-04-11 20:46] kathatherine commented on #1346
Hi, @harshita214. You don't need to be assigned any issues during the Outreachy application period for conda-forge. You can work on this issue if you want to (we are using this issue in particular as an easy one to start with), but you are welcome to create a PR for any docs issue you would like to work on and let us know about it in the conda forge interns chat.

[2022-04-11 21:09] kathatherine commented on #1454
@vanshmehra @chicken-biryani You are both welcome to work on this. Sorry I missed your question before, @chicken-biryani. We're not assigning issues, so feel free to get started and make a PR. @chicken-biryani, I believe you've been making small issues related to this?

[2022-04-11 21:19] chicken-biryani commented on #1454
@kathatherine
Kinda! I believe they align with the aim of this issue.

I did create a similar [issue on restructuring the docs completely](https://github.com/conda-forge/conda-forge.github.io/issues/1672). But I think I spoke to soon. :')

Also, while we're on the subject of restructuring... Do you think we'll ever switch to RTD (Read the docs) instead?

[2022-04-11 22:17] kathatherine commented on #1647
@Ginohmk Instructions on building the project locally are a little different than instructions on forking the repo and contributing to the project. I don't think this issues is a duplicate.

@vanshmehra Please work on any issue you would like. This one would be great to have instructions for.

[2022-04-12 07:58] Ginohmk commented on #1647
@kathatherine oh, sorry about that, I thought the projects are the same. @vanshmehra please carry on

[2022-04-12 16:51] phreed opened #1706 "Incorporating Legally Restricted Libraries in a Conda Environment"
### Your question:

How do I develop a package for a library whose distribution is limited or restricted?

Context:
We write open-source plugins for various proprietary software (mostly modeling tools (UML, SysML, etc.)).
While developing (testing) these tools we need to cycle through all the versions of those tools and their libraries.
The binaries for these libraries are not freely distributed;

[2022-04-12 17:16] Radhika-Saini commented on #1680
I made the changes https://github.com/conda-forge/conda-forge.github.io/pull/1707
@ssurbhi560 @kathatherine @beckermr Kindly review.

[2022-04-12 18:35] Uma-95 commented on #1705
@kathatherine @beckermr  I added some new terms to the glossary and linked them to the introduction page.
https://github.com/conda-forge/conda-forge.github.io/pull/1696/commits/a288ad2b088f0502334ee3cf2c453065a231b8b5
https://github.com/conda-forge/conda-forge.github.io/pull/1696/commits/704974b62f05e297c5ebc518ba045feda717f438
Kindly review.

[2022-04-12 23:19] jakirkham commented on #1490
@leofang do you recall where this came up? No worries if not. Wondering if there might be a bug actually.

[2022-04-13 00:59] leofang commented on #1490
Sorry I don't remember in which feedstock I hit the issue, but I seem to remember confirming it's a known issue with either @jaimergp or @beckermr on the Gitter channel back then before filing an issue.

[2022-04-13 01:06] beckermr commented on #1490
I don't recall this one but conda build does have its quirks. Probably need a simple test case here.

[2022-04-13 03:18] h-vetinari opened #1709 "RFC: Do not package tests by default"
I was unaware until recently that conda-build will also package whatever is being used in (& copied into) the test section as part of the final binary.

In general, I consider it best-practice to run the full upstream test suite against the package builds (and I've been doing this as much as possible on the feedstocks I'm involved with), but it's really unfortunate that an otherwise really good pr

[2022-04-13 03:41] jakirkham commented on #1709
Usually this content is pretty small. For cases where test data gets larger, some folks have used split packages to split out binary test data (please see [`mpl_sample_data`]( https://github.com/conda-forge/mpl_sample_data-feedstock ) for example).

It can be useful for reproducibility locally. For instance some of the packages that we currently lack hardware to test we are able to test this way (

[2022-04-13 03:46] jakirkham commented on #1490
Well we just recently used this with `boost-cpp` and it does seem to work there. Please see PR ( https://github.com/conda-forge/boost-cpp-feedstock/pull/123 ).

That said, have no problem believing there are other cases where it may have run into issues. Just don't know what those might be.

[2022-04-13 04:28] jakirkham commented on #1490
So I think part of the issue is not much output is produced from `run_test.*` by default. Filed issue ( https://github.com/conda/conda-build/issues/4426 ) about addressing this.

That said, there may be more to the story. Still digging in 👷

[2022-04-13 05:25] jakirkham commented on #1490
Ok it does look like there is another bug, which is causing this issue. Filed as issue ( https://github.com/conda/conda-build/issues/4427 ).

[2022-04-13 12:44] Hil-dred opened #1711 "Add a Cheat sheet to the User documentation"
### Where should the content be added?

Tips and tricks section

### What should be added?

Include  a Cheatsheet with frequently used commands.

### Additional information

It would improve a new user's experience if there is a section to reference for most frequently used commands. Commands for creating conda environments, listing conda environments, switching between environments, installing pa

[2022-04-13 17:16] Ginohmk commented on #1647
@kathatherine please can I work on this issue, as I just finished setting up the development environment for this project and it was difficult to do so, but I made lots of research and finally got it working. I will like to share the steps I used in accomplishing it, so it can be easy for others.

can I carry on with fixing this? @kathatherine and @vanshmehra

[2022-04-13 19:36] jakirkham opened #1715 "Separate linkcheck to a different job from deploy"
We've had linkcheck running for a bit. Generally this seems useful. That said, we have had a few cases recently ( https://github.com/conda-forge/conda-forge.github.io/issues/1663 ) ( https://github.com/conda-forge/conda-forge.github.io/pull/1710 ) where linkcheck caused deployment to fail. Given this, would like to suggest we break linkcheck out into a separate GH Actions job. This way if it fails

[2022-04-13 19:43] kathatherine commented on #1647
@Ginohmk I'm not seeing the comment on this issue that I got an email about, but if you would like to push a PR with instructions for building locally, please do!

[2022-04-13 19:45] #73 closed

[2022-04-13 20:02] Ginohmk commented on #1647
@kathatherine  . Sorry about the comment, I deleted it to avoid multiple PR on same issue, as I figured out someone might be working on it already.
But I will be glad to work on this. Issue

[2022-04-13 20:35] kathatherine commented on #1647
@Ginohmk I'm not seeing a PR for it yet, unless one has been created and not linked here, so feel free!

[2022-04-13 21:29] Ginohmk commented on #1647
Alright. I will start work on it. Please one quick question. Where should the change be made ?

Because I can explicitly find a please in the doc where the steps to setup build was initially stated.

@kathatherine

[2022-04-13 21:35] kathatherine commented on #1647
@Ginohmk You can put it in the Read Me in src for now and we can always move it if we need to.

[2022-04-14 08:39] preeti-14-7 commented on #1647
Hey @kathatherine I want to work on this but due to no response of your i was not moving forward

[2022-04-14 08:43] preeti-14-7 commented on #1647
@Ginohmk have you started working on it or can I start? As I m an outreachy applicant I need to submit at least one PR for getting accepted my proposal

[2022-04-14 09:01] Ginohmk commented on #1647
@preeti-14-7  I am also an outreachy applicant.

Though I have made just one PR, I just want to keep contributing to this project, but since you need the PR. As it's still same things we plan to achieve, that is making the project better..

You can carry on. I will just stop what I have done and look for another issue to work on.

Also if you need help with the issue. I can give you ideas as well.

[2022-04-14 09:47] jaimergp commented on #1490
I think I saw this in the `conda-feedstock`. https://github.com/conda-forge/conda-feedstock/pull/162

[2022-04-14 10:56] Ginohmk commented on #1647
@preeti-14-7  please reply so I know my next step .. thanks

[2022-04-14 15:12] jakirkham commented on #1490
Yeah have a few reproducers now. Tried submitting a fix upstream. Could use a review if you have time to look 🙂

[2022-04-14 17:27] preeti-14-7 commented on #1647
Yes thank you so much, I will contribute on this issue

[2022-04-14 17:28] preeti-14-7 commented on #1647
Sure , email id: preeti.pky@gmail.com,  we can connect through mail

[2022-04-14 17:57] phreed commented on #1706
The current approach is to use some combination of `post-link`, `pre-unlink`, and `activate` scripts.
There are some issues with this approach.

The main issue is that any artifacts produced by these scripts is not recorded in the package's meta-data file, e.g. `miniconda3/env/conda-meta/foo-0.1.0-1.json`.

Another issue is the setting of environment variables.
This is partially handled via the  `

[2022-04-14 18:27] phreed commented on #1706
The `post-link`:`pre-unlink' and `activate`:`deactivate` pairs need to share information.
Consider a package named `foo`.

The `%CONDA_PREFIX%\conda-link-meta\foo_${uver}\pre-unlink-aux.bat`, a simple script which is written `post-link.bat` and reverts what it did.
The `%CONDA_PREFIX%/conda-link-meta/foo_${uver}\deactivate-aux.bat`, a simple script which written by `activate.bat` and reverts what

[2022-04-15 06:25] preeti-14-7 commented on #1647
You can work on it as you are already working on it and also u have ideas , i will look out for no issue

[2022-04-15 12:07] asaayushisingh opened #1720 "Navigation-bar"
### Where should the content be added?

In the navigation bar

### What should be added?

In navigation bar p in **previous**, i  in **index** n in **next** should be capital

![2img](https://user-images.githubusercontent.com/67657066/163568671-27766f5e-5126-44dc-9110-2194f2ffc274.png)

### Additional information

_No response_

[2022-04-15 12:12] asaayushisingh commented on #1720
Hey! 😄 @kathatherine  @beckermr  can i work on this issue?

[2022-04-15 12:21] Ginohmk commented on #1647
Alright @preeti-14-7
[PR](https://github.com/conda-forge/conda-forge.github.io/pull/1721) has been made on this issue. @kathatherine Please review, so I can make the required changes. Thank you

[2022-04-16 00:23] isuruf commented on #1706
What's the reason for having this package? How would someone consume this package?
Also what's the point of this when there's OpenJDK 8 already in conda-forge?

[2022-04-16 03:43] hmaarrfk commented on #1706
I think it is about freedom of choice.

We let people use Nvidia stuff.

[2022-04-16 15:37] phreed commented on #1706
@isuruf
Let me take your questions in turn.

What is reason for having such a package?
I answered this already but I will repeat.
When developing and using software it is very common to be required to integrate with other software, often that software is encumbered with restrictive licenses.

How would you consume such a package?
Before installing the package you would install the encumbered softw

[2022-04-16 15:45] phreed commented on #1706
Could someone change this from a question into a discussion.

Part of the discussion is about what packages should be included/excluded in conda-forge. A related part is the value of conda packages generally. It may be that conda-forge should only publish liberally licensed software.

[2022-04-17 00:12] #1623 closed

[2022-04-17 18:46] isuruf commented on #1706
I don't understand why you need the conda package at all.

[2022-04-18 00:01] hmaarrfk opened #1724 "abandoned feedstocks?"
### Your question:

I have a concern that certain feedstocks have not been able to keepup with certain migrations for quite some time.

It feels like we should be able to tag certain repos, maybe simply "archiving them" could help the bots complete feedstocks so that the global pinning can be updated.

Not to point fingers (I know priorities change) but feedstocks that come to mind are:
* https://

[2022-04-18 14:05] phreed commented on #1706
I don't understand why you need the conda package at all

[2022-04-18 14:09] isuruf commented on #1706
That's not an illustrative example at all. Can you please describe in detail why you need an empty oracle jdk conda package?
How and what would it accomplish anything that not having the conda package and expecting the user to install it externally would not accomplish?

[2022-04-18 14:21] phreed commented on #1706
The conda package is not empty, it contains `post-link`, `pre-unlink`, `activate`, and `deactivate` scripts.

Suppose I have several different variants of java installed on my machine (say 8 to make it concrete).
I have several projects I am working on (say 12) each of which needs to be developed and tested to work with each of the java variants.
I have several different os (say centos7, centos8,

[2022-04-18 14:30] phreed commented on #1706
https://linux.die.net/man/8/update-alternatives

[2022-04-18 15:32] phreed commented on #1706
Is the purpose of `conda` primarily to install packages or establish named environments? (or something else?)

[2022-04-18 15:57] phreed commented on #1706
I just ran across [conda virtual packages](https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-virtual.html).
I claim that there should be a class of packages that fit between typical conda packages (which both package and activate software) and virtual packages (which package os capabilities).  They are similar to virtual packages in that they primarily provide capabilities outside

[2022-04-18 16:17] phreed commented on #1706
It seems the main reason to not support this capability is
https://conda-forge.org/docs/maintainer/adding_pkgs.html#avoid-external-dependencies

I am proposing a third exception.
Software that is legally (or similarly) encumbered.

[2022-04-18 18:58] kathatherine commented on #1720
@asaayushisingh Hey! That is probably a stylistic choice in the documentation, so I don't think that will need to change. @beckermr?

[2022-04-18 19:24] leofang commented on #1706
Java SDK specific discussions aside (which I have zero interest in), based on the issue title

and the issue description

Didn't we already provide some way to meet this need? For example there are empty packages for `mpich` and `openmpi`:
https://conda-forge.org/docs/user/tipsandtricks.html#using-external-message-passing-interface-mpi-libraries

[2022-04-18 19:25] leofang commented on #1724
I'd also like to tag https://github.com/conda-forge/libcugraph-feedstock.

[2022-04-18 19:40] beckermr commented on #1720
We have a side TOC for navigation. I am also not sure how easy this is to change with our sphinx docs build. We should punt on this one.

[2022-04-18 19:52] Uma-95 commented on #1705
@kathatherine

[2022-04-18 22:56] Ginohmk opened #1727 "Improve the steps in contributing to the project"
### Where should the content be added?

https://conda-forge.org/docs/user/contributing.html

### What should be added?

- I suggest that the steps in contributing to a project do not properly stand out, especially for a beginner. I can write more easy steps to make it better and easy to contribute to the project.
- Also I noticed some terms are outdated like that of the branch name as ``master`` i

[2022-04-19 19:02] kathatherine commented on #1647
Hi, @preeti-14-7, I'm sorry for not replying. I missed that you were asking to be assigned to it. You can work on anything doc related without being assigned.

Thanks, @Ginohmk, I will look at your PR.

[2022-04-20 22:45] Hil-dred opened #1729 "Add virtual environment (VENV) to glossary section"
### Where should the content be added?

Glossary under Miscellaneous section

### What should be added?

Meaning of virtual environment

### Additional information

Considering the recommendation that packages be installed with conda-forge in a new environment aside from the base environment, it would be very helpful especially for a new user, to understand what a virtual environment is, making th

[2022-04-21 01:26] chicken-biryani opened #1731 "Adding all the steps and making use of sphinx tabs."
### Where should the content be added?

https://conda-forge.org/docs/maintainer/adding_pkgs.html

### What should be added?

**A thing that I have observed is that:**

As a reader for 'getting started' I kept jumping from link to link without completely reading all the instructions.

For example: the sentence - Look at [the example recipe](https://github.com/conda-forge/staged-recipes/tree/master/

[2022-04-21 20:02] Arshita-CHD commented on #1729
Hey I would like to work on this issue

[2022-04-21 20:15] phreed commented on #1706
Thank @leofang
Those mpi packages look like a great example.
I will copy the link to the top.

[2022-04-21 22:52] Hil-dred commented on #1729
Hello @Arshita-CHD, I already created a pull request awaiting approval as a fix to the issue

[2022-04-22 00:38] h-vetinari opened #1732 "Move to vc142 toolchain on windows"
## TL;DR

Move to newer toolset because:
* vc141 is disappearing in the CI of many projects (due to the compiler where it's the default being EOL), leading to bitrot, breakage, and extra work (both upstream and in packaging)
* ABI not hard-linked with OS as on unix
* better performance & less bugs
* it's trivial for conda-forge to keep a consistent toolchain
* the set of users being broken by this

[2022-04-22 06:20] Arshita-CHD opened #1733 "Including Next steps in README.md"
### Where should the content be added?

https://github.com/conda-forge/conda-forge.github.io/blob/main/README.md

### What should be added?

After running `make html` command it is not mentioned what the next step is.

For beginners, they might get confused on how to set up documentation web page locally so  I think we should steps like how to locally host (XAMPP for eg) and view pages in browser.

[2022-04-22 09:38] mikemhenry opened #1735 "Docs out of date regarding CDN time"
### Where should the content be changed?

https://conda-forge.org/docs/maintainer/maintainer_faq.html#mfaq-anaconda-delay

### What should be changed?

The FAQ should say that it may take several hours for the CDN to update.

### Additional information

See: https://app.element.io/#/room/#conda-forge:matrix.org/$1649163456813vMMND:gitter.im
![image](https://user-images.githubusercontent.com/117659

[2022-04-22 15:09] beckermr commented on #1706
These are empty on purpose and meant to allow packages to link to the system MPI libraries. These were made to address the very specific needs of HPC users. I don't think this is something we want to support generically for libraries.

[2022-04-22 15:33] phreed commented on #1706
@beckermr
I am not sure I understand your argument.
You concede that there are specific needs for a certain group of users and that those needs were addressed by this technique;
then you discount the technique.

It sounds like the technique is viable but its application needs to be carefully defined.
It is that definition I am trying to pin down.

[2022-04-22 15:35] beckermr commented on #1706
It needs to be extremely specific and carefully defined, yes.

[2022-04-22 15:38] beckermr commented on #1706
I'd also add that it is generally a last resort as opposed to standard practice.

The motivation behind CDTs and the mpi external shims is a combination of

1. The packages are hard/impossible build, licensing notwithstanding.
2. There is generally not another way to possibly support this.
3. There are not other tools withing conda-forge that can do the job.
4. There is some semblance of ABI stabi

[2022-04-22 16:29] phreed commented on #1706
Those all sound like good reasons.
What about licensing issues?
I have two types of situations where I would like to use some version of this "wrapping" technique.
The family of techniques need a name (names). From GoF the wrapper, decorator, proxy, are candidates.

- [ ] I have a package with a restrictive license for which there exists a similar package with an open license
- [ ] I have a commer

[2022-04-22 16:56] Ginohmk commented on #1727
@kathatherine @beckermr  if this issue is good enough, I will like to commence work on fixing it.

Please I need your view on this. Thank you.

[2022-04-22 17:05] phreed commented on #1706
Could you provide a link to the corresponding Nvidia feedstock or package ?
Is it one of these?
- [ ] https://github.com/conda-forge/nvidia-ml-feedstock
- [ ] https://github.com/conda-forge/nvidia-apex-feedstock

[2022-04-22 17:11] beckermr commented on #1706
Right, so the issue with these likely comes down to the ABI and builds.

In both the Nvidia case and the MPI case, we've worked out the ABI constraints and how to build our software on a public CI service that can then integrate with the closed source/commercial system.

For example, let's say you have a special compiler, `myfancytool`. If there is no way to legally download, use for builds, and p

[2022-04-22 17:12] kathatherine commented on #1727
@Ginohmk I think we have a PR out there that renames all instances of "master" to "main", so don't worry about that. I would agree that it would be great to have all external links open in a new tab. Just the external links, though. For all links within the conda-forge docs, it would be better to let the user choose.

[2022-04-22 17:15] Ginohmk commented on #1727
@kathatherine  thanks for your reply. From what you suggested. Can I work on making just the **external links**  open in a new tab ?

[2022-04-22 17:17] kathatherine commented on #1727
@Ginohmk Yes, yes. You are welcome to work on it. I don't have the permissions to assign you, but with any issue, you can just say, "I'm going to work on this" so everyone's aware and then get started.

[2022-04-22 17:19] Ginohmk commented on #1727
Much Thanks @kathatherine

I am going to work on this issue

[2022-04-22 17:31] phreed commented on #1706
Suppose commercial or restricted packages, M, F, and H.

Suppose I am developing a plugin for a system M.
And, M's plugins are java v8 targets which make use of M's JVM based libraries.
Making a wrapper package for M's libraries should have no ABI issues but should be clearly marked with the JVM-v8 marker.

Similarly, if I am developing a plugin for a system N having a plugin API with libraries wr

[2022-04-22 17:46] beckermr commented on #1706
At this point, specifics will be the most useful thing. I am not knowledgeable about java and so you'll have to point those specific questions to someone else. I only responded here to help lay out general principles about how we think about these classes of packaging problems.

[2022-04-22 18:03] hmaarrfk commented on #1706
An important consideration is what is the reach of the libraries "F" "M" "H"? Can users realistically use them, or is it a niche application.

Niche applications are probably best left for your own channel where you can make things match to your own machine based on the specifics of your installation.

The NVIDIA recipe I'm thinking of is:
https://github.com/conda-forge/cudnn-feedstock

We use it

[2022-04-22 18:12] phreed commented on #1706
I am beginning to think the recommendation should be to place packages like these in my own channel.
Of course that means I will need to learn how to stand up my own channel :-)
If you agree, I suppose the best way to wrap up this discussion is with a recommendation about working with non-conda-forge channels.

[2022-04-22 19:05] phreed commented on #1706
If you want to share the package there are choices besides conda-forge.

* https://help.sonatype.com/repomanager3/nexus-repository-administration/formats/conda-repositories
* https://github.com/mamba-org/quetz
* https://gitlab.com/gitlab-org/gitlab/-/issues/36891
* https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-custom-conda-channel
* https://docs.anaconda.com/anacondao

[2022-04-22 19:09] hmaarrfk commented on #1706
Just use anaconda's hosted solution. For small packages, it is enough.
If you don't have name clashes with conda-forge you stay compatible.
[code]
then install.

You can even make your customers pay for it.

I upload many packages
https://anaconda.org/mark.harfouche/repo

that I need for myself. See my non-standard libc package.

[2022-04-22 20:23] phreed commented on #1706
Next point.
Should `meta.yaml` be modified to perform external discovery in some standard way?
e.g. For the OracleJDK but others would be similar.
[code]
This information would be used during activation to verify whether the package is installed.
If installed it would be added to the environment.

[2022-04-22 20:25] beckermr commented on #1706
IMHO no we should not support that. It is a lot of code to maintain for edgecases.

[2022-04-22 20:26] phreed commented on #1706
The issue, then, is whether it is an edge-case, or just rare because it is difficult to get it right.

[2022-04-22 20:53] hmaarrfk commented on #1706
As I've said before, I don't know why you need to do "discovery" prematurely. You can do it all in an activate script.  It doesn't seem to me that you need new features.

[2022-04-22 20:55] hmaarrfk commented on #1706
There are virtual packages in conda:
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-virtual.html

But I'm not sure you will be able to convince people that you need a virtual package for each piece of proprietary software.

Nor do I think it solves your usecase, of wanting to switch between versions.

[2022-04-22 21:05] phreed commented on #1706
I am presuming that either `conda activate` (or `conda install`) would make use of the new information in `meta.yaml` to perform discovery and checks on what amount to virtual packages. In other words, it would not be premature. The issue with writing your own `activate` script is that you need a corresponding `deactivate` script.

[2022-04-22 21:42] hmaarrfk commented on #1706
My understanding is that using activate and deactivate scripts is to discourage the use of external dependencies.

You are however knowingly going against this advice because you have a particular need to do it.

I wouldn't try to get them perfect on day 1 for your own use-case. Conda took a while to get nested environment right. I'm not sure they are completely correct today.

The conda-smithy to

[2022-04-24 12:48] hmaarrfk commented on #209
Would it make sense to start building out `gpl` `gplfree` variants demarked by the build string for select packages?

"Big" proposals are "nice", but I don't think the underlying issue for those affected has necessarily gone away, and they might benefit from moving their projects forward.

[2022-04-25 08:57] jaimergp commented on #549
I think this can be closed thanks to https://github.com/conda-forge/conda-forge.github.io/pull/1712

[2022-04-25 08:57] jaimergp commented on #549
Website shows this info now:

![image](https://user-images.githubusercontent.com/2559438/165055840-eee04097-d50f-4da2-a12b-a366e371b9b6.png)

[2022-04-25 09:25] #549 closed

[2022-04-25 13:48] phreed commented on #1706
I did not see the documentation for doing what you are describing. Can you give me a link?

[2022-04-25 14:13] phreed commented on #1706
This? https://medium.com/@lgouarin/conda-smithy-an-easy-way-to-build-and-deploy-your-conda-packages-12216058648f

[2022-04-25 14:31] hmaarrfk commented on #1706
See final bullets of https://github.com/conda-forge/conda-smithy#making-a-new-feedstock

[2022-04-25 16:25] kathatherine commented on #1727
@Ginohmk Hmm, good to know. Thank you for your research on this. It does seem rather painful to implement. Adding javascript to the conf.py would affect every link, I'm assuming, and we don't want that and I'd also like to avoid adding raw HTML everywhere in the docs, as it would really clutter things up. I think it would be best to leave the issue for now.

[2022-04-25 16:31] Ginohmk commented on #1727
You are welcome @kathatherine . I thought of the complications attached to implementing it now with javascript, and it's something that would not seat right with the previous code structure. Hopefully, in the future, it would be an added feature that can be implemented easily :)
And thanks for your quick reply. I will scan through the issues available and see if I can work on something else. Thank

[2022-04-26 22:50] HeavyTony2 opened #1742 "Is there a team for pypy builds?"
### Your question:

The bot has been trying to rebuild a package I maintain for pypy, but it doesn't work. https://github.com/conda-forge/py2exe-feedstock/pull/5 There's apparently an issue with setutptools but I'm not able to find what is the cause of the problem. I'd need help from someone who knows pypy. https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=497953&view=logs&

[2022-04-26 23:02] jakirkham commented on #1742
Asked for help on that PR

Though generally yeah having a team for Q&A seems useful and documenting that

[2022-04-27 03:27] mattip commented on #1742
There is `@conda-forge/help-pypy`, or just @mattip works too.

[2022-04-27 04:24] jakirkham commented on #1742
Good point. Maybe we should just add a line mentioning users should reach out for help [in these PyPy docs]( https://conda-forge.org/docs/maintainer/knowledge_base.html#pypy-builds )?

[2022-04-27 06:35] #1742 closed

[2022-04-27 14:56] timsnyder opened #1744 "RISC-V Support?"
### Your question:

I'd like to start a discussion about adding limited support for RISC-V architectures.  I'm in the process of helping some colleagues at UC Berkeley transition to using conda-forge instead of system packages for https://fires.im/ and https://chipyard.readthedocs.io/en/stable/.  We've transitioned the system yum and pip packages to using conda-forge.  The next steps are:
1. to cr

[2022-04-27 15:51] chrisburr commented on #1744
These two issues will probably help you get an idea of what's needed (especially https://github.com/conda-forge/conda-forge.github.io/issues/1123#issuecomment-668399522):

* https://github.com/conda-forge/conda-forge.github.io/issues/1123
* https://github.com/conda-forge/conda-forge.github.io/issues/1126

[2022-04-29 02:36] ngam commented on #1261
Just a small note to consider as this is implemented in the future:

Some users will likely be setting environments (e.g. `conda create -n test xyz`) on a device that is not the one for deployment or production. A common example is a login node on an HPC where all interactive work is done, but the actual work is run on compute nodes which don't have internet access (i.e. `conda create -n test xyz`

[2022-04-29 02:44] h-vetinari commented on #1261
I think that  - like for `CONDA_OVERRIDE_CUDA` - this is a case where it would make sense to provide a similar override for those cases that need to transpose environments between different systems. Again like for the cuda case, the vast majority of users will be able to use the archspec virtual package behind the scenes, without having to do anything explicit in order to get the most appropriate

[2022-04-29 02:45] ngam commented on #1261
Yes, the override feature will be good enough :)

[2022-05-03 00:51] ltalirz commented on #49
Is there now some maintainer-facing documentation on how to publish package variants for multiple microarchitectures?

If not, would that be an interesting topic for a sprint at SciPy 2022? (I will be there)

[2022-05-03 06:32] Ginohmk commented on #1733
@kathatherine Should I look into this issue ?, although I feel it has been fixed on Improved documentation to [setup project locally.](https://github.com/conda-forge/conda-forge.github.io/pull/1721) PR

[2022-05-04 14:28] kathatherine commented on #1733
@Ginohmk Yeah, it has. The README changes just haven't been merged in yet. Something we're going to do soon! So I think this ticket will be fixed then, but good to keep in mind.

[2022-05-04 19:37] ssurbhi560 commented on #1331
Hi @jakirkham, there is a section in the docs now : [Becoming a maintainer](https://conda-forge.org/docs/orga/guidelines.html#becoming-a-maintainer) which briefly explains how to become a maintainer. Would you suggest adding something more to this, or is it enough and we can consider this issue solved?

[2022-05-04 19:47] ssurbhi560 commented on #1532
Hi @prachi237, are you still working on this issue? I would be happy to take it if you are busy and couldn't complete it for any reasons. :)

[2022-05-04 23:01] Ginohmk commented on #1733
Alright 👍 @kathatherine  thanks for your reply

[2022-05-05 08:13] prachi237 commented on #1532
Yep I can complete the task and send the PR asap ...my university exams were going on so was busy these days :)

[2022-05-05 15:56] kathatherine opened #1747 "Miniconda info on conda-forge.org main page needs correcting"
### Where should the content be changed?

conda-forge.org

### What should be changed?

On the main conda-forge.org page, the paragraph on Miniforge contains the sentence "Unlike Miniconda, these support ARMv8 64-bit (formally known as aarch64)." Miniconda does support aarch64. It's probably not compatible with conda-forge specifically, but it does support it.

### Additional information

See http

[2022-05-05 17:53] ssurbhi560 commented on #1747
Hi @kathatherine, can I do this?

[2022-05-05 17:59] kathatherine commented on #1747
Hey, @ssurbhi560, I wanted to get some input from one of the core maintainers before this was actually done, but once there's some discussion, you're welcome to.

[2022-05-06 02:04] winstonma opened #1748 "The tools can't be used after installing gdal"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

I would like to use ogr2ogr therefore I install gdal, following the instruction in [Download - Conda section](https://gdal.org/download.html#conda)

I ran the following command
[code]

Please let me know if I could provide

[2022-05-06 02:17] winstonma commented on #1748
It seems it is related to https://github.com/OSGeo/gdal/issues/5375

[2022-05-06 02:46] isuruf commented on #1748
Looks like you are not using conda-forge. Please open an issue with Anaconda.

[2022-05-06 02:54] winstonma commented on #1748
@isuruf I am installing the package using the command `conda install -c conda-forge gdal`. Where should I file this issue?

Thanks a lot

[2022-05-06 05:52] xhochy commented on #1748
You should not mix packages from conda-forge and Anaconda. Install all packages from either one, otherwise this is not a supported use case.

[2022-05-06 08:41] winstonma commented on #1748
@xhochy Thanks for your info. This is very useful. After using `conda install gdal` the problem is gone.

It would be sad because I am following the official gdal document.

[2022-05-06 12:54] ocefpaf commented on #1748
We should probably amend gdal's docs with our info here: https://conda-forge.org/docs/user/tipsandtricks.html#using-multiple-channels

[2022-05-09 00:21] isuruf commented on #1748
Closing as resolved

[2022-05-09 00:21] #1748 closed

[2022-05-09 00:51] Hil-dred opened #1749 "Information on Dev Meetings should be updated"
### Where should the content be changed?

README

### What should be changed?

The link to the google calendar item schedules meetings for every 2 weeks on Wednesday until 13th November 2019. This could imply that dev meetings are obsolete. It would avoid confusion, by updating the google calendar info about meetings especially for first-time contributors, looking to understand the community bette

[2022-05-10 02:41] HeavyTony2 commented on #1724
I'd tag this one. https://github.com/conda-forge/colored-feedstock
The maintaner hasn't even been active on github for 15 months.

[2022-05-11 11:35] ericdill commented on #1749
Thanks for pointing that out @Hil-dred!

[2022-05-12 05:14] chicken-biryani commented on #1749
PR related to info about dev meetings - https://github.com/conda-forge/conda-forge.github.io/pull/1659

[2022-05-12 05:51] leofang commented on #1272
Just curious, what's the status here?

[2022-05-12 12:49] jaimergp commented on #1272
Hi Leo!

I gave a little update in the last call, but I should have posted it here too, my apologies!

@viniciusdc and I are working on a test feedstock (outside of conda-forge while prototyping) to build OpenMM on the GPU server. We can successfully run CPU builds with almost no changes in the conda-forge machinery (same Docker images and scripts). We are now debugging the GPU drivers, which are

[2022-05-18 08:38] #1749 closed

[2022-05-18 14:49] dpryan79 commented on #1654
Given that this is presumably limiting the R 4.2.0 builds should windows builds "simply" be skipped for R packages for now?

[2022-05-20 15:26] h-vetinari commented on #1732
@conda-forge/core

Could someone comment on this?

[2022-05-21 16:07] hmaarrfk commented on #1732
I think this makes sense, but I don't know too much about windows compilers. I do agree that we should likely attempt to keep up.

[2022-05-23 13:25] viniciusdc commented on #1331
@ssurbhi560 indeed the new addition would close this issue, but I also would like to:
- see a link to the [Become a mantainer](https://conda-forge.org/docs/orga/guidelines.html#becoming-a-maintainer) section  in https://conda-forge.org/#update_recipe;
- and as suggested by @jakirkham, maybe adding a link to https://conda-forge.org/docs/maintainer/updating_pkgs.html#updating-the-maintainer-list in

[2022-05-24 11:46] hmaarrfk commented on #209
One concern that came about in https://github.com/conda-forge/libtiff-feedstock/pull/75 is the fact that the abi my not be stable across these variants.

[2022-05-24 14:39] peastman commented on #1065
That should be, "If the package license is GPL compatible then do no work."  As long as your license is GPL compatible (MIT, BSD, LGPL...), there's no problem with linking to GPL libraries.

[2022-05-24 15:08] bryan-hunt commented on #1065
That is only true for LGPL and when there is a GPL exception in place for linking (such as the famous linux userspace linking exception). The GPL is explicitly designed to propagate. You can include lesser license like MIT/BSD/LGPL etc code within a GPL project - you can't relicense GPL code to a less restrictive license. Compatibility is not bi-directional - many of the libraries that are GPL do

[2022-05-24 16:58] bryan-hunt commented on #1065
Yes - under most circumstances the packages we're talking about are compiled libraries and not severable from their dependency. This is why there is the recipe license and the package license - the package license reflecting the source code license rather than the derived work license is a misrepresentation.

This gets weird when talking about python - but when it comes to compiled libraries it en

[2022-05-24 17:45] ssurbhi560 commented on #1331
Hi @viniciusdc! These would be some great additions. I will open a PR with these changes.

[2022-05-25 05:31] #1581 closed

[2022-05-26 16:22] leofang opened #1761 "Setting `idle_timeout_minutes` is incompatible with Travis?"
`idle_timeout_minutes` translates to `travis_wait` but it leads to the following error:
[code]
See https://app.travis-ci.com/github/conda-forge/cupy-feedstock/jobs/571536237.

[2022-05-26 16:27] leofang commented on #1761
Without it we always hit this error:
[code]

[2022-05-26 20:29] #1635 closed

[2022-05-27 08:17] h-vetinari opened #1762 "Wide-spread conda-build breakage due to conda 4.13 in windows CI"
In windows CI, the base conda version actually comes from an azure pipelines task (in `azure-pipelines-win.yml`):
[code]

I'm not 100% sure this is intentional, but windows builds started picking up conda 4.13 (which conda-forge hasn't packaged [yet](https://github.com/conda-forge/conda-feedstock/pull/165)) sometime in the last hours, which also happened to remove some py27 compat code that was re

[2022-05-27 08:55] pepijndevos commented on #1762
Can individual packages apply your hotfix to get their packages updated in the meantime?

[2022-05-27 08:57] h-vetinari commented on #1762
Yes, IMO you can apply that hotfix without issue. It will not survive the next rerender of the feedstock, but that's actually a good thing (provided we get it fixed until then 😅).

[2022-05-27 13:09] mfansler commented on #1762
Should the previous builds of `conda-build` have their metadata be amended to `conda <4.13`?

[2022-05-27 17:27] h-vetinari commented on #1762
So with https://github.com/conda-forge/conda-build-feedstock/pull/176 and https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/pull/271 merged, this should now be solved - please let us know if that's not the case (may take 1-2 more hours for the repodata patches to become active, but the new build of conda-build made it through the CDN already and I'm seeing comments that things

[2022-05-27 17:27] #1762 closed

[2022-05-28 03:38] ngam opened #1763 "yaml selector rely on another selector in `conda_build_config.yaml`? If not, `mps` as an ecosystem-wide selector?"
### Your question:

xref: https://github.com/conda-forge/pytorch-cpu-feedstock/pull/106

conda_build_config.yaml:

[code]

[2022-05-28 03:43] ngam commented on #1763
Ooops, wrong repo.

[2022-05-28 03:45] #1763 closed

[2022-06-01 02:33] #1761 closed

[2022-06-02 02:15] ngam commented on #1558
@h-vetinari what do you think about splitting cuda arches into separate ones, so instead of cuda 11.2, we will have `sm`s:
- 3.5;
- 5.0+PTX;
- 6.0;
- 6.1;
- 7.0;
- 7.5;
- 8.0; and
- 8.6

xref: https://github.com/conda-forge/pytorch-cpu-feedstock/issues/108 (comment: https://github.com/conda-forge/pytorch-cpu-feedstock/issues/108#issuecomment-1144162948)

[2022-06-02 03:01] jakirkham commented on #1558
@ngam, this might be best as a new issue on the webpage (this) repo (though it does seem like an interesting discussion to have)

[2022-06-02 03:10] ngam commented on #1558
I don't follow. My speculative question is not related to the above discussion? I am not really sure about this idea anyway, so I just wanted to get h-v thoughts. I can delete the comment if you want, or feel free to transfer it somewhere else

[2022-06-02 03:32] jakirkham commented on #1558
It's diving deeper into CUDA functionality. We may want to invite others familiar with that use case to discuss further. While generally within this issue, it is a bit of a subcase. So we may not want to get too into the weeds on that case in this issue (and so move it to another one)

To be clear am happy to see that discussion move forward, just trying to keep things organized

[2022-06-02 22:50] kathatherine commented on #1611
@ssurbhi560 Great to see that the year headers can now be properly linked to! There is also a question above about being able to link to specific announcements. Maybe an important announcement would be separated out in a level 3 header with an explicit link. Might be the only way to get around the restrictions of the sphinxcontrib.newsfeed extension.

[2022-06-03 09:22] ssurbhi560 commented on #1611
@kathatherine, that's right. I have also been reading and trying to find some way to do it but couldn't find anything till now. I will keep looking for it and find any way to do so, but till then I think what you are suggesting might be the only way to do this.

[2022-06-03 11:15] #1676 closed

[2022-06-03 20:46] kathatherine commented on #26
@jakirkham So just to clarify, this is for package builders to know better where to place things so that users of their packages won't have to do it manually?

[2022-06-03 20:50] kathatherine commented on #26
I'm currently assuming this is what needs more information: https://docs.conda.io/projects/conda-build/en/latest/user-guide/environment-variables.html#environment-variables-set-during-the-build-process

[2022-06-03 21:33] jakirkham commented on #26
Yes

That could be a natural place to include this

[2022-06-03 21:35] kathatherine commented on #475
@jakirkham Are docs still needed with the automated welcome message being created?

[2022-06-03 21:53] isuruf commented on #475
People still miss that email and it'd be good to have the link in the docs and mention that if the invitation is expired (github recently reduced the time from 6 months to a couple of weeks), the people should do https://conda-forge.org/docs/maintainer/infrastructure.html#conda-forge-admin-please-update-team to get an updated invitation.

[2022-06-03 21:53] #138 closed

[2022-06-03 22:09] kathatherine commented on #480
Seems like this is documented here: https://conda-forge.org/docs/maintainer/updating_pkgs.html#maintaining-several-versions

Is there anything more that should be done for this?

[2022-06-07 11:36] ssurbhi560 opened #1768 "Correct "Renaming Packages" section from the docs."
### Where should the content be changed?

[Renaming Packages](https://conda-forge.org/docs/orga/guidelines.html#renaming-packages)

### What should be changed?

As mentioned [here](https://github.com/conda-forge/conda-forge.github.io/issues/179#issuecomment-821973391) and [here,](https://github.com/conda-forge/conda-forge.github.io/issues/179#issuecomment-822422131) we no longer support renaming p

[2022-06-07 11:40] ssurbhi560 commented on #1768
@beckermr, Could you please let me know the new renaming process in a little more detail to help me get started with working on this issue?

[2022-06-07 11:47] ssurbhi560 commented on #179
@pelson @viniciusdc, I have opened an issue to update the [Renaming Packages/feedstocks](https://conda-forge.org/docs/orga/guidelines.html#renaming-packages) section in the docs with the new process. So, may be we can close this issue now?

[2022-06-07 23:35] kathatherine commented on #1611
Just leaving a note here to say that Surbhi tested this and any important announcements can just be given an [explicit target](https://docs.readthedocs.io/en/stable/guides/cross-referencing-with-sphinx.html#explicit-targets) right above it, like the targets that were added to the year headers and that should satisfy the second requirement of this issue, should it ever come up. We haven't added any

[2022-06-07 23:39] beckermr commented on #1611
Should we go through and add targets to the old announcements?

[2022-06-07 23:40] jakirkham commented on #1611
I think if we could anchor to each date that would be sufficient to close

[2022-06-07 23:40] beckermr commented on #1611
Also, when you say you tested it, I presume you mean the RSS feed came out ok?

[2022-06-07 23:59] kathatherine commented on #1611
By each date, do you mean the years themselves, @jakirkham, which is already done, or each announcement date?

And good point about the RSS feed, Matt. I am not sure about that. I just saw a screenshot of the output of Surbhi trying an explict target for each announcement. We should definitely double-check the feed before closing.

[2022-06-08 00:02] beckermr commented on #1611
I was saying each announcement.

[2022-06-08 00:06] kathatherine commented on #1611
That works for me. @ssurbhi560, do you mind editing the branch you had showed me with each announcement given an explicit target, but make the target the date instead of the announcement name? And then push it to a PR so we can check that the feed looks good? Thanks!

[2022-06-08 10:15] ssurbhi560 commented on #1331
@jakirkham @viniciusdc, I have opened the PRs with the remaining changes that you folks suggested. Please review those changes and let me know if there is something more that needs to be done

[2022-06-08 11:27] beckermr opened #1769 "document extras feedstock-name"
We should document this feature for naming feedstocks differently than their package names in staged recipes:

[code]

I think this should go in the recipe section descriptions in the docs.

[2022-06-08 11:27] beckermr commented on #1769
cc @kathatherine @ssurbhi560

[2022-06-08 12:01] jaimergp opened #1770 "Qt bindings mutex?"
### Your question:

Hey everyone, I'd like to discuss the possibility of adding a `qt_bindings_mutex` package to conda-forge, similar to what we do with BLAS, MPI and others.

`qt` can be used from Python via two different bindings: `pyqt` (GPL) and `pyside` (LGPL). A Python interpreter process can only use one of them at a time, as far as I know. There are some wrappers (e.g. `qtpy`) that abstrac

[2022-06-08 12:19] hmaarrfk commented on #1770
I don't think it makes sense to constrain the installation of both in the same environment.

I may want to have an GPL application co-installed with an LGPL application that speaks through interprocess communication means.

There also used to be issues with PySide2 for certain applications and vice versa.

[2022-06-08 14:37] hmaarrfk commented on #1770
I guess a big issue in the past was that PySide2 had missing features from PyQt, significant enough that spyder would not work. It seems that those have been addressed. I seem to be able to run Spyder and PySide2 today (barring https://github.com/spyder-ide/spyder/issues/18174)

[2022-06-08 16:13] ccordoba12 commented on #1770
As a maintainer of one of those projects, I'd like to share my rational for this. We depend on pyqt, besides qtpy, because without a binding package installed, Spyder doesn't even start (and pyqt was way more stable than pyside for a long time). So we'd get tons of complaints for that.

For me, this is an implementation detail (i.e. which binding to use per license you want to rely on) that regula

[2022-06-08 17:15] kathatherine commented on #1735
This week, a change is being pushed that will have the CDN update time at ~8 minutes instead of several hours. Will update this comment with a link to that PR and then we can change the docs in a more positive direction!

[2022-06-08 17:41] jakirkham commented on #1735
Also would want to update [this line]( https://github.com/conda-forge/conda-forge-webservices/blob/43c215b3f98703a251d875e191f37e5e4dbe0fe0/conda_forge_webservices/update_teams.py#L108 ) to reflect that change

[2022-06-08 19:44] dopplershift commented on #1770
Matplotlib is in the same situation in that the `matplotlib` metapackage requires `pyqt` to provide a backend out of the box, but `pyside2` would work fine too.

[2022-06-09 22:08] kathatherine commented on #1673
@ssurbhi560 Does this fulfill the acceptance criteria of this issue?

[2022-06-10 07:33] ssurbhi560 commented on #1673
Yes @kathatherine! :) I will go ahead this close this issue.

[2022-06-10 07:33] #1673 closed

[2022-06-10 22:48] jakirkham opened #1773 "Drop Python 2.7 command from docs"
The Python 2.7 command added to the docs in PR ( https://github.com/conda-forge/conda-forge.github.io/pull/1008 ) is no longer supported and should be dropped

[2022-06-10 22:49] jakirkham commented on #1773
cc @kathatherine @beckermr

[2022-06-11 19:01] hmaarrfk opened #1774 "RFC: Supporting spaces in paths as a first-class citizen"
### Your question:

Presently, when users wish to install conda (miniforge/mambaforge or whatnot) it is always a mystery as to whether or not it will work if they have a "space" in their prefix.

One "package" that definitely doesn't work, is `Miniconda` and other related packages (`Miniforge`, `Mambaforge`)

It doesn't have to be that way.

My understanding, is that this is a question of escaping

[2022-06-12 19:43] maresb commented on #1052
Regarding `go-licenses`, I don't know any Go myself, but I'm quite satisfied with the [recipe](https://github.com/conda-forge/dasel-feedstock/blob/main/recipe/meta.yaml) I came up with for the Dasel feedstock. I hope it might be useful as a reference for others working on Go packages.

I'm especially satisfied about how it compiles on `linux`/`osx`/`win` without needing separate build scripts, whi

[2022-06-13 13:35] BastianZim commented on #1052
Oh that's great news, thanks! I ran into the same problem when testing this myself so that's awesome.

@conda-forge/go Do you think this is reproducible? Then I'll add this to the docs and we can close this issue.

[2022-06-13 13:38] maresb commented on #1052
You might want to hang on for one moment, I'm looking at adding the osx-arm64 migration to Dasel, and I'm getting an error from cross-compilation due to `$GOBIN` being defined.

Maybe we should make one final push to fix https://github.com/conda-forge/dasel-feedstock/pull/2 before settling on a standard? (BTW, please help, since I don't know Go! :joy:)

[2022-06-13 14:03] maresb commented on #1052
Thanks @BastianZim! Those links were actually new to me. Good to know for instance that I'm not alone on Conda-Forge, and that gives me a few ideas.

I'm not sure what you mean by "messing", but anything I do here related to Go should definitely be sanity-checked. :smile:

[2022-06-13 14:10] BastianZim commented on #1052
Ahh ok great! :)

I was primarily talking about where to place the binaries as discussed in the stack overflow post and for the conda-forge wide solution, not what you did already. But I'm no expert here either so no idea how forgiving/strict conda-build is here. 😄

[2022-06-13 14:47] kathatherine commented on #1655
@ssurbhi560 Did you want to reopen this PR?

[2022-06-13 14:48] kathatherine commented on #1651
@ssurbhi560 Did you want to reopen this PR?

[2022-06-14 06:37] maresb commented on #1052
For osx-arm, I couldn't find a cross-compilation command which is also Windows-compatible. I ended up using the `# [arm64]` selector to switch between `go install` for normal installation and `go build` for cross-compilation. But I still think it's [relatively elegant](https://github.com/conda-forge/dasel-feedstock/blob/main/recipe/meta.yaml).

[2022-06-14 20:09] #1769 closed

[2022-06-14 20:12] kathatherine commented on #1331
@beckermr This one can also be closed

[2022-06-14 20:20] #1331 closed

[2022-06-14 21:25] BastianZim opened #1778 "Explain oldest-supported-numpy"
### Where should the content be added?

FAQ

### What should be added?

NumPy recently introduced _oldest-supported-numpy_: https://github.com/scipy/oldest-supported-numpy

This can be used by packages instead of specifying a NumPy range when building.

The package doesn't exist in conda-forge and instead numpy should be used without any versions specified.

### Additional information

https://git

[2022-06-15 10:43] ngam commented on #1778
`oldest-supported-numpy` shows up in pyproject.toml too; in that case, either a patch is needed or alternatively deleting `--no-deps` from the python install call so that pip can install/find numpy. The patch is safer

[2022-06-15 10:46] ngam commented on #1778
Maybe we should consider making an alias package, name it `oldest-supported-numpy` and set it equally exactly to `numpy`

[2022-06-15 13:01] chrisburr commented on #1778
Maybe a linter rule in conda-smithy would be better if `oldest-supported-numpy` is found in the recipe?

[2022-06-15 13:32] #1611 closed

[2022-06-15 14:33] guyer opened #1779 "Merged version update uploads to anaconda.org, but can't be installed by conda"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

I merged an [`regro-cf-autotick-bot`](https://github.com/conda-forge/fipy-feedstock/pull/32) for a new version of my package to `main`, the CIs successfully ran, and the new 3.4.3 versions have been uploaded to [anaconda.or

[2022-06-15 15:41] guyer commented on #1779
Thank you, @hmaarrfk. I'll wait for awhile and see how it goes.

[2022-06-15 17:33] jakirkham opened #1780 "Adjust RSS generation to use feed anchors"
https://github.com/conda-forge/conda-forge.github.io/pull/1775#issuecomment-1156479276

cc @beckermr

[2022-06-16 11:26] h-vetinari opened #1781 "Native CI for osx-arm64 (run tests, native compilation, ...)"
Things work pretty well for M1's with all the work that's gone into cross-compilation (and the daily(?) job testing published artefacts), but it would still be nice to be able to test the packaged artifacts on the feedstocks before publishing them.

Adding M1 agents is now on the github roadmap (https://github.com/github/roadmap/issues/528), so perhaps once deployed this could be an interesting wa

[2022-06-16 11:28] h-vetinari commented on #1778
I actually think the wrapper (or an empty package that just tells pip `oldest-supported-numpy` is installed) could be an interesting idea. I'm patching pyproject.toml files on a couple of feedstocks, and it's painful. If a wrapper package would allow avoiding that, it would be very nice!

[2022-06-16 11:35] BastianZim commented on #1052
Hmm interesting. How about going with go build for everything? Or is install better?

[2022-06-16 12:33] h-vetinari commented on #1778
I've started doing that, but it's still a bandaid IMO. More and more functionality ecosystem-wide is moving into pyproject.toml (e.g. scipy starting to require meson to build), so it would be nice to be able to install packages out-of-the box (as in the staged-recipes example-package) just by providing the right dependencies.

[2022-06-16 12:53] #1779 closed

[2022-06-16 12:58] BastianZim commented on #1778
For now, we can just add it to the matching as a new quirk: https://github.com/conda-incubator/grayskull/blob/main/grayskull/strategy/config.yaml

[2022-06-16 13:46] eli-schwartz commented on #1778
Because that would be like removing setup.cfg / setup.py when they specify oldest-supported-numpy in `setup_requires` in a pre-PEP 517/518 package. Removing huge swathes of the build system because one tiny part of it includes a version pin will just break everything because, well, huge swathes of the build system are there.

pip cannot install anything unless it either:
- uses setuptools
- has a

[2022-06-16 16:28] maresb commented on #1052
Excellent question! I attempted this, and the problem is the environment variable `$PREFIX/bin/` for the build command needs to be `%PREFIX%\bin\` (or similar) on Windows.

In other words, my `go install` command is *multi-platform* (linux, osx, windows) because it requires no envvars, but is not compatible with cross-compilation.

In contrast, my `go build` command with the environment variable i

[2022-06-16 16:33] maresb commented on #1052
It should also work with something similar to

[code]

If one assumes that everything should be built for osx-arm, then probably this form is actually more desirable.

(I was just thinking it was slick how the `go install` command is cross-platform and works with no selectors, but that unfortunately ignores the current necessity of osx-arm cross-compilation.)

[2022-06-16 20:44] ngam commented on #1778
fyi, xref: https://github.com/conda-forge/staged-recipes/pull/16514 & https://github.com/conda-forge/staged-recipes/pull/18982

[2022-06-18 00:33] hmaarrfk commented on #1778
I think this is somewhat overblown. Much of the dependencies are rewritten in the meta file. Pyproject.toml may help in a pypi context, but in a conda forge centric context, it somewhat duplicates alot of the effort of the CIs and docker.

Maybe I'm not so versed in the more recent additions to pyproject.toml, but i recall it was made to help declare build time dependencies, as such, this is dupli

[2022-06-18 00:38] eli-schwartz commented on #1778
There's a new PEP that says that the meta file is now pyproject.toml, in the `[project]` section.

There's (experimental?) support for "no setup.cfg, just pyproject.toml" in setuptools. Flit and poetry never use anything else. Meson-python (used by e.g. SciPy) never uses anything else. Other build backends will follow if they haven't already.

So yes, that file is now a hard requirement a lot of t

[2022-06-18 11:05] BastianZim commented on #1778
Just to add: I have seen some projects now that only have a pyproject.toml so removing is not an option anymore.

[2022-06-18 11:07] hmaarrfk commented on #1778
Ok. It seems to have evolved to be more than just build system declaration.

Does pip have a flag to ignore the build system stuff? Does the `--no-build-isolation` flag do what you need?

[2022-06-18 11:47] maresb commented on #1052
I was just playing around with this in https://github.com/conda-forge/dasel-feedstock/pull/3 and failing. Debugging Windows via the CI is really slow and painful, so I give up. Here's the info in case anyone else wants to try. (I suspect this would be easy for anyone with a better understanding of conda-build and a Windows computer.)

Where I'm stuck is with `go build` on Windows. I'm not so sure

[2022-06-20 05:58] leofang commented on #1770
Sounds like this is another situation where `mpi`-like metapackage as a mutex could work well:
https://github.com/conda-forge/mpi-feedstock/blob/main/recipe/conda_build_config.yaml

[2022-06-20 17:00] leofang commented on #1770
I think the mutex would be making `pyside` and `pyqt` mutually exclusive to each other, not `qtpy` which is a wrapper on top of them. If what @jaimergp said is true

then it's similar to MPI and a mutex would be necessary to avoid both packages from coexisting, but I don't know enough here to judge.

[2022-06-20 23:13] hmaarrfk commented on #1770
But the thing is, that many different applications may be installed in the same environment.

I would routinely have one application using pyside2 and the other sing pyqt in the same environment.

I was thinking of this today, I think having 3 packages:

[code]
would allow:

1. users of conda-forge to pick a default qt implemenation based on build numbers.
2. It would allow users to have all 3 pac

[2022-06-21 00:06] ccordoba12 commented on #1770
@hmaarrfk, so you're saying that packages should drop their direct dependency on `pyqt`/`pyside` and instead move that to different `qtpy` versions?

[2022-06-21 15:38] nikhilweee commented on #1017
@rgommers can you share your documentation of building python from source with the debug symbols included? I intend to do so using conda (I don't have sudo access) but I can't find any relevant documentation.

[2022-06-21 18:50] jakirkham commented on #1017
This [doc]( https://docs.python.org/3/using/configure.html#python-debug-build ) provides some info. There's an old PR ( https://github.com/conda-forge/python-feedstock/pull/86 ) that may also offer some guidance

[2022-06-21 22:24] kathatherine commented on #487
@ssurbhi560, did you end up reopening this PR anywhere else? This would be good to finish up.

[2022-06-22 00:21] #1678 closed

[2022-06-22 04:54] jakirkham commented on #487
Sorry for the slow reply.

Yeah maybe this is already covered with "Getting in Touch". Though Idk if this should live in "Organisation Documentation" or "User Documentation". Maybe the latter is friendlier for newer contributors? What do you think?

Policy issues probably make sense on the webpage repo. That's where we have had these historically. Though maybe we can spell that out better.

[2022-06-22 17:17] p-r-o-j-e-c-t-1 commented on #1629
Python 3.11 is available today.
When could we directly **conda install python[version="3.11"]** ?

[2022-06-22 20:40] kathatherine commented on #487
I agree that Getting in Touch would probably work better in the User Documentation. Do y'all do redirects to make sure no outside links are broken when whole sections are moved?

[2022-06-22 20:46] jakirkham commented on #487
We have [this]( https://github.com/conda-forge/conda-forge.github.io/blob/09bc2d08f0e3ebe583621054a8bda52cf878e75b/rtd/conf.py#L302-L309 ), which maybe we can extend

WDYT @beckermr?

[2022-06-23 00:05] beckermr commented on #487
I don't know how the redirects work. Sounds like a good idea.

[2022-06-23 09:42] #1768 closed

[2022-06-23 10:38] ssurbhi560 commented on #1655
@kathatherine I have reopened this here #1777.

[2022-06-23 18:37] h-vetinari commented on #1537
The pytorch precedent is relevant, but I'm also not in love with "mps". Why not just use "metal" as a string. Tensorflow-metal does the same.

Thank you for your work on this!

[2022-06-23 19:15] #1655 closed

[2022-06-26 15:02] ssurbhi560 commented on #1651
@kathatherine, I have reopened a PR for this here #1776.

[2022-06-26 21:42] isuruf commented on #1537
Before doing two builds, can't we just do one build with metal enabled? For CUDA, the reason to have a CPU build is because it requires a large dependency and is proprietary. Metal on the other hand has only OS dependency and even though proprietary it is part of the OS.

[2022-06-26 23:46] isuruf commented on #1537
Using SDK 12.3 and higher is fine if the software supports building with a new SDK and targetting an older OSX version using MACOSX_DEPLOYMENT_TARGET

[2022-06-27 11:24] ssurbhi560 commented on #487
@kathatherine, I haven't reopened it yet. And now that we are planning to move the "Getting in Touch" section to "User documentation" I would need to understand how redirects work. I will look into this and will open a PR soon.

Hi @jakirkham! :)
Just to clarify, by webpage repo, do you mean on the website, [here](https://conda-forge.org/)?

[2022-06-27 16:47] pizzimathy opened #1791 "Additions to maintainer list"
### Your question:

Hello — our organization is attempting to make updates to our package on conda-forge, but a previous developer is marked as the only maintainer. If possible, we would like to add new maintainers so we can push updates — we are more than three build versions (more than one year!) behind. Thank you!

[2022-06-27 16:52] #1651 closed

[2022-06-28 17:09] kirelagin opened #1792 "openmp vs llvm-openmp"
### Your question:

I am trying to install pytorch (cpu) and mlpack into the same environment, but this command fails:

[code]

The root cause, as far as I understand, is that `pytorch` depends on `llvm-openmp` (via `mkl`) and `mlpack` depends on `openmp` (via `ensmallen`).

I can install them individually:

[code]

pulls in `llvm-openmp-14.0.4`, while:

[code]

pulls in `openmp-8.0.1` (the latest

[2022-06-29 01:32] isuruf commented on #1792
We published for version 8 for backwards compatibility and removed it later on. You can take over maintainership of ensmallen-feedstock and fix the dependency.

[2022-06-30 07:07] h-vetinari commented on #1732
Case in point, scipy added a new submodule in the 1.9.x cycle, and this [fails](https://github.com/scipy/scipy/issues/16495#issuecomment-1170841192) with the compiler generating non-copyable types in some templated code.

The issue does not appear with VS2019, which is why it didn't show up in upstream CI. The upstream wheel builds were also simply [moved](https://github.com/MacPython/scipy-wheels

[2022-06-30 12:39] ssurbhi560 commented on #1668
@jakirkham @leofang, I am working on this, but its still not very clear to me that how does adding a feedstock to ``arch_rebuild.txt`` takes care of migrating the feedstocks. Can you please explain this in a little more detail?

[2022-06-30 14:27] leofang commented on #1668
IIRC, the migration bot will send a migration PR to the feedstocks (and their dependencies) listed in `arch_rebuild.txt` and enable the aarch64/ppc64le builds. It's very similar to the idea of `osx_arm64.txt` for the Apple Silicon migration, which is well documented here:
https://conda-forge.org/docs/maintainer/knowledge_base.html#apple-silicon-builds

[2022-06-30 16:28] ssurbhi560 commented on #1532
@prachi237, just wanted to ask if you are still working on it?
Actually, I have been working on the issues related to Maintainer documentation, and completing this one would be towards that. Also this issue it about removing outdated information so, it would be good to do this soon.

[2022-07-05 10:31] #1117 closed

[2022-07-05 13:00] jaimergp commented on #1732
This might be a nice item in the agenda for the next conda-forge call!

[2022-07-06 17:57] h-vetinari commented on #1732
I always forget where to look up the next calls. The [minutes](https://github.com/conda-forge/conda-forge.github.io/tree/main/src/orga/minutes) don't give an indication...

[2022-07-08 12:32] jaimergp commented on #1732
They are listed [here](https://github.com/conda-forge/conda-forge.github.io#conda-forge-dev-meetings), but yes, it's not a very visible place. I think there's a PR changing that now. In the meantime: next one is Wednesday, next week, 5PM UTC. Send me a DM on gitter with your preferred email and I'll add you to the invite!

[2022-07-10 11:43] h-vetinari commented on #1732
Sent you a PM, thanks! I'm visiting my folks that is not a good time for me next Wednesday, but I'll join if I should happen to be free.

[2022-07-11 12:54] hmaarrfk commented on #1778
I'm sorry, that project doesn't actually have any required dependencies nor does it use oldest-supported-numpy.

[2022-07-13 03:00] timkpaine opened #1797 "Since conda doesn't treat hyphen and underscore equivalently (like pypi), couldn't any feedstock maintainer backdoor a variant of a popular package?"
### Your question:

I've been adding hyphen/underscore variants of packages recently and had a concern. Let's say I maintain a feedstock, and I know there's a popular package "scikit-learn". On pypi, "scikit-learn" and "scikit_learn" would be the same but on conda they are not. I notice that "scikit_learn" (with an underscore) doesn't exist. Could I add it as an output to my unrelated feedstock? E

[2022-07-13 15:19] beckermr commented on #1797
We have a linter check for _ vs - in some cases. We may want to make this stronger.

[2022-07-13 16:02] h-vetinari commented on #1732
As feared I won't be able to make it. Feel free to discuss without me, the OP should be pretty comprehensive. Otherwise I'll try to join again next time.

PS. SciPy 1.9 is now requiring vc142 as well, so the question for the scipy-feedstock has been made obsolete.

[2022-07-15 14:22] h-vetinari opened #1798 "OSX 10.15 images deprecated in azure, to be removed end of August"
Message started appearing in OSX jobs:
[code]

Quoting from the [upstream issue](https://github.com/actions/virtual-environments/issues/5583):

Those brownouts get pretty extensive - 24h for all but the first on GHA, and the same a bit later on Azure - so it sounds we need to move until end of July with this.

[2022-07-16 05:03] jakirkham commented on #1798
cc @conda-forge/core

[2022-07-16 11:08] beckermr commented on #1798
Is this for azure or GitHub actions or both?

[2022-07-16 11:45] h-vetinari commented on #1798
The brownouts mentioned in https://github.com/actions/virtual-environments/issues/5583 and the OP are for GHAs, and doesn't give a target date for azure, but the warning that caused me to open this issue was on azure

[2022-07-18 14:30] hmaarrfk opened #1800 "Dropping PyPy3.7 support"
### Your question:

In a few recipes, cross compiling is really beneficial to speed up the release process.

Unfortunately, I've hit a few corner cases where cross compilation + aarch64/pcc64le seems to be problematic with pypy3.7

https://github.com/conda-forge/healpy-feedstock/pull/49

Given the overall increasing maintenance burden from the growing build matrix (not just pypy), Is it reasonable

[2022-07-18 14:55] mattip commented on #1800
I think so. As a maintainer, I would prefer people move to the newer versions. I think PyPy is still quite an edge case, and do not want it to be a burden on the limited conda-forge team's time.

[2022-07-21 11:12] h-vetinari commented on #1800
This looks like https://github.com/conda-forge/pypy3.6-feedstock/issues/83 which was fixed by https://github.com/conda-forge/cross-python-feedstock/pull/44, but only for pypy 3.8+

[2022-07-21 11:13] h-vetinari commented on #1800
Big +1 on removing the pypy3.7 builds (not because I dislike pypy, much to the contrary - I just think we should focus on pypy 3.8+).

[2022-07-21 11:37] h-vetinari commented on #1798
I just checked, the oldest SDK that macos-11 [comes with](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md#installed-sdks) is 10.15, plus xcode 11.7. As far as I can [tell](https://developer.apple.com/support/xcode/), that version still supports deployment target 10.9 (actually 10.6-10.15), so it doesn't sound like the image change forces us to change anyth

[2022-07-21 11:40] beckermr commented on #1798
Thank you!

@chrisburr had some nice stats about where we go next on osx pulled from pypi usage. I forget but moving to somewhere around 10.12 would be pretty non-destructive IIRC.

[2022-07-21 21:23] jakirkham commented on #1798
Would suggest we separate discussing the CI image change from updating the SDK used to build (if possible). Given CI is the primary driver of discussion here, let's focus on that. If we would like to discuss SDK changes, let's open a new issue (unless these are somehow intertwined).

In terms of CI image used (the primary concern here), moving macOS 11 is the next oldest thing we can use (as 10.15

[2022-07-21 22:24] h-vetinari commented on #1798
AFAIU, the SDK is not really the issue, the `MACOS_DEPLOYMENT_TARGET` specifies the compatibility. That said, I had assumed that we were using one of the SDK's in the current 10.15 image, but that's not the case, because we're still using the 10.9 SDK, but I couldn't easily find (e.g. in smithy) where that is injected.

So with that misunderstanding out of the way - fine by me to leave the SDK unt

[2022-07-21 22:28] jakirkham commented on #1798
All good. Just trying to help dial things in a bit so we can make decisions 🙂

[2022-07-22 18:02] jaimergp commented on #1798
So we have roughly a month to:

1. Update [this block ](https://github.com/conda-forge/conda-smithy/blob/7d678752ae7fbe446a3e53ed964b17fe715f0fd3/conda_smithy/configure_feedstock.py#L1679-L1681)to `macos-11` as soon as possible
2. Hope a month is enough for people to rerender in time
3. In September, remember users they still need to rerender to re-enable OSX builds

Does that sound correct?

[2022-07-22 18:03] beckermr commented on #1798
We have not historically worried about rerendering in these cases. People should rerender almost always when making new PRs.

[2022-07-22 18:03] beckermr commented on #1798
So we only need a PR to smithy.

[2022-07-22 18:05] jaimergp commented on #1798
And we don't have a reason to suspect that the current way we are installing SDKs on the image would happen to fail on MacOS 11, right? I guess we can only try... I'll open a PR on conda-smithy to see what happens.

[2022-07-22 18:10] jaimergp commented on #1798
Let's see: https://github.com/conda-forge/dav1d-feedstock/pull/2

[2022-07-22 18:13] jakirkham commented on #1798
Don't think so, but agree a test is a better way to check

[2022-07-22 18:24] jaimergp commented on #1798
Everything looks ok:

[code]

[2022-07-22 18:25] jaimergp commented on #1798
<img width="1342" alt="image" src="https://user-images.githubusercontent.com/2559438/180501072-d162a83d-fac4-4168-8a39-80b5c2c45e62.png">

[2022-07-22 18:28] jakirkham commented on #1798
Great! Thanks Jaime 😄

Sounds like we are ready for a conda-smithy PR & release. If we get it out today, we will have ~1 week to try things and catch/fix any issues 🙂

[2022-07-22 18:32] jaimergp commented on #1798
We have til August 30th, don't we? Not that I have anything against doing it soon, but it's not as rushed as a week :)

[2022-07-22 18:45] h-vetinari commented on #1798
Well the 24h-long brown outs from July 27th until end of August sound pretty painful. During that time no OSX pipeline in conda-forge would run through.

[2022-07-22 18:48] jaimergp commented on #1798
Ah, hadn't considered the brown-outs. I'll add the PR to conda-smithy, then.

[2022-07-22 18:51] jakirkham commented on #1798
Ah sorry. Was thinking beginning of August for some reason 🤦‍♂️

Yeah brownouts are an issue too though

Thanks Jaime! 🙏

[2022-07-25 13:20] jaimergp commented on #1798
Just realized we also need to do this for staged-recipes. Submitted PR here: https://github.com/conda-forge/staged-recipes/pull/19800

After that, I think we can consider this solved and closed.

[2022-07-25 13:57] jaimergp commented on #1798
Thanks @ngam!

[2022-07-25 19:11] #1668 closed

[2022-07-26 20:57] carterbox commented on #610
I [drafted a CFEP](https://github.com/conda-forge/cfep/pull/48) to propose putting the ABI major version in the build string. I'd appreciate thoughts on the proposal or any further ideas on this topic.

[2022-07-27 18:18] h-vetinari commented on #1732
As requested in the core meeting just now, I've opened a PR: https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/3167

PS. This is the issue @mattip mentioned about the future of the static `npymath` library currently shipped by numpy: https://github.com/numpy/numpy/issues/20880

[2022-08-01 13:45] h-vetinari commented on #1798
Felipe commented in https://github.com/conda-forge/conda-smithy/pull/1645

To take the heat off a bit - it's not a crisis. The brownout is only two hours this time. But since that smithy PR has been merged (and I assume the repo is in a releasable state) it would still be good to get a new smithy release soon (i.e. before the next brownout in a week). It'll take a while anyway until feedstocks hav

[2022-08-01 14:08] beckermr commented on #1798
release is done - should be live in an hour or so

[2022-08-01 15:51] h-vetinari commented on #1798
With smithy & staged-recipes now done, I think we can close this. Thanks all! :)

[2022-08-01 15:51] #1798 closed

[2022-08-01 22:11] #1355 closed

[2022-08-02 10:47] #862 closed

[2022-08-02 10:47] #737 closed

[2022-08-03 09:21] ssurbhi560 opened #1808 "Add a section in docs on security aspects of conda-forge."
### Where should the content be added?

Maintainer Documentation

### What should be added?

Currently, the documentation on the security considerations for conda-forge builds is not complete and is scattered throughout the documentation. We want to add a dedicated section for this in Maintainer Documentation which would cover everything in one place.

The documentation already available in differ

[2022-08-03 09:22] ssurbhi560 commented on #1808
@beckermr @jakirkham @kathatherine

[2022-08-03 14:01] BastianZim commented on #1791
Hi, please follow the process outlined in the docs: https://conda-forge.org/docs/maintainer/maintainer_faq.html#mfaq-abandoned-feedstock

[2022-08-03 14:04] BastianZim commented on #1781
I reached out to GitHub support when they added it to the roadmap, and they plan it by the end of the financial year 2022.

[2022-08-08 18:20] h-vetinari opened #1809 "Generally recommended/accepted setup of static outputs vs. shared ones"
Static builds are already an exception in conda-forge (see CFEP-18), but some do exist for specific use-cases. The micromamba feedstock is a good [example](https://github.com/conda-forge/micromamba-feedstock/blob/main/recipe/meta.yaml#L58) of a user of static libs (presumably to stay "micro" and have no runtime dependencies).

Several feedstocks of this kind follow a pattern as follows:
[code]

Th

[2022-08-08 19:22] carterbox commented on #1809
Libraries should use a separate target name for their static and dynamic libs so the CMake files don't clobber each and there is no ambiguity about what is being linked?

https://stackoverflow.com/a/2152157

[2022-08-08 19:46] carterbox commented on #1809
Could also create more outputs of the recipe to avoid clobbering. i.e. run_export only libs (no headers or CMake files).

[2022-08-08 22:24] h-vetinari commented on #1809
I agree with this, however, it doesn't match current widespread practice...

Could you sketch your idea w.r.t. to the most important aspects of a `meta.yaml` that does what you propose?

[2022-08-08 22:43] isuruf commented on #1809
Having static and shared builds in the same environment has been the standard in Unix environments for decades. I don't know what you mean by iffy here. Please understand that conda is not special and we should do well to learn from the past.

In the case of zstd, the way you fixed is not ideal. What you should do is first build the static build, install and then do the shared lib only. CMake conf

[2022-08-09 06:18] h-vetinari commented on #1809
By iffy I mean:
* having wrong or broken CMake metadata
* having to cross your fingers (or be very careful) to get the right artefact picked up
* in principle, this would allow frankenstein-ian mixes of partially static / partially dynamic linking. If this only affects a handful of rarely used symbols, the corresponding runtime failure might not even be apparent immediately

I think a feedstock sh

[2022-08-09 13:59] isuruf commented on #1809
We are not lying. there would be no `libxyz-static` CMake target. only `libxyz-shared`.

You are going into hypotheticals. Please show one package where having only the shared build will fail when a project like zstd is built like how I said. Otherwise this conversation is moot.

[2022-08-09 14:35] h-vetinari commented on #1809
Having only the shared target is what worried me, because a feedstock using CMake & containing something like `find_package(libxyz)` in the upstream `CMakeLists.txt`, would find the shared builds, even though from the POV of conda & the `meta.yaml`, we'd be specifying `libxyz-static` as a host-dep.

I gave two examples in the OP, zstd & libprotobuf (the latter has no cmake integration on unix yet)

[2022-08-09 15:45] isuruf commented on #1809
No, zstd and libprotobuf are not examples. I mean downstream packages where this is needed. micromamba obviosuly doesn't care. So you only have the example of onnxruntime. Please go into detail about why onnxruntime depends on libprotobuf-static.

[2022-08-09 15:48] isuruf commented on #1809
No, it doesn't. You just need cmake {build, install}. No patches necessary. You just need to make libzstd-static depend on libzstd in your solution.

[2022-08-09 15:58] h-vetinari commented on #1809
I'm well-aware of that, I just said that any dependent package using CMake & wanting a static lib for any reason would be an example.

I feel this is moving the goal posts; previously you asked what would break, now you ask why that feedstock needs a static lib. That's a deliberation per feedstock, I don't know this case specifically, or if it could be removed now; but that's besides the point, be

[2022-08-09 16:15] isuruf commented on #1809
Since onnxruntime works just fine now, why are you insisting that you need cmake files to mention static just for onnxruntime to build correctly?

[2022-08-09 16:22] h-vetinari commented on #1809
It currently [uses](https://github.com/conda-forge/onnxruntime-feedstock/blob/main/recipe/meta.yaml#L61) the static lib, but does that without being confused by shared-only CMake files, because those don't exist yet due to https://github.com/conda-forge/libprotobuf-feedstock/issues/68 (that issue needed upstream fixes first which have landed now, but adding the CMake integration in conda-forge for

[2022-08-09 16:46] isuruf commented on #1809
So, you are saying that it links statically right now without issue and as soon as shared only CMake files are added, it will link to shared library?

Because you give no examples of doing so, but want to change the status quo. A change in status quo needs to be done when there's a real reason and you are not giving any.

I don't have time to go through these. Please explain in detail how this wor

[2022-08-09 17:40] h-vetinari commented on #1809
Yes, if we do it like you propose (no CMake targets for the static lib), I believe that would happen. That adding CMake targets is beneficial for other reasons should not be in question I presume? (https://github.com/conda-forge/libprotobuf-feedstock/issues/68 is almost 2 years old)

I think working CMake integration is not "not giving any [reason]", see also below.

Yes, I get that, and those fee

[2022-08-09 17:51] isuruf commented on #1809
You are not making sense to me at all. How would this happen?

[2022-08-09 18:01] h-vetinari commented on #1809
Currently, the CMake invocation in onnxruntime falls back on other means to detect `libprotobuf-static` (pkgconfig or whatever), but if we were to add native CMake files (`$PREFIX/cmake/protobuf-*.cmake`, see [equivalent](https://github.com/regro/libcfgraph/blob/master/artifacts/libprotobuf/conda-forge/win-64/libprotobuf-21.4-h7755175_0.json#L271-L276) on windows), it would prefer those. If those

[2022-08-09 22:17] h-vetinari commented on #1809
I don't know why this discussion needs to be so combative. I'm trying to solve (what I perceive to be) a genuine problem - we can disagree on how broken things are, or what the right solutions are, but can we turn down the intensity a bit?

I said I don't know the onnxruntime - I used it as an example I had found. For me the main point is in principle, for you it's specific examples that justify c

[2022-08-10 16:22] h-vetinari commented on #1800
Opened a PR: https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/3227

[2022-08-10 16:23] beckermr commented on #1800
We have a core meeting in ~40 minutes. It'd be good to bring this up there before we drop it.

[2022-08-10 17:57] beckermr commented on #1808
Some comments from the core call:

 - All `conda-forge` packages are built by random folks you don't know on the internet on public cloud infrastructure from source code you likely have not inspected.
 - Do not use conda-forge packages if you need a high level of security.
 - You can download the recipes and build them yourself if you'd like.

However, even given all of the above, it's likely just

[2022-08-11 13:50] isuruf commented on #1809
Sure. Sorry about that. I urge you to take a couple of hours before replying so as to give the impression that you have thought about things before replying.

There are use-cases where having both static and shared libraries are needed. For example, if you want to link your program against openblas static library (for performance, ABI, etc), but still want to use numpy in your stack (which comes w

[2022-08-11 19:02] h-vetinari commented on #1809
Needed to be a run-dep as well (to get the headers), but yes, this [works](https://github.com/conda-forge/zstd-feedstock/pull/63) (though it's unclear to me which lib gets found by CMake; but I don't care that much anymore, as this approach seems to solve the most issues at once).

[2022-08-12 07:23] jakirkham commented on #1798
JFYI we recently saw an (admittedly somewhat niche) issue with Python 3.7 on macOS 11 ( https://github.com/conda-forge/python-feedstock/issues/575 ). Mentioning here merely for awareness.

[2022-08-12 18:57] isuruf commented on #1052
Haskell/Cabal is another programming language/package manager that runs into this issue.

cc @ocefpaf, @msarahan

[2022-08-12 19:06] ocefpaf commented on #1052
More info on this. Isuru mentioned that cabal-db can help get a list of the licenses for the dependencies in a haskell project. However, cabal-db is pretty much impossible to install. I tried multiple cabal versions and in different systems. I guess the project is abandoned. Are there other alternatives?

[2022-08-12 20:12] ocefpaf commented on #1052
cabal-plan seems more promising: https://hackage.haskell.org/package/cabal-plan#description

[2022-08-17 04:09] #1800 closed

[2022-08-19 12:58] markounikau opened #1813 "numpy installed with conda is missing libgcc_s.1.1.dylib on Apple Silicon (libgfortran issue)"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

The following 3 lines executed on a Apple M1 machine result in an error:

[code]

The error:

[code]

The same error is produced for Python 3.9 and numpy 1.22.
There's no error on the Apple Intel machines.
The issue seems t

[2022-08-19 17:21] isuruf commented on #1813
Duplicate of https://github.com/conda-forge/gfortran_impl_osx-64-feedstock/issues/54

[2022-08-19 17:21] #1813 closed

[2022-08-23 14:09] #1808 closed

[2022-08-23 16:39] rtburns-jpl opened #1814 "Pinning to older compilers"
### Your question:

Hi, I maintain a feedstock for isce2 (https://github.com/conda-forge/isce2-feedstock). The package is currently stuck on an older version and unable to update, because it contains legacy Fortran code which is unable to compile with gfortran > 9, and re-rendering the feedstock attempts to bump all compilers to the latest version.

Is it possible to pin a recipe's compilers to an

[2022-08-23 19:33] jakirkham commented on #1814
cc @beckermr (who may have thoughts here)

[2022-08-23 19:39] beckermr commented on #1814
You can set the compiler version in the conda_build_)config.yaml in the feedstock. Follow the examples in the pinnings repo. Not sure what knock-on effects this will have though.

[2022-08-23 20:09] rtburns-jpl commented on #1814
Do you mean this example repo? https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/main/recipe/conda_build_config.yaml

I tried to pin like that: https://github.com/conda-forge/isce2-feedstock/pull/52/commits/eb5e3f294de94af2cbf2a6178025786401f8c990

But the subsequent rerender is still trying to bump to gfortran 10: https://github.com/conda-forge/isce2-feedstock/pull/52/commits/9852

[2022-08-23 20:17] beckermr commented on #1814
you need to make a new empty conda_build_Config.yaml in the recipe directory and place just the fortan compiler version pin you want there.

never edit the generated pinning files - a rerender will always change those back.

[2022-08-23 21:32] rtburns-jpl commented on #1814
Thank you, I think I just had the yaml file in the wrong directory. I rerendered and it looks like it is pinning properly now.

A couple of the builds are failing with:

[code]

Does this look like one of the knock-on effects you hinted at? Or is this more likely a dependency issue, since the feedstock has gone a while without its dependency update rebuilds?

[2022-08-23 21:42] beckermr commented on #1814
That one is odd. No idea.

[2022-08-23 21:48] rtburns-jpl commented on #1814
Is there harm in merging the feedstock despite some of the builds failing? We'd at least be able to publish the package for the majority of platforms + python versions, and I could try out the pending dependency updates to see if they help.

[2022-08-23 21:51] beckermr commented on #1814
IDK

[2022-08-23 21:58] rtburns-jpl commented on #1814
Haha ok, well I'll give it a try. I suppose a partly working recipe is better than one that isn't working at all.

[2022-08-23 22:04] beckermr commented on #1814
cc @conda-forge/core

You all might be able to further answer questions here.

[2022-08-24 03:02] hmaarrfk commented on #1814
Its really strange that sometimes your linux builds fails, sometimes they pass.

It seems that one error message is realted to libaec. So i tried to add it as a dependency.

[2022-08-24 03:03] hmaarrfk commented on #1814
https://github.com/conda-forge/isce2-feedstock/pull/55

[2022-08-24 03:04] rtburns-jpl commented on #1814
Thanks! I'll take a look

[2022-08-24 12:23] #1814 closed

[2022-08-24 17:37] #1532 closed

[2022-08-24 20:56] carterbox commented on #1809
Is the following an accurate summary of the discussion?

No top-level package. Build shared first output. Build static second output. Static output depends on shared output in both run and host. Use tests to check that shared output excludes static libraries. Static CMake files probably clobber shared CMake files (depends on build config)?

[2022-08-24 21:13] h-vetinari commented on #1809
This matches my understanding. Thanks for the summary.

[2022-08-25 16:46] #1732 closed

[2022-08-25 17:49] h-vetinari commented on #1073
I've started to pick this up again (i.e. doing `xyz-cpp` -> `libxyz`), first with [abseil](https://github.com/conda-forge/abseil-cpp-feedstock/pull/35) (also presented at two core dev meetings), and once that is digested, hopefully sometime soon with grpc.

This is going to be a slow process (due to the involvement with the pinning), but I don't mind that.

However, stumbling over https://github.c

[2022-08-25 18:25] carterbox commented on #1073
Why shouldn't package names should follow upstream naming conventions? If the developers of a package have named their package `foo-cpp` or `foo`, then why would we publish it as `libfoo`? Or is this discussion solely for the purpose of naming package outputs for example when libraries, binaries, and other artifacts of a package are to be separated.

[2022-08-25 18:48] h-vetinari commented on #1073
Because occasionally there are more relevant considerations, and having a consistent `lib` prefix qualifies IMO. Already many libs diverge from their upstream naming, either through an added "-cpp" prefix (arrow, boost[^1], grpc, etc.), some that add a "lib" prefix (many), some with neither despite clearly qualifyinq (e.g. jpeq, json, zstd), some publishing both original & prefixed (e.g. zlib), an

[2022-08-25 19:24] h-vetinari commented on #1073
I should perhaps word this more strongly than "make our lives easier". By having a consistent setup for libs (e.g. run-exports, cmake & pkgconfig stuff, static-vs-shared setup if applicable, etc.) that's also clearly recognizable by a common naming scheme, we'd make navigating / understanding / contributing to the respective feedstocks much easier for both new and experienced members.

We could th

[2022-08-25 23:02] carterbox commented on #1073
I think this is the best answer to my question of why we don't follow upstream naming. i.e. in most cases upstream developers don't have naming conventions for separating their artifacts into multiple outputs. The packages which you mention (see tensorflow, zlib, boost, arrow), all have strange output names because conda recipe maintainers are trying to indicate the contents of the output from the

[2022-08-26 03:17] h-vetinari commented on #1073
I broadly agree with all of that (though there are already exceptions the other way around too, like libprotobuf containing `protoc`).

[2022-08-26 08:11] xhochy commented on #1073
I would prefer that in the cases where we have a binary, we should split it up into a separate output (if we are touching the package) and really keep packages with a `lib` prefix library only packages. `libprotobuf` in `build` always confuses me even though I maintain that package for a long time. For example in the case of `thrift-cpp`, I have split up the package https://github.com/conda-forge/

[2022-08-30 21:27] jakirkham commented on #1773
This is where the command is currently

https://github.com/conda-forge/conda-forge.github.io/blob/89882494a8031ba4a039405b1d5fd4b5cdc7f1cb/src/maintainer/infrastructure.rst#conda-forge-admin-please-add-python-27

[2022-08-31 16:43] mkitti opened #1822 "Package naming policies for Julia packages"
### Your question:

# Question

How should Julia packages be named within conda-forge?

# Introduction

The [julia-feedstock](https://github.com/conda-forge/julia-feedstock) is now current with upstream Julia at version 1.8.0. Support is currently best on Linux. Mac OS X support is possible on x86_64 and arm64 but needs further work and testing. Windows support is likely not possible within conda-

[2022-08-31 16:46] mkitti commented on #1822
cc: @MilesCranmer, @observingClouds, @rsignell-usgs

[2022-08-31 17:16] MilesCranmer commented on #1822
`julia-*` gets a +1 from me as well.

[2022-09-02 08:07] mkitti commented on #1822
Here's yet another [alternative proposal:](https://discourse.julialang.org/t/package-naming-policies-for-julia-packages-within-conda-forge/86659/6?u=mkitti)

* py_call-jl
* conda-jl
* hdf5-jl
* hdf5_jll-jl
* cluster_managers-jl
* symbolic_regression-jl
* bit_information-jl

The `-jl` suffix does preserve the original name a bit more. I'm not so sure if converting CamelCase to snake_case makes sens

[2022-09-02 16:23] carterbox commented on #1822
Typically, package names are converted to all lower case using the jinja template `{{ name|lower }}`, so there are no CamelCase package names. Some packages use snake_case in order to match the python module name, but most packages are kebab-case.

[2022-09-06 15:50] h-vetinari opened #1823 "CI issues: OSX agents occasionally crashing with `1 leaked semaphore`"
I've seen a pretty substantial increase in flakiness of osx agents recently, which fail during what usually seems to be the artefact analysis step (after the main build has run through).

The most memorable (if perhaps irrelevant things) I remembered from those failures that they often mentioned `1 leaked semaphore`.

Below is another example that now showed up in arrow CI:
[code]

Is someone awar

[2022-09-06 15:52] pitrou commented on #1823
The "1 leaked semaphore" is probably a red herring, a consequence of the segfault and certainly not its cause.

[2022-09-07 13:25] h-vetinari opened #1824 "`-ffast-math` in one package might infect all libraries in an environment with inaccurate FPU"
This [blog post](https://moyix.blogspot.com/2022/09/someones-been-messing-with-my-subnormals.html) raises a number of concerning points, the prime one being:

This is made worse by `-Ofast` (it's gonna make my code faster, right?) turning on `-ffast-math` unconditionally (as in: `-fno-fast-math` has no effect).

I think we should consider stripping out those flags where they exist. The blog also m

[2022-09-07 20:38] traversaro commented on #1823
I think @Tobias-Fischer reported a similar problem in https://gitter.im/conda-forge/conda-forge.github.io?at=630c403b11a6a83d048a8b88 , and one of the hypothesis was that it is a problem related to leif.

[2022-09-07 21:43] Tobias-Fischer commented on #1823
Yeah - we are manually pinning liblief in some feedstocks by adding this to the conda-forge.yml and rerendering:
[code]

See https://github.com/conda-forge/qt-main-feedstock/pull/43/commits/1c9f19a56d19b4e414dc89811da5e8519d064eff

[2022-09-11 02:14] Wongboo opened #1825 "LLVMgold missing error"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

[code]
cause error
[code]
I couldn't get `LLVMgold.so` via any `conda-forge` package

[2022-09-16 10:03] BenoitDalFerro opened #1827 "ImportError: cannot import name 'itervalues' from 'conda.common.compat'"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

All goes per the book until

Replication as follow:

`conda build ..`

[2022-09-16 11:32] #1827 closed, assigned to nobody

[2022-09-21 23:31] mkitti commented on #1822
My understanding from meeting with conda-forge core is that `.` is allowed so we could proceed with lower case names as follows:

* pycall.jl
* conda.jl
* hdf5.jl
* hdf5_jll.jl
* clustermanagers.jl
* symbolicregression.jl
* bitinformation.jl

[2022-09-22 02:44] MilesCranmer commented on #1822
I think the Julia community would be happier with that - which is a good thing (!) for making them open to an alternative package management system to `Pkg`

[2022-09-22 12:05] jaimergp commented on #131
I'd say this issue could be closed. CFEP-03 has been in use for a while!

[2022-09-23 09:31] isaevil opened #1829 "How to not include shared library to package dependencies?"
### Your question:

Hi, I want to build package with on of its libraries to be linked dynamically with `libhwloc`. So I added `libhwloc` to `host` requirements for linkage to work on `aarch64` and `ppc64le`.
[code]
But I would not like the library to be installed with my package while doing `conda install <package>` because my library works like plugin.
I wasn't familiar with conda recipes before

[2022-09-23 10:18] hmaarrfk commented on #1829
https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#export-runtime-requirements

See ignore run export

[2022-09-23 16:34] isaevil commented on #1829
Yeah, that works. Thank you!

[2022-09-23 16:34] #1829 closed

[2022-09-24 14:15] MilesCranmer commented on #1822
Good point, I take back my comment. `julia-*` is still my vote then.

[2022-09-24 16:10] mkitti commented on #1822
In the Julia package manager, you can actually type `add SymbolicRegression.jl` and it will work. In that context, it's just superfluous though.

[code]

The other thing I'm noting is that the conda does not seem to care about capitalization. I could spell it `NumPy` and conda will install the `numpy` package.

[code]

This means I could do

[code]

and conda will install the package `symbolicregr

[2022-09-24 16:19] mkitti commented on #1822
A cross reference:
https://github.com/JuliaLang/METADATA.jl/issues/9480

[2022-09-26 04:37] mkitti commented on #1822
My first preference is `*.jl`. My second preference is `julia-*`. `jl-*` does not seem that useful to me.

[2022-09-26 04:51] mkitti commented on #1822
Hmm, I guess julia-symbolicregression-feedstock kind of make sense

[2022-09-26 05:05] mkitti commented on #1822
What is the mechanism to resolve a feedstock name from a package name?

[2022-09-26 05:50] mkitti commented on #1822
Is there a way to differentiate if a package has been explicitly installed in a conda environment rather than installed because it is a dependency of another package that was requested?

[2022-09-27 14:43] cjdoris commented on #1822
I'm fairly ambivalent, so long as we're consistent and cannot clash with anything that already exists. I mildly prefer `julia-pycall` (as it's really clear) then `pycall.jl` (=`PyCall.jl` since package names are case insensitive).

[2022-09-27 16:48] mkitti commented on #1822
I think ngam is suggesting we have both `julia-pycall` and `pycall.jl` with one of those being an alias.

`conda install -c conda-forge PyCall.jl`

One reason I'm interested in calling the package `PyCall.jl` is search engine optimization. If you searched for "PyCall.jl", `julia-pycall` might not come up in the results. One might not realize there is a conda-forge package for it.

[2022-09-28 18:02] cjdoris commented on #1822
SEO is a strong argument, though you'd hope that if we put "PyCall.jl" in the description of the Conda package (a description policy would be good too) then that would suffice.

[2022-09-30 13:55] don-hulsey opened #1833 "Incompatibility between HDBSCAN and the latest version of joblib"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

The version of hdbscan that you have is version 0.8.28, dated from over 7 months ago. It uses the cachedir keyword when calling joblib.Memory. In the latest version of joblib (1.2.0) the keyword cachedir has been removed. S

[2022-09-30 14:09] ocefpaf commented on #1833
@don-hulsey this looks like an upstream problem. Not that we can't patch hdbscan if there is a PR upstream we can refer to. Do you mind opening an issue in the hdbscan and adding a link to the PR fix you are referring to above?

PS: closing this b/c this repo is for ecosystem-wide problems. This belongs in the hdbscan feedstock.

[2022-09-30 14:09] #1833 closed

[2022-10-12 00:26] #131 closed

[2022-10-14 17:57] wookayin commented on #1629
@p-r-o-j-e-c-t-1 No, as of Jun 22, python 3.11 was at a release candidate stage. Python 3.11 is planned to be released on October 24, so conda will have python=3.11 shortly after the GA release.

[2022-10-17 11:45] corneliusroemer opened #1835 "PERF: conda-forge index download speed slow (~1 MB/s)"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Issue

I've noticed that the max download speed of the conda-forge package index is remarkably slow: download speed is only 1MB/s

My connection can easily do 20MB/s upwards.

This causes the package download to take ~10s when it should be only 1s.

This may b

[2022-10-17 16:31] sfiligoi opened #1836 "gxx_linux-64 broken"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.

### Installed packages

[code]

### Environment info

[code]

### Issue

When trying to install gxx_inux-64, it does not work.
I am getting gxx_linux-64 from main instead.

I think it is due to the recent upgrade to 12.2.
Explicitly asking for gxx_linux-64-12.2 does not work, and asking for 12.1

[2022-10-18 01:45] jakirkham commented on #1835
Please raise as a [new discussion item on the `conda/infra` repo]( https://github.com/conda/infra/discussions ). Thanks!

[2022-10-18 01:45] #1835 closed

[2022-10-18 10:10] corneliusroemer commented on #1835
Thanks @jakirkham - we've investigated this in the mamba repo, mentioning here for context: https://github.com/mamba-org/mamba/issues/2021

[2022-10-18 14:30] sfiligoi commented on #1836
Seems to be working this morning.

[2022-10-18 14:30] #1836 closed

[2022-10-18 18:48] jakirkham commented on #1836
It was very recently rebuilt ( https://github.com/conda-forge/ctng-compilers-feedstock/commit/91ad03b7fbb179a8f81b614eb4d5a573683244cb ). It is possible that some components were still building or mirroring to CDN or that some builds failed and needed to be restarted.

[2022-10-18 21:27] jakirkham commented on #1558
FWIW the virtual package plugin architecture is being worked on in PR ( https://github.com/conda/conda/pull/11854 ). Once complete virtual packages could be created independently and used as dependencies in metapackages to cutdown on the configuration users themselves would have to do.

[2022-10-18 22:24] isuruf commented on #1836
Please use `--strict-channel-priority` in the future. We do not support mixing defaults and conda-forge.

[2022-10-18 22:47] sfiligoi commented on #1836
That would still not have worked, as one would still get a mix of 12.1 and 12.2.
But thanks for the tip.

[2022-10-18 23:13] isuruf commented on #1836
I don't understand the issue with 12.1 compiler and 12.2 runtime lobraries

[2022-10-26 02:38] isuruf opened #1840 "Packages that can be noarch"
By dropping support for python<3.8 or by using `noarch_platforms` as in https://github.com/conda-forge/conda-forge.github.io/pull/1839

Here we collect some packages. PRs are welcome to help

- [ ] future
- [ ] win_inet_pton
- [ ] click
- [ ] importlib_metadata (https://github.com/conda-forge/importlib_metadata-feedstock/pull/109)

cc @conda-forge/core

[2022-10-26 18:25] jakirkham opened #1841 "Improve documentation on using emulation & cross-compilation"
While there are a few mentions of emulation & cross-compilation in various points in the docs (like [Configuring `conda-forge.yml`]( https://conda-forge.org/docs/maintainer/conda_forge_yml.html ) or [Apple Silicon builds]( https://conda-forge.org/docs/maintainer/knowledge_base.html#apple-silicon-builds )), there doesn't appear to be (or at least basic searching doesn't uncover it) a step-by-step w

[2022-10-27 02:18] h-vetinari commented on #1840
Would be amazing to have pytest be noarch!

hypothesis might be a candidate as well. It recently got made yesarch [again](https://github.com/conda-forge/hypothesis-feedstock/pull/736), but would presumably be noarch-capable if the django workaround for backports.zoneinfo arrives.

[2022-10-27 09:21] vincentsarago commented on #1629
was this issue closed by https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/3573 ?

[2022-10-27 09:35] h-vetinari commented on #1629
Yes, the migration is in full swing, check out https://conda-forge.org/status/#python311. This issue was about something slightly different (starting with the migration already before the actual GA release), but I guess that's a moot point now.

[2022-10-27 09:35] #1629 closed

[2022-10-28 01:09] lindstro opened #1842 "Package info from meta.yaml not updated on anaconda.org"
### Conda-forge documentation

- [X] I could not solve my problem using the conda-forge documentation.
<details>

### Installed packages

[code]

### Environment info

[code]

</details>

### Issue

Updates to `meta.yml` are not reflected on the package's anaconda.org page.  As a concrete example, the [zfp package page](https://anaconda.org/conda-forge/zfp) shows:

<img width="975" alt="image" src

[2022-10-28 08:03] jakirkham commented on #1842
Could you please raise this over on the [conda/infra repo]( https://github.com/conda/infra )? In particular would add it as a [new discussion item]( https://github.com/conda/infra/discussions/new ). Please add a link in this issue to that discussion item (once opened). Thanks!

[2022-10-28 18:41] scdub commented on #1654
I realize this is a massive undertaking and will require non-trivial resources being drawn away from other important work. Is there a place to discuss this effort and when it might make sense for conda-forge? I'm aware of a few workflows which are broken on 4.1 but do work on 4.2 on Windows because of the change in toolchains. Thanks for everything you all do.

[2022-10-29 08:58] jakirkham commented on #1840
It's worth noting that with `pytest`, it also has some conditional Windows dependencies. So we probably get 4 `noarch` packages out of it. Still that is probably worthwhile.

Perhaps if we wanted to simplify that, we could turn the backport packages it depends on into `noarch` packages with the Python version conditioning and then always depend on them in `pytest` (or anywhere else).

[2022-10-30 02:30] BastianZim commented on #1840
Desert: https://github.com/conda-forge/desert-feedstock/pull/8
Pluggy: https://github.com/conda-forge/pluggy-feedstock/pull/32

[2022-10-30 18:08] BastianZim commented on #1840
And some more
https://github.com/conda-forge/manhole-feedstock/pull/7
https://github.com/conda-forge/openpathsampling-feedstock/pull/21 (Maybe abandoned?)
https://github.com/conda-forge/curtsies-feedstock/pull/23

Also, the "CircleCI Pipeline" error pops up on all of them. Is there any way to remove this?

[2022-10-31 02:35] h-vetinari commented on #1840
Some very nice PRs from Isuru:
* https://github.com/conda-forge/django-feedstock/pull/150
* https://github.com/conda-forge/hypothesis-feedstock/pull/752
* https://github.com/conda-forge/pytest-feedstock/pull/156

[2022-10-31 02:52] h-vetinari commented on #1823
For those subscribed, this should be mitigated with the next conda-smithy release: https://github.com/conda-forge/conda-smithy/pull/1684

Thanks @mbargull!

[2022-10-31 08:58] jaimergp commented on #1840
I made some queries on cs.github.com and found like... 100 feedstocks we _could_ noarchify. I haven't reviewed all cases though, but I am more or less confident most would be eligible. Check the first message!

[2022-10-31 15:01] BastianZim commented on #1840
Slightly related project that popped up a couple of times but was never really taken up. If we can create one source of truth for packages where the selectors can be ignored, we would add them all to Grayskull, and I could just run Grayskull on that list.

There is already https://github.com/conda-incubator/grayskull/blob/6955333ee01f83ba6ae6e8dc76ce1f576e7c762e/grayskull/strategy/config.yaml#L465

[2022-10-31 20:00] ocefpaf commented on #1840
Folks, how are we handling the old jupyter extensions that have a pre/post script?

cc @xhochy

[2022-10-31 20:04] jakirkham commented on #1840
cc @bollwyvl

[2022-10-31 20:15] jakirkham commented on #1840
Looks like that just happened today. Likely the list was made before today and the box wasn't checked yet. Have now checked it

[2022-10-31 21:14] bollwyvl commented on #1840
Haven't looked, but we can likely emit appropriate `${PREFIX}/share/jupyter` and `${PREFIX}/etc/jupyter/jupyter_notebook_config.d/<pkg_name>.json` that would have the same effect as whatever the scripts were doing.

[2022-10-31 23:29] carterbox commented on #1840
@hmaarrfk, TomoPy is like this. I have one noarch python package which depends on platform specific packages which contain the shared libraries. Could have separate feedstocks, but I just have one and build the same noarch package every time.

[2022-11-01 19:49] wolfv commented on #1823
There is a new version of lief that came out today (0.12.3) that might fix a couple of segfaults. I've tried to reproduce segfaults (unsuccesfully): https://github.com/lief-project/LIEF/issues/814

[2022-11-01 20:02] mbargull commented on #1823
Thanks for letting us know about the 0.12.3 release. There have been multiple Mach-O-related (segfault) fixes, so this could very well help :).

[2022-11-02 09:33] jaimergp commented on #1840
@beckermr Is it enough to delete the webhooks at e.g. https://github.com/conda-forge/curtsies-feedstock/settings/hooks ?

[2022-11-02 15:42] BastianZim commented on #1840
Is there any way someone outside of core can do that? I have so many packages that have that, pinging core each time is going to spam your inboxes...

[2022-11-02 15:45] ocefpaf commented on #1840
I'm OK if you ping me. Every migration we find tons of packages that can be noarch. Last one I converted dozens and it will be easier to merge someone else PR than doing it myself.

That would be quite complicated b/c the new semi-noarch recipes are not a one-size fits all.

[2022-11-02 15:46] BastianZim commented on #1840
Ahh true, forgot that. Is there any guideline on that? I've never written one.

[2022-11-02 15:47] BastianZim commented on #1840
Thank you! But the CircleCI stuff also appears in my normal feedstocks so it would be quite a lot...?

I think this is just about removing the CircleCI hook?

[2022-11-02 15:48] ocefpaf commented on #1840
Ah. Then it is definitely worth a try with a migrator.

[2022-11-02 15:49] BastianZim commented on #1840
Rest would be nice but probably impossible. Although, if we have a list of empty packages we can ignore (https://github.com/conda-forge/conda-forge.github.io/issues/1840#issuecomment-1297221907), I can run Grayskull on most and probably automate ~80% of the PRs to the point where they just need to be merged.

[2022-11-02 15:53] beckermr commented on #1840
@ocefpaf I am talking about an admin migration at conda-forge/admin-migrations, not a bot migration.

[2022-11-03 21:23] jaimergp commented on #1840
`org:conda-forge path:meta.yaml "- python" "- pip" "# [win" NOT compiler NOT noarch:` returns 240 matches in cs.github.com. These have the potential to be pure Python packages with Windows-only dependencies that are not currently noarch... A migrator might indeed be the best solution.

These feedstocks are using MxP jobs when they could be using 2... (M = number of enabled architectures, between 3

[2022-11-03 21:27] jaimergp commented on #1840
`org:conda-forge path:meta.yaml /pywin32\s+#\s+\[win/ NOT compiler NOT noarch:` gives you 20 results for potential noarch packages that are not just because they require `pywin32`, but we could use the `pywin32-on-windows` metapackage instead!

[2022-11-03 21:30] jakirkham commented on #1840
Couldn't we do the same thing with `pywin32` dependents as other OS specific dependencies? Namely add an OS specific branch and still build with `noarch`?

[2022-11-03 21:31] jaimergp commented on #1840
Yes, sure, that will always work. But it's a simpler modification to replace just `pywin32` in those cases (and a single job instead of two). It could even be done at the repodata level if we had the right metadata.

[2022-11-04 00:39] h-vetinari opened #1844 "DISCUSS: Raise MacOS minimum target from 10.9 to 10.13?"
# current todo list

- [x] make an announcement (https://github.com/conda-forge/conda-forge.github.io/pull/1993)
- [x] decide how we want to enforce the __osx constraint
    - ~going to use recipe_append.yaml generated by `conda-forge-ci-setup` (https://github.com/conda-forge/conda-forge-ci-setup-feedstock/issues/260)~
    - The append doesn't work for recipes with outputs, so we'll have to use a

[2022-11-04 11:18] megies opened #1846 "feedstock: Admin Web Service command to add new Python 3.11 build?"
### Your question:

I was wondering how to update a feedstock, such that a new Python version (here: 3.11) is added to the build matrix. I could not find anything in the conda-forge docs, specifically I was looking in the [admin web services commands list](https://conda-forge.org/docs/maintainer/infrastructure.html#admin-web-services), because aside from updating the recipe this is the only thing

[2022-11-04 11:54] chrisburr commented on #1846
This is done automatically using the infrastructure for "migrations". This causes the bot to issue PRs to feedstocks in dependency order and the status can be tracked on the conda-forge status page:

https://conda-forge.org/status/#python311

I guess you're asking about `obspy` in which case it's currently in the list of feedstocks that are waiting for a PR so it should come in the next few hours.

[2022-11-04 12:19] megies commented on #1846
Thanks a lot for the quick response and clarification @chrisburr!

I'm proposing to add info on this in the maintainer docs, feel free to change as pleased or close without merging

[2022-11-04 12:19] #1846 closed

[2022-11-04 17:44] isuruf commented on #1844
We are not restricted by the xcode version and our builds are completely independent of the macos build image.
See https://github.com/conda-forge/conda-forge-ci-setup-feedstock/blob/main/recipe/download_osx_sdk.sh

[2022-11-07 09:45] jakirkham commented on #1840
Maybe we can move [`conda-forge-ci-setup`]( https://github.com/conda-forge/conda-forge-ci-setup-feedstock ) to `noarch`

[2022-11-07 21:35] jakirkham commented on #1792
Anything else needed here? Or should we close?

[2022-11-07 21:36] jakirkham commented on #1791
Closing as answered

[2022-11-07 21:36] #1791 closed

[2022-11-07 22:14] h-vetinari commented on #1792
We're still not there yet. llvm-openmp isn't used universally yet (for openblas, it got stuck on the flang migration), and pytorch etc. still require the intel-openmp AFAIR.

[2022-11-08 20:45] jakirkham commented on #1586
cc @conda-forge/core (as Anaconda.org & CDN can now handle `.conda`)

[2022-11-09 06:00] h-vetinari commented on #1840
I'm not sure that's compatible with work such as https://github.com/conda-forge/conda-forge-ci-setup-feedstock/pull/210? Or would the suggestion be - for debugging purposes - to switch off noarch when preparing a PR?

[2022-11-09 19:18] jakirkham commented on #1840
Have different thoughts on how to approach that as well, but that's a discussion for a different issue

[2022-11-12 01:34] lindstro commented on #1842
Discussed in conda/infra#649.

[2022-11-12 03:04] jakirkham commented on #1842
Thanks Peter! 🙏

[2022-11-12 03:05] #1842 closed

[2022-11-16 18:31] beckermr commented on #1586
notes from core call:

[code]

[2022-11-16 18:31] carterbox opened #1851 "How to package a fork of a package"
### Your question:

This issue is for discussion on how to best package a fork of a package.

Recently, the multiple PRs in staged-recipes want to publish forks of a package which is already on conda-forge, but is presumably abandoned. After discussing at a conda-forge meeting, we have proposed the following three solutions: Merge upstream, rebrand, or preprend a name.

# 1. Merge features upstrea

[2022-11-16 18:36] beckermr commented on #1586
use

[code]

in the condarc

[2022-11-16 22:06] beckermr commented on #1586
@conda-forge/core I went with compression level 16. LMK if you have any issues with that.

cc @mbargull @mariusvniekerk

[2022-11-16 23:31] jakirkham commented on #1586
How long does it take to run 16 or 19?

Should we allow this to be overridable? For example if compression takes too long on a feedstock close to a CI time limit and we want to dial it down.

[2022-11-17 00:01] beckermr commented on #1586
I don't have any of this info. I think we ship this PR and then figure out as things run how it is working.

[2022-11-17 00:16] jakirkham commented on #1586
Yeah being able to configure it is more important I think.

From past experience with compressors the last little bit tends to take a lot longer for minimal gain. So was just trying to get a sense of how "flat" the curve was getting to aid in decision making.

[2022-11-17 00:40] beckermr commented on #1586
Here is a benchmark for numpy using the following script on my (old intel) mac

[code]

results

[code]

Things flatten for this size around 10-16.

[2022-11-17 00:53] beckermr commented on #1586
Here is the start of a benchmark for a much bigger file (compressed around 450 MB)

[code]

[2022-11-17 01:06] beckermr commented on #1586
I think 16 will be fine for now. We can lower it as needed for big packages and we only take a small hit on small ones.

[2022-11-17 01:06] beckermr commented on #1586
We really could use an adaptive option in conda build.

[2022-11-17 01:10] leofang commented on #1735
@kathatherine any update on this? 🙂

[2022-11-17 04:06] jakirkham commented on #1586
Thanks Matt! 🙏

Agreed 16 seems like plenty.

Also notably better than their `.tar.bz2` equivalents:

| name                                      | .tar.bz2 (MB) | .conda @ 16 (MB) |
|:------------------------------------------|--------------:|-----------------:|
| `numpy-1.23.4-py39h9e3402d_1`             |           6.6 |              5.9 |
| `stackvana-afw-0.2022.46-py310hff52083_0` |         4

[2022-11-17 04:26] jakirkham commented on #1586
On a different note (kind of related to adaptive), we may in the future want to leverage [Zstandard's dictionary]( https://facebook.github.io/zstd/#small-data ) to pretrain on the content of many packages. We could then package this constructed dictionary and use it to cutdown compression/decompression time.

One question here is how compressible are packages in aggregate. There may be some things

[2022-11-17 06:39] mbargull commented on #1840
Just an FYI:
- Added in `conda 4.8`: `__osx`
- Added in `conda 4.9`: `__win`, `__unix`
- Added in `conda 4.10`: `__linux`

We appear to still have people a non-negligible amount of users with `conda 4.9` (more than all of `<4.9` combined).
We thus might not want to make broad use of `__linux` just yet.
(But our main use case here is to have a `__win`/`__unix` distinction so that shouldn't impose m

[2022-11-17 09:05] jakirkham commented on #1840
Wonder if we could just create those as arch packages and stick them under a special label (like `legacy`) and advise users on older Conda versions to use them. As they will encounter an error message about a missing package, we could put this in the docs under FAQ so it is easily discoverable.

[2022-11-17 09:36] mbargull commented on #1840
@jakirkham, not a bad idea.
I'm +1 on offering (otherwise non-intrusive) ways to reduce the amount of brick walls users could hit when they want to upgrade old installations.
We'd have to do some testing beforehand, though (1. does anaconda.org/`anaconda-client` still allow uploads of `__*` packages, 2. how do `conda`/`mamba` behave when updated if there is still a `conda-forge/label/legacy/__*` p

[2022-11-17 09:46] jakirkham commented on #1840
Even if the uploads are blocked, we could include the recipe in the docs. It is probably a couple lines. Once built it should be installable from the local package cache.

[2022-11-17 19:37] jakirkham commented on #1735
Anyone is welcome to submit this PR and update the FAQ

[2022-11-17 19:47] kathatherine commented on #1735
Thanks for the reminder, @leofang. I recall there being a bit of a delay on this as some bugs were worked out. If anyone can give me the actual new number, I'm happy to create a PR.

[2022-11-17 19:48] leofang commented on #1735
I can help make the PR, but I was simply curious if there's any reference I can link to 🙂

[2022-11-17 20:02] barabo commented on #1735
The channel clone job runs every ~2 minutes, and it takes about 6 minutes to complete.  So, it's typically about a 10 minute delay from upload in anaconda.org to availability in the CDN.

If that's not happening, check the status page: https://conda-forge.org/status/ for the `CDN cloning status` for problems.

If the clone is not sync'ing - you can open a CDN Issue in the Anaconda Issues repo.  I

[2022-11-17 20:38] jakirkham commented on #1735
From our perspective (conda-forge), things have been working smoothly for some time now 🙂

[2022-11-17 23:24] dhirschfeld commented on #1586
Great to see this happening - I'm excited about the performance improvements this might bring! :heart:

I've been building my own `.conda` packages for a bit now and one usability issue I've run into is not being able to see inside the package.

With the old `.tar.bz2` packages I could open them in 7-Zip and browse the contents / folder-structure. That was often invaluable in debugging broken buil

[2022-11-17 23:29] jakirkham commented on #1586
We have made the same observation ( https://github.com/conda/conda-package-handling/issues/5 ) 🙂

[2022-11-18 07:42] chrisburr commented on #1586
All of this information is in https://github.com/regro/libcfgraph and I have a local clone which I regularly use with `rg`.

Longer term I was already thingking this would be a great feature for https://prefix.dev/ if @wolfv is interested.

[2022-11-18 08:22] dhirschfeld commented on #1586
The idea is that this is useful for debugging broken builds - i.e. the build fails because of missing files in the package so the new package version never gets published outside of CI. As a dev I want to know what the internal file/folder structure of the newly built (broken) package was so I can compare with my expectations.

I don't know much about prefix.dev but doesn't that just report on dep

[2022-11-18 18:02] #1586 closed

[2022-11-18 22:25] jakirkham commented on #1586
Related to this have filed an issue to create a CEP spelling out the `.conda` spec more fully ( https://github.com/conda-incubator/ceps/issues/42 )

[2022-11-19 11:53] #1735 closed

[2022-11-20 09:31] jaimergp commented on #1586
@dhirschfeld - you can use [`conda_package_handling`](https://github.com/conda/conda-package-handling) (via `cph extract`) for your `.conda` needs!

[2022-11-20 15:22] dholth commented on #1586
zstd has built-in benchmarking

[2022-11-20 15:38] beckermr commented on #1586
What does this mean?

[2022-11-21 00:50] dholth commented on #1586
If you run `zstd -b1 -e19 somefile` it will tell you how long each level took.

[2022-11-22 16:19] jaimergp commented on #1840
Do we need the actual packages or can we mock them in a repodata patch? Just an idea in case that's easier to implement.

[2022-11-22 20:04] hmaarrfk commented on #1512
Somebody else in my data analysis circle asked me a very similar question.

I think that we can likely expand this section: https://conda-forge.org/docs/user/introduction.html#how-can-i-install-packages-from-conda-forge

and discuss a "migration guide" from moving from Anaconda's channel to conda-forge. In 2022, I feel like it requires a pretty dedicated buy in. I think that long ago, it was almos

[2022-11-22 20:12] ocefpaf commented on #1512
@hmaarrfk I'd love to update and expand that part of our docs. We should also mention mamba and libmamba alternatives. (Or, if we are brave enough, even micromamba ;-p)

[2022-11-22 20:48] jakirkham commented on #1840
Thinking about this more I think it is on end users to build these packages themselves. Not all cases check simply for the existence of these packages. Some of them (like `__osx` or `__glibc`) check the version as well. So it really depends on end users to know their system and build these packages with the right versions baked in. That way they behave correctly when performing a solve.

[2022-11-23 07:14] mbargull commented on #1586
" copy-pasta" of some comments of mine from internal chat:

\[edited to say "can use"/"may need"\]

[2022-11-23 08:31] dholth commented on #1586
Thankfully the window size is also limited by the uncompressed archive size.

[2022-11-25 14:36] beckermr commented on #1272
resources for automating cirun:

cirun api client: https://github.com/AktechLabs/cirun-py
github api endpoint: https://docs.github.com/en/rest/apps/installations#add-a-repository-to-an-app-installation

[2022-11-30 08:41] jakirkham opened #1858 "Include example of cross-compilation"
### Where should the content be added?

Maybe the Knowledge Base

### What should be added?

Currently we lack an example of adding cross-compilation to an existing recipe. There is this example in the notes, but it would be good to have this in the docs in a way that is easily discoverable and updatable for any changes needed.

https://github.com/conda-forge/conda-forge.github.io/blob/6a3704a56f6

[2022-11-30 08:41] jakirkham commented on #1858
Another [good example might be `numpy`]( https://github.com/conda-forge/numpy-feedstock/blob/2c0473fbf1054f9591fab5001f204aca7aab95b8/recipe/meta.yaml#L30-L36 )

[2022-11-30 18:51] jakirkham commented on #1858
Another useful resource is [this blogpost]( https://conda-forge.org/blog/posts/2020-10-29-macos-arm64/#how-to-add-a-osx-arm64-build-to-a-feedstock )